<!DOCTYPE html>
{% load bootstrap3 %}
{% load stylesheet %}
{% load i18n %}

<html>
  <head>
      <title>{% block bootstrap3_title %}ASL Signbank{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{% primary_css %}">

    <link rel="stylesheet" href="{{STATIC_URL}}css/minimalistic_language_picker.css">

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">

    {% block extrahead %}{% endblock %}
  </head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112012037-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112012037-1');
  </script>

  <body>

  {% include 'menu.html' %}

    <div id='wrap' class="container-fluid" style="box-sizing:content-box;background:white;">

        {% bootstrap_messages %}

        <div role='main' id="maincontent" style="background:white;">
        {% block content %}(no content){% endblock %}
        </div>
        
    </div>

    <footer class="footer">
        <div class="container">
        <div class='pull-right'>
              <a href="{% url 'general_feedback' %}?return={{request.path}}/">{% trans "Provide feedback on the site" %}</a>
        </div>
        </div>
    </footer>
    
    <script src='{{ STATIC_URL}}js/jquery-1.11.0.min.js'></script>
    <script src='{{ STATIC_URL}}bootstrap/js/bootstrap.min.js'></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/minimalistic_language_picker.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>

    {% block extrajs %}{% endblock %}

    <script type="text/javascript">
        function focusFunction() {
            var search_text = document.getElementById("tooltip-search").value;
            if (!search_text) {
                document.getElementById("tooltip-search").style.background = "lightgray";
            }
        }
        function focusFunction2() {
            var search_text = document.getElementById("tooltip-translation").value;
            if (!search_text) {
                document.getElementById("tooltip-translation").style.background = "lightgray";
            }
        }
        function blurFunction() {
            document.getElementById("tooltip-search").style.background = "white";
        }
        function blurFunction2() {
            document.getElementById("tooltip-translation").style.background = "white";
        }
    </script>

    <script type="text/javascript">
    $(window).ready(function()
    {

        {% get_current_language as WEBSITE_LANGUAGE %}

        //Use the form below to update the language when logging in (if needed)
        {% if user.is_authenticated and user.user_profile_user.last_used_language != WEBSITE_LANGUAGE %}
            <!--console.log("This check stops the loop.");-->
            {% if chosen_language %}
            $('#change_language_form').submit();
            {% endif %}
        {% endif %}

        $('#minimalistic_language_picker').minimalistic_language_picker(['en','nl','zh-hans'],'{{WEBSITE_LANGUAGE}}','{{ STATIC_URL }}images/languages/',function(chosen_language)
        {
            {% if user.is_authenticated and user.user_profile_user.last_used_language != chosen_language %}

                //When the user is logged in, we don't want to submit the form, but instead save
                //the user preference and reload

                $.ajax('{{PREFIX_URL}}/dictionary/switch_to_language/'+chosen_language,'html');

                //The reload is on a timeout, because it happened too fast on Firefox
                setTimeout(function()
                {
                    $("#change_language_input_field").val(chosen_language);
                    $("#change_language_form").submit();

                },500);

            {% else %}

                $("#change_language_input_field").val(chosen_language);
                $("#change_language_form").submit();

            {% endif %}

        });
        navbarHeight = Math.round($('#signbank-bar').outerHeight());
        $('#wrap').css({'padding-top': navbarHeight});
        $('[data-toggle="tooltip-menubar"]').tooltip();
    })

    $(window).on('resize', function() {
        navbarHeight3 = Math.round($('#signbank-bar').height());
        $('#searchresults').css({'top': navbarHeight3 });
        $('#signinfo').css({'top': navbarHeight3 + Math.round($('#searchresults').height())});
        $('#wrap').css({'padding-top': navbarHeight3 });
    })

    </script>

    <form id="change_language_form" method="post" action="{{PREFIX_URL}}/i18n/setlang/">
        {% csrf_token %}
        <input id="change_language_input_field" type="hidden" name="language" value="{{ user.user_profile_user.last_used_language }}">

    </form>

  </body>
</html>

