{% load i18n %}

{# login form should be shown when not logged in #}

{% if not user.is_authenticated %}
 <div class='row'>
  <div id="loginforms" class="col-md-6 col-md-offset-3">
  
  <form styleclass='form-horizontal' id="loginform" name="login" method="post" action="{{ URL }}/accounts/login/">
    {% csrf_token %}
    <fieldset id='signin'>
    <legend>{% trans "Sign In" %}</legend>
        <div class='form-group col-xs-10'>
            <input class="form-control" type="text" name="email" placeholder="{% trans "User name" %}">
            {% if form.email.errors %}
            <div class='alert alert-danger'>{{form.email.errors}}</div>
            {% endif %}
        </div>
        <div class='form-group col-xs-10'>
            <input  class="form-control" type="password" name="password" placeholder="{% trans "Password" %}">
            {% if form.password.errors %}
            <div class='alert alert-danger'>{{form.password.errors}}</div>
            {% endif %}
        </div>

        <div class="form-group col-xs-10">
            <button type="submit" class="form-control btn btn-primary">{% trans "Sign in" %}</button>
        </div>

    </fieldset>
    
    <input type="hidden" name="next" value="{{ next }}" >

  </form>

{% if allow_registration %}
  <fieldset id='register'>
     <legend>{% trans "Register" %}</legend>
     
    <p>{% trans "Register for free to provide feedback on the Signbank." %}
        <a class='btn btn-default' href="/accounts/register/">{% trans "Register" %}</a>
    </p>
    </fieldset>
{% endif %}

    <fieldset id='lostpw'>
      <legend>{% trans "Lost Password" %}</legend>
      <p class="col-xs-10">{% trans "If you've lost or forgotten your password, enter your email address here and we'll reset it and send you a reminder." %}</p>

      <form class='' id="passwordresetform" action="{{ URL }}/accounts/password/reset/" method="POST">
          {% csrf_token %}
            <div class='form-group col-xs-10'>
                <input class="form-control" type="text" name="email" placeholder="{% trans "Email" %}">
            </div>
              
            <div class="form-group col-xs-10">
               <button type="submit" class="btn btn-default form-control">{% trans "Request Password" %}</button>
            </div>
      </form>

    </fieldset>
    </div>

</div>







{% endif %}
