
select option {
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    color: blue !important;
    background-color: white !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.dropdown-item:active{
    color: blue;
    background-color: darkviolet;
}

.bootstrap-select {
    color: black !important;
    background-color: white !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.edit-mode {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
}
.copy-button {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
}
.lemma-button {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
}
button a {
    all: unset;
    text-decoration: none;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    height: 28px;
    outline: none;
}

.form-group {
    background-color: inherit;
    color: inherit;
}
option:not(:checked) {
    background-color: white !important;
    color: #000;
}
/* This makes the popup Run Query button for the default parameters ressemble the style of the QP case.
   The <a> surrounding the text of the default parameters button is to simulate the link of the QP button. */
.btn-query {
    background-color: DodgerBlue !important;
    border: 1px solid DodgerBlue;
    color: white;
    border-radius: 6px;
    height: 28px;
    outline: none;
    padding-bottom:20px;
}
.btn-query:hover .btn-query:focus {
    color: white;
    background-color: DodgerBlue;
    outline: none;
}
/* modal-dialog-centered does not work in bootstrap 3
   use this instead, adjust value if necessary */
.left-modal {
    margin-left: 300px !important;
}
.panel-heading:hover {
    background-color: #D2D2D2;
}
textarea {
    border: 1px solid grey;
    background-color: rgba(50,50,50,0.10);
}
textarea:focus {
    border: 1px solid red;
    outline: thin solid red;
}
.radio_stills label:has(+ input[type="radio"]:checked) > img {
    outline: 2px solid red;
}
.zoom {
  background-color: transparent;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.5);
  outline: 2px solid red;
}

input[type="text"] {
    background-color: inherit;
    width: inherit !important;
}
input[type="text"]:focus {
    width: inherit !important;
    color: red;
}
.tt-input {
    background-color: var(--ultron) !important;
    border: none;
    width: auto;
}
.tt-input:active {
    border: 1px solid red;
    z-index: 999;
}
input .tt-hint {
    color: var(--beam);
    opacity: 1;
}
.tt-dropdown-menu:active {
    z-index: 999 !important;
}
.editform-morphology input {
    background-color: inherit !important;
    border: none;
}
.editform-morphology input:enabled {
    color: red !important;
    opacity: 1;
}
.editform-morphology input:disabled {
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
}
.editform-general input {
    background-color: inherit !important;
}
.editform-general input:enabled {
    color: red !important;
    opacity: 1;
    outline: thin solid grey;
}
.editform-general input,textarea:disabled {
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
}
.editform-general input::placeholder {
    color: inherit !important;
    opacity: 1;
}
.editform-semantics input,textarea {
    background-color: inherit !important;
}
.editform-semantics input:enabled {
    color: red !important;
    opacity: 1;
}
.editform-semantics input:disabled {
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
    outline: none;
}
.editform-semantics input::placeholder {
    color: inherit !important;
    opacity: 1;
}
.editform-phonology input {
    background-color: inherit !important;
}
.editform-phonology input::placeholder {
    color: inherit;
    opacity: 1;
}
.editform-phonology textarea {
    background-color: inherit !important;
    resize: vertical;
    width: 220px;
}
.editform-phonology input:enabled {
    color: red !important;
    opacity: 1;
    outline: thin solid grey;
}
.editform-phonology textarea:enabled {
    color: red !important;
    opacity: 1;
    outline: thin solid grey;
    resize: vertical;
}
.editform-phonology input:disabled {
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
    outline: none;
}
.editform-phonology textarea:disabled {
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
    outline: none;
    resize: vertical;
}
.editform-nme input {
    background-color: inherit !important;
    border: none;
}
.editform-nme input:enabled {
    color: red !important;
    opacity: 1;
}
.editform-nme input:disabled {
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
}
.editform-foreignrelations input, textarea {
    background-color: inherit !important;
    border: none;
}
.editform-foreignrelations input:enabled,textarea:enabled {
    color: red !important;
    opacity: 1;
}
.editform-foreignrelations input:disabled, textarea:disabled {
    resize: vertical;
    overflow: auto;
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
}
.editform-notes input, textarea {
    background-color: inherit !important;
    border: none;
}
.editform-notes input:enabled,textarea:enabled {
    color: red !important;
    opacity: 1;
}
.editform-notes input:disabled, textarea:disabled {
    resize: none;
    resize: vertical;
    overflow: auto;
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
}
.editform-provenance input, textarea {
    background-color: inherit !important;
    border: none;
}
.editform-provenance input:enabled,textarea:enabled {
    color: red !important;
    opacity: 1;
}
.editform-provenance input:disabled, textarea:disabled {
    resize: vertical;
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
}
.editform-othermedia input, textarea {
    background-color: inherit !important;
    border: none;
}
.editform-othermedia input:enabled,textarea:enabled {
    color: red !important;
    opacity: 1;
}
.editform-othermedia input:disabled, textarea:disabled {
    resize: vertical;
    overflow: auto;
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
}
.editselect > select {
    background-color: inherit !important;
    width: auto;
}
.editselect select:disabled {
    color: inherit !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
}

.editselect select:enabled {
    color: red !important;
}
.editsemanticsform .form-control:enabled::placeholder {
    color: red !important;
    width: auto;
    opacity: 1;
}
.editsemanticsform .form-control:disabled::placeholder {
    color: inherit !important;
    width: auto;
    opacity: 1;
}
.editsemanticsform input {
    color: inherit !important;
    background-color: inherit !important;
    border: 1px solid grey;
}
.editdialectform .form-control:enabled::placeholder {
    color: red !important;
    width: auto;
    opacity: 1;
}
.editdialectform .form-control:disabled::placeholder {
    color: inherit !important;
    width: auto;
    opacity: 1;
}
.editdialectform input {
    color: inherit !important;
    background-color: inherit !important;
    outline: thin solid grey;
}
.form-control {
    margin-left: 0;
    padding-left: 0;
}
.form-control:disabled {
    cursor: pointer;
    color: var(--beam) !important;
    background-color: inherit !important;
    opacity: 1;
}
.form-control:enabled input {
    color: red;
    background-color: inherit !important;
    outline: thin solid grey;
}

.btn-danger {
    background-color: red;
    border: none;
}
.actionButton {
    padding: 4px 8px;
    border: 1px solid Grey;
    border-radius: 8px;
    text-align: center;
    color: Black;
    background-color: white;
    width: auto;
}
.actionButton:hover {
    text-decoration: none;
    background-color: LightGrey;
}
.actionButton:active:focus {
    text-decoration: none;
    background-color: transparent;
    outline: none;
}
.edit-mode {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
}
.phonology-table {
    border-spacing: 0 5px;
}
.semantics-table {
    border-spacing: 0 5px;
}
.highlight {
    background-color: rgb(255, 149, 63);
}
.item {
        display: inline-block;
        padding: 8px 12px;
        margin: 5px;
        position: relative;
        color: red;
}
