.flagbutton
{
	cursor:pointer;
	position: relative;
	top: 0px;
	vertical-align: top;
}

.flag_of_chosen_language
{
	z-index: 1;
}

.active_language_picker
{
	border: solid 1px grey;
	padding: 6px;
    float: right;
	border-radius: 6px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-top: 0px;
    position: relative;
	width: 150px;
	background-color: white;
	line-height: 11px;
}