#navigation {  
  background-color:    #e3e3e3;
  height: 68px;
}

.sf-menu {  
   width: 847px;
   background-color:   #e3e3e3;
}

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#000;
}


.sf-navbar {
  background-color:    #e3e3e3;
}
.sf-navbar li {
  background-color:	       #e3e3e3;
  border-right:  1px solid #ccc;
  border-bottom:  1px solid #ccc;
  
}

.sf-navbar li.current {
	background:		#ccc;
}
.sf-navbar li li {
	background:		#e3e3e3; 
}

.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar li li.current,
.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
	background:		#ccc;
}
.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
ul.sf-navbar ul li:hover li,
ul.sf-navbar ul li.sfHover li,
.sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
	background:		#ccc;
}
ul.sf-navbar li li li:hover,
ul.sf-navbar li li li.sfHover,
.sf-navbar li li.current li.current,
.sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active {
	background:		#ccc;
}