:root {
    --dark-mode-very-dark: rgb(9, 4, 2);
    --tbody-dark-border: rgb(9, 4, 2);
    --tbody-dark-background: rgb(9, 4, 2);
    --typeahead-dark-background: rgb(9, 4, 2);
    --typeahead-dark-border: rgb(40, 0, 0);
    --typeahead-dark-color: rgb(174, 0, 0);
    --panel-heading-background: rgb(44, 18, 18);
    --panel-heading-text: rgb(200, 156, 156);
    --text-input-field: rgb(40, 0, 0);
    --text-input-border: rgb(200, 156, 156);
    --text-input-text: rgb(250, 255, 255);
    --well-background: rgb(9, 4, 2);
    --well-border: rgb(60, 0, 0);
    --button-default: rgb(187, 60, 80);
    --nav-highlight: rgb(28, 0, 0);
    --dropdown-dark: rgb(112, 0, 0);
    --text-container-dark-input-border: rgb(112, 0, 0);
    --text-container-dark-input-fill: rgb(9, 4, 2);
    --text-container-dark-border: rgb(34, 0, 0);
    --text-container-dark-placeholder: rgb(200, 156, 156);
    --table-dark-color: rgb(151, 100, 100);
    --table-dark-border: rgb(34, 0, 0);
    --dark-label-background: rgb(55, 40, 40);
    --search-results-color: hsl(0, 0, 40%);
    --search-results-dark: hsl(0, 0, 90%);
    --search-results-luminosity: 0.35%;
    --search-results-luminosity-hover: 0.7%;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
  /* The html and body elements cannot have any padding or margin. */
}
.body-dark {
  background-color: var(--well-background);
  color: var(--panel-heading-text);
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: calc(100% - 220px);
  height: auto;
  /* Negative indent footer by its height */
  margin: auto auto -45px auto;
  /* Pad bottom by footer height */
  padding: auto 0 45px auto;
  position: auto;
  /* Pad bottom to put space between footer and this wraper */
}

.footer {
  margin-top: 25px;
  margin-right: 15px;
}

.nav-wrapper {
    height: auto;
    width: 100%;
    margin-right: 9px;
}

.container {
    width: 100%;
    margin-right: 9px;
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: inherit;
    color: inherit;
}

#content {
    background-color: inherit;
    color: inherit;
}

#signinfo {
    background-color: inherit;
    color: inherit;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-left: 0px;
}

#signinfo .navbar-text {
    color: inherit;
    background-color: inherit;
}
#signinfo #editbutton {
    margin-right: 15px;
}


#signs {
   margin-right: 0em;
   text-align: left;
   float: left;
   width: 338px;  /* to match rh edge of video container */
}


#definitionblock {
   margin-top: 0px;
   background-color: inherit;
   color: inherit;
}

@media (min-width: 992px) {

    #definitionblock .col-md-8 {
        padding-left: 60px;
    }

}


#leftblock {
   float: left;
   margin-left: 6px;
   width: 450px;

}

#videocontainer #player #videoplayer {
   margin: 0;
   width:450px;
   height:259px;
   background-color: inherit;
   color: inherit;
}

#novideo
{
    border: 0;
    width:450px;
    height:259px;
    display: block;
}

#videoframe {
	width:450px;
    height:259px;
    margin: 0;
}

#imageframe {
    margin: 0;
    border: 0;
    width:450px;
    height:259px;
}

/* style for the answer in the fingerspelling practice page */
#answerpara {
   font-size: larger;
   font-weight: bold;
}
#answer {
   color: #FF0000;
}

/* replay for both video and fingerspelling images */
#replay {
   text-align: right;
   padding-right: 1em;
   margin-bottom: 1em;
   background-color: #000000;
   color: #ffffff;
}

#keywords {

}
#definition {
   margin-left: 475px;
   padding-left: 6px;
}
#staffinfo {
   margin-left: 338px;
   padding-left: 6px;
}

#staffinfo .helptext {
    font-size: smaller;
    font-style: italic;
    color: #ccc;
}

/* numbersigns */

#numsigntable {
    margin-left: 400px;
}


#exclude-field-choices .collapse.in {
    display: table-row !important;
}

tr {
    border-bottom: hidden;
}
table {
    border-top: hidden;
}

/* admin search form */

#searchformwell {
    background-color: inherit;
    color: inherit;
}

#adminsearch td input {
    width: 100%;
}

#adminsearch #searchpanels > td {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#adminsearch #searchfields td {
    width: 33%;
    border-top: 0px;
}

#adminsearch .table
{
	margin-bottom: 5px;
}

#adminsearch .table-condensed .table-condensed
{
	margin-bottom: 0px;
}

#adminsearch #searchpanels {
    width: 100%;
}


#adminsearch #searchpanels select {
    width: 100%;
}

#paginate_by select {
    width: 100px;
}

#paginate_by {
    float: right;
}

#paginate_by label {
    display: inline;
}

#paginate_by select {
    display: inline-block;
}

/* editing gloss */

.edit_enabled {
    background-color: red;
    color: inherit;
}

#definition .table th {
    width: 20em;
}


/* styles for finger spelling pages */

#fingerspellblock {
   border-top: 10px solid black;
}

#handcontainer {
   margin-top: -2px;
   width: 320px;
}

#handcontainer #handimage {
   margin: auto;
   width:320px;
   height:240px;
   border-left: 6px solid black;
   border-right: 6px solid black;
}


/* this will be the same size as our videos */
#handimage {
  position: relative;
  height: 240px;
  width:  300px;
  background-color: #4b62ae;
  border-left: 10px solid black;
  border-right: 10px solid black;
}


/* images are 192x144 centre them in the above div */
#mainimg {
  position: absolute;
  top: 49px; /* (240 - 144)/2  */
  left: 54px;  /* (300 - 192)/2 */
  display: block;
  margin: auto;
}

#fingerspellright {
   width: 470px; /* 847 - 320 - 20 - fiddle factor */
   float: left;
   padding-left: 20px;or
}

#fstable td {
  margin-right: -1em;
}
#fstable img {
  width: 75px;
  height: 56px;
}
#fstable td div {
  margin-top: -1.4em;
  font-size: large;
  color: #fff;
  text-align: center;
}
#info {
   clear: both;
}



/* tag code adapted from http://cssglobe.com/pure-css3-post-tags/ */

.taglist {
    margin:0;
    padding:0;
    list-style:none;
}


.tag {
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    z-index: 0 !important;
    opacity: .99;
    margin-left:20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:0 10px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;


    }

.tag:before {
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;
}

.tag:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
    }



.tagdelete {
    color: red;
}

#tagaddform {
    clear: both;
    padding: 20px;
}



// typeahead dropdown styling

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid black;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: white;
  opacity: 60%;
}

.typeahead:focus {
  border: 2px solid black;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: white;
  border: 1px solid black;
  opacity: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.col-md-4
{
	width: 100%
}

.thumbnail
{
  height:115px;
  margin: auto;
  padding: 0px;
  max-width: 115px;
  object-fit: cover;
}

.thumbnail_handshape
{
  height:115px;
  margin: auto;
  padding: 0px;
  max-width: auto;
  object-fit: cover;
}

.cropped_thumbnail
{
  margin: -4px -50px -8px -50px
}

.thumbnail_container
{
    float: left;
    margin: .5px 10px .5px 0;
    overflow: hidden;

    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-results-collapsable
{
    border: 0px;
    box-shadow: 0;
}

.formbutton
{
    display: inline;
}

/* How a clickable reference to a morpheme looks in the Gloss List View */
.morpheme_style {
  color: black;
}
/* How a clickable reference to a morpheme looks in the Gloss List View - hovering */
.morpheme_style:hover {
  color: darkred;
}

/* Special background for morpheme in the combined Gloss+Morpheme list view */
.morpheme_gloss {
    background: lightgray;
    border-radius: 0.5em;
}

/* Appearance of morphemes and compound parts in details */
.gloss_detail_morpheme {
    font-style: italic;
}
.gloss_detail_component {
    /* No special matters */
    font-size: smaller;
    color: black;
}

.gloss_detail_component:hover {
  color: darkred;
}

tr.rotated th {
    -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#searchresults
{
    min-height: 30px;
}

.search_result
{
    margin-right: 30px;
    color: hsla(var(--search-results-color),var(--search-results-luminosity));
}

.search_result:hover, search_result:active, a.active
{
    color: hsla(var(--search-results-color), var(--search-results-luminosity-hover));
    text-decoration: none;
}

#searchresults a.active
{
    font-weight: 800;
}

//Tabs taken from a new version of bootstrap
.nav-tabs
{
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item
{
    margin-bottom: -1px;
}

.nav-tabs .nav-link
{
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus
{
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-color: #e9ecef #e9ecef #dee2e6;
  border-bottom-color: transparent;
  background-color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    color: #495057;
    background-color: inherit;
    border-color: #BB2F2C #dee2e6 #fff;
    border-top-width: 2px;
}

.ribbon_list
{
    display: flex;
    flex-direction: column;
    height: 100px;
    flex-wrap: wrap;
    margin-left: -85px;
    margin-top: 3px;
    justify-content: center;
}

 .ribbon
 {
    box-sizing: border-box;
    position: relative;
    min-width: 125px;
    height: 20px;
    width: 100px;
    color: #ffffff80;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    margin: 0px 10px 4px 10px;
}

.ribbon:before, .ribbon:after
{
    position: absolute;
    content:'';
    width: 100%;
    left: 0px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #fff6;
}

.ribbon:before
{
    transform: perspective(3px) rotateX(3deg);
    border-bottom: none;
}

.ribbon:after
{
    top: 10px;
    transform: perspective(3px) rotateX(-3deg);
    border-top: none;
}

.ribbon_list .selected
{
    color: white;
}

.ribbon_list .selected:before, .ribbon_list .selected:after
{
    border-color: #fffc;
}

#search_results_label
{
    float: left;
    margin-right: 52px;
    margin-top: 4px;
    font-size: 12px;
    margin-left: 15px;
    color: #00000080;
}

.hover-shows-video
{
    width: 115px;
}

.thumbnail-video
{
    object-fit: cover;
    max-width: 115px;
    height: 115px;
    display:block;
}

.exclude-field-choices
{
    overflow-y: auto;
    height: 64vh;
}

.exclude-field-choices th
{
    position: sticky;
    top: 0px;
    background-color: white;
}

canvas{
    width:auto !important;
    height:auto !important;
}

.chart-container {
    width: auto;
    height: auto;
}

.chart-nested-container {
    width: auto;
    height: auto;
}

.chart-short-container {
    width: 500px;
    height: auto;
}

.chart-horizontal-single-bar-container {
    width: auto;
    height: 50px;
}

.chart-multichart-enclosure-container {
    width: auto;
    height: auto;
}

.btn-space {
    margin-right: 5px;
}

.btn-color {
    background-color: Pink;
}

.btn-toolbar {
    background-color: inherit;
    color: inherit;
}
.btn-group {
    background-color: inherit;
    color: inherit;
}
.container {
    background-color: inherit;
    color: inherit;
}

.container-fluid {
    background-color: inherit;
    color: inherit;
}

.well {
    background-color: inherit;
    color: inherit;
}

.panel {
    background-color: inherit;
    color: inherit;
}

.panel-default {
    background-color: inherit;
    color: inherit;
}

.panel-heading {
    background-color: inherit;
    color: inherit;
}

.panel-body {
    background-color: inherit;
    color: inherit;
}

.panel-footer {
    background-color: inherit;
    color: inherit;
}

form {
    background-color: inherit;
    color: inherit;
}

.table .table-condensed {
    background-color: inherit;
    color: inherit;
}

.table-responsive {
    background-color: inherit;
    color: inherit;
}

.table .table-bordered {
    background-color: inherit;
    color: inherit;
}

@body-bg {
    background-color: inherit;
    color: inherit;
}

.dark-mode {
  background-color: var(--dark-mode-very-dark) !important;
  color: var(--text-input-text) !important;
}
@media screen body {
  background: inherit;
  background-color: inherit;
  color: inherit;
}

option {
    color: inherit;
}
select {
    color: inherit;
}

input {
    background-color: inherit;
    color: inherit;
}

.modal {
    background-color: white;
    color: black;
}
.modal-content {
    background-color: inherit;
    color: inherit;
}
.modal-header {
    background-color: inherit;
    color: inherit;
}
.modal-body {
    background-color: inherit;
    color: inherit;
}
.modal-footer {
    background-color: inherit;
    color: inherit;
}

.modal fade {
    background-color: inherit;
    color: inherit;
}
.edit .edit_list {
    background-color: inherit;
    color: inherit !important;
}
.edit .edit_text {
    background-color: inherit;
    color: inherit !important;
}
.edit .edit_area {
    background-color: inherit;
    color: inherit !important;
}
.edit .edit_int {
    background-color: inherit;
    color: inherit !important;
}
.edit .edit_check {
    background-color: inherit;
    color: inherit !important;
}
/* this is the Edit button in e.g., Gloss Detail View */
.edit_enabled {
    background-color: red;
    color: white !important;
}

.pull-right {
    background-color: inherit;
    color: inherit !important;
}
.view-tabs-dark {
    background-color: var(--dark-mode-very-dark) !important;
    color: var(--panel-heading-text) !important;
}

.view-tabs-dark .nav-tabs-dark {
    background-color: var(--dark-mode-very-dark) !important;
    color: var(--panel-heading-text) !important;
    border-bottom: 1px solid var(--panel-heading-background);
}
.view-tabs-dark .nav-tabs-dark > li > .nav-link:hover {
    background-color: var(--dark-mode-very-dark) !important;
    color: white !important;
    border-bottom: 1px solid var(--nav-highlight);
    border-color: var(--panel-heading-background) var(--panel-heading-background) var(--panel-heading-background);
}
.view-tabs-dark .nav-tabs-dark .nav-item.show .nav-link, .view-tabs-dark .nav-tabs-dark .nav-link.active
{
    color: var(--button-default);
    background-color: var(--dark-mode-very-dark) !important;
    border-color: var(--panel-heading-background);
    border-top-width: 2px;
}

.panel-light {
    background-color: inherit;
    color: inherit !important;
}
.panel-heading-dark {
    background-color: var(--panel-heading-background) !important;
    color: var(--panel-heading-text) !important;
    border-bottom-width: 0;
}
.panel-default-dark {
    border: solid 1px var(--well-background) !important;
    border-bottom-color: var(--well-background);
    background-color: var(--well-background);
    color: var(--text-input-border);
    margin-bottom: 0;
}
.collapse-dark {
    border: solid 1px var(--well-background) !important;
    border-top-width: 1px !important;
}
.collapse-light {
    border: solid 1px inherit !important;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.well-dark {
    border: solid 1px var(--well-background) !important;
    background-color:  var(--well-background) !important;
}
.well-light {
    border: solid 1px inherit !important;
}
/* .nav-bar {
    border: solid 1px purple !important;
} */
/*
.hidden {
    color: transparent;
    background-color: transparent;
}
*/
/* .panel {
    background-color: inherit;
    border: solid 2px purple;
    box-shadow: purple 0px 1px 1px 0px;
} */
.td-dark {
    border-top-color: var(--well-background) !important;
    background-color: var(--well-background) !important;
    border: solid 1px var(--well-background) !important;
}
.td-dark > select {
    border-top-color: var(--well-background) !important;
    background-color: var(--well-background) !important;
    border: solid 1px var(--text-input-border) !important;
    color: var(--text-input-text) !important;
}
.td-dark > select > option {
    border-top-color: var(--well-background) !important;
    background-color: var(--well-background) !important;
    border: solid 1px var(--text-input-border) !important;
    color: var(--text-input-text) !important;
}
.span-text-dark {
    background-color: inherit !important;
    color: var(--panel-heading-text) !important;
}
.span-text-content-dark {
    background-color: inherit !important;
    color: var(--text-input-text) !important;
}
.td-dark > form {
    border-top-color: var(--well-background) !important;
    background-color: var(--well-background) !important;
    color: var(--text-input-text) !important;
}
.td-dark > input {
    border-top-color: var(--text-input-field) !important;
    border-color: var(--text-input-field) !important;
    background-color: var(--text-container-dark-input-fill) !important;
    border: solid 1px var(--text-input-border) !important;
    color: var(--text-input-text) !important;
    box-shadow: var(--text-container-dark-input-fill) 0px 0px 0px 0px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
input:active,
select:active,
textarea:active,
button:active {
    outline: none !important;
}
input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.td-dark > .btn-default-dark {
    background-color: var(--button-default) !important;
    color: white !important;
    border-color: var(--button-default) !important;
}
.td-light {
    border-top-color: inherit;
}
.th-dark {
    border-bottom-color: var(--text-container-dark-border) !important;
    color: var(--panel-heading-text) !important;
    background-color: inherit !important;
}
.th-light {
    border-bottom-color: inherit !important;
}

.navbar-dark {
    background-color: var(--well-background) !important;
    color: var(--text-input-border) !important;
}
.navbar-nav-dark {
    background-color: var(--well-background) !important;
    color: var(--text-input-border) !important;
    margin-bottom: 3px;
    padding-top: 3px;
}
.navbar-nav-dark > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--well-background) !important;
    color: var(--text-input-border) !important;
}
.navbar-nav-dark > li > a:hover {
    background-color: var(--nav-highlight) !important;
    color: white !important;
}
.navbar-nav-dark > ul {
    background-color: var(--nav-highlight) !important;
    color: white !important;
}
.btn-default-dark {
    background-color: var(--button-default) !important;
    color: white !important;
    border-color: var(--button-default) !important;
    border-radius: 6px;
}
.btn-default-light {
}
.navbar-form-dark {
    background-color: var(--well-background) !important;
    border: solid 1px var(--well-background) !important;
    color: var(--text-input-border) !important;
}
.dropdown-dark {
    background-color: var(--dropdown-dark) !important;
    color: var(--text-input-border) !important;
}
.dropdown-dark > ul {
    background-color: var(--text-input-field) !important;
    color: var(--text-input-border) !important;
}
.dropdown-menu-dark > ul {
    background-color: var(--dropdown-dark) !important;
    color: var(--text-input-border) !important;
}
.dropdown-menu-dark > li > a {
    background-color: var(--text-input-field) !important;
    color: var(--text-input-border) !important;
}
.dropdown-menu-dark > li > a:hover {
    background-color: var(--dropdown-dark) !important;
    color: white !important;
}
.text-container-dark {
    background-color: var(--text-container-dark-border) !important;
    color: var(--table-dark-color) !important;
}
.text-container-dark > input {
    background-color: var(--text-container-dark-input-fill) !important;
    color: white !important;
    border: solid 1px var(--text-container-dark-input-border) !important;
}
.text-container-dark ::placeholder {
    color: var(--text-container-dark-placeholder) !important;
}
.navbar-text-dark {
    background-color: var(--text-container-dark-border) !important;
    color: white !important;
}
.navbar-text-dark > a:hover {
    background-color: var(--dropdown-dark) !important;
    color: white !important;
}
.interface-language-light > input {
    background-color: inherit !important;
    color: inherit !important;
    border: solid 1px inherit !important;
}
.interface-language-dark {
    background-color: var(--nav-highlight) !important;
    color: white !important;
    border: solid 1px var(--nav-highlight) !important;
}
.input-group-dark > label {
    background-color: var(--panel-heading-background) !important;
    color: var(--panel-heading-text) !important;
    border: solid 1px var(--dark-label-background) !important;
}
.input-group-dark > input {
    background-color: var(--text-container-dark-input-fill) !important;
    color: white !important;
    border: solid 1px var(--text-container-dark-input-border) !important;
    box-shadow: var(--text-container-dark-input-fill) 0px 1px 1px 0px;
}
.query-toggles {
    border-left: 2px solid grey;
    border-spacing: 15px 30px;
    width: auto;
}
.query-toggles-dark {
    border-left: 2px solid var(--well-border);
    color: var(--panel-heading-text) !important;
}
.query-toggles-dark > tbody > tr > td {
    border-left: 2px solid var(--well-border);
    color: var(--panel-heading-text) !important;
    border: 1px solid var(--well-border) !important;
}
.query-toggles-dark > tbody > tr > td > button {
    color: white !important;
    border: 1px solid var(--button-default) !important;
    background-color: var(--button-default) !important;
    border-radius: 6px;
}
.table-bordered-dark {
    background-color: var(--well-background) !important;
    color: var(--table-dark-color) !important;
    border: 1px solid var(--well-border) !important;
    border-left-color: var(--text-container-dark-border) !important;
    border-right-color: var(--text-container-dark-border) !important;
    border-top-color: var(--text-container-dark-border) !important;
    border-bottom-color: var(--text-container-dark-border) !important;
}
.table .table-condensed-dark {
    background-color: var(--well-background) !important;
    color: var(--table-dark-color) !important;
    border-color: var(--text-container-dark-border) !important;
    outline: none;
}
.table-condensed-dark > td > span {
    background-color: var(--well-background) !important;
    color: var(--table-dark-color) !important;
    border-color: var(--text-container-dark-border) !important;
}
.table .table-condensed-dark > tr > th {
    background-color: var(--well-background) !important;
    color: var(--panel-heading-text) !important;
    border-color: var(--text-container-dark-border) !important;
}
.table-condensed-dark > input {
    background-color: var(--text-container-dark-input-fill) !important;
    color: white !important;
    border-color: var(--dropdown-dark) !important;
    border-radius: 4px;
}
.table-condensed-dark > td > form {
    background-color: var(--tbody-dark-background) !important;
    color: var(--table-dark-color) !important;
    border-left-color: var(--text-container-dark-border) !important;
    border-right-color: var(--text-container-dark-border) !important;
    border-top-color: var(--text-container-dark-border) !important;
    border-bottom-color: var(--text-container-dark-border) !important;
}
.search-form-dark {
    background-color: var(--well-background) !important;
    color: var(--text-input-border) !important;
}
.thead-light {
    background-color: inherit;
    color: inherit !important;
}
.thead-dark {
    background-color: var(--well-background) !important;
    color: inherit !important;
}
.thead-dark > tr > th {
    background-color: var(--well-background) !important;
    color: var(--panel-heading-text) !important;
}
.tbody-dark {
    background-color: var(--tbody-dark-background) !important;
    border-color: var(--tbody-dark-border) !important;
    color: var(--text-input-text) !important;
    border-color: var(--text-container-dark-border) !important;
    border-width: 0 0 0 0;
}
.tbody-dark > tr > th {
    border-width: 0 0 0 0;

}
.tbody-dark > tr > td {
    background-color: var(--tbody-dark-background) !important;
    border-color: var(--tbody-dark-border) !important;
    color: var(--text-input-text) !important;
    border-color: var(--text-container-dark-border) !important;
}
.morphtypeahead-light {
    background-color: white !important;
    border-color: black !important;
    opacity: 100%;
    color: black !important;
    border: black !important;
}
.morphtypeahead-dark {
    background-color: var(--typeahead-dark-background) !important;
    border-color: var(--typeahead-dark-border) !important;
    color: var(--typeahead-dark-color) !important;
    border: solid 1px var(--typeahead-dark-border) !important;
}
.lemmatypeahead-light {
    background-color: white !important;
    border-color: black !important;
    color: black !important;
    border: black !important;
}
.lemmatypeahead-dark {
    background-color: var(--typeahead-dark-background) !important;
    border-color: var(--typeahead-dark-border) !important;
    color: var(--typeahead-dark-color) !important;
    border: solid 1px var(--typeahead-dark-border) !important;
}
span ::placeholder {
    color: var(--text-input-border) !important;
}
.td-dark > span > input {
    border-top-color: var(--text-input-field) !important;
    border-color: var(--text-input-field) !important;
    background-color: var(--text-input-field) !important;
    border: solid 1px var(--text-input-border) !important;
    color: var(--text-input-text) !important;
}
.td-dark > label {
    color: var(--panel-heading-text) !important;
}
/*
.td-dark ::placeholder {
    color: var(--text-input-border) !important;
}

.twitter-typeahead {
    background-color: inherit !important;
    color: inherit !important;
    border: solid 1px inherit !important;
}
.tt-hint {
    background-color: inherit !important;
    color: inherit !important;
}
*/
.pages-form-dark {
    color: var(--panel-heading-text) !important;
}
.pages-form-dark > select {
    background-color: var(--button-default) !important;
}
.pages-form-dark > select > option {
    background-color: var(--button-default) !important;
}
.form-group-dark {
    color: var(--panel-heading-text) !important;
}
/*
.form-group-dark > label {
    background-color: var(--text-input-field) !important;
    color: var(--text-input-border) !important;
    border: solid 1px var(--text-input-border) !important;
}
*/
.form-group-dark > input {
    background-color: var(--text-input-field) !important;
    color: var(--text-input-text) !important;
    border: solid 1px var(--text-input-border) !important;
}
/*
.form-group-dark > label > span > label {
    background-color: var(--dark-label-background) !important;
    color: var(--panel-heading-text) !important;
    border: solid 1px var(--dark-label-background) !important;
}
.form-group-dark > select {
    background-color: var(--text-input-field) !important;
    color: var(--text-input-border) !important;
}
.form-group-dark > select > option {
    background-color: var(--text-input-field) !important;
    color: var(--text-input-border) !important;
}
*/
.form-control-dark {
    background-color: var(--button-default) !important;
    color: white !important;
    border-color: var(--button-default) !important;
}
.btn-group-dark {
    color: inherit !important;
    --search-results-color: white important!;
    --search-results-luminosity: 0.35%
    --search-results-luminosity-hover: 0.7%;
    background-color: var(--well-background) !important;
}
