.hg/*
.hgignore
build/django
*~
.DS_Store
*.pyc
*.idea*
*.mo

media/css/.DS_Store
media/css/.DS_Store
media/glossimage
media/admin
media/summernote

signbank/settings/server_specific/__init__.py
signbank/settings/server_specific/server_specific.py

# This is a git repository required for video encoding
CNGT_scripts
