asgiref==3.4.1
attrs==17.4.0
Django==1.11
django-appconf==1.0.4
django-bootstrap3==8.2.2
django-colorfield==0.3.2
django-debug-toolbar==1.9.1
django-easy-select2==1.5.7
django-guardian==1.4.9
django-mobile==0.7.0
django-modeltranslation==0.13.4
django-reversion==2.0.8
django-select2==6.0.2
django-summernote==0.8.6
django-tagging==0.4.5
ffmpeg-python==0.2.0
flatdict==4.0.0
git+https://github.com/vanlummelhuizen/CNGT-scripts@master#egg=CNGT_scripts
lxml==3.7.3
numpy==1.19.5
py==1.5.2
pympi-ling==1.70.2
python-dateutil==2.8.0
python-magic==0.4.22
pytz==2017.2
six==1.10.0
sqlparse==0.2.4
typing-extensions==3.10.0.0
unicodecsv==0.14.1
uWSGI==2.0.19.1
