/* variant style for black - main page style */


html { 
  background-image: url(../../images/NGT/black_02.gif); 
} 

#leftcontentborder {
  background-image: url(../../images/NGT/black_03.gif);
}

#rightcontentborder {
  background-image: url(../../images/NGT/black_05.gif);
}

 #header {
		background-image: url(../../images/NGT/black_02.gif); 
        padding:0;
        background:#B82B22;
        height:110px;
        clear:both;
        position:relative;
        margin: 0px;
}

#header h1 {
        height: 110px;
        width: 300px;
        background-position: 20px 20px;
        background-repeat: no-repeat;
        color: white;
        font-family: 'Nunito', sans-serif;
        font-size: 40px;
        padding: 22px;
        padding-left: 33px;
        margin: 0px;
}

#second-title-part {
    color: lightgrey;
    margin-left: 62px;
    display: block;
    line-height: 0.3;
}

#logoholder {
    background-image: url(../../images/NGT/ru-logo.png);
    background-repeat: no-repeat;
    background-position: 11px 10px;
	width: 115px;
    height: 110px;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* superfish menu styling - background image is assumed 26px high */
.sf-navbar  { 
   background-image: url(../../images/NGT/black_08.gif);
   background-position: top right;
   background-repeat: no-repeat;
}

#pages #mainlinks td {
  
  background-image: url(../../images/NGT/black_02.gif);
}

#username_link
{
    margin-right: 17px;
}

.hamburger_button
{
    margin-right: 35px;
}

#minimalistic_language_picker
{
    margin-top: -53px;
    float: right;
    margin-right: 8px;
    position: relative;
}

legend
{
    padding-top: 25px;
}

.citation_form_image
{
    width: 467px;
}

.modal-dialog {
  margin: 130px auto;
}