{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}


{% block extrajs %}

<script type='text/javascript'>
var url = '{{PREFIX_URL}}';
var csrf_token = '{{csrf_token}}';

function display_token(data) {
    console.log(data);
    if ($.isEmptyObject(data)) {
        return;
    };
    var new_token = data.new_token;
    var tokenCell = $("#api_token");
    tokenCell.html(new_token);
}

$(document).ready(function() {
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    $('.auth_token').click(function(e)
    {
         e.preventDefault();
         var datasetid = $(this).attr("data-dataset");
         $.ajax({
            url : url + "/accounts/auth_token/" + datasetid + "/" ,
            type: 'POST',
            data: { 'csrfmiddlewaretoken': csrf_token },
            datatype: "json",
            success : display_token
         });
    });
});
</script>
{% endblock %}

{% block content %}

<h2>User Profile</h2>

    {% if user.is_anonymous %}
    <table class="table">
        <tr><th>Username</th>
        {% if SHOW_DATASET_INTERFACE_OPTIONS %}
        <th style="white-space:nowrap;">{% trans "View Permission for Public Signs in Datasets" %}</th>
        {% endif %}
    </tr>
    <tr><td>Anonymous User</td>
        {% if SHOW_DATASET_INTERFACE_OPTIONS %}
        <td>
        {% for ds in selected_datasets %}
            {{ds.acronym}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </td>
        {% endif %}
    </tr>
    </table>
    {% else %}
    <table class="table">
    <tr><th>Username</th><th>Name</th><th>Email</th><th>Expiration Date</th>
        {% if SHOW_DATASET_INTERFACE_OPTIONS %}
        <th style="white-space:nowrap;">{% trans "Selected Datasets" %}</th>
        <th style="white-space:nowrap;">{% trans "View Permission" %}</th>
        <th style="white-space:nowrap;">{% trans "Change Permission" %}</th>
        {% endif %}
    </tr>
    <tr><td>{{user.username}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{expiry}}
            {% if delta %}
            ({{ delta.days }} {% trans "days remaining" %})
            {% endif %}
        </td>
        {% if SHOW_DATASET_INTERFACE_OPTIONS %}
        <td style="width: 320px;">
        {% for ds in selected_datasets %}
            {{ds.acronym}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </td>
        <td style="width: 320px;">
        {% for ds in view_permit_datasets %}
            {{ds.acronym}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </td>
        <td style="width: 320px;">
        {% for ds in change_permit_datasets %}
            {{ds.acronym}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </td>
        {% endif %}
    </tr>
    {% if delta.days < 60 %}
    <tr>
    <form name='extend_account_expiry' id='extend_account_expiry' action="{{PREFIX_URL}}/update/expiry/" method='POST'>
            <td>
            {% csrf_token %}
            <input type="hidden" name="username" id="username" value="{{user.username}}" />
            </td>
            <td/><td/>
            <td>
            <input class='btn btn-primary' id='extend_expiry' name='extend_expiry' type='submit' value='{% trans "Extend Expiry" %}'>
            </td>
    </form>
    </tr>
    </table>
    {% endif %}
    <table class="table">
        <tr>
        <th style="width:200px;">{% trans "Affiliation" %}</th>
        <td>{% for aff in user_affiliation %}{{aff.affiliation.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        </tr>
    </table>
    {% if user_can_change_glosses %}
    <table class="table">
    <tr>
    <th style="width:200px;">{% trans "Signbank API Tokens" %}</th>
    </tr>
    {% for ds in change_permit_datasets %}
    <th>{{ds.acronym}}</th>
    <tr>
        <td>{% if not user_has_api_token %}
            <form name='request_api_token' id='request_api_token' action="{{PREFIX_URL}}/accounts/auth_token/" method='POST'>
            {% csrf_token %}
            <input type="hidden" name="username" value="{{user.username}}">
            <button class='auth_token btn btn-primary' data-dataset="{{ds.id}}"
                    type='submit'>
                {% trans "Generate Signbank API Token" %}
            </button>
            </form>
            <br><br>
            <span id='api_token' name='api_token' style="width:100px;outline:1px;"></span>
            {% else %}
            <span>{% trans "A Signbank API Token was created on" %} {{user_api_token}}</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if user_has_queries %}
    <table class="table">
    <th>{% trans "Recently Saved Queries" %}</th>
    <tr>
        <td>
            <a href="{{PREFIX_URL}}/analysis/search_history/">{% trans "Search History" %}</a>
        </td>
    </tr>
    </table>
    {% endif %}
    {% endif %}

{% endblock %}
