{# Parameters #}
{# username (string) #}
{#   Either "" indicating that the user is not logged in, or the user name in <first name> <last name> form. #}
{# title (string #}
{#   The title of the page, appears in horizontal span above content. #}
{# wordcount (integer) #}
{#   The number of words returned by the query. #}
{# wordlist (word, id) #}
{#   Fragment of word list, containing a maximum of 51 words. #}
{# nextpage (integer) #}
{#   Number of next page, zero if there is no next page #}
{# prevpage (integer) #}
{#   Number of previous page, zero if there is no previous page #}
{# query (string) #}
{#   Word (or word fragment) which was searched for #}

{% extends "baselayout.html" %}

{% block content %}
    <p>LOGOUT SCRIPT!</p>
{% endblock %}							


