/* variant style for black - main page style */


html { 
  background-image: url(../../images/ASL/black_02.gif); 
} 

#leftcontentborder {
  background-image: url(../../images/ASL/black_03.gif);
}

#rightcontentborder {
  background-image: url(../../images/ASL/black_05.gif);
}

 #header {
		background-image: url(../../images/ASL/black_02.gif); 
        padding:0;
        background:#1b2677;
        height:110px;
        clear:both;
        position:relative;
        margin: 0px;
}

#header h1 {
        height: 110px;
        width: 300px;
        background-image: url(../../images/ASL/logo.jpg);
        background-position: 20px 20px;
        background-repeat: no-repeat;   
        text-indent: -9000px;
        margin: 0px;
        
}

#logoholder {
    background-image: url(../../images/ASL/ru-logo.png);
    background-repeat: no-repeat;
    background-position: 11px 10px;
	width: 115px;
    height: 110px;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* superfish menu styling - background image is assumed 26px high */
.sf-navbar  { 
   background-image: url(../../images/ASL/black_08.gif);
   background-position: top right;
   background-repeat: no-repeat;
}

#pages #mainlinks td {
  
  background-image: url(../../images/ASL/black_02.gif);
}

#username_link
{
    margin-right: 17px;
}

.hamburger_button
{
    margin-right: 35px;
}

#minimalistic_language_picker
{
    margin-top: -53px;
    float: right;
    margin-right: 8px;
    position: relative;
}