{% load i18n %}
<!-- This was commented out, WEBSITE_LANGUAGE is already defined in baselayout.html -->
<!--{% get_current_language as LANGUAGE %}-->

<style>
  #affix-bar.affix {
    position:fixed;
    top: 0;
    z-index: 1000 !important;
    background: white;
  }
</style>

<div id="signbank-bar" class="navbar navbar-fixed-top" style="box-sizing:content-box;">

<div id='header' class="navbar-header">
    <a href="{{URL}}" height="80" width="80" style="box-sizing:content-box;"><img class="global_sb_logo" src="{{STATIC_URL}}images/global/GlobalSigbank_logo_white.svg" height="80" width="80"></a>
    <h1>Global <br/><span id="second-title-part">signbank</span></h1>
    <a href="http://www.ru.nl/sign-lang" id='logoholder' class='visible-lg visible-md visible-sm'></a>
</div>

<div id='navbar-menus' class="collapse navbar-collapse navbar-upper navbar-default" role="navigation" style="display:inline;">

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="nav navbar-upper" id="menu-pull-downs" style="display:inline;padding-left:0px;box-sizing:content-box;">

    <nav class="nav navbar-left">
    <ul class="nav navbar-left navbar-nav" style="margin-left:15px;box-sizing:content-box;">
    {# add in the top level menu items from pages #}
    {% for item in menu %}

        {% if item.children %} 
        <li class='dropdown'>
             <a href="{{ URL }}{{item.url}}"  class="dropdown-toggle" data-toggle="dropdown">
             	{% if WEBSITE_LANGUAGE == "nl" %}
                 {{item.title_dutch}}
             	{% elif WEBSITE_LANGUAGE == "cn" %}
                 {{item.title_chinese}}
             	{% else %}
                 {{item.title}}
             	{% endif %}
                 <b class="caret"></b></a>
             <ul class="dropdown-menu">
             {% for subitem in item.children %}
                <li {% if subitem.current %}class='active'{% endif %}><a href="{{ URL }}{{subitem.url}}">
             	{% if WEBSITE_LANGUAGE == "nl" %}
                 {{subitem.title_dutch}}
             	{% elif WEBSITE_LANGUAGE == "cn" %}
                 {{subitem.title_chinese}}
             	{% else %}
                 {{subitem.title}}
             	{% endif %}
                </a></li>
             {% endfor %} 
             </ul> 
        </li>
      {% else %}
        <li><a style="padding-left: 0px;" href="{{ URL }}{{item.url}}">
            {% if WEBSITE_LANGUAGE == "nl" %}
                 {{item.title_dutch}}
             	{% elif WEBSITE_LANGUAGE == "cn" %}
                 {{item.title_chinese}}
             	{% else %}
                 {{item.title}}
             	{% endif %}
        </a></li>
      {% endif %}
    {% endfor %}

    </ul>
    </nav>
    <form class="navbar-form navbar-left" role="search" id="frmSearch" name="frmSearch" method="get" action="{{ URL }}signs/search">
            <input class='form-control' placeholder='{% trans "Search gloss" %}' type="Text" name="search" value="{{ glossQuery }}" maxlength="40" size="14">
            <input class='form-control' placeholder='{% trans "Search translation" %}' type="Text" name="keyword" value="{{ query }}" maxlength="40" size="16">
        <button class='form-control' type='submit' style="font-weight:bold;background-color:LightGrey"><img id='mag-glass' src='{{ STATIC_URL }}images/rightpointing_magnifying_glass.png' style="width:18px; height:auto; margin: 0px;"></button>
    </form>

      <div class="nav navbar-right" style="height: 55px;box-sizing:content-box;">
        {% if user.is_authenticated %}
            <div class='navbar-text'>
                <a id="username_link" href="{% url 'logout' %}">{% trans "Logout" %} ({{ user.first_name }} {{ user.last_name }})</a></div>
            <div class='navbar-text' id="minimalistic_language_picker" style="height: 55px;"></div>
        {% else %}
            <div class='navbar-text'><a href="{{ URL }}/accounts/login/?next=/">{% trans "Login" %}</a></div>
            <div class='navbar-text' id="minimalistic_language_picker" style="height: 55px;"></div>
        {% endif %}
      </div>

  </div>

</div>
<div id='navbar-datasets' class="navbar-left navbar-lower" style="background:white;box-sizing:content-box;">
    <div class="nav navbar-left" style="min-height:35px;margin-bottom:3px;box-sizing:content-box;">
        {% if user.is_authenticated %}
        {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets %}
        <div class='navbar-text' style="left-margin: 15px;">
            <div class='taglist'>
                {% load underscore_to_space %}
                {% for ds in selected_datasets %}
                <div class='label' style="background-color:Gainsboro;color:DodgerBlue;border-style:solid;border-width:1px;border-color:DodgerBlue;">
                    <span>{{ds.name|underscore_to_space}}</span>
                </div>
                {% if not forloop.last %}<span>&thinsp;</span>{% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>

</div>

<div id='bslstripe'></div>

</div>
