{% load i18n %}
<!-- This was commented out, WEBSITE_LANGUAGE is already defined in baselayout.html -->
<!--{% get_current_language as LANGUAGE %}-->

<div id="affix-bar">
<nav id='navbar' class="navbar navbar-default" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle hamburger_button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
    {# add in the top level menu items from pages #}
    {% for item in menu %}

        {% if item.children %} 
        <li class='dropdown'>
             <a href="{{ URL }}{{item.url}}"  class="dropdown-toggle" data-toggle="dropdown">
             	{% if WEBSITE_LANGUAGE == "nl" %}
                 {{item.title_dutch}}
             	{% elif WEBSITE_LANGUAGE == "cn" %}
                 {{item.title_chinese}}
             	{% else %}
                 {{item.title}}
             	{% endif %}
                 <b class="caret"></b></a>
             <ul class="dropdown-menu">
             {% for subitem in item.children %}
                <li {% if subitem.current %}class='active'{% endif %}><a href="{{ URL }}{{subitem.url}}">
             	{% if WEBSITE_LANGUAGE == "nl" %}
                 {{subitem.title_dutch}}
             	{% elif WEBSITE_LANGUAGE == "cn" %}
                 {{subitem.title_chinese}}
             	{% else %}
                 {{subitem.title}}
             	{% endif %}
                </a></li>
             {% endfor %} 
             </ul> 
        </li>
      {% else %}
        <li><a href="{{ URL }}{{item.url}}">
            {% if WEBSITE_LANGUAGE == "nl" %}
                 {{item.title_dutch}}
             	{% elif WEBSITE_LANGUAGE == "cn" %}
                 {{item.title_chinese}}
             	{% else %}
                 {{item.title}}
             	{% endif %}
        </a></li>
      {% endif %}
    {% endfor %}

    </ul>

    <form class="navbar-form navbar-right" role="search" id="frmSearch" name="frmSearch" method="get" action="{{ URL }}signs/search">
       <div class="form-group">
          <input class='form-control' placeholder='{% trans "Search gloss" %}' type="Text" name="search" value="{{ glossQuery }}" maxlength="50">
       </div>
          <input class='form-control' placeholder='{% trans "Search translation" %}' type="Text" name="keyword" value="{{ query }}" maxlength="50">
       
       <button type="submit" class="btn btn-default">{% trans "Sign search" %}</button>
    </form>

    <table class="nav navbar-right">
        <tr class="align-middle">
        {% if user.is_authenticated %}
        {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets %}
        <td class='nav navbar-right'>{% trans "Datasets:" %}
            {% for ds in selected_datasets %}{{ds.name}}{% if not forloop.last %}, {% else %}.{% endif %}
            {% endfor %}
        </td>
        {% endif %}
        <td class='nav navbar-right'><a id="username_link" href="{% url 'logout' %}">{% trans "Logout" %} ({{ user.first_name }} {{ user.last_name }})</a></td>
    {% else %}
       <td class='nav navbar-right'><a href="{{ URL }}/accounts/login/?next=/">{% trans "Login" %}</a></td>
    {% endif %}
        </tr>
    </table>

  </div><!-- /.navbar-collapse -->

    <div id="minimalistic_language_picker"></div>

</nav>

</div>
