{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Update Phonological Variations{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block extrahead %}
<style>
.hasTooltip:hover .isTooltip {
    position: fixed;
    placement: top !important;
    bottom: 100%;
}
input[type="text"] {
    background-color: rgba(50,50,50,15%);
    border: none;
}
input[type="text"]:focus {
    border: 1px solid red;
}
.tt-input {
    background-color: rgba(50,50,50,15%) !important;
    border: none;
}
.tt-input:active {
    border: 1px solid red;
}
</style>
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
var dark_mode = '{{request.session.dark_mode}}';
var dark_mode_django = '{{dark_mode}}';
var url = '{{PREFIX_URL}}';
var csrf_token = '{{csrf_token}}';
{% trans "Saving..." as saving_str %}
var gloss_dataset_id = {{gloss.lemma.dataset.id}};
var gloss_default_language_code = '{{gloss.lemma.dataset.default_language.language_code_2char}}';
var saving_str = '{{saving_str|escapejs}}';
var edit_post_url = '{% url 'dictionary:update_phonological_variation' gloss.id %}';

var yes_str = "{% trans 'Yes' %}";
var no_str = "{% trans 'No' %}";
{% trans "Edit" as edit_mode_str %}
{% trans "Turn Off Edit Mode" as turn_off_edit_mode_str %}
var edit_mode_str = '{{edit_mode_str|escapejs}}';
var turn_off_edit_mode_str = '{{turn_off_edit_mode_str|escapejs}}';

var phonology_list_kinds = {{phonology_list_kinds|safe}};
var gloss_phonology = {{gloss_phonology|safe}};
var choice_lists = [];
var static_choice_lists = {{static_choice_lists|safe}};
var original_static_choice_list_colors = {{static_choice_list_colors|safe}};
var static_choice_list_colors = {};
for (var field in original_static_choice_list_colors) {
   var field_dict = original_static_choice_list_colors[field];
   static_choice_list_colors[field] = {}
   for (key in field_dict) {
        value = field_dict[key];
        if (value == 'ffffff' && dark_mode_django == 'True') {
            static_choice_list_colors[field][key] = '000000';
        } else {
            static_choice_list_colors[field][key] = value;
        }
    }
}
var handedness_weak_choices = {{gloss.handedness_weak_choices|safe}};
var handedness_weak_choices_colors = {};
for (var key in handedness_weak_choices) {
    if (dark_mode_django == 'True') {
        handedness_weak_choices_colors[key] = '000000';
    } else {
        handedness_weak_choices_colors[key] = 'ffffff';
    }
};
</script>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.mini_colors.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/typeahead.bundle.min.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/phonology_edit_color.js"></script>

{% endblock %}

{% block content %}
   <h3>{% trans "Phonological Variations" %}</h3>

    <div class='pull-right' style="margin-right:15px;margin-top:50px;">

         <span id='edit_message' style="padding-right: 1.8em;"></span>

         <button id='enable_edit'
                 class='btn btn-primary navbar-btn edit-mode'
                 style="width:auto;padding:3px 12px;">{% trans "Edit" %}</button>
    </div>

    <div id="view_tabs" style="margin-right:15px;margin-top:10px;z-index:100;" class='view-tabs view-tabs-light'>
     <table class='table table-condensed table-condensed-light' style='width: 1200px;'>
              <tr>
			  <th class='td td-light'  style="color:darkred">{% trans "Source Sign" %}</th>
              </tr>
			  {% for lang, annotation_idgloss_translation in annotation_idgloss.items %}
                  <tr>
					<th style="width:400px;">
						{% trans "Annotation ID Gloss" %} ({{ lang }})
					</th>
					<td id='annotation_idgloss_{{ lang.language_code_2char }}'>
						<a href='{% url "dictionary:admin_gloss_view" pk=gloss.id %}'>{{ annotation_idgloss_translation }}</a></td>
                  </tr>
			  {% endfor %}
     </table>
     <table class='table table-condensed table-condensed-light' style="width:auto;border: 0px;">
             <tr>
			    <th class='th th-light' style="color:darkred; width:auto;">{% trans "Phonology" %}</th>
                 <th class='td td-light' style="color:darkred; float:left;width:300px;border-top:0px;">{% trans "Source Sign" %}</th>
                 {% for gv in gloss_variations %}
                 <th class='th th-light' style="color:darkred">{% trans "Variation" %} #{{gv.variation}}</th>
                 {% endfor %}
             </tr>
             <tr>
                 <td class='td td-light' style="width:400px;"></td>
                 <td class='td td-light'></td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 <th class='td td-light' style="color:darkred">
                     <button id='quick_save_btn_{{gv.id}}' class="quick_save btn btn-primary"
                        name='quick_save_{{gv.id}}'
                        value='{{gv.id}}' style="height:36px;"
                        type="submit">{% trans "Save" %} #{{gv.variation}}</button>
                 </th>
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Handedness" %}</th>
                 <td class='td td-light' style="float:left;border-top:0px;">{{gloss.display_handedness}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'handedness' as handedness_field %}
                 <td class='td td-light'>
                    <select name="handedness" id="handedness_{{gv.id}}">
                        {% for machine_value, opn in handedness_field.choices %}
                        {% if opn == handedness_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Weak Drop" %}</th>
                 <td class='td td-light' style="float:left;border-top:0px;">{{gloss.display_weakdrop}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'weakdrop' as weakdrop_field %}
                 <td class='td td-light'>
                    <select name="weakdrop" id="weakdrop_{{gv.id}}">
                        {% for value, opn in weakdrop_field.choices %}
                        {% if value == weakdrop_field.initial %}
                        <option value={{value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Weak Prop" %}</th>
                 <td class='td td-light' style="float:left;border-top:0px;">{{gloss.display_weakprop}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'weakprop' as weakprop_field %}
                 <td class='td td-light'>
                    <select name="weakprop" id="weakprop_{{gv.id}}">
                        {% for value, opn in weakprop_field.choices %}
                        {% if value == weakprop_field.initial %}
                        <option value={{value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Strong Hand" %}</th>
                 <td class='td td-light'>{{gloss.display_domhndsh}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'domhndsh' as domhndsh_field %}
                 <td class='td td-light'>
                    <select name="domhndsh" id="domhndsh_{{gv.id}}">
                        {% for machine_value, opn in domhndsh_field.choices %}
                        {% if opn == domhndsh_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>

            <tr>
                 <th>{% trans "letter" %}</th>
                 <td class='td td-light'>{{gloss.display_domhndsh_letter}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'domhndsh_letter' as domhndsh_letter_field %}
                 <td class='td td-light'>
                    <select name="domhndsh_letter" id="domhndsh_letter_{{gv.id}}">
                        {% for value, opn in domhndsh_letter_field.choices %}
                        {% if opn == domhndsh_letter_field.initial %}
                        <option value={{value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>

            <tr>
                 <th>{% trans "number" %}</th>
                 <td class='td td-light'>{{gloss.display_domhndsh_number}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'domhndsh_number' as domhndsh_number_field %}
                 <td class='td td-light'>
                    <select name="domhndsh_number" id="domhndsh_number_{{gv.id}}">
                        {% for value, opn in domhndsh_number_field.choices %}
                        {% if opn == domhndsh_number_field.initial %}
                        <option value={{value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>

             <tr>
                 <th>{% trans "Weak Hand" %}</th>
                 <td class='td td-light'>{{gloss.display_subhndsh}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'subhndsh' as subhndsh_field %}
                 <td class='td td-light'>
                    <select name="subhndsh" id="subhndsh_{{gv.id}}">
                        {% for machine_value, opn in subhndsh_field.choices %}
                        {% if opn == subhndsh_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>

            <tr>
                 <th>{% trans "letter" %}</th>
                 <td class='td td-light'>{{gloss.display_subhndsh_letter}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'subhndsh_letter' as subhndsh_letter_field %}
                 <td class='td td-light'>
                    <select name="subhndsh_letter" id="subhndsh_letter_{{gv.id}}">
                        {% for value, opn in subhndsh_letter_field.choices %}
                        {% if opn == subhndsh_letter_field.initial %}
                        <option value={{value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>

            <tr>
                 <th>{% trans "number" %}</th>
                 <td class='td td-light'>{{gloss.display_subhndsh_number}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'subhndsh_number' as subhndsh_number_field %}
                 <td class='td td-light'>
                    <select name="subhndsh_number" id="subhndsh_number_{{gv.id}}">
                        {% for value, opn in subhndsh_number_field.choices %}
                        {% if opn == subhndsh_number_field.initial %}
                        <option value={{value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>

             <tr>
                 <th>{% trans "Handshape Change" %}</th>
                 <td class='td td-light'>{{gloss.display_handCh}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'handCh' as handCh_field %}
                 <td class='td td-light'>
                    <select name="handCh" id="handCh_{{gv.id}}">
                        {% for machine_value, opn in handCh_field.choices %}
                        {% if opn == handCh_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Relation between Articulators" %}</th>
                 <td class='td td-light'>{{gloss.display_relatArtic}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'relatArtic' as relatArtic_field %}
                 <td class='td td-light'>
                    <select name="relatArtic" id="relatArtic_{{gv.id}}">
                        {% for machine_value, opn in relatArtic_field.choices %}
                        {% if opn == relatArtic_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Location" %}</th>
                 <td class='td td-light'>{{gloss.display_locprim}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'locprim' as locprim_field %}
                 <td class='td td-light'>
                    <select name="locprim" id="locprim_{{gv.id}}">
                        {% for machine_value, opn in locprim_field.choices %}
                        {% if opn == locprim_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Contact Type" %}</th>
                 <td class='td td-light'>{{gloss.display_contType}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'contType' as contType_field %}
                 <td class='td td-light'>
                    <select name="contType" id="contType_{{gv.id}}">
                        {% for machine_value, opn in contType_field.choices %}
                        {% if opn == contType_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Movement Shape" %}</th>
                 <td class='td td-light'>{{gloss.display_movSh}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'movSh' as movSh_field %}
                 <td class='td td-light'>
                    <select name="movSh" id="movSh_{{gv.id}}">
                        {% for machine_value, opn in movSh_field.choices %}
                        {% if opn == movSh_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Movement Direction" %}</th>
                 <td class='td td-light'>{{gloss.display_movDir}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'movDir' as movDir_field %}
                 <td class='td td-light'>
                    <select name="movDir" id="movDir_{{gv.id}}">
                        {% for machine_value, opn in movDir_field.choices %}
                        {% if opn == movDir_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
              <tr>
                 <th>{% trans "Repeating Movement" %}</th>
                 <td class='td td-light'>{{gloss.display_repeat}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'repeat' as repeat_field %}
                 <td class='td td-light'>
                    <select name="repeat" id="repeat_{{gv.id}}">
                        {% for value, opn in repeat_field.choices %}
                        {% if opn == repeat_field.initial %}
                        <option value={{value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Alternating Movement" %}</th>
                 <td class='td td-light'>{{gloss.display_altern}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'altern' as altern_field %}
                 <td class='td td-light'>
                    <select name="altern" id="altern_{{gv.id}}">
                        {% for value, opn in altern_field.choices %}
                        {% if opn == altern_field.initial %}
                        <option value={{value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Relative Orientation: Movement" %}</th>
                 <td class='td td-light'>{{gloss.display_relOriMov}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'relOriMov' as relOriMov_field %}
                 <td class='td td-light'>
                    <select name="relOriMov" id="relOriMov_{{gv.id}}">
                        {% for machine_value, opn in relOriMov_field.choices %}
                        {% if opn == relOriMov_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Relative Orientation: Location" %}</th>
                 <td class='td td-light'>{{gloss.display_relOriLoc}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'relOriLoc' as relOriLoc_field %}
                 <td class='td td-light'>
                    <select name="relOriLoc" id="relOriLoc_{{gv.id}}">
                        {% for machine_value, opn in relOriLoc_field.choices %}
                        {% if opn == relOriLoc_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Orientation Change" %}</th>
                 <td class='td td-light'>{{gloss.display_oriCh}}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'oriCh' as oriCh_field %}
                 <td class='td td-light'>
                    <select name="oriCh" id="oriCh_{{gv.id}}">
                        {% for machine_value, opn in oriCh_field.choices %}
                        {% if opn == oriCh_field.initial %}
                        <option value={{machine_value}} selected="selected">{{opn}}</option>
                        {% else %}
                        <option value={{machine_value}}>{{opn}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Virtual Object" %}</th>
                 <td class='td td-light'>{% value gloss.locVirtObj %}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'locVirtObj' as locVirtObj_field %}
                 <td class='td td-light'>
                    <input name="locVirtObj" id="locVirtObj_{{gv.id}}" type="text" value="{{locVirtObj_field.initial}}">
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Phonology Other" %}</th>
                 <td class='td td-light'>{% value gloss.phonOth %}</td>
                 {% for gv in gloss_variations %}
                 {% with variation_forms|get_item:gv.id as variant_form %}
                 {% with variant_form.fields|get_item:'phonOth' as phonOth_field %}
                 <td class='td td-light'>
                    <input name="phonOth" id="phonOth_{{gv.id}}" type="text" value="{{phonOth_field.initial}}">
                 </td>
                 {% endwith %}
                 {% endwith %}
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Mouth Gesture" %}</th>
                 <td class='td td-light'>{{gloss.mouthG}}</td>
                 {% for gv in gloss_variations %}
                 <td class='edit edit_text td td-light' id="mouthG">{{gv.mouthG}}</td>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Mouthing" %}</th>
                 <td class='td td-light'>{{gloss.mouthing}}</td>
                 {% for gv in gloss_variations %}
                 <td class='edit edit_text td td-light' id="mouthing">{{gv.mouthing}}</td>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Phonetic Variation" %}</th>
                 <td class='td td-light'>{{gloss.phonetVar}}</td>
                 {% for gv in gloss_variations %}
                 <td class='edit edit_text td td-light' id="phonetVar">{{gv.phonetVar}}</td>
                 {% endfor %}
             </tr>
    </table>
    </div>
<br><br>
   {% if perms.dictionary.add_gloss %}
   <h4>{% trans "Add Phonological Variation" %}</h4>
   <div>
     <form action='{% url "dictionary:add_phonological_variation" glossid=gloss.id %}' method='POST' enctype="multipart/form-data">
         {% csrf_token %}
         <table class='table table-condensed table-condensed-light' style='width: 1200px;'>

             <tr>
                 {% with add_variation_form.fields|get_item:'handedness' as handedness_field %}
                 <th><label for="handedness">{{handedness_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="handedness" id="handedness">
                        {% for value, text in handedness_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'domhndsh' as domhndsh_field %}
                 <th><label for="domhndsh">{{domhndsh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="domhndsh" id="domhndsh">
                        {% for value, text in domhndsh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'domhndsh_letter' as domhndsh_letter_field %}
                 <th><label for="domhndsh_letter">{{domhndsh_letter_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="domhndsh_letter" id="domhndsh_letter">
                        {% for value, text in domhndsh_letter_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'domhndsh_number' as domhndsh_number_field %}
                 <th><label for="domhndsh_number">{{domhndsh_number_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="domhndsh_number" id="domhndsh_number">
                        {% for value, text in domhndsh_number_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'subhndsh' as subhndsh_field %}
                 <th><label for="subhndsh">{{subhndsh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="subhndsh" id="subhndsh">
                        {% for value, text in subhndsh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'subhndsh_letter' as subhndsh_letter_field %}
                 <th><label for="subhndsh_letter">{{subhndsh_letter_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="subhndsh_letter" id="subhndsh_letter">
                        {% for value, text in subhndsh_letter_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'subhndsh_number' as subhndsh_number_field %}
                 <th><label for="subhndsh_number">{{subhndsh_number_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="subhndsh_number" id="subhndsh_number">
                        {% for value, text in subhndsh_number_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'handCh' as handCh_field %}
                 <th><label for="handCh">{{handCh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="handCh" id="handCh">
                        {% for value, text in handCh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'relatArtic' as relatArtic_field %}
                 <th><label for="relatArtic">{{relatArtic_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="relatArtic" id="relatArtic">
                        {% for value, text in relatArtic_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'locprim' as locprim_field %}
                 <th><label for="locprim">{{locprim_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="locprim" id="locprim">
                        {% for value, text in locprim_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'contType' as contType_field %}
                 <th><label for="contType">{{contType_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="contType" id="contType">
                        {% for value, text in contType_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'movSh' as movSh_field %}
                 <th><label for="movSh">{{movSh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="movSh" id="movSh">
                        {% for value, text in movSh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'movDir' as movDir_field %}
                 <th><label for="movDir">{{movDir_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="movDir" id="movDir">
                        {% for value, text in movDir_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'oriCh' as oriCh_field %}
                 <th><label for="oriCh">{{oriCh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="oriCh" id="oriCh">
                        {% for value, text in oriCh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
         </table>

     <input class='btn btn-primary' type='submit' value='{% trans "Add Phonological Variation" %}'>
     </form>

   </div>
  {% endif %}
<br><br><br>
{% endblock %}
