{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block extrajs %}

    {% if perms.dictionary.change_gloss %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/lemma_typeahead.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gloss_add.js"></script>

    <script type="text/javascript">
    lemma_create_field_prefix = "{{ lemma_create_field_prefix }}"
    
    $(document).ready(function(){
        /**
         * In the 'add gloss' form, toggle the annotation idgloss fields depending on the chosen dataset
         */
         set_annotationidglosslanguages();

         $('#id_dataset').change(function() {
            set_annotationidglosslanguages();
         });
    });

    </script>

    <script type="text/javascript">
        var url = '{{URL}}';
    </script>

    {% endif %}
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

   {% if perms.dictionary.add_gloss %}
   <p>{% trans "Please provide some initial data" %}:</p>

     <form action='{% url "dictionary:add_gloss" %}' method='post'>
         {% csrf_token %}
         <table class='table' style='width: 400px;'>
             <tr>
                 <th><label for='dataset'>Dataset</label></th>
                 <td><select id="id_dataset" name="dataset" required="">
                         <option value="" selected dataset_languages="{% for dataset_lang in dataset_languages %}{{ dataset_lang.language_code_2char }}{% if not forloop.last %},{% endif %}{% endfor %}">---------</option>
                         {% for dataset in selected_datasets %}
                         <option value="{{ dataset.id }}" dataset_languages="{% for dataset_lang in dataset.translation_languages.all %}{{ dataset_lang.language_code_2char }}{% if not forloop.last %},{% endif %}{% endfor %}">{{ dataset.name }}</option>
                         {% endfor %}
                     </select></td>
             </tr>
             <tr>
                 <th><label for='id_idgloss'>{% trans "ID Gloss" %}</label></th>
                 <td>
                         <div id="lemma_select">
                             <!-- Input of the type ahead -->
                             <input class='form-control lemmatypeahead' placeholder='{% trans "Lemma" %}' />
                             <!-- Input that holds the lemma id the user chose from the type ahead -->
                             <input type='hidden' name='idgloss' value='confirmed' required="">
                             <a href="#" onclick="return toggleAddLemma()">{% trans "Create new" %}</a>
                         </div>
                         <div id="lemma_add">
                            {% for dataset_lang in dataset_languages %}
                             <span id="{{ lemma_create_field_prefix }}_header_{{ dataset_lang.language_code_2char }}">{{ dataset_lang.name }}:</span>
                            <input id="{{ lemma_create_field_prefix }}{{ dataset_lang.language_code_2char }}"
                                   name="{{ lemma_create_field_prefix }}{{ dataset_lang.language_code_2char }}"
                                   maxlength="30" type="text"/>

                            {% endfor %}

                             <a href="#" onclick="return toggleAddLemma()">{% trans "Select" %}</a>
                         </div>
                         <input type="hidden" id="select_or_new_lemma" name="select_or_new_lemma" value="select"/>
                     </td>
             </tr>
             {% for dataset_lang in dataset_languages %}
             <tr>
                 <th id="add_gloss_dataset_header_{{ dataset_lang.language_code_2char }}">
                     <label for="id_annotation_idgloss_{{dataset_lang.language_code_2char}}">{% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})</label>
                 </th>
                 <td id="add_gloss_dataset_value_{{ dataset_lang.language_code_2char }}">
                     <input id="glosscreate_{{ dataset_lang.language_code_2char }}" name="glosscreate_{{ dataset_lang.language_code_2char }}" required="" maxlength="30" type="text"/>
                 </td>
             </tr>
             {% endfor %}
         </table>

     <input class='btn btn-primary' type='submit' value='{% trans "Add New Sign" %}'>
     </form>
      {% endif %}

</body>
</html>

{% endblock %}