{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Add New Sign{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/dropstyle.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/recordstyle.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/modalstyle.css">
<style>
.hasTooltip:hover .isTooltip {
    position: fixed;
    placement: top !important;
    bottom: 100%;
}
input[type="text"] {
    background-color: rgba(50,50,50,15%);
    border: none;
}
input[type="text"]:focus {
    border: 1px solid red;
}
.tt-input {
    background-color: rgba(50,50,50,15%) !important;
    border: none;
}
.tt-input:active {
    border: 1px solid red;
}
</style>
{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        var dark_mode = '{{request.session.dark_mode}}';
        var dark_mode_django = '{{dark_mode}}';
        var url = '{{PREFIX_URL}}';
        var language_code = '{{LANGUAGE_CODE}}';
        var saving_str = '{{saving_str|escapejs}}';
        var permission = 0;
        {% for s_dataset in selected_datasets %}
        {% get_obj_perms request.user for s_dataset as "dataset_perms" %}
        {% if "change_dataset" in dataset_perms %}
        permission += 1;
        {% endif %}
        {% endfor %}
        if (permission > 0) {
            user_can_add_gloss = true;
        } else {
            user_can_add_gloss = false;
        };
    var gloss_dataset_id = {{ last_used_dataset.id}};
    var gloss_default_language_code = '{{last_used_dataset.default_language.language_code_2char}}';
    var csrf_token = '{{csrf_token}}';

    </script>

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.mini_colors.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.checkbox.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/gloss_add.js"></script>
    <script type='text/javascript' src="{{STATIC_URL}}js/lemma_typeahead.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/drag_drop_files.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/recordscript.js"></script>

    <script type="text/javascript">
    var lemma_create_field_prefix = "{{lemma_create_field_prefix}}";
    var lookahead_initial_language = "{{default_dataset_lang}}";

    $(document).ready(function(){
        /**
         * In the 'add gloss' form, toggle the annotation idgloss fields depending on the chosen dataset
         */
         set_annotationidglosslanguages();

         $('#id_dataset').change(function() {
            set_annotationidglosslanguages();
         });

         set_initial_language_lemma_lookahead(lookahead_initial_language);
    });

    /**
     * set the lemma language for the chosen dataset
     */
    function do_set_lemma_language(el) {
      var dataset_language_id = $(el).attr('value');
      $("#selected_lemma_language").attr('value',dataset_language_id);
      language_code = dataset_language_id;
      set_lemma_language();
    }

    function copyTranslationsToLemma(el) {
        $("[id*='glosscreate_']").each(function(){
            if ($(this).is("input")) {
                $annotation_field = $(this).attr('id');
                $language_code = $annotation_field.split("_").pop();
                $annotation_value = $(this).val();
                $elt = $("#lemmacreate_" + $language_code);
                $elt.attr('value', $annotation_value);
            }
        });
        return false;
    }
    </script>
{% endblock %}

{% block content %}

   {% if perms.dictionary.add_gloss %}
   <p>{% trans "Please provide some initial data" %}:</p>
     <form action='{% url "dictionary:add_gloss" %}' method='POST' enctype="multipart/form-data">
         {% csrf_token %}
         <table class='table table-condensed-light' style='width: 1200px;'>
             <tr>
                 <th style='width:300px;'><label for='id_dataset'>Dataset</label></th>
                 <td class='td td-light'><select id="id_dataset" name="dataset" required="">
                         {% for s_dataset in selected_datasets %}
                         {% get_obj_perms request.user for s_dataset as "dataset_perms" %}
                         {% if "change_dataset" in dataset_perms %}
                         {% if last_used_dataset and last_used_dataset == s_dataset.acronym %}
                         <option value="{{s_dataset.id}}" selected="selected"
                                 dataset_languages="{% for dataset_lang in s_dataset.translation_languages.all %}{{dataset_lang.language_code_2char}}{% if not forloop.last %},{% endif %}{% endfor %}">{{s_dataset.acronym}}</option>
                         {% else %}
                         <option value="{{s_dataset.id}}"
                                 dataset_languages="{% for dataset_lang in s_dataset.translation_languages.all %}{{dataset_lang.language_code_2char}}{% if not forloop.last %},{% endif %}{% endfor %}">{{s_dataset.acronym}}</option>
                         {% endif %}
                         {% endif %}
                         {% endfor %}
                     </select></td>
             </tr>
             {% for dataset_lang in dataset_languages %}
             <tr>
                 <th id="add_gloss_dataset_header_{{dataset_lang.language_code_2char}}">
                     <label for="id_annotation_idgloss_{{dataset_lang.language_code_2char}}">{% trans "Annotation ID Gloss" %} ({{dataset_lang.name}})</label>
                 </th>
                 <td id="add_gloss_dataset_value_{{dataset_lang.language_code_2char}}" class='td td-light'>
                     <input id="glosscreate_{{dataset_lang.language_code_2char}}"
                            name="glosscreate_{{dataset_lang.language_code_2char}}"
                            required="" maxlength="30" type="text"
                            size="50" />
                 </td>
             </tr>
             {% endfor %}
             <tr>
                 <th><label for='id_idgloss'>{% trans "Lemma ID Gloss" %}</label></th>
                 <td class='td td-light'>
                         <div id="lemma_select">
                             <div><label>{% trans "Select Existing Lemma" %}</label>&nbsp;
                             <label><a href="#" onclick="return toggleAddLemma()">{% trans "Create New Lemma" %}</a></label>
                             </div>
                             <label for="selected_lemma_language">
                             <span id="selected_lemma_language" value="{{default_dataset_lang}}">
                             {% for dataset_lang in dataset_languages %}
                                 <input id="lemma_language_{{dataset_lang.language_code_2char}}"
                                        type="radio" name="lemma_language" onclick="do_set_lemma_language(this)"
                                        value="{{dataset_lang.language_code_2char}}"/>
                                 <label id="lemma_language_label_{{dataset_lang.language_code_2char}}">{{dataset_lang.name}}</label>
                             {% endfor %}
                             </span>
                             </label>
                             <br/>
                             <!-- Input of the type ahead -->
                             <div class="text-container" data-toggle="tooltip" data-placement="top" style="z-index:100;"
                                    title='{% trans "Type in the initial letters to see if the lemma already exists." %}' >
                             <input class='form-control form-control-light lemmatypeahead lemmatypeahead-light'
                                    placeholder='{% trans "Select Existing Lemma" %}' size="50" />
                             <!-- Input that holds the lemma id the user chose from the type ahead -->
                             <input type='hidden' name='idgloss' value='confirmed' required="">
                             </div>
                         </div>
                         <div id="lemma_add">
                             <div class="btn-group"><label>{% trans "Create New Lemma" %}</label>&nbsp;
                                 <label><a href="#" onclick="return toggleAddLemma()">{% trans "Select Existing Lemma" %}</a></label>
                             </div>
                             <table>
                            {% for dataset_lang in dataset_languages %}
                             <tr>
                             <td style="width:100px;">
                             <span id="{{lemma_create_field_prefix}}_header_{{dataset_lang.language_code_2char}}"
                                   style="line-height:30px;">{{dataset_lang.name}}</span>
                             </td>
                             <td style="align:right;">
                                <input id="{{lemma_create_field_prefix}}{{dataset_lang.language_code_2char}}"
                                       name="{{lemma_create_field_prefix}}{{dataset_lang.language_code_2char}}"
                                       maxlength="30" type="text"
                                       size="50" />
                            </td>
                            </tr>
                            {% endfor %}
                            </table>
                             <span style="line-height:40px;width:auto;">
                                 <button style="line-height:20px;width:auto;" type="button" class="btn btn-primary"
                                         onclick="copyTranslationsToLemma(this)">{% trans "Copy Annotation Fields to Lemma Translations" %}</button>
                             </span>
                         </div>
                         <input type="hidden" id="select_or_new_lemma" name="select_or_new_lemma" value="select"/>
                     </td>
             </tr>
            {% if 'videofile' in OBLIGATORY_FIELDS %}
            <tr>
             {% csrf_token %}
             <th>{% trans "Upload New Video" %}</th>
                <td style="width:400px;">
                <div class='editform'>
                    <fieldset>
                        <label for="id_videofile" class="drop-container" id="drop-container-video">
                          <div id="videogallery" class="gallery"></div>
                          <span id = "drop-container-title-video" class="drop-title">Drop video here<br>or...</span>
                          <label id="drop-container-video-status" class="hide">Status here</label>
                          <form>
                            {% csrf_token %}
                            <table>
                              <tr>
                                <td>{{videoform.videofile}}</td>
                              </tr>
                              <tr>
                                <td id="video-buttons">
                                    <input class='btn btn-primary' type='button' value='Upload' />
                                </td>
                              </tr>
                            </table>
                          </form>
                        </label>
                    </fieldset>
                </div>
                </td>
            </tr>
             {% endif %}
             {% if 'handedness' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'handedness' as handedness_field %}
                 <th><label for="handedness">{{handedness_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="handedness" id="handedness">
                        {% for value, text in handedness_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             {% endif %}
             {% if 'domhndsh' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'domhndsh' as domhndsh_field %}
                 <th><label for="domhndsh">{{domhndsh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="domhndsh" id="domhndsh">
                        {% for value, text in domhndsh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             {% endif %}
             {% if 'domhndsh_letter' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'domhndsh_letter' as domhndsh_letter_field %}
                 <th><label for="domhndsh_letter">{{domhndsh_letter_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="domhndsh_letter" id="domhndsh_letter">
                        {% for value, text in domhndsh_letter_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             {% endif %}
             {% if 'domhndsh_number' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'domhndsh_number' as domhndsh_number_field %}
                 <th><label for="domhndsh_number">{{domhndsh_number_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="domhndsh_number" id="domhndsh_number">
                        {% for value, text in domhndsh_number_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             {% endif %}
             {% if 'subhndsh' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'subhndsh' as subhndsh_field %}
                 <th><label for="subhndsh">{{subhndsh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="subhndsh" id="subhndsh">
                        {% for value, text in subhndsh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             {% endif %}
             {% if 'subhndsh_letter' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'subhndsh_letter' as subhndsh_letter_field %}
                 <th><label for="subhndsh_letter">{{subhndsh_letter_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="subhndsh_letter" id="subhndsh_letter">
                        {% for value, text in subhndsh_letter_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             {% endif %}
             {% if 'subhndsh_number' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'subhndsh_number' as subhndsh_number_field %}
                 <th><label for="subhndsh_number">{{subhndsh_number_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="subhndsh_number" id="subhndsh_number">
                        {% for value, text in subhndsh_number_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             {% endif %}
             {% if 'release_information' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'release_information' as release_information_field %}
                 <th><label for="release_information">{{release_information_field.label}}</label></th>
                 <td class='td td-light'><input style="width:100%" name="release_information" id="release_information"
                                                value="{{release_information_field.value}}" maxlength="128" type="text"/></td>
                 {% endwith %}
             </tr>
             {% endif %}
             {% if 'dialect' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'dialect' as dialect_field %}
                 <th><label for="id_dialect">{{dialect_field.label}}</label></th>
                 <td class='td td-light'>{{add_gloss_form.dialect}}</td>
                 {% endwith %}
             </tr>
             {% endif %}
             {% if 'semField' in OBLIGATORY_FIELDS %}
             <tr>
                 {% with add_gloss_form.fields|get_item:'semField' as semField_field %}
                 <th><label for="id_semField">{{semField_field.label}}</label></th>
                 <td class='td td-light checkbox-inline'>
                     <div style="column-count:3;column-width:200px;">
                     {{add_gloss_form.semField}}
                     </div>
                 </td>
                 {% endwith %}
             </tr>
             {% endif %}
         </table>

     <input class='btn btn-primary' type='submit' value='{% trans "Add New Sign" %}'>
     </form>
  {% endif %}
<br><br><br>
{% endblock %}
