{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Add New Sign{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

<style>
.hasTooltip:hover .isTooltip {
    position: fixed;
    placement: top !important;
    bottom: 100%;
}
</style>
{% block extrajs %}

    <script type="text/javascript">
        var url = '{{ PREFIX_URL }}';
        var language_code = '{{LANGUAGE_CODE}}';
        var permission = 0;
        {% for s_dataset in selected_datasets %}
        {% get_obj_perms request.user for s_dataset as "dataset_perms" %}
        {% if "change_dataset" in dataset_perms %}
        permission += 1;
        {% endif %}
        {% endfor %}
        if (permission > 0) {
            user_can_add_gloss = true;
        } else {
            user_can_add_gloss = false;
        };
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/lemma_typeahead.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gloss_add.js"></script>

    <script type="text/javascript">
    var lemma_create_field_prefix = "{{ lemma_create_field_prefix }}"

    $(document).ready(function(){
        /**
         * In the 'add gloss' form, toggle the annotation idgloss fields depending on the chosen dataset
         */
         set_annotationidglosslanguages();

         $('#id_dataset').change(function() {
            set_annotationidglosslanguages();
         });
    });

    /**
     * set the lemma language for the chosen dataset
     */
    function do_set_lemma_language(el) {
      var dataset_language_id = $(el).attr('value');
      $("#selected_lemma_language").attr('value',dataset_language_id);
      language_code = dataset_language_id;
      set_lemma_language();
    }
    </script>

{% endblock %}

{% block content %}

<!--   {% if perms.dictionary.add_gloss %}-->
   <p>{% trans "Please provide some initial data" %}:</p>
     <form action='{% url "dictionary:add_gloss" %}' method='POST'>
         {% csrf_token %}
         <table class='table' style='width: 1200px;'>
             <tr>
                 <th style='width:300px;'><label for='dataset'>Dataset</label></th>
                 <td><select id="id_dataset" name="dataset" required="">
                         {% for s_dataset in selected_datasets %}
                         {% get_obj_perms request.user for s_dataset as "dataset_perms" %}
                         {% if "change_dataset" in dataset_perms %}
                         {% if last_used_dataset and last_used_dataset == s_dataset.acronym %}
                         <option value="{{ s_dataset.id }}" selected="selected"
                                 dataset_languages="{% for dataset_lang in s_dataset.translation_languages.all %}{{ dataset_lang.language_code_2char }}{% if not forloop.last %},{% endif %}{% endfor %}">{{ s_dataset.acronym }}</option>
                         {% else %}
                         <option value="{{ s_dataset.id }}"
                                 dataset_languages="{% for dataset_lang in s_dataset.translation_languages.all %}{{ dataset_lang.language_code_2char }}{% if not forloop.last %},{% endif %}{% endfor %}">{{ s_dataset.acronym }}</option>
                         {% endif %}
                         {% endif %}
                         {% endfor %}
                     </select></td>
             </tr>
             <tr>
                 <th><label for='id_idgloss'>{% trans "Lemma ID Gloss" %}</label></th>
                 <td>
                         <div id="lemma_select">
                             <div><label>{% trans "Select Existing Lemma" %}</label>&nbsp;
                             <label><a href="#" onclick="return toggleAddLemma()">{% trans "Create New Lemma" %}</a></label>
                             </div>
                             <label for="id_lemma_language_select">
                             <span id="selected_lemma_language" value="">
                             {% for dataset_lang in dataset_languages %}
                                 <input id="lemma_language_{{ dataset_lang.language_code_2char }}"
                                        type="radio" name="lemma_language" onclick="do_set_lemma_language(this)"
                                        value="{{ dataset_lang.language_code_2char }}"/>
                                 <label id="lemma_language_label_{{ dataset_lang.language_code_2char }}">{{dataset_lang.name}}</label>
                             {% endfor %}
                             </span>
                             </label>
                             <br/>
                             <!-- Input of the type ahead -->
                             <div class="text-container" data-toggle="tooltip" data-placement="top" style="z-index:100;"
                                    title='{% trans "Type in the initial letters to see if the lemma already exists." %}' >
                             <input class='form-control lemmatypeahead' placeholder='{% trans "Select Existing Lemma" %}' size="50" />
                             <!-- Input that holds the lemma id the user chose from the type ahead -->
                             <input type='hidden' name='idgloss' value='confirmed' required="">
                             </div>
                         </div>
                         <div id="lemma_add">
                             <div class="btn-group"><label>{% trans "Create New Lemma" %}</label>&nbsp;
                                 <label><a href="#" onclick="return toggleAddLemma()">{% trans "Select Existing Lemma" %}</a></label>
                             </div>
                             <table>
                            {% for dataset_lang in dataset_languages %}
                             <tr>
                             <td style="width:100px;">
                             <span id="{{ lemma_create_field_prefix }}_header_{{ dataset_lang.language_code_2char }}">{{ dataset_lang.name }}</span>
                             </td>
                             <td style="align:right;">
                                <input id="{{ lemma_create_field_prefix }}{{ dataset_lang.language_code_2char }}"
                                       name="{{ lemma_create_field_prefix }}{{ dataset_lang.language_code_2char }}"
                                       maxlength="30" type="text"
                                       size="50" />
                            </td>
                            </tr>
                            {% endfor %}
                            </table>
                         </div>
                         <input type="hidden" id="select_or_new_lemma" name="select_or_new_lemma" value="select"/>
                     </td>
             </tr>
             {% for dataset_lang in dataset_languages %}
             <tr>
                 <th id="add_gloss_dataset_header_{{ dataset_lang.language_code_2char }}">
                     <label for="id_annotation_idgloss_{{dataset_lang.language_code_2char}}">{% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})</label>
                 </th>
                 <td id="add_gloss_dataset_value_{{ dataset_lang.language_code_2char }}">
                     <input id="glosscreate_{{ dataset_lang.language_code_2char }}"
                            name="glosscreate_{{ dataset_lang.language_code_2char }}"
                            required="" maxlength="30" type="text"
                            size="50" />
                 </td>
             </tr>
             {% endfor %}
         </table>

     <input class='btn btn-primary' type='submit' value='{% trans "Add New Sign" %}'>
     </form>
<!--      {% endif %}-->

{% endblock %}
