{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Add New Sign{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block extrahead %}
<style>
.hasTooltip:hover .isTooltip {
    position: fixed;
    placement: top !important;
    bottom: 100%;
}
input[type="text"] {
    background-color: rgba(50,50,50,15%);
    border: none;
}
input[type="text"]:focus {
    border: 1px solid red;
}
.tt-input {
    background-color: rgba(50,50,50,15%) !important;
    border: none;
}
.tt-input:active {
    border: 1px solid red;
}
</style>
{% endblock %}

{% block extrajs %}

<script type="text/javascript">
var dark_mode = '{{request.session.dark_mode}}';
var dark_mode_django = '{{dark_mode}}';
var url = '{{PREFIX_URL}}';
var csrf_token = '{{csrf_token}}';

</script>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.mini_colors.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/typeahead.bundle.min.js"></script>

{% endblock %}

{% block content %}
   <h3>{% trans "Phonological Variations" %}</h3>
    <div id="view_tabs" style="margin-right:15px;margin-top:10px;z-index:100;" class='view-tabs view-tabs-light'>
     <table class='table table-condensed-light' style='width: 1200px;'>
              <tr>
			  <th style="color:darkred">{% trans "Source Sign" %}</th>
              </tr>
			  {% for lang, annotation_idgloss_translation in annotation_idgloss.items %}
                  <tr>
					<th style="width:400px;">
						{% trans "Annotation ID Gloss" %} ({{ lang }})
					</th>
					<td id='annotation_idgloss_{{ lang.language_code_2char }}'>
						<a href='{% url "dictionary:admin_gloss_view" pk=gloss.id %}'>{{ annotation_idgloss_translation }}</a></td>
                  </tr>
			  {% endfor %}
     </table>
     <table class='table table-condensed-light' style='width: 1200px;'>
             <tr>
			    <th style="color:darkred">{% trans "Phonology" %}</th>
             </tr>
             <tr>
                 <th></th>
                 <th class='td td-light' style="color:darkred">{% trans "Variation" %} #0</th>
                 {% for gv in gloss_variations %}
                 <th class='td td-light' style="color:darkred">{% trans "Variation" %} #{{gv.variation}}</th>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Handedness" %}</th>
                 <td class='td td-light'>{{gloss.display_handedness}}</td>
                 {% for gv in gloss_variations %}
                 <td class='td td-light'>{{gv.display_handedness}}</td>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Strong Hand" %}</th>
                 <td class='td td-light'>{{gloss.display_domhndsh}}</td>
                 {% for gv in gloss_variations %}
                 <td class='td td-light'>{{gv.display_domhndsh}}</td>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Weak Hand" %}</th>
                 <td class='td td-light'>{{gloss.display_subhndsh}}</td>
                 {% for gv in gloss_variations %}
                 <td class='td td-light'>{{gv.display_subhndsh}}</td>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Handshape Change" %}</th>
                 <td class='td td-light'>{{gloss.display_handCh}}</td>
                 {% for gv in gloss_variations %}
                 <td class='td td-light'>{{gv.display_handCh}}</td>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Relation between Articulators" %}</th>
                 <td class='td td-light'>{{gloss.display_relatArtic}}</td>
                 {% for gv in gloss_variations %}
                 <td class='td td-light'>{{gv.display_relatArtic}}</td>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Location" %}</th>
                 <td class='td td-light'>{{gloss.display_locprim}}</td>
                 {% for gv in gloss_variations %}
                 <td class='td td-light'>{{gv.display_locprim}}</td>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Movement Shape" %}</th>
                 <td class='td td-light'>{{gloss.display_movSh}}</td>
                 {% for gv in gloss_variations %}
                 <td class='td td-light'>{{gv.display_movSh}}</td>
                 {% endfor %}
             </tr>
             <tr>
                 <th>{% trans "Orientation Change" %}</th>
                 <td class='td td-light'>{{gloss.display_oriCh}}</td>
                 {% for gv in gloss_variations %}
                 <td class='td td-light'>{{gv.display_oriCh}}</td>
                 {% endfor %}
             </tr>
    </table>
    </div>
   {% if perms.dictionary.add_gloss %}
   <h4>{% trans "Add Phonological Variation" %}</h4>
   <div>
     <form action='{% url "dictionary:add_phonological_variation" glossid=gloss.id %}' method='POST' enctype="multipart/form-data">
         {% csrf_token %}
         <table class='table table-condensed-light' style='width: 1200px;'>

             <tr>
                 {% with add_variation_form.fields|get_item:'handedness' as handedness_field %}
                 <th><label for="handedness">{{handedness_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="handedness" id="handedness">
                        {% for value, text in handedness_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'domhndsh' as domhndsh_field %}
                 <th><label for="domhndsh">{{domhndsh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="domhndsh" id="domhndsh">
                        {% for value, text in domhndsh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'domhndsh_letter' as domhndsh_letter_field %}
                 <th><label for="domhndsh_letter">{{domhndsh_letter_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="domhndsh_letter" id="domhndsh_letter">
                        {% for value, text in domhndsh_letter_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'domhndsh_number' as domhndsh_number_field %}
                 <th><label for="domhndsh_number">{{domhndsh_number_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="domhndsh_number" id="domhndsh_number">
                        {% for value, text in domhndsh_number_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'subhndsh' as subhndsh_field %}
                 <th><label for="subhndsh">{{subhndsh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="subhndsh" id="subhndsh">
                        {% for value, text in subhndsh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'subhndsh_letter' as subhndsh_letter_field %}
                 <th><label for="subhndsh_letter">{{subhndsh_letter_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="subhndsh_letter" id="subhndsh_letter">
                        {% for value, text in subhndsh_letter_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'subhndsh_number' as subhndsh_number_field %}
                 <th><label for="subhndsh_number">{{subhndsh_number_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="subhndsh_number" id="subhndsh_number">
                        {% for value, text in subhndsh_number_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>

             <tr>
                 {% with add_variation_form.fields|get_item:'handCh' as handCh_field %}
                 <th><label for="handCh">{{handCh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="handCh" id="handCh">
                        {% for value, text in handCh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'relatArtic' as relatArtic_field %}
                 <th><label for="relatArtic">{{relatArtic_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="relatArtic" id="relatArtic">
                        {% for value, text in relatArtic_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'locprim' as locprim_field %}
                 <th><label for="locprim">{{locprim_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="locprim" id="locprim">
                        {% for value, text in locprim_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'movSh' as movSh_field %}
                 <th><label for="movSh">{{movSh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="movSh" id="movSh">
                        {% for value, text in movSh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
             <tr>
                 {% with add_variation_form.fields|get_item:'oriCh' as oriCh_field %}
                 <th><label for="oriCh">{{oriCh_field.label}}</label></th>
                 <td class='td td-light'>
                    <select name="oriCh" id="oriCh">
                        {% for value, text in oriCh_field.choices %}
                        <option value={{value}}>{{text}}</option>
                        {% endfor %}
                    </select></td>
                 {% endwith %}
             </tr>
         </table>

     <input class='btn btn-primary' type='submit' value='{% trans "Add Phonological Variation" %}'>
     </form>

   </div>
  {% endif %}
<br><br><br>
{% endblock %}
