{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Search Handshapes{% endblocktrans %}
{% endblock %}
{% block extrahead %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type='text/javascript'>
    var url = '{{PREFIX_URL}}';
    var language_code = '{{ LANGUAGE_CODE }}';

    <!--var edit_mode_str = '{% trans "Edit" %}'-->
    <!--var turn_off_edit_mode_str = '{% trans "Turn Off Edit Mode" %}'-->
    var saving_str = '{% trans "Saving..." %}'

    </script>

    <script type='text/javascript'>


// http://www.javascript-coder.com/javascript-form/javascript-reset-form.phtml
function clearForm(myFormElement) {

  var elements = myFormElement.elements;

  myFormElement.reset();

  for(i=0; i<elements.length; i++) {

      field_type = elements[i].type.toLowerCase();
      field_name = elements[i].name;

      if (field_name == 'search_type') {
        elements[i].value = "handshape";
      }
      else if (field_name == 'sortOrder') {
        elements[i].value = "machine_value";
      }
      else {
          switch(field_type) {

            case "text":
            case "textarea":

              elements[i].value = "";
              break;

            case "radio":
            case "checkbox":
              if (elements[i].checked) {
                  elements[i].checked = false;
              }
              break;

            case "select-one":
            case "select-multiple":
              elements[i].selectedIndex = -1;
              break;

            default:
              break;
          }
      }
  }
  return(false);
  <!--document.getElementById('adminsearch').submit();-->
}

/**
 * @param {string} field_name - name of the field to sort on
 * @param {string} action     - one of: desc, asc, del
 * @param {string} frmName    - name of the <form ...> that contains the 'sortOrder' <input> field
 * @returns {void}
 */
function do_sort_column(field_name, action, frmName) {
  // Combine @field_name and @action into [sOrder]
  var sOrder = field_name;
  <!--console.log("sOrder: " + sOrder);-->

  if (action == 'desc') {
    // Descending sort order is signified by a '-' prefix
    sOrder = '-' + sOrder;
  } else if (action == 'del') {
    // "Deleting" (pressing 'x') the sort order of a column means: return to the default 'machine_value' sort order
    sOrder = 'machine_value';
  }

  // Set the value of the [sortOrder] field defined in dictionary/forms.py::HandshapeSearchForm
  $("#" + frmName + " input[name='sortOrder']").val(sOrder);

  // Submit the form with the indicated name
  $("#" + frmName).submit();
}


/**
 * @returns {void}
 */
function do_adminsearch(el) {
 var sSearchType = $(el).attr('value');
 $(el).selected = true;
 <!--console.log("inside of do_adminsearch with sSearchType: " + sSearchType);-->
  $("#adminsearch input[name='search_type']").val(sSearchType);
  switch(sSearchType) {
    case "sign_handshape":
        <!--console.log("request to search sign");-->
        $("#adminsearch").attr('action', '{{PREFIX_URL}}/dictionary/handshapes/');
        break;
    case "handshape":
        $("#adminsearch").attr('action', '{{PREFIX_URL}}/dictionary/handshapes/');
        break;
  }
  document.getElementById('adminsearch').submit();
}
   </script>

    <script type='text/javascript' src="{{ STATIC_URL }}js/handshape_search.js"></script>

    <!-- Expand and collapse all panels -->
    <script type='text/javascript'>
        $('#expand-panels').on('click', function() {
            $('#finger_selection .collapse').collapse('show');
        });
        $('#collapse-panels').on('click', function() {
            $('#finger_selection .collapse').collapse('hide');
        });
         <!--$('#panel-expand-collapse-btn-toolbar').css({-->
            <!--'height': $('#panel-expand-collapse-btn-group').css('height'),-->
         <!--});-->
    </script>
{% endblock %}

{% block content %}

<div id="definitionblock">
{% url 'dictionary:protected_media' '' as protected_media_url %}
</div>
<div id='searchformwell' class='well'>
<form name='adminsearch' id='adminsearch'>
<div class="panel panel-default">
{% if not user.is_anonymous %}
<div class="panel-heading" data-toggle="collapse" data-target="#queryarea">{% trans "Form Your Query" %}</div>
<div id='queryarea' class='panel-collapse collapse'>
        <div class="hidden">
            <input name='sortOrder' class='form-control' value='machine_value' >
            <input name='search_type' class='form-control' value='handshape'>
        </div>
     {% with request.LANGUAGE_CODE as language %}
                <div id='handshape_name'>
                    {% csrf_token %}
                    <table class='table'>
                        <tr id='handshape_name_field'>
                            <td><label for='id_name'>{% trans "Handshape name" %}</label></td>
                            <td><input class='form-control handshapetypeahead' placeholder='{% trans "Handshape name" %}' name='name' type='text'
                                       value='{{searchform.name.value|default:'' }}'/></td>
                        </tr>
                    </table>
                </div>
    {% endwith %}
                {# spacing div to allow room for typeahead dropdown #}
                <div style='height: 4em'></div>

                <div class="panel-heading" data-toggle="collapse" data-target="#finger_selection" id="fingerSelectionPanels">
                    <div class='panel-title' id='finger_selection_heading'>
                        <a data-toggle='collapse' href='#finger_selection'><label>{% trans "Finger Selection" %}</label></a>
                    </div>
                    <div class="btn-toolbar" role="toolbar" id="panel-expand-collapse-btn-toolbar">
                    <div class="pull-right">
                            <div class="btn-group" id="panel-expand-collapse-btn-group" style="top: -20px;">
                                <button id="expand-panels" type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                                <button id="collapse-panels" type="button" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id='finger_selection'>
                    <div class="panel panel-default" id="selectFirstFingers">
                        <div class="panel-heading">
                            <div class='panel-title'>
                                <a data-toggle='collapse' href='#finger_selection_1' for='id_hsFingSel'>{{searchform.hsFingSel.label}}</a>
                            </div>
                        </div>
                        <div id='finger_selection_1' class='panel-collapse collapse'>
                            <table class='table'>
                                <tr>
                                    <td/>
                                    <td>
                                        <div class='input-group'>
                                        <label class='input-group-addon' for='id_fsT'>T</label>
                                        {{searchform.fsT}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class='input-group'>
                                        <label class='input-group-addon' for='id_fsI'>I</label>
                                        {{searchform.fsI}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class='input-group'>
                                        <label class='input-group-addon' for='id_fsM'>M</label>
                                        {{searchform.fsM}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class='input-group'>
                                        <label class='input-group-addon' for='id_fsR'>R</label>
                                        {{searchform.fsR}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class='input-group'>
                                        <label class='input-group-addon' for='id_fsP'>P</label>
                                        {{searchform.fsP}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                </div>
                <div class="panel panel-default" id="selectSecondFingers">
                    <div class="panel-heading">
                        <div class='panel-title'>
                            <a data-toggle='collapse' href='#finger_selection_2' for='id_hsFingSel2'>{{searchform.hsFingSel2.label}}</a>
                        </div>
                    </div>
                    <div id='finger_selection_2' class='panel-collapse collapse'>
                        <table class='table'>
                            <tr>
                                <td/>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_fs2T'>T</label>
                                    {{searchform.fs2T}}
                                    </div>
                                </td>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_fs2I'>I</label>
                                    {{searchform.fs2I}}
                                    </div>
                                </td>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_fs2M'>M</label>
                                    {{searchform.fs2M}}
                                    </div>
                                </td>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_fs2R'>R</label>
                                    {{searchform.fs2R}}
                                    </div>
                                </td>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_fs2P'>P</label>
                                    {{searchform.fs2P}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default" id="selectThirdFingers">
                    <div class="panel-heading">
                        <div class='panel-title'>
                            <a data-toggle='collapse' href='#unselected_fingers' for='id_hsFingUnsel'>{{searchform.unselectedFingers.label}}</a>
                        </div>
                    </div>
                    <div id='unselected_fingers' class='panel-collapse collapse'>
                        <table class='table'>
                            <tr>
                                <td/>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_ufT'>T</label>
                                    {{searchform.ufT}}
                                    </div>
                                </td>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_ufI'>I</label>
                                    {{searchform.ufI}}
                                    </div>
                                </td>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_ufM'>M</label>
                                    {{searchform.ufM}}
                                    </div>
                                </td>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_ufR'>R</label>
                                    {{searchform.ufR}}
                                    </div>
                                </td>
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_ufP'>P</label>
                                    {{searchform.ufP}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>

                <table class='table'>
                        <tr><td><label for='id_hsFingConf'>{{searchform.hsFingConf.label}}</label></td><td>{{searchform.hsFingConf}}</td></tr>
                        <tr><td><label for='id_hsFingConf2'>{{searchform.hsFingConf2.label}}</label></td><td>{{searchform.hsFingConf2}}</td></tr>
                        <tr><td><label for='id_hsNumSel'>{{searchform.hsNumSel.label}}</label></td><td>{{searchform.hsNumSel}}</td></tr>
                        <tr><td><label for='id_hsSpread'>{{searchform.hsSpread.label}}</label></td><td>{{searchform.hsSpread}}</td></tr>
                        <tr><td><label for='id_hsAperture'>{{searchform.hsAperture.label}}</label></td><td>{{searchform.hsAperture}}</td></tr>
                </table>
            </div>

<div class='btn-group'>
    <!-- Make sure no button has the *name* 'submit', otherwise submit() cannot be used -->
    <div class="btn-group">
        <a class='btn btn-primary dropdown-toggle' data-toggle="dropdown" type='submit' name='submit_button'>
            <span data-bind="label" onclick="do_adminsearch(this);"  name="search_type" value="{{search_type}}">
                {% if search_type == 'handshape' %}
                {% trans "Search Handshape" %}
                {% else %}
                {% trans "Search Sign by Handshape" %}
                {% endif %}
            </span>&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="#" onclick="do_adminsearch(this);" type='submit' name="search_type" value="handshape">{% trans "Search Handshape" %}</a></li>

            <li><a href="#" onclick="do_adminsearch(this);" type='submit' name="search_type" value="sign_handshape">{% trans "Search Sign by Handshape" %}</a></li>
        </ul>
    </div>
    <!-- The element below adds an invisible submit option, so the 'button' above also works when enter is pressed -->
    <input type="submit" style="visibility: hidden;" />

    {% if perms.dictionary.export_csv %}
    <input class='btn btn-default' type='submit' name='format' value='CSV'>
    {% endif %}

    <input class='btn btn-default' type='submit' onclick="clearForm(document.adminsearch);" value='{% trans "Reset" %}'>
</div>
{% endif %}
</div>
</form>
</div>

<div><p></p><p></p></div>

{% if search_type == 'handshape' %}

{% if not user.is_anonymous %}
<p>{% trans "Number of Matches:" %} {{ object_list|length }} {% trans "out of" %} {{handshapescount}}.</p>
{% endif %}

{% if object_list %}

{% load field_choice %}

{% with request.LANGUAGE_CODE as language %}


<table class='table table-condensed'>
    <thead>
      <tr>
          <th>{% trans "Handshape" %}</th>
          {% if language == 'nl' %}
          <th>{% trans "Dutch name" %}</th>
        {% elif language == 'zh-hans' %}
          <th>{% trans "Chinese name" %}</th>
        {% else %}
          <th>{% trans "English name" %}</th>
        {% endif %}
          <th>{% trans "Finger Selection" %}</th>
          <th>{% trans "Finger Configuration" %}</th>
          <th>{% trans "Finger Selection 2" %}</th>
          <th>{% trans "Finger Configuration 2" %}</th>
          <th>{% trans "Quantity" %}</th>
          <!--<th>{% trans "Thumb" %}</th>-->
          <th>{% trans "Unselected Fingers Extended" %}</th>
          <th>{% trans "Spreading" %}</th>
          <th>{% trans "Aperture" %}</th>
      </tr>
    <tr>
       <th></th>
       <th>
         <a href="#" onclick="do_sort_column('name','asc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == 'name' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
         </a>
         <a href="#" onclick="do_sort_column('name','desc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == '-name' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
         </a>
         {% if searchform.sortOrder and searchform.sortOrder.value == '-name' or searchform.sortOrder and searchform.sortOrder.value == 'name'  %}
           <a href="#" onclick="do_sort_column('name','del', 'adminsearch')">x</a>
         {% endif %}
       </th>
        <th>
         <a href="#" onclick="do_sort_column('hsFingSel','asc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == 'hsFingSel' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
         </a>
         <a href="#" onclick="do_sort_column('hsFingSel','desc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingSel' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
         </a>
         {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingSel' or searchform.sortOrder and searchform.sortOrder.value == 'hsFingSel'  %}
           <a href="#" onclick="do_sort_column('hsFingSel','del', 'adminsearch')">x</a>
         {% endif %}
        </th>
       <th>
         <a href="#" onclick="do_sort_column('hsFingConf','asc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == 'hsFingConf' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
         </a>
         <a href="#" onclick="do_sort_column('hsFingConf','desc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingConf' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
         </a>
         {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingConf' or searchform.sortOrder and searchform.sortOrder.value == 'hsFingConf'  %}
           <a href="#" onclick="do_sort_column('hsFingConf','del', 'adminsearch')">x</a>
         {% endif %}
       </th>
        <th>
         <a href="#" onclick="do_sort_column('hsFingSel2','asc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == 'hsFingSel2' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
         </a>
         <a href="#" onclick="do_sort_column('hsFingSel2','desc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingSel2' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
         </a>
         {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingSel2' or searchform.sortOrder and searchform.sortOrder.value == 'hsFingSel2'  %}
           <a href="#" onclick="do_sort_column('hsFingSel2','del', 'adminsearch')">x</a>
         {% endif %}
        </th>
       <th>
         <a href="#" onclick="do_sort_column('hsFingConf2','asc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == 'hsFingConf2' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
         </a>
         <a href="#" onclick="do_sort_column('hsFingConf2','desc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingConf2' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
         </a>
         {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingConf2' or searchform.sortOrder and searchform.sortOrder.value == 'hsFingConf2'  %}
           <a href="#" onclick="do_sort_column('hsFingConf2','del', 'adminsearch')">x</a>
         {% endif %}
       </th>
        <th>
         <a href="#" onclick="do_sort_column('hsNumSel','asc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == 'hsNumSel' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
         </a>
         <a href="#" onclick="do_sort_column('hsNumSel','desc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == '-hsNumSel' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
         </a>
         {% if searchform.sortOrder and searchform.sortOrder.value == '-hsNumSel' or searchform.sortOrder and searchform.sortOrder.value == 'hsNumSel'  %}
           <a href="#" onclick="do_sort_column('hsNumSel','del', 'adminsearch')">x</a>
         {% endif %}
       </th>
       <!--<th>-->
         <!--<a href="#" onclick="do_sort_column('hsThumb','asc', 'adminsearch')">-->
           <!--{% if searchform.sortOrder and searchform.sortOrder.value == 'hsThumb' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}-->
         <!--</a>-->
         <!--<a href="#" onclick="do_sort_column('hsThumb','desc', 'adminsearch')">-->
           <!--{% if searchform.sortOrder and searchform.sortOrder.value == '-hsThumb' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}-->
         <!--</a>-->
         <!--{% if searchform.sortOrder and searchform.sortOrder.value == '-hsThumb' or searchform.sortOrder and searchform.sortOrder.value == 'hsThumb'  %}-->
           <!--<a href="#" onclick="do_sort_column('hsThumb','del', 'adminsearch')">x</a>-->
         <!--{% endif %}-->
       <!--</th>-->
        <th>
         <a href="#" onclick="do_sort_column('hsFingUnsel','asc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == 'hsFingUnsel' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
         </a>
         <a href="#" onclick="do_sort_column('hsFingUnsel','desc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingUnsel' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
         </a>
         {% if searchform.sortOrder and searchform.sortOrder.value == '-hsFingUnsel' or searchform.sortOrder and searchform.sortOrder.value == 'hsFingUnsel'  %}
           <a href="#" onclick="do_sort_column('hsFingUnsel','del', 'adminsearch')">x</a>
         {% endif %}
        </th>
       <th>
         <a href="#" onclick="do_sort_column('hsSpread','asc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == 'hsSpread' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
         </a>
         <a href="#" onclick="do_sort_column('hsSpread','desc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == '-hsSpread' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
         </a>
         {% if searchform.sortOrder and searchform.sortOrder.value == '-hsSpread' or searchform.sortOrder and searchform.sortOrder.value == 'hsSpread'  %}
           <a href="#" onclick="do_sort_column('hsSpread','del', 'adminsearch')">x</a>
         {% endif %}
       </th>
       <th>
         <a href="#" onclick="do_sort_column('hsAperture','asc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == 'hsAperture' %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
         </a>
         <a href="#" onclick="do_sort_column('hsAperture','desc', 'adminsearch')">
           {% if searchform.sortOrder and searchform.sortOrder.value == '-hsAperture' %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
         </a>
         {% if searchform.sortOrder and searchform.sortOrder.value == '-hsAperture' or searchform.sortOrder and searchform.sortOrder.value == 'hsAperture'  %}
           <a href="#" onclick="do_sort_column('hsAperture','del', 'adminsearch')">x</a>
         {% endif %}
       </th>
    </tr>
    </thead>
    <tbody>
    {% for handshape in object_list %}
    <tr>

      <td>{%if handshape.get_image_path != None %}
          <div class="thumbnail_container">
              <img class="thumbnail_handshape" src="{{protected_media_url}}{{handshape.get_image_path}}">
          </div>
          {% endif %}
      </td>

        <td><a href="{{PREFIX_URL}}/dictionary/handshape/{{handshape.machine_value}}/">{{handshape.name}}</a></td>
            <td>{{ handshape.hsFingSel_fk.name }}</td>
            <td>{{ handshape.hsFingConf_fk.name }}</td>
            <td>{{ handshape.hsFingSel2_fk.name }}</td>
            <td>{{ handshape.hsFingConf2_fk.name }}</td>
            <td>{{ handshape.hsNumSel_fk.name }}</td>
            <!--<td>{{ handshape.hsThumb_fk.name }}</td>-->
            <td>{{ handshape.hsFingUnsel_fk.name }}</td>
            <td>{{ handshape.hsSpread_fk.name }}</td>
            <td>{{ handshape.hsAperture_fk.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
    {% endwith %}
</table>

{% endif %}

{% elif search_type == 'sign_handshape' %}

<p>{% trans "Number of Matches:" %} {{ object_list|length }} {% trans "out of" %} {{signscount}}.
        {% if selected_datasets %}
        {% trans "Datasets:" %}
        {% for ds in selected_datasets %}{{ds.name}}{% if not forloop.last %}, {% else %}.{% endif %}
        {% endfor %}
        {% endif %}</p>

{% if object_list %}

<table class='table table-condensed'>
    <thead>
      <tr>
          <th></th>
           {% for dataset_lang in dataset_languages %}
          <th>{% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})</th>
          {% endfor %}
          <th>{% trans "Dataset" %}</th>
           <th>{% trans "Handedness" %}</th>
           <th>{% trans "Strong Hand" %}</th>
           <th>{% trans "Weak Hand" %}</th>
      </tr>

    </thead>
    <tbody>
    {% for gloss in object_list %}

    <tr>
      <td>{%if gloss.get_image_path != None %}
          <div class="thumbnail_container">
          <a href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.pk}}/"><img class="thumbnail" src="{{protected_media_url}}{{gloss.get_image_path}}"></a>
          </div>
          {% endif %}
      </td>

        {% for dataset_lang in dataset_languages %}
        {% with gloss|get_annotation_idgloss_translation:dataset_lang as annotationidglosstranslation %}
      <td>
          {% ifnotequal annotationidglosstranslation "" %}
          <div><a href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.pk}}/">{{annotationidglosstranslation}}</a></div>
          {% endifnotequal %}
      </td>
        {% endwith %}
        {% endfor %}
        <td>{{ gloss.dataset.acronym }}</td>

            {% load field_choice %}

                <td>{{ gloss.handedness_fk.name }}</td>
                <td>{{ gloss.domhndsh_fk.name }}</td>
                <td>{{ gloss.subhndsh_fk.name }}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endif %}

{% endblock %}
