{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
{% blocktrans %}Configure Handshapes{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block content %}

<br/><br/>
{% if not USE_HANDSHAPE %}
<p>{% trans "Handshapes are not supported by your Signbank configuration." %}</p>
{% elif not user.is_superuser %}
<p>{% trans "You do not have permission to configure Handshapes." %}</p>
{% elif already_set_up %}
<p>{% trans "Handshapes are already configured." %}</p>
{% elif not revisions %}
<p>{% trans "No choices found for Handshape in FieldChoice." %}</p>
{% else %}
<p>{% trans "The following field choices have been set up for handshapes. They can be modified in Admin." %}</p>
<div id="definitionblock" style="z-index:0;padding-top: 100px;">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="width:20em; text-align:left;">{% trans "Machine Value" %}</th>
                <th style="width:25em; text-align:left;">{% trans "English Name" %}</th>
                <th style="width:40em; text-align:left;">{% trans "Dutch Name" %}</th>
                <th style="width:40em; text-align:left;">{% trans "Chinese Name" %}</th>
            </tr>
        </thead>

        {% for handshape in handshapes %}
            <tr>
                <td>{{handshape.machine_value}}</td>
                <td>{{handshape.english_name}}</td>
                <td>{{handshape.dutch_name}}</td>
                <td>{{handshape.chinese_name}}</td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endif %}
{% endblock %}
