{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Annotated sentences{% endblocktrans %}
{% endblock %}

{% load annotation_idgloss_translation %}

{% block extrajs %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.mini.js"></script>

<script type='text/javascript'>
var show_dataset_interface_options = {{ SHOW_DATASET_INTERFACE_OPTIONS|yesno:"true,false" }};
var csrf_token = '{{csrf_token}}';
var page_number = {{ page_number }};
var paginate_by = '{{paginate_by}}';
var page_number = {{page_obj.number}};
var populate_fields_keys = {{populate_fields_keys|safe}};
var populate_fields = {{populate_fields|safe}};

function clearForm() {
      $('input').each(function() {
        var this_field = $(this).attr('name');
        if (this_field == undefined) { return; };
        var this_type = $(this).attr('type');
        if (this_type == 'hidden' || this_type == 'submit') { return; };
        $(this).val('');
      });
      $('select').each(function() {
        var this_field = $(this).attr('name');
        if (this_field == undefined) { return; };
        var this_type = $(this).attr('type');
        if (this_type == 'hidden') { return; };
        $(this).val('0');
      });
     $("input[name='search']").val('');
     $('#show_all_annotatedsentences').val('');
     $('#show_all').val('False');
     $('#reset').val('reset');
}

function do_adminsearch(el) {
    $('#do_annotatedsentence_search').val('OK');
    $('#reset').val('');
    $("#adminsearch").attr('action', '{{PREFIX_URL}}/dictionary/annotatedsentence/');
    document.getElementById('adminsearch').submit();
}

function do_show_all(el) {
    $('#do_annotatedsentence_search').val('');
    $('#reset').val('');
    $('#show_all_annotatedsentences').val('True');
    $('#show_all').val('True');
    $("#adminsearch").attr('action', '{{PREFIX_URL}}/dictionary/annotatedsentence/');
    document.getElementById('adminsearch').submit();
}

</script>
{% endblock %}

{% block content %}


<div id="definitionblock">
    
    <form name='adminsearch' id='adminsearch' method='get' action='{{PREFIX_URL}}/dictionary/annotatedsentence/'>
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#query-area">{% trans "Form Your Query" %}
                {% if USE_REGULAR_EXPRESSIONS %}
                <span class="hasTooltip">
                    <span id="tooltip" class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-html="true"
                      title=""></span>
                    {% include "tooltip.html" with include_tags=True %}
                </span>
                {% endif %}
        </div>
    
        <div id='query-area' class='collapse {% if request.GET|length == 0 %} in {% endif %}'>
            <div id='searchformwell' class='well search-results-collapsable'>
                    <div>
                        <table class='table' id='searchfields'>
                            {% for dataset_lang in dataset_languages %}
                            <tr>
                                {% with searchform|get_annotatedsentence_form_field_for_language:dataset_lang as annotatedsentence_field %}
                                <td>
                                    <div class='input-group'>
                                        <label class='input-group-addon' for='id_annotatedsentence_{{ dataset_lang.language_code_2char }}'>
                                            {{annotatedsentence_field.label}}
                                        </label>
                                        <input name='annotatedsentence_{{dataset_lang.language_code_2char}}' type='text' class='form-control'>
                                    </div>
                                </td>
                                {% endwith %}
                            </tr>
                            {% endfor %}

                            <tr id="annotatedsentence_with_no_glosses">
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_no_glosses'>{{searchform.no_glosses.label}}</label>
                                        {{searchform.no_glosses}}
                                    </div>
                                </td>
                             </tr>
    
                             <tr id="annotatedsentence_with_glosses">
                                <td>
                                    <div class='input-group'>
                                    <label class='input-group-addon' for='id_has_glosses'>{{searchform.has_glosses.label}}</label>
                                        {{searchform.has_glosses}}
                                    </div>
                                </td>
                             </tr>
    
                        </table>
                    </div>
            </div>
        </div>
    </div>
    
    <div class='btn-group' style="margin-bottom: 20px">
        <button class='btn btn-primary' type='submit'
                id='annotatedsentence_search_button'
                onclick="do_adminsearch(this);"
                value='annotatedsentence'>{% trans "Search Annotated Sentence" %}
        </button>
        <input type='hidden' id='do_annotatedsentence_search' name='search_annotatedsentence' value="">
        <button class='btn btn-default' type='submit'
                id='show_all_annotatedsentences_button'
                onclick="do_show_all(this);"
                value='annotatedsentence'>{% trans "Show All" %}
        </button>
        <input type='hidden' id='show_all_annotatedsentences' name='show_all_annotatedsentences' value="">
        <input class='btn btn-default' type='submit' onclick="clearForm();"
                value='{% trans "Reset" %}'>
        <input type='hidden' id="reset" name="reset" value="">
    </div>

    <div>
        {% trans "Number of Matches:" %} {{search_matches}} {% if user.is_anonymous %}(publically available){% endif %} {% trans "out of" %} {{annotatedsentence_count}}.
    
        {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets %}
        {% trans "Datasets:" %}
        {% for ds in selected_datasets %}{{ds.acronym}}{% if not forloop.last %}, {% else %}.{% endif %}
        {% endfor %}
        {% endif %}
    </div>
            
    <br/>  
    
    {% if object_list %}

    </form>
    
    <table class='table table-condensed'>
        <thead>
        <tr>
            {% if SHOW_DATASET_INTERFACE_OPTIONS %}<th>{% trans "Dataset" %}</th>{% endif %}
            {% for dataset_lang in dataset_languages %}
            <th>{% trans "Translation" %} ({{ dataset_lang.name }})</th>
            {% endfor %}
            {% for dataset_lang in dataset_languages %}
            <th>{% trans "Glosses" %} ({{ dataset_lang.name }})</th>
            {% endfor %}
            <th>{% trans "Number of Glosses" %}</th>
            {% if perms.dictionary.change_annotatedsentence %}
            <th>{% trans "Update" %}</th>
            <th>{% trans "Delete" %}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for sentence in object_list %}
            <tr>
                {% if SHOW_DATASET_INTERFACE_OPTIONS %}
                <td>
                    {{ sentence.get_dataset.acronym }}
                </td>
                {% endif %}
                {% for dataset_lang in dataset_languages %}
                    {% with sentence|get_annotatedsentence_translation:dataset_lang as sentencetranslation %}
                    <td>
                    {% if sentencetranslation != "" %}
                        {{sentencetranslation}}
                    {% endif %}
                    </td>
                    {% endwith %}
                {% endfor %}
                {% for dataset_lang in dataset_languages %}
                    <td>
                        {% for annotated_gloss in sentence.annotated_glosses.all %}
                        <a href="{{ PREFIX_URL }}/dictionary/gloss/{{ annotated_gloss.gloss.id }}">{{ annotated_gloss|get_annotatedgloss_translation:dataset_lang }}</a>
                        {% endfor %}
                    </td>
                {% endfor %}
                <td>
                    {{ sentence.count_glosses }}
                </td>
                
                {% if perms.dictionary.change_annotatedsentence %}
                <td>
                    <a href="{% url 'dictionary:edit_annotated_sentence' glossid=sentence.get_first_gloss.id annotatedsentenceid=sentence.id %}">
                        <span class="sense-icon glyphicon glyphicon-edit pull-right" style="color:red" ></span>
                    </a>
                </td>
                <td>
                    <span class='sense-icon glyphicon glyphicon-trash sense_delete pull-right' style="color:red"  data-toggle='modal' data-target='#delete_annotated_sentence_modal_{{sentence.id}}'></span>
                    <div class="modal fade" id="delete_annotated_sentence_modal_{{sentence.id}}" role="dialog" aria-labelledby="#modalTitleDeleteAnnotatedSentence" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm left-modal">
                            <div class="modal-content">
                                <div class='modal-header'>
                                    <h2 id='modalTitleDeleteAnnotatedSentence'>{% trans "Delete this annotated sentence" %}</h2>
                                </div><br>
                                <div class='modal-body'>
                                    <p>{% trans "Are you sure you want to delete this? This cannot be undone." %}</p>
                                </div>     
                                <form method="post" action="{% url 'dictionary:delete_annotated_sentence' sentence.get_first_gloss.id %}" >
                                    {% csrf_token %}
                                    <input type='hidden' name='dataset' value='{{sentence.get_first_gloss.lemma.dataset.id}}'>
                                    <input type='hidden' name='annotatedsentenceid' value='{{sentence.id}}'>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                        <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}

    <div class="pagination">
        <span class="step-links">

            <ul class='pagination pagination-sm'>
            {% if page_obj.has_previous %}
                <li><a href="?page={{page_obj.previous_page_number}}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">&laquo;</a></li>
            {% endif %}

            {% if  page_obj.number > 10 %}
                <li><a>...</a></li>
            {% endif %}

            {% for p in page_obj.paginator.page_range %}
                {% if p < page_obj.number|add:"10" and p > page_obj.number|add:"-10" %}
                {% if p == page_obj.number %}
                <li class='active'>
                <a href="?page={{p}}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">{{p}}</a>
                </li>
                {% else %}
                <li>
                <a href="?page={{p}}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">{{p}}</a>
                </li>
                {% endif %}
                {% endif %}

            {% endfor %}

            {% if page_obj.paginator.num_pages > page_obj.number|add:10 %}
                <li><a>...</a></li>
                <li>
                <a href="?page={{page_obj.paginator.num_pages}}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">{{page_obj.paginator.num_pages}}</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                <li><a href="?page={{page_obj.next_page_number}}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">&raquo;</a></li>
            {% endif %}

            </ul>

        </span>
    </div>
    {% endif %}
    {% else %}
    {% trans "No sentences found. Please enter a query." %}
    {% endif %}

</div>


{% endblock content %}
