{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% block bootstrap3_title %}Signbank: Frequency list{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}

<div id="definitionblock">
    {% url 'dictionary:protected_media' '' as protected_media_url %}

{% if object_list %}
<table class='table table-condensed'>
    <thead>
      <tr>
          <th>{% trans "Dataset" %}</th>
          <th>{% trans "Field name" %}</th>
          <th>{% trans "Choice frequencies" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in frequency_dict.items %}
        {% for key2, value2 in value.items %}
        <tr>
        <td nowrap>{{ key }}</td>
        <td nowrap>{{ field_labels|keyvalue:key2 }}</td>
            <td>
            <div>
                <table style="border:1px solid;" cellspacing=10>
                <tr style="height:auto;">
                {% with field_labels_choices|keyvalue:key2 as field_choices %}
                {% for key3, value3 in value2.items %}
                    {% with field_choices|keyvalue:key3 as display_choice %}
                    {% with display_choice|length as length_choice %}
                    {% with length_choice|add:"60" as display_width %}
                    <td nowrap style="border:1px solid;padding:6px;text-align:left;width:{{display_width}}px;">
                    <span>{{ field_choices|keyvalue:key3 }}</span>
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
                {% endwith %}
                </tr>
                <tr>
                {% for key3, value3 in value2.items %}
                    <td style="border:1px solid;padding:6px;text-align:left;">{{ value3 }}</td>
                {% endfor %}
                </tr>
                </table>
            </div>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% else %}
{% trans "No frequency data available." %}
{% endif %}

</div>

{% endblock content %}
