{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Search Signs{% endblocktrans %}
{% endblock %}
{% block extrahead %}
{% endblock %}

{% load guardian_tags %}

{% block extrajs %}
<script type="text/javascript">
    var url = '{{PREFIX_URL}}';
    var language_code = '{{ LANGUAGE_CODE }}';
    var lemma_create_field_prefix = "{{ lemma_create_field_prefix }}";
    var user_can_add_gloss = {{ perms.dictionary.add_gloss|yesno:"true,false" }};
    var lookahead_initial_language = "{{default_dataset_lang}}";
    // this is a default setting for the case only one dataset is available
    var js_dataset_languages = '{{js_dataset_languages|safe}}';
</script>
<link rel="stylesheet" href="{{STATIC_URL}}css/select2-dark-mode.css">

<style>
.pub-row tr {float: left!important; width: 50%!important;}
</style>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/gloss_add.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.js"></script>
<script type='text/javascript'>
var show_dataset_interface_options = {{ SHOW_DATASET_INTERFACE_OPTIONS|yesno:"true,false" }};
var multiple_select_fields = {{MULTIPLE_SELECT_GLOSS_FIELDS|safe}};
var field_colors = {{field_colors|safe}};
var csrf_token = '{{csrf_token}}';
var page_number = {{ page_number }};
var objects_on_this_page = {{objects_on_page|safe}};
var view_type = '{{view_type}}';
var paginate_by = '{{paginate_by}}';
var query_parameters_keys = {{query_parameters_keys|safe}};
var query_parameters_dict = {{query_parameters|safe}};

var other_parameters_keys = {{other_parameters_keys|safe}};
var language_query_keys = {{language_query_keys|safe}};
var morpheme_idgloss = '{{morpheme_idgloss|safe}}';
var gloss_fields_to_populate = {{gloss_fields_to_populate|safe}};
var gloss_fields_to_populate_keys = {{gloss_fields_to_populate_keys|safe}};

$(document).ready(function() {

    $('[data-toggle="tooltip"]').tooltip();

    if (show_dataset_interface_options && user_can_add_gloss) {

        /**
         * In the 'add gloss' form, toggle the annotation idgloss fields depending on the chosen dataset
         */
         set_annotationidglosslanguages();

         $('#id_dataset').change(function() {
            set_annotationidglosslanguages();
         });
         set_initial_language_lemma_lookahead(lookahead_initial_language);
     }

    function selectColors(fieldId) {
        var target_pulldown = document.getElementById(fieldId);
        var pulldown_colors = field_colors[fieldId.substring(3)]; // skip the id_
        var pulldown_colors_str = new String(pulldown_colors);
        var pulldown_lookup = JSON.parse(pulldown_colors_str);
        $('option',target_pulldown).each(function(){
            var this_code = $(this).attr('value');
            var this_color = pulldown_lookup[this_code];
            if (this_color===undefined || this_color=='ffffff') {
               $(this).attr('style','color:inherit;background-color:inherit;');
            } else {
                $(this).attr('style','color:black;background-color:#'+this_color);
            }
        });
    }

    function makeMultipleSelect(fieldId,fieldVar) {
        var target_pulldown = document.getElementById(fieldId);
        if (!target_pulldown) { return; }
        target_pulldown.setAttribute('multiple','multiple');
        target_pulldown.setAttribute('class',"js-example-basic-multiple form-control");
        target_pulldown.setAttribute('name',fieldVar);
        target_pulldown.style.width = '100%';
    }

     for (var i = 0; i < multiple_select_fields.length; i++) {
        var this_id = 'id_' + multiple_select_fields[i];
        selectColors(this_id);
        var this_var = multiple_select_fields[i] + '[]';
        makeMultipleSelect(this_id, this_var);
     }

     function addOptionColor(optionNode) {
        var color_text = optionNode.text;

        // pattern of resultId: "select2-id_handedness-result-58e8-0"

        if (optionNode._resultId) {
            var resultString = optionNode._resultId
            splitPattern = resultString.split('-');
            var fieldId = splitPattern[1];
            var pulldown_colors = field_colors[fieldId.substring(3)]; // skip the id_
            var this_code = splitPattern[4];
            var pulldown_colors_str = new String(pulldown_colors);
            var pulldown_lookup = JSON.parse(pulldown_colors_str);
            var this_color = pulldown_lookup[this_code];
            if (this_color===undefined || this_color=='ffffff') {
               var $color_text_node = $("<span style='display:block;padding:0;line-height:30px;color:inherit;background-color:inherit'>"+color_text+"</span>");
            } else {
                var $color_text_node = $("<span style='display:block;padding:0;line-height:30px;color:black;background-color:#"+this_color+"'>"+color_text+"</span>");
            }
            return $color_text_node
        } else {
            return color_text;
        };
     }

     $('.js-example-basic-multiple').each(function() {
         var thisId = this.id;
         $(this).select2({
            allowClear: true,
            dropdownAutoWidth: true,
            width: 'resolve',
            placeholder: '',
            templateResult: addOptionColor
         });
     });

     $('.js-example-basic-multiple').val(null).trigger('change');


     <!--Alert: The sign language and dialect multiple select code differs from the other fields.-->
     <!--The code must appear after the class initialisation for for js-example-basic-multiple to avoid applying it to these fields prematurely-->

     <!--Alert: the id for sign language is signLanguage (with an uppercase L), not the same as the model field!-->
     <!--Django was messing up the template generation otherwise (without the uppercase L)-->
     <!--The value field is signlanguage[] (lowercase l to match the model)-->

     makeMultipleSelect('id_signLanguage', 'signlanguage[]');
     $('#id_signLanguage').select2({
        allowClear: true,
        dropdownAutoWidth: true,
        width: 'resolve',
        placeholder: '',
        templateResult: identityOption
     });

     if (query_parameters_keys.includes('signlanguage[]')) {
         var query_initial = query_parameters_dict['signlanguage[]'];
         $('#id_signLanguage').val(query_initial);
         $('#id_signLanguage').trigger('change');
     } else {
         $('#id_signLanguage').val(null).trigger('change');
     };

     $('#id_signLanguage').change(function() {
        set_signlanguages_dialects();
     });

     <!--Alert: the id for the dialect field is dialects (plural), not the same as the model field!-->
     <!--Django was messing up the template generation otherwise (without the s at the end)-->

     makeMultipleSelect('id_dialects', 'dialect[]');
     $('#id_dialects').select2({
        allowClear: true,
        dropdownAutoWidth: true,
        width: 'resolve',
        placeholder: '',
        templateResult: identityOption
     });

     if (query_parameters_keys.includes('dialect[]')) {
         var query_initial = query_parameters_dict['dialect[]'];
         $('#id_dialects').val(query_initial);
         $('#id_dialects').trigger('change');
    } else {
         $('#id_dialects').val(null).trigger('change');
    };

     function identityOption(optionNode) {
        var color_text = optionNode.text;
        var $color_text_node = $("<span style='display:block;padding:0;line-height:30px;color:inherit;background-color:inherit'>"+color_text+"</span>");
        return $color_text_node
     }
     makeMultipleSelect('id_tags', 'tags[]');
     $('#id_tags').select2({
        allowClear: true,
        dropdownAutoWidth: true,
        width: 'resolve',
        placeholder: '',
        templateResult: identityOption
     });

     if (query_parameters_keys.includes('tags[]')) {
         var query_initial = query_parameters_dict['tags[]'];
         $('#id_tags').val(query_initial);
         $('#id_tags').trigger('change');
     } else {
         $('#id_tags').val(null).trigger('change');
     };

     // initialize query parameters in multiple select fields
     for (var i = 0; i < multiple_select_fields.length; i++) {
        var this_id = '#id_' + multiple_select_fields[i];
        var this_var = multiple_select_fields[i] + '[]';
        if (query_parameters_keys.includes(this_var)) {
            var query_initial = query_parameters_dict[this_var];
            $(this_id).val(query_initial);
            $(this_id).trigger('change');
        };
     }

     if (query_parameters_keys.includes('morpheme')) {
        var query_initial = query_parameters_dict['morpheme'];
        // special case for morpheme, the query parameter is its ID, stored in a hidden field
        var morpheme_id = '#morpheme_id';
        $(morpheme_id).attr('value', query_initial);
        // the context variable morpheme_idgloss is shown to the user
        var this_id = '#morphemeidgloss';
        $(this_id).val(morpheme_idgloss);
     }

     // initialize non-multiple select, not language-based query fields
     for (var i = 0; i < other_parameters_keys.length; i++) {
        var this_var = other_parameters_keys[i];
        if (query_parameters_keys.includes(this_var)) {
            var this_id = '#id_' + other_parameters_keys[i];
            var query_initial = query_parameters_dict[this_var];
            $(this_id).val(query_initial);
        };
    }

     // initialize language-based query fields
     for (var i = 0; i < language_query_keys.length; i++) {
        var this_var = language_query_keys[i];
        if (query_parameters_keys.includes(this_var)) {
            var $language_search = $("input[name='"+this_var+"']");
            var query_initial = query_parameters_dict[this_var];
            $language_search.val(query_initial);
        };
    }

     if (query_parameters_keys.includes('translation')) {
        var $translation = $("input[name='translation']");
        var query_initial = query_parameters_dict['translation'];
        $translation.val(query_initial);
    };

     if (gloss_fields_to_populate_keys.includes('translation')) {
        var $translation = $("input[name='translation']");
        var query_initial = gloss_fields_to_populate['translation'];
        $translation.val(query_initial);
    };

     if (query_parameters_keys.includes('search')) {
        var $menu_bar_search = $("input[name='search']");
        var query_initial = query_parameters_dict['search'];
        $menu_bar_search.val(query_initial);
        $("#menu_bar_search_mirror").val(query_initial);
    };

     if (gloss_fields_to_populate_keys.includes('search')) {
        var $menu_bar_search = $("input[name='search']");
        var query_initial = gloss_fields_to_populate['search'];
        $menu_bar_search.val(query_initial);
        $("#menu_bar_search_mirror").val(query_initial);
    };

     // Empty menu_bar_search_mirror
     $("#adminsearch :input").change(function() {
        $("#menu_bar_search_mirror").val("");
     });


    if (view_type == 'lemma_groups') {
        lookup = "#lemmalist_table";
        for (var i = 0; i < objects_on_this_page.length; i++) {
            id_of_next_object = objects_on_this_page[i];
            focus_gloss_lookup = '#lemmagloss_' + id_of_next_object;
            if ($(focus_gloss_lookup).length) {
                $.ajax({
                    url : url + "/dictionary/ajax/lemmaglossrow/" + objects_on_this_page[i] + "/",
                    datatype: "json",
                    async: true,
                    success : function(result) {
                        var elem = $(result);
                        var parsed = $.parseHTML(result);
                        $.each( parsed, function(i, el ) {
                            nodename = el.nodeName;
                            if (nodename == 'TR') {
                                id_of_row = $(el).attr('id');
                                res = id_of_row.split("_");
                                id_of_gloss = res[1];
                                focus_gloss_lookup = '#lemmagloss_' + id_of_gloss;
                                $(lookup).find(focus_gloss_lookup).first().before(result);
                            };
                        });
                    }
                });
            } else {
                continue;
            }
        }
    } else {
        // This script gets gloss list data and displays it as table rows
        // Each ajax call generates one row, it is appended to the table dynamically

        lookup = "#glosslist_table";
        $.ajax({
                url : url + "/dictionary/ajax/glosslistheader/",
                datatype: "json",
                async: true,
                success : function(result) {
                    var elem = $(result);
                    var parsed = $.parseHTML(result);
                    var gloss_list_header = $(lookup).find('#glosslist_table_header')[0];
                    var gloss_list_header_dummy = $(gloss_list_header).find('#glosslist_table_header_dummy')[0];
                    $(gloss_list_header_dummy).replaceWith(result);
                }

        });
        for (var i = 0; i < objects_on_this_page.length; i++) {
            $.ajax({
                url : url + "/dictionary/ajax/glossrow/" + objects_on_this_page[i] + "/",
                datatype: "json",
                async: true,
                success : function(result) {
                    var elem = $(result);
                    var parsed = $.parseHTML(result);
                    $.each( parsed, function(i, el ) {
                        nodename = el.nodeName;
                        if (nodename == 'TR') {
                            id_of_row = $(el).attr('id');
                            res = id_of_row.split("_");
                            id_of_gloss = res[1];
                            focus_gloss_lookup = '#focusgloss_' + id_of_gloss;
                            $(lookup).find(focus_gloss_lookup).first().before(result).end().remove();
                            video_lookup = '#glossvideo_' + id_of_gloss;
                            video_elt = $(lookup).find(video_lookup)
                            video_elt.addClass("hover-shows-video");
                            ready_videos(video_elt);
                        };
                    });
                }
            });
        };
        ready_videos();
    }

});

</script>

<script type='text/javascript' src="{{ STATIC_URL }}js/lemma_typeahead.js"></script>

<script type='text/javascript'>

function clearForm() {

      $('input').each(function() {
        var this_field = $(this).attr('name');
        if (this_field == undefined) { return; };
        if (this_field == 'morpheme') { $(this).attr('value', ""); return; };
        var this_type = $(this).attr('type');
        if (this_type == 'hidden' || this_type == 'submit' || this_type == 'radio' || this_type == 'button') { return; };
        if (this_type == 'date') {
            $(this).attr('value', "");
        } else {
            $(this).val('');
        };
      });
      $('#morphemeidgloss').val('');
      $('select').each(function() {
        var this_field = $(this).attr('name');
        if (this_field == undefined) { return; };
        var this_type = $(this).attr('type');
        if (this_type == 'hidden') { return; };
        if (this_field.endsWith('[]')) {
            return;
        } else {
            $(this).find('option').each(function () {
                $(this).removeAttr("selected");
            });;
        };
      });

     $('.js-example-basic-multiple').val(null).trigger('change');
     $("input[name='translation']").val('');
     $("input[name='search']").val('');
     $('#format').val('');
     $('#export_ecv').val('');
}

 /**
 * @param {string} field_name - name of the field to sort on
 * @param {string} action     - one of: desc, asc, del
 * @param {string} frmName    - name of the <form ...> that contains the 'sortOrder' <input> field
 * @returns {void}
 */
function do_sort_column(field_name, action, frmName) {
  // Combine @field_name and @action into [sOrder]
  var sOrder = field_name;
  if (action == 'desc') {
    // Descending sort order is signified by a '-' prefix
    sOrder = '-' + sOrder;
  } else if (action == 'del') {
    // "Deleting" (pressing 'x') the sort order of a column means: return to the default 'idgloss' sort order
    sOrder = '';
  }
  // Set the value of the [sortOrder] field defined in dictionary/forms.py::GlossSearchForm
  $("#" + frmName + " input[name='sortOrder']").val(sOrder);

  // Submit the form with the indicated name

  $("#" + frmName).submit();

}

/**
 * @returns {void}
 */
function do_adminsearch(el) {
 var sSearchType = $(el).attr('value');
  switch(sSearchType) {
    case "sign":
        $("#adminsearch").attr('action', '{{PREFIX_URL}}/signs/search/');
        break;
    case "sign_or_morpheme":
        $("#adminsearch").attr('action', '{{PREFIX_URL}}/signs/search/');
        break;
  }
  $('#format').val('');
  $('#export_ecv').val('');
  document.getElementById('adminsearch').submit();
}

/**
 * toggle between normal list view and lemma group list view
 */
function do_toggle_groups(el) {
  var sViewType = $(el).attr('value');
  switch(sViewType) {
    case "gloss_list":
        $('#toggle_view_type').attr('value', 'lemma_groups');
        $("#adminsearch").attr('action', '{{PREFIX_URL}}/signs/search/');
        break;
    case "lemma_groups":
        $('#toggle_view_type').attr('value', 'gloss_list');
        $("#adminsearch").attr('action', '{{PREFIX_URL}}/signs/search/');
        break;
  }
  $('#format').val('');
  $('#export_ecv').val('');
  document.getElementById('adminsearch').submit();
}

function do_export_csv(e1) {
  $('#format').val('CSV');
  $('#export_ecv').val('');
  $("#adminsearch").attr('action', '{{PREFIX_URL}}/signs/search/');
  document.getElementById('adminsearch').submit();
}

function do_export_ecv(e1) {
  $('#export_ecv').val('ECV');
  $('#format').val('');
  $("#adminsearch").attr('action', '{{PREFIX_URL}}/signs/search/');
  document.getElementById('adminsearch').submit();
}

function ready_videos(el) {
    $(el).find('video').hide();

    $(el).mouseenter(function ()
    {
        var video = $(this).find('video');
        if(video.length > 0) {
            $(this).find('img').hide();
            video.show();
            video.get(0).play();
        }
    });

    $(el).mouseleave(function ()
    {
        $(this).find('img').show();

        var video = $(this).find('video');
        if(video.length > 0) {
            video.hide();
            video.get(0).pause();
            video.get(0).currentTime = 0;
        }
    });
}

/**
 * set the lemma language for the chosen dataset
 */
function do_set_lemma_language(el) {
  if (user_can_add_gloss) {
      var dataset_language_id = $(el).attr('value');
      $("#selected_lemma_language").attr('value',dataset_language_id);
      language_code = dataset_language_id;
      set_lemma_language();
  }
};

    // toggle the line-through on a button
    function do_toggle_line_through(el,id) {
        var button_value = $(el).attr('value');
        var button_id = '#' + id;
        var button_status = $(button_id).css('text-decoration');
        if ($(button_id).css('text-decoration-line') == 'none') {
            $(button_id).css('text-decoration', 'line-through');
        } else {
            $(button_id).css('text-decoration', 'none');
        };
    };

    // This function toggles the different language columns for Annotations
    function do_toggle_annotation(el) {
        var dataset_language_id = $(el).attr('value');
        var annotation_column_id = '.annotation_' + dataset_language_id;
        var visible_columns_start = 0;
        $('th[id^="annotation_"]').each(function() {
            if ($(this).css('display') != 'none') {
                visible_columns_start++;
            };
        });
        $(annotation_column_id).toggle();
        var visible_columns_finnish = 0;
        $('th[id^="annotation_"]').each(function() {
            if ($(this).css('display') != 'none') {
                visible_columns_finnish++;
            };
        });
        if (visible_columns_start == 0) {
            // the annotation columns were not visible at the start, show the header and visible columns
            $('.annotations_multicolumn').toggle();
            $('.annotations_multicolumn').attr('colspan', visible_columns_finnish);
        } else if (visible_columns_finnish == 0) {
            // all the columns are hidden now, hide the header
            $('.annotations_multicolumn').toggle();
        } else {
            // some columns are visible, some columns were visible at the start, some columns are visible at the end
            $('.annotations_multicolumn').attr('colspan', visible_columns_finnish);
        };
    };

    // This function toggles the different language columns for Translations
    function do_toggle_translations(el) {
        var visible_columns_start = 0;
        $('th[id^="translation_"]').each(function() {
            if ($(this).css('display') != 'none') {
                visible_columns_start++;
            };
        });
        var dataset_language_id = $(el).attr('value');
        var translation_column_id = '.translation_' + dataset_language_id;
        $(translation_column_id).toggle();
        var visible_columns_finnish = 0;
        $('th[id^="translation_"]').each(function() {
            if ($(this).css('display') != 'none') {
                visible_columns_finnish++;
            };
        });
        if (visible_columns_start == 0) {
            // the translation columns were not visible at the start, show the header and visible columns
            $('.translations_multicolumn').toggle();
            $('.translations_multicolumn').attr('colspan', visible_columns_finnish);
        } else if (visible_columns_finnish == 1) {
            // all the columns are hidden now, hide the header
            $('.translations_multicolumn').toggle();
        } else {
            // some columns are visible, some columns were visible at the start, some columns are visible at the end
            $('.translations_multicolumn').attr('colspan', visible_columns_finnish);
        };
    };

    // This function toggles the different language columns for Lemmas
    function do_toggle_lemmas(el) {
        var visible_columns_start = 0;
        $('th[id^="lemma_"]').each(function() {
            if ($(this).css('display') != 'none') {
                visible_columns_start++;
            };
        });
        var dataset_language_id = $(el).attr('value');
        var lemma_column_id = '.lemma_' + dataset_language_id;
        $(lemma_column_id).toggle();
        var visible_columns_finnish = 0;
        $('th[id^="lemma_"]').each(function() {
            if ($(this).css('display') != 'none') {
                visible_columns_finnish++;
            };
        });
        if (visible_columns_start == 0) {
            // the sentence columns were not visible at the start, show the header and visible columns
            $('.lemmas_multicolumn').toggle();
            $('.lemmas_multicolumn').attr('colspan', visible_columns_finnish);
        } else if (visible_columns_finnish == 0) {
            // all the columns are hidden now, hide the header
            $('.lemmas_multicolumn').toggle();
        } else {
            // some columns are visible, some columns were visible at the start, some columns are visible at the end
            $('.lemmas_multicolumn').attr('colspan', visible_columns_finnish);
        };
    };

// This function toggles the different language columns for Annotations, Sentences, and Translations
function do_toggle_language(el) {
    do_toggle_annotation(el);
    do_toggle_translations(el);
    do_toggle_lemmas(el);
    var dataset_language_id = $(el).attr('value');
    do_toggle_line_through(el,'button_language_'+dataset_language_id);
};


</script>

<script type='text/javascript' src="{{ STATIC_URL }}js/gloss_search.js"></script>

<script type='text/javascript'>
    navbarHeight = Math.round($('#signbank-bar').outerHeight());
    $('#wrap').css({'padding-top': navbarHeight});
</script>
{% endblock %}

{% block content %}
<div id="definitionblock">
{% url 'dictionary:protected_media' '' as protected_media_url %}

{{ form.media.css }}
{{ form.media.js }}

<form id='adminsearch' class="search-form search-form-light" method='get' action='{{PREFIX_URL}}/signs/search'>
{% csrf_token %}
<div class="panel panel-default panel-light">
    <input type='hidden' id='export_format' name='export_format' value="">

    <!-- The element below adds an invisible submit option, so the 'button' above also works when enter is pressed -->
    <input type="submit" onclick="do_adminsearch(this);" name="search_type" value="sign"
           style="visibility: hidden;">
    <div class="panel-heading panel-light" data-toggle="collapse" data-target="#query-area">{% trans "Form Your Query" %}
            {% if USE_REGULAR_EXPRESSIONS %}
            <span class="hasTooltip">
                <span id="tooltip" class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-html="true"
                  title=""></span>
				{% include "tooltip.html" with include_tags=True %}
            </span>
            {% endif %}
    </div>

    <div id='query-area' class='collapse-light collapse {% if request.GET|length == 0 and not show_all %} in {% endif %}'>
        <div id='searchformwell' class='well well-light search-results-collapsable'>

                <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
                        <!-- this is empty as an initial value because the view python code sets it -->
                <div class="hidden">
                    <input name='sortOrder' class='form-control' value='' type='hidden'>
                    <input name='search_type' class='form-control' value='{{search_type}}' type='hidden'>
                    <input id="menu_bar_search_mirror" type="hidden" name="search" class="form-control" value="{{menu_bar_search}}">
                </div>
                <div>
                    <table class='table' id='searchfields'>
                        {% for dataset_lang in dataset_languages %}

                        <tr>
                            {% with searchform|get_annotation_search_field_for_language:dataset_lang as search_field %}
                            <td class='td td-light'>
                                <div class='input-group input-group-light'>
                                <label class='input-group-addon' for='id_annotation_idgloss_{{dataset_lang.language_code_2char}}'>
                                    {{search_field.label}}
                                </label>
                                <input name='glosssearch_{{dataset_lang.language_code_2char}}'
                                       id='id_annotation_idgloss_{{dataset_lang.language_code_2char}}'
                                       type='text'
                                       class='form-control'>
                                </div>
                            </td>
                            {% endwith %}

                            {% with searchform|get_lemma_form_field_for_language:dataset_lang as lemma_field %}
                            <td class='td td-light'><div class='input-group input-group-light'>

                                <label class='input-group-addon' for='id_lemma_{{dataset_lang.language_code_2char}}'>
                                    {{lemma_field.label}}
                                </label>
                                <input name='lemma_{{dataset_lang.language_code_2char}}'
                                       id='id_lemma_{{dataset_lang.language_code_2char}}'
                                       type='text'
                                       class='form-control'></div>
                            </td>
                            {% endwith %}

                            {% with searchform|get_senses_form_field_for_language:dataset_lang as keyword_field %}
                            <td class='td td-light'><div class='input-group input-group-light'>
                                <label class='input-group-addon' for='id_keyword_{{dataset_lang.language_code_2char}}'>
                                    {{keyword_field.label}}</label>
                                <input name='keyword_{{dataset_lang.language_code_2char}}'
                                       id='id_keyword_{{dataset_lang.language_code_2char}}'
                                       type='text'
                                       class='form-control'></div>
                            </td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="panel-group" id="searchpanels">
                    <div class="panel panel-default panel-light">
                        <div class="panel-heading panel-light" data-toggle="collapse" data-target="#searchbasic">{% trans "Search by Language and Basic Properties" %}</div>

                        <div id='searchbasic' class='collapse-light collapse'>
                        <table class='table table-condensed table-condensed-light' style="width:65%;">
                            <tr id='signlanguage_selection'>
                                <td class='td td-light' style="padding-left:30px;"><label>{{searchform.signLanguage.label}}</label></td>
                                <td class='td td-light' style="width:600px;">{{ searchform.signLanguage }}</td>
                            </tr>
                            <tr id='dialect_selection'>
                                <td class='td td-light' style="padding-left:30px;"><label>{{searchform.dialects.label}}</label></td>
                                <td class='td td-light' style="width:600px;">{{ searchform.dialects }}</td>
                            </tr>

                            {% for fieldname,field,label in input_names_fields_and_labels.main %}

                                <tr><td class='td td-light' style="padding-left:30px;">
                                    <label for='id_{{fieldname}}'>{{label}}</label></td>
                                    <td class='td td-light' style="width:600px;">{{field}}</td></tr>

                            {% endfor %}

                        </table>

                        </div>
                      </div>

                    <div  class="panel panel-default panel-light">
                      <div class="panel-heading panel-light" data-toggle="collapse" data-target="#morph_search">{% trans "Search by Morphology" %}</div>

                      <div id='morph_search' class='collapse-light collapse'>
                      <table class='table table-condensed table-condensed-light' style="width:65%;">
                        <tr>
                          <td class='td td-light'>
                            <table class='table table-condensed table-condensed-light'>
                                <tr>
                                    <td class='td td-light' style="padding-left:30px;"><label for='id_morpheme'>{{searchform.morpheme.label}}</label></td>
                                    <td class='td td-light' style="width:600px;">
                                        <input class='form-control morphtypeahead morphtypeahead-light'
                                               id="morphemeidgloss"
                                               placeholder='{% trans "Morpheme Gloss" %}'
                                               value="">
                                        <input type="hidden" name='morpheme' id='morpheme_id' value="">
                                    </td>
                                </tr>
                                <tr><td class='td td-light' style="padding-left:30px;"><label for='id_hasComponentOfType'>{{searchform.hasComponentOfType.label}}</label></td>
                                    <td class='td td-light' style="width:600px;">{{searchform.hasComponentOfType}}</td></tr>
                                <tr><td class='td td-light' style="padding-left:30px;"><label for='id_mrpType'>{{searchform.mrpType.label}}</label></td>
                                    <td class='td td-light' style="width:600px;">{{searchform.mrpType}}</td></tr>
                                <tr><td class='td td-light' style="padding-left:30px;"><label for='id_isablend'>{{searchform.isablend.label}}</label></td>
                                    <td class='td td-light' style="width:600px;">{{searchform.isablend}}</td></tr>
                                <tr><td class='td td-light' style="padding-left:30px;"><label for='id_ispartofablend'>{{searchform.ispartofablend.label}}</label></td>
                                    <td class='td td-light' style="width:600px;">{{searchform.ispartofablend}}</td></tr>
                            </table>

                          </td>
                        </tr>
                      </table>
                      </div>
                    </div>

                    <div  class="panel panel-default panel-light">
                      <div class="panel-heading panel-light" data-toggle="collapse" data-target="#phon_search">{% trans "Search by Phonology" %}</div>

                      <div id='phon_search' class='collapse-light collapse'>
                      <table class='table table-condensed table-condensed-light'>
                        <tr>

                          <td class='td td-light'>
                            <table class='table table-condensed table-condensed-light'>
                                {% for fieldname,field,label in input_names_fields_and_labels.phonology %}

                                    <tr>
                                        <td class='td td-light' style="padding-left:30px;"><label>{{label}}</label></td>
                                        <td class='td td-light'>{{field}}</td>
                                        {% if fieldname == 'handedness' %}
                                            {% for handednessfieldname,handednessfield,handednesslabel in input_names_fields_labels_handedness %}
                                                <td class='td td-light'><label for='id_{{handednessfieldname}}'>{{handednesslabel}}</label></td><td class='td td-light'>{{handednessfield}}</td>
                                            {% endfor %}
                                        {% elif fieldname == 'domhndsh' %}
                                            {% for domhndshfieldname,domhndshfield,domhndshlabel in input_names_fields_labels_domhndsh %}
                                                <td class='td td-light'><label for='id_{{domhndshfieldname}}'>{{domhndshlabel}}</label></td><td class='td td-light'>{{domhndshfield}}</td>
                                            {% endfor %}
                                        {% elif fieldname == 'subhndsh' %}
                                            {% for subhndshfieldname,subhndshfield,subhndshlabel in input_names_fields_labels_subhndsh %}
                                                <td class='td td-light'><label for='id_{{subhndshfieldname}}'>{{subhndshlabel}}</label></td><td class='td td-light'>{{subhndshfield}}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                            </table>

                          </td>
                        </tr>
                      </table>
                      </div>
                    </div>

                    <div  class="panel panel-default panel-light">
                      <div class="panel-heading panel-light" data-toggle="collapse" data-target="#sem_search">{% trans "Search by Semantics" %}</div>

                      <div id='sem_search' class='collapse-light collapse'>
                      <table class='table table-condensed table-condensed-light'>
                        <tr>

                          <td class='td td-light'>
                            <table class='table table-condensed table-condensed-light' style="width:65%;">
                                {% for fieldname,field,label in input_names_fields_and_labels.semantics %}

                                    <tr><td class='td td-light' style="padding-left:30px;"><label for='id_{{fieldname}}'>{{label}}</label></td>
                                        <td class='td td-light' style="width:600px;">{{field}}</td></tr>

                                {% endfor %}



                            </table>

                          </td>
                        </tr>
                      </table>
                      </div>
                    </div>
                    {% if not user.is_anonymous %}
                    <div  class="panel panel-default panel-light">
                      <div class="panel-heading panel-light" data-toggle="collapse"
                           data-target="#rel_search">{% trans "Search by Relation" %}</div>

                      <div id='rel_search' class='collapse-light collapse'>
                      <table class='table table-condensed table-condensed-light' style="width:65%;">
                      {% for relation_id, relation_label, relation_field in search_by_relation_fields %}
                      <tr>
                          <td class='td td-light' style="padding-left:30px;"><label for='id_{{relation_id}}'>{{relation_label}}</label></td>
                          <td class='td td-light' style="width:600px;">{{relation_field}}</td>
                      </tr>
                      {% endfor %}
                      </table>
                      </div>
                    </div>

                    <div  class="panel panel-default panel-light">
                      <div class="panel-heading panel-light" data-toggle="collapse"
                           data-target="#pub_search">{% trans "Search by Publication Status and Notes" %}</div>

                      <div id='pub_search' class='collapse-light collapse'>
                      <table class='table table-condensed table-condensed-light' style="width:65%;">
                      {% for publication_id, publication_label, publication_field in search_by_publication_fields %}
                      <tr>
                          <td class='td td-light' style="padding-left:30px;"><label for='id_{{publication_id}}'>{{publication_label}}</label></td>
                          <td class='td td-light' style="width:600px;">{{publication_field}}</td>
                      </tr>
                      {% endfor %}
                      </table>
                      </div>
                    </div>
                    {% endif %}
                </div>

        </div>

    </div>

</div>

    <div class='btn-group btn-group-light' style="margin-bottom: 20px">
        <!-- Make sure no button has the *name* 'submit', otherwise submit() cannot be used -->
        <input type="hidden" name="view_type"
               id="toggle_view_type"
               value="{{view_type}}">

        {% if SHOW_MORPHEME_SEARCH %}
        <div class="btn-group btn-group-light">
            <a class='btn btn-primary dropdown-toggle' data-toggle="dropdown" type='submit' name='submit_button'>
            <span data-bind="label" onclick="do_adminsearch(this);" name="search_type" value="{{search_type}}">
                {% if search_type == 'sign' %}
                {% trans "Search Sign" %}
                {% else %}
                {% trans "Search Sign or Morpheme" %}
                {% endif %}
            </span>&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="#" onclick="do_adminsearch(this);" type='submit' name="search_type" value="sign">{% trans "Search Sign" %}</a></li>
                <li><a href="#" onclick="do_adminsearch(this);" type='submit' name="search_type"
                       value="sign_or_morpheme">{% trans "Sign or Morpheme" %}</a></li>
            </ul>
        </div>

        {% else %}
        <button class="btn btn-primary" name="search_type" value="sign" onclick="do_adminsearch(this);"
                type="button">{% trans "Search Sign" %}</button>
        {% endif %}

        {% if perms.dictionary.export_csv %}
        <button class='btn btn-default btn-default-light' type='submit'
                onclick="do_export_csv(this);"
                id='button_export_csv' value='CSV'>CSV</button>
        <input type='hidden' id='format' name='format' value="">
        <input type='hidden' name='show_all' value="{{show_all}}">
        {% endif %}

        {% if not SHOW_DATASET_INTERFACE_OPTIONS %}
        {% if perms.dictionary.export_ecv %}
        <button class='btn btn-default btn-default-light' type='submit'
                onclick="do_export_ecv(this);"
                id='button_export_ecv' value='ECV'>ECV</button>
        <input type='hidden' id='export_ecv' name='export_ecv' value="">
        {% endif %}
        {% endif %}
        <input class='btn btn-default btn-default-light' type='reset' onclick="clearForm();"
               value='{% trans "Reset" %}'>
    </div>



    <div>
        <button class="btn btn-default btn-default-light"
                type="button"
                id="view_type_left_button">
            {% if view_type == "lemma_groups" %}
            {% trans "Lemma View" %}
            {% else %}
            {% trans "List View" %}
            {% endif %}
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-primary" onclick="do_toggle_groups(this);"
                type="button"
                id="view_type_right_button"
                value='{{view_type}}'>
            {% if view_type == "gloss_list" %}
            {% trans "Lemma View" %}
            {% else %}
            {% trans "List View" %}
            {% endif %}
        </button>
&nbsp;&nbsp;      <span class="span-text span-text-light">
        {% trans "Number of Matches:" %} {{page_obj.paginator.count}} {% if user.is_anonymous %}(publically available){% endif %} {% trans "out of" %} {{glosscount}}.

        {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets %}
        {% trans "Datasets:" %}
        {% for ds in selected_datasets %}{{ds.acronym}}{% if not forloop.last %}, {% else %}.{% endif %}
        {% endfor %}
        {% endif %}
        </span>
    </div>
</form>

<div><br><br></div>

{% if view_type == "gloss_list" %}

    <form name="show_pages" class='pages-form pages-form-light'>
    <div class='form-group form-group-light' id='paginate_by'>
        <label for='paginate_by'>{% trans "Results Per Page" %}</label>
        <select class='form-control form-control-light' name="paginate_by">
            <option {% if paginate_by == 500 %} selected="" {% endif %}>500</option>
            <option {% if paginate_by == 100 %} selected="" {% endif %}>100</option>
            <option {% if paginate_by == 50 %} selected="" {% endif %}>50</option>
            <option {% if paginate_by == 25 %} selected="" {% endif %}>25</option>
            <option {% if paginate_by == 10 %} selected="" {% endif %}>10</option>
        </select>
        {% csrf_token %}
        <input type="submit" value = '{% trans "Refresh" %}'
               class="btn btn-default btn-default-light">
    </div>
    </form>

{% if object_list %}
{% if SHOW_DATASET_INTERFACE_OPTIONS %}
{% if dataset_languages|length > 2 %}
{% for dataset_lang in dataset_languages %}
<button name="button_language_{{dataset_lang.language_code_2char}}"
        id="button_language_{{dataset_lang.language_code_2char}}" type='submit' onclick="do_toggle_language(this);"
        value="{{dataset_lang.language_code_2char}}" >
    {{ dataset_lang.name }}
</button>
{% endfor %}
{% endif %}
{% endif %}

<table class='table table-condensed table-condensed-light' id='glosslist_table'>
    <thead id='glosslist_table_header' class="thead thead-light">
    <tr id='glosslist_table_header_dummy'></tr>
    </thead>
    <tbody class="tbody tbody-light">
    {% for gloss in object_list %}
    <tr id="focusgloss_{{gloss.id}}">
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}


{% else %}  <!--show lemma groups view-->

{% if object_list %}

{% regroup glosses_ordered_by_lemma_id by lemma as lemma_groups %}

<table class='table table-condensed table-condensed-light' id='lemmalist_table'>
<thead id='lemmalist_table_header' class="thead thead-light">
<tr>
    <th class='th th-light'>{% trans "Lemma ID Gloss" %}</th>
    {% if SHOW_DATASET_INTERFACE_OPTIONS %}<th class='th th-light'>{% trans "Dataset" %}</th>{% endif %}

    {% for dataset_lang in dataset_languages %}
    <th class='th th-light'>{% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})</th>
    {% endfor %}

    {% for dataset_lang in dataset_languages %}
    <th class='th th-light'>{% trans "Senses" %}
      {% if SHOW_DATASET_INTERFACE_OPTIONS %}
        ({{ dataset_lang.name }})
      {% endif %}
    </th>
    {% endfor %}

    {% for field, column in column_headers %}
    <th class='th th-light'>{{column}}</th>
    {% endfor %}

    {% if not user.is_anonymous %}
    <th class='th th-light' style="width:255px;">{% trans "Tags" %}</th>
    {% endif %}
</tr>

</thead>

<tbody class="tbody tbody-light">
{% for lemma in lemma_groups %}
<tr>

<td>{{lemma.grouper}}</td>

</tr>
  {% for gloss in lemma.list %}
    <tr id = "lemmagloss_{{gloss.id}}">
    </tr>
  {% endfor %}
{% endfor %}
</tbody>
</table>

{% endif %}
{% endif %}

<div class="pagination">
    <span class="step-links">

        <ul class='pagination pagination-sm'>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a></li>
        {% endif %}

          {% if  page_obj.number > 10 %}
            <li><a>...</a></li>
          {% endif %}

          {% for p in page_obj.paginator.page_range %}

             {% if p < page_obj.number|add:"10" and  p > page_obj.number|add:"-10" %}
             <li {% if p == page_obj.number %}class='active'{% endif %}>
             <a href="?page={{ p }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% if p == 0 %}Start{% else %}{{p}}{% endif %}</a>
             </li>
             {% endif %}

          {% endfor %}

          {% if page_obj.paginator.num_pages > page_obj.number|add:"10" %}
            <li><a>...</a></li>
            <li>
            <a href="?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{page_obj.paginator.num_pages}}</a>
            </li>
          {% endif %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a></li>


      </ul>


        {% endif %}
    </span>
</div>
</div>
{% endblock content %}
