{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% block bootstrap3_title %}Signbank: Minimal Pairs list{% endblock %}

{% block extrahead %}
{% endblock %}
<head>
{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

<script type='text/javascript'>
var csrf_token = '{{csrf_token}}';
var url = '{{ PREFIX_URL }}';
var page_number = {{ page_number }};
var objects_on_this_page = {{objects_on_page|safe}};

// This script gets minimal pairs data and displays it as table rows
// Each ajax call can generate multiple rows, they are appended to the table dynamically
$(document).ready(function() {
    lookup = "#minimalpairs_table";
    for (var i = 0; i < objects_on_this_page.length; i++) {
        $.ajax({
            url : url + "/ajax/minimalpairs/" + objects_on_this_page[i] + "/",
            datatype: "json",
            async: true,
            success : function(result) {
                <!--console.log(result);-->
                var elem = $(result);
                var parsed = $.parseHTML(result);
                <!--console.log(parsed);-->
                $.each( parsed, function(i, el ) {
                    nodename = el.nodeName;
                    <!--console.log(nodename);-->
                    if (nodename == 'TR') {
                        id_of_row = $(el).attr('id');
                        res = id_of_row.split("_");
                        id_of_gloss = res[1];
                        <!--console.log(id_of_gloss);-->
                        focus_gloss_lookup = '#focusgloss_' + id_of_gloss;
                        $(lookup).find(focus_gloss_lookup).first().before(result).end().remove();
                    };
                });
            }
        });

    }
});


</script>
{% endblock %}
</head>

{% block content %}
<body>
<div id="definitionblock">
    {% url 'dictionary:protected_media' '' as protected_media_url %}

<form name="show_pages">
<div class='form-group' id='paginate_by'>
<label for='paginate_by'>{% trans "Glosses per page" %}</label>
<select class='form-control' name="paginate_by" >
    <option {% if paginate_by == 50 %}selected{% endif %}>50</option>
    <option {% if paginate_by == 25 %}selected{% endif %}>25</option>
    <option {% if paginate_by == 10 %}selected{% endif %}>10</option>
</select>
{% csrf_token %}
    <input type="submit" value = '{% trans "Refresh" %}' />
</div>
</form>

{% if object_list %}
<table class='table table-condensed' id = 'minimalpairs_table'>
    <thead>
      <tr>
            {% if SHOW_DATASET_INTERFACE_OPTIONS %}<th>{% trans "Dataset" %}</th>{% endif %}
            <th>{% trans "Focus Gloss" %}</th>
            <th>{% trans "Minimal Pair Gloss" %}</th>
            <th style="width:auto;">{% trans "Field name" %}</th>
            <th>{% trans "Source Sign Value" %}</th>
            <th>{% trans "Contrasting Sign Value" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for gloss in object_list %}
    <tr id = "focusgloss_{{gloss.id}}">
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{% trans "No minimal pairs found." %}
{% endif %}
</div>


<div class="pagination">
    <span class="step-links">

        <ul class='pagination pagination-sm'>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
        {% endif %}

          {% if  page_obj.number > 10 %}
            <li><a>...</a></li>
          {% endif %}

          {% for p in page_obj.paginator.page_range %}

             {% if p < page_obj.number|add:"10" and  p > page_obj.number|add:"-10" %}
             <li {% ifequal p page_obj.number %}class='active'{% endifequal %}>
             <a href='?page={{ p }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{% ifequal p 0 %}Start{% else %}{{p}}{% endifequal %}</a>
             </li>
             {% endif %}

          {% endfor %}

          {% if page_obj.paginator.num_pages > page_obj.number|add:"10" %}
            <li><a>...</a></li>
            <li>
            <a href='?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{{page_obj.paginator.num_pages}}</a>
            </li>
          {% endif %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>


      </ul>


        {% endif %}
    </span>
</div>

</body>

{% endblock content %}

