{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

{% endblock %}


{% block content %}

<div  class="panel panel-default">
{% if object_list %}

<table class='table table-condensed' style="font-size: 11px; border-collapse:separate; border-spacing: 2px;">
    <thead>
      <tr>

          <th style="width:5em">{% trans "Source sign" %}</th>
           <th style="width:10em">{% trans "Relations" %}</th>
            <th style="width:5em">{% trans "Variant relations" %}</th>
           <th style='width:20em'>{% trans "Variants" %}</th>
          <th style="width:5em">{% trans "Save" %}</th>
      </tr>

    </thead>
    <tbody>

	{% for gloss in object_list %}

      <tr>
          <td id='src_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=gloss.id %}'>{% value gloss.idgloss %}</a></td>
          <td id='src_relations'>{% for trn in gloss.other_relations %}<a href='{% url "dictionary:admin_gloss_view" pk=trn.target.id %}'>{{ trn.target }}</a> ({{ trn.role }}){% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td id='src_variant_relations'>{% for trn in gloss.variant_relations %}<a href='{% url "dictionary:admin_gloss_view" pk=trn.target.id %}'>{{ trn.target }}</a> ({{ trn.role }}){% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td id='src_variants'>{% for trn in gloss.has_variants %}<a href='{% url "dictionary:admin_gloss_view" pk=trn.id %}'>{{ trn.annotation_idgloss }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        {% if perms.dictionary.change_gloss %}
          {% with gloss.has_variants as glvariants %}
          {% if glvariants %}
          <td>
           <table>
          {% for gl in glvariants %}
                <form id='add_variants_{{gloss.id}}_{{gl.id}}' method='post' action='{% url 'dictionary:variants_of_gloss' %}'>
                    {% csrf_token %}
                    <input type='hidden' name='sourceid' value='{{gloss.id}}'>
                    <input type='hidden' name='targetid' value='{{gl.id}}'>
                    <tr><input class='btn btn-primary' value='Add {{gl.annotation_idgloss}}' id='add_variant_to_sign_{{gloss.id}}_{{gl.id}}' type='submit' style="height:auto; font-size: 11px;"></tr>
                </form>
          {% endfor %}
          </table>
          </td>
          {% endif %}
          {% endwith %}
        {% endif %}
      </tr>

	{% endfor %}
    </tbody>

</table>
{% endif %}
</div>

{% endblock %}
