{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}

{% block bootstrap3_title %}Signbank: Available semantic fields{% endblock %}


{% block content %}

<h3>{% trans "Available Semantic Fields" %}</h3>

{% if object_list %}

<table class='table table-condensed'>
    <thead>
      <tr>
          <th style="width:300px;">{% trans "Name" %}</th>
          <th style="width:200px;">{% trans "Translations" %}</th>

      </tr>
    </thead>
    <tbody>
      {% for semanticfield in object_list %}
        <tr>
            <td>
                <a href="{{PREFIX_URL}}/dictionary/semanticfield/{{semanticfield.machine_value}}/">{{ semanticfield.name }}</a>
            </td>
            {% if semanticfield.semanticfieldtranslation_set.all %}
            <td><table>
            {% for translation in semanticfield.semanticfieldtranslation_set.all %}
                <tr><td>{{translation.language}}</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>{{translation.name}}</td></tr>
            {% endfor %}
            </table></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{% trans "No semantic fields found." %}
{% endif %}

{% endblock content %}

