{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% block bootstrap3_title %}Signbank: Homonym list{% endblock %}

{% block extrahead %}
{% endblock %}

<head>
{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

<script type='text/javascript'>
var csrf_token = '{{csrf_token}}';
var ids_of_all_glosses = {{ids_of_all_glosses|safe}};
var url = '{{ PREFIX_URL }}'

// This script gets homonym objects
$(document).ready(function() {
    for (var i = 0; i < ids_of_all_glosses.length; i++) {
        $.ajax({
            url : url + "/ajax/homonyms/" + ids_of_all_glosses[i] + "/",
            datatype: "json",
            success : function(result) {
                for (var key in result) {
                    var homonyms_i = result[key];
                    if (homonyms_i.length > 0) {
                        lookup = "#homonyms_"+ key;
                        $.each(homonyms_i, function(key, value) {
                            var input = $('<span><a href="'+url+'/dictionary/gloss/'+value.id+'/">' + value.gloss + '</a> &nbsp; </span>');
                            $(lookup).append(input);
                        });
                        $(lookup).parent().removeClass('empty_row');
                        $(lookup).parent().css({'display':'visible'});
                    };
                }
            }
        });

    }
});


</script>
{% endblock %}
</head>

{% block content %}
<body>
<div id="definitionblock">
    {% url 'dictionary:protected_media' '' as protected_media_url %}

{% if object_list %}
<table class='table table-condensed'>
    <thead>
      <tr>
          <th>{% trans "Focus Gloss" %} ({{language}})</th>
          <th>{% trans "Homonym Relations (SAVED)" %}</th>
          <th>{% trans "Homonym Relations (SAME PHONOLOGY)" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for focus_gloss in object_list %}
      {% with focus_gloss.homonym_relations as homonyms_saved %}
        <tr {%if homonyms_saved|length == 0 %} class="empty_row" style='display: none;'{% endif %}>
            <td>
                <a href="{{PREFIX_URL}}/dictionary/gloss/{{ focus_gloss.pk }}/">{{ focus_gloss|get_annotation_idgloss_translation:language }}</a>
            </td>
            <td>
                {% for gl, seen in homonyms_saved %}
                    <a style="padding-left: 20px;{% if seen %}color:red;{% endif %}"
                       href='{% url "dictionary:admin_gloss_view" pk=gl.pk %}'>{{ gl|get_annotation_idgloss_translation:language }}</a>
                {% endfor %}
            </td>
            <td class="focus_gloss_homonym_objects" id = "homonyms_{{focus_gloss.id}}" >

            </td>
        </tr>
    {% endwith %}
    {% endfor %}
    </tbody>
</table>
{% else %}
{% trans "No homonyms found." %}
{% endif %}

</div>
</body>
{% endblock content %}
