{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% block bootstrap3_title %}Signbank: Minimal Pairs list{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}

<div id="definitionblock">
    {% url 'dictionary:protected_media' '' as protected_media_url %}

{% if object_list %}
<table class='table table-condensed'>
    <thead>
      <tr>
            <th>{% trans "Dataset" %}</th>
            <th>{% trans "Focus Gloss" %}</th>
            <th>{% trans "Minimal Pair Gloss" %}</th>
            <th style="width:auto;">{% trans "Field name" %}</th>
            <th>{% trans "Source Sign Value" %}</th>
            <th>{% trans "Contrasting Sign Value" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for focus_gloss in object_list %}
    {% with focus_gloss.minimal_pairs_dict as focus_gloss_minimal_pairs_dict %}
    {% for other_gloss, dict in focus_gloss_minimal_pairs_dict.items %}
    {% for field_name, d in dict.items %}
        {% with d.0 as field_label %}
        {% with d.1|add:" " as field_category %}
        {% with d.2|stringformat:"s" as focus_gloss_value %}
        {% with d.3|stringformat:"s" as other_gloss_value %}
        {% with d.4 as field_kind %}
        <tr>
            <td>{{focus_gloss.dataset}}</td>
            <td><a href='{% url "dictionary:admin_gloss_view" pk=focus_gloss.id %}'>{{focus_gloss}}</a></td>
            <td><a href='{% url "dictionary:admin_gloss_view" pk=other_gloss.id %}'>{{other_gloss}}</a></td>
            <td>{{field_labels|keyvalue:field_name}}</td>
                {% if field_name == "weakdrop" or field_name == "weakprop" %}
                    <td>{% if focus_gloss_value == "True" %}{% trans "Yes" %}
                    {% elif focus_gloss_value == "False" %}{% trans "No" %}
                    {% else %}{% trans "Neutral" %}{% endif %}</td>
                    <td>{% if other_gloss_value == "True" %}{% trans "Yes" %}
                    {% elif other_gloss_value == "False" %}{% trans "No" %}
                    {% else %}{% trans "Neutral" %}{% endif %}</td>
                {% elif field_kind == "check" %}
                    <td>{% if focus_gloss_value == "True" %}
                        {% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                    <td>{% if other_gloss_value == "True" %}
                        {% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                {% else %}
                    {% load field_choice %}
                    {% with field_name|add:" " as field_name %}
                    {% with request.LANGUAGE_CODE as this_language %}
                    {% with field_category|add:this_language as args %}
                    {% with focus_gloss_value|machine_field_translate:args as focus_gloss_display %}
                    {% with other_gloss_value|machine_field_translate:args as other_gloss_display %}
                    <td>{{focus_gloss_display}}</td><td>{{other_gloss_display}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% endif %}
        </tr>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
    {% endfor %}
    {% endwith %}
    {% endfor %}
    </tbody>
</table>
{% else %}
{% trans "No minimal pairs found." %}
{% endif %}

</div>

{% endblock content %}

