{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Available Keywords{% endblocktrans %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini_colors.js"></script>

<script type='text/javascript'>
var url = '{{ PREFIX_URL }}';
var saving_str = '{{saving_str|escapejs}}';
var csrf_token = '{{csrf_token}}';
</script>

<script type='text/javascript' src="{{ STATIC_URL }}js/senses_keywords_edit.js"></script>

{% endblock %}

{% block content %}

<div id="definitionblock" style="padding-top: 30px;">
    {% if not object_list %}
    <br>
    {% trans "No senses found." %}

    {% else %}
    <div class="keywordsSenses" id="keywordsSenses">
    <h3>{% trans "Mapping Keywords to Senses" %}</h3>

<table class='table table-condensed'>
    <thead>
      <tr>
          <th style="width:200px;">{% trans "Gloss" %}</th>
          <th style="width:50px;">{% trans "Actions" %}</th>
          <th style="width:300px;">{% trans "Keywords" %} ({{dataset_language.name}})</th>
          <th style="width:300px;">{% trans "Senses" %}  ({{dataset_language.name}})</th>
      </tr>
    </thead>
    <tbody>
      {% for gloss, keywords, senses in object_list %}
        <tr>
            <td>{{gloss.idgloss}}</td>
            <td class="actions">
                <button id='edit_senses_btn_{{gloss.id}}' class="btn" type="button" name='edit_{{gloss.id}}'
                        value='edit_{{gloss.id}}'
                        data-toggle='modal' data-target='#edit_senses_modal_{{gloss.id}}'>
                    <a>{% trans "Edit" %}</a></button>
            </td>
            <td class="keywords_{{gloss.id}}">{% for trn in keywords %}
                {{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td class="senses_{{gloss.id}}" id="senses_{{gloss.id}}">
                <table>
                {% for grp, kwds in senses.items %}
                    <tr>
                    <td>{{grp}}.</td><td>&nbsp;&nbsp;</td>
                    <td>{% for kw in kwds %}
                        {{ kw.translation.text|safe }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    </tr>
                {% endfor %}
                </table>
            </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% for gloss, keywords, senses_groups in object_list %}
         <div class="modal fade" id="edit_senses_modal_{{gloss.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="#modalTitleEdit_{{gloss.id}}" aria-hidden="true">
             <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class='modal-header'>
                        <h3 id='modalTitleEdit_{{gloss.id}}'>{% trans "Gloss Keywords Mapping to Senses" %}</h3>
                    </div>
                    <div class='modal-body'>
                        <table class="table table-condensed">
                            <thead>
                            <tr><th>{% trans "Senses" %}</th></tr>
                            </thead>
                            <tbody>
                            {% for order_index, keywords_list in senses_groups.items %}
                            <tr id="gloss_{{gloss.id}}_orderIndex_{{order_index}}">
                            <td>{{order_index}}.</td>
                            <td>
                              {% for sense in keywords_list %}
                                <span id="sensegroup_{{sense.orderIndex}}">
                                    {{sense.translation.text|safe}}{% if not forloop.last %}, {% endif %}
                                </span>
                              {% endfor %}
                            </td>
                            {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                      <form id="form_regroup_keywords_{{gloss.id}}"
                            action="{% url 'dictionary:group_keywords' gloss.id %}" method='post'>
                      {% csrf_token %}
                      <table class='table table-condensed'>
                          <tr><th>{% trans "Keyword" %}</th><th>{% trans "Sense Number" %}</th></tr>
                          {% for sense in keywords %}
                        <tr>
                            <td>{{sense.translation.text}}</td>
                            <input type="hidden" id="sense_id_{{sense.id}}"
                                   name="group_index" value='{{sense.id}}' data-group_index='{{sense.id}}'>
                            <td>
                            <input type="number" id="regroup_{{sense.orderIndex}}"
                                   name="regroup" value='{{sense.orderIndex}}' data-regroup='{{sense.orderIndex}}'
                                   max={{senses.count}}>
                            </td>
                        </tr>
                          {% endfor %}
                      </table>
                          <input type="hidden" name="language" value="{{dataset_language.id}}">
                          <button class="regroup_keywords" id="regroup_keywords_{{gloss.id}}" value='{{gloss.id}}'
                                    data-language="{{dataset_language.id}}" type="submit">
                              {% trans "Regroup Kewords" %}'</button>
                      </form>
                     </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Dismiss" %}</button>
                      </div>
                </div>
            </div>
        </div>
{% endfor %}
{% endif %}

{% endblock content %}

