{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}Signbank: Search Morphemes{% endblock %}
{% block extrahead %}
{% endblock %}

{% block extrajs %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script type='text/javascript'>
    var url = '{{URL}}';
    var show_dataset_interface_options = {{ SHOW_DATASET_INTERFACE_OPTIONS|yesno:"true,false" }};
    var csrf_token = '{{csrf_token}}';
    
    $(document).ready(function(){
        
        
        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

        if (show_dataset_interface_options) {
            set_annotationidglosslanguages();

            $('#id_dataset').change(function() {
                set_annotationidglosslanguages();
            });

            function set_annotationidglosslanguages() {
                var languages_str = $('#id_dataset').find(":selected").attr('dataset_languages');
                var languages = languages_str.split(",");
                $("[id*='add_morpheme_dataset_']").each(function(){
                    $(this).hide();
                });
                for(var id in languages) {
                    $("[id*='add_morpheme_dataset_header_" + languages[id] + "']").show();
                    $("[id*='add_morpheme_dataset_value_" + languages[id] + "']").show();
                }
            }
        }

         $('#id_hasMorphemeOfType').attr('multiple','multiple');
         $('#id_hasMorphemeOfType').attr('class',"js-example-basic-multiple form-control");
         $('#id_hasMorphemeOfType').attr('name','hasMorphemeOfType[]');
         $('#id_hasMorphemeOfType').css('width', '100%');
         $('#id_hasMorphemeOfType').select2({
            allowClear: true,
            dropdownAutoWidth: true,
            width: 'resolve'
         });
         $('#id_hasMorphemeOfType').val(null).trigger('change');

         $('#id_namEnt').attr('multiple','multiple');
         $('#id_namEnt').attr('class',"js-example-basic-multiple form-control");
         $('#id_namEnt').attr('name','namEnt[]');
         $('#id_namEnt').css('width', '100%');
         $('#id_namEnt').select2({
            allowClear: true,
            dropdownAutoWidth: true,
            width: 'resolve'
         });
         $('#id_namEnt').val(null).trigger('change');

         $('#id_semField').attr('multiple','multiple');
         $('#id_semField').attr('class',"js-example-basic-multiple form-control");
         $('#id_semField').attr('name','semField[]');
         $('#id_semField').css('width', '100%');
         $('#id_semField').select2({
            allowClear: true,
            dropdownAutoWidth: true,
            width: 'resolve'
         });
         $('#id_semField').val(null).trigger('change');

         $('#id_wordClass').attr('multiple','multiple');
         $('#id_wordClass').attr('class',"js-example-basic-multiple form-control");
         $('#id_wordClass').attr('name','wordClass[]');
         $('#id_wordClass').css('width', '100%');
         $('#id_wordClass').select2({
            allowClear: true,
            dropdownAutoWidth: true,
            width: 'resolve'
         });
         $('#id_wordClass').val(null).trigger('change');

         $('#id_SIGNLANG').attr('multiple','multiple');
         $('#id_SIGNLANG').attr('class',"js-example-basic-multiple form-control");
         $('#id_SIGNLANG').attr('name','signlanguage[]');
         $('#id_SIGNLANG').css('width', '100%');
         $('#id_SIGNLANG').select2({
            allowClear: true,
            dropdownAutoWidth: true,
            width: 'resolve'
         });
         $('#id_SIGNLANG').val(null).trigger('change');

         $('#id_SIGNLANG').change(function() {
            set_signlanguages_dialects();
         });

         $('#id_dialects').attr('multiple','multiple');
         $('#id_dialects').attr('class',"js-example-basic-multiple form-control");
         $('#id_dialects').attr('name','dialect[]');
         $('#id_dialects').css('width', '100%');
         $('#id_dialects').select2({
            allowClear: true,
            dropdownAutoWidth: true,
            width: 'resolve'
         });
         $('#id_dialects').val(null).trigger('change');

    });

    {% if perms.dictionary.change_gloss %}

    var choice_lists = {{choice_lists|safe}};
    var mrp_data = choice_lists['mrpType'];
    $("#id_mrptype").html("");
    $.each(mrp_data, function(key, value) {
        var number_only = key.substring(1);
        $("#id_mrptype").append($('<option>', { value : number_only }).text(value));
    });

    {% endif %}


// http://www.javascript-coder.com/javascript-form/javascript-reset-form.phtml
function clearForm(myFormElement) {

  var elements = myFormElement.elements;

  myFormElement.reset();

  for(i=0; i<elements.length; i++) {

      field_type = elements[i].type.toLowerCase();
    
      switch(field_type) {
    
        case "text":
        case "password":
        case "textarea":
        case "hidden":
    
          elements[i].value = "";
          break;
    
        case "radio":
        case "checkbox":
            if (elements[i].checked) {
              elements[i].checked = false;
          }
          break;
    
        case "select-one":
        case "select-multiple":
                    elements[i].selectedIndex = -1;
          break;
    
        default:
          break;
      }
    }
    return(false);
}

/**
 * @param {string} field_name - name of the field to sort on
 * @param {string} action     - one of: desc, asc, del
 * @param {string} frmName    - name of the <form ...> that contains the 'sortOrder' <input> field
 * @returns {void}
 */
function do_sort_column(field_name, action, frmName) {
  // Combine @field_name and @action into [sOrder]
  var sOrder = field_name;
  if (action == 'desc') {
    // Descending sort order is signified by a '-' prefix
    sOrder = '-' + sOrder;
  } else if (action == 'del') {
    // "Deleting" (pressing 'x') the sort order of a column means: return to the default 'idgloss' sort order
    sOrder = 'idgloss';
  }

  // Set the value of the [sortOrder] field defined in dictionary/forms.py::MorphemeSearchForm
  $("#" + frmName + " input[name='sortOrder']").val(sOrder);

  // Submit the form with the indicated name
  $("#" + frmName).submit();
}


/**
 * @returns {void}
 */
function do_adminsearch(el) {
 var sSearchType = $(el).attr('value');
  $("#adminsearch input[name='search_type']").val(sSearchType);
  switch(sSearchType) {
    case "morpheme":
        $("#adminsearch").attr('action', '/morphemes/search/');
        break;
    case "sign":
        $("#adminsearch").attr('action', '/signs/search/');
        break;
    case "sign_or_morpheme":
        $("#adminsearch").attr('action', '/signs/search/');
        break;
  }
  document.getElementById('adminsearch').submit();
}


function set_signlanguages_dialects() {
    this_selection_elt = $('#signlanguage_selection');
    var signlanguage_str = '';
    this_selection_elt.find(".select2-selection__choice").each(function(){
        if (signlanguage_str) {
            signlanguage_str+=','+$(this).attr('title');
        }
        else {
            signlanguage_str = $(this).attr('title');
        }
    });

    optionValues = [];

    if (signlanguage_str) {
        var signlanguages = signlanguage_str.split(",");
        this_selection_choices = $('#signlanguage_selection');

        for(i = 0; i < signlanguages.length; i++) {
            $('#id_SIGNLANG option').each(function(){
                if ($(this).html() == signlanguages[i]) {
                    optionValues.push($(this).html());
                };
            });
        };
    }

    $('#id_dialects').val(null).trigger('change');

    this_selection_dialect_elt = $('#dialect_selection');
    $('#id_dialects option').each(function(){
        $(this).attr('disabled','disabled');
    });
    $('#id_dialects option').each(function(){
        var this_node_str = $(this).html();
        for(k = 0; k < optionValues.length; k++) {
            if (this_node_str.startsWith(optionValues[k])) {
                $(this).removeAttr('disabled');
            }
        };
    });
    $('#id_dialects').select2({
        allowClear: true,
        dropdownAutoWidth: true,
        width: 'resolve'
     });
    $('#id_dialects').val(null).trigger('change');
}

   </script>

<script type='text/javascript'>
    navbarHeight = Math.round($('#signbank-bar').outerHeight());
    $('#wrap').css({'padding-top': navbarHeight});
</script>

{% endblock %}


{% block content %}
{% url 'dictionary:protected_media' '' as protected_media_url %}

{{ form.media.css }}
{{ form.media.js }}

<form name='adminsearch' id='adminsearch' method='get' action='{{URL}}/morphemes/search'>

<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#query-area">{% trans "Form your query" %}
                <span id="tooltip" class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-html="true"
                  title="In many text fields, you can use patterns as follows:
                  <table>
                    <tr>
                        <td align='right'>A</td><td>&nbsp;&nbsp;</td><td align='left'>{% trans "contains A" %}</td>
                    </tr>
                    <tr>
                        <td align='right'>^A</td><td>&nbsp;&nbsp;</td><td align='left'>{% trans "starts with A" %}</td>
                    </tr>
                    <tr>
                        <td align='right'>A$</td><td>&nbsp;&nbsp;</td><td align='left'>{% trans "ends with A" %}</td>
                    </tr>
                    <tr>
                        <td align='right'>A|B</td><td>&nbsp;&nbsp;</td><td align='left'>{% trans "A or B" %}</td>
                    </tr>
                    <tr>
                        <td align='right'>.*</td><td>&nbsp;&nbsp;</td><td align='left'>{% trans "find all strings in this field" %}</td>
                    </tr>
                    <tr>
                        <td align='right'>(</td><td>&nbsp;&nbsp;</td><td align='left'>{% trans "use backslash to find <br/>special characters in field" %}</td>
                    </tr>
                  </table>
                  "></span></div>

    <div id='query-area' class='collapse {% if request.GET|length == 0 and not show_all %} in {% endif %}'>
        <div id='searchformwell' class='well search-results-collapsable'>

        <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
        <div class="hidden">
            <input name='sortOrder' class='form-control' value='idgloss' >
            <input name='search_type' class='form-control' value='morpheme'>
        </div>
        <div>
            <table class='table' id='searchfields'>
                    {% for dataset_lang in dataset_languages %}
                    {% with searchform|get_morpheme_search_field_for_language:dataset_lang as search_field %}
                    {% with searchform|get_keyword_field_for_language:dataset_lang as keyword_field %}
                <tr>
                    <td><div class='input-group'>
                        <label class='input-group-addon' for='id_annotation_idgloss_{{ dataset_lang.language_code_2char }}'>
                                    {{search_field.label}}
                        </label>
                        <input name='morphemesearch_{{ dataset_lang.language_code_2char }}' class='form-control' {% if search_field.value %}value='{{search_field.value}}'{% endif %}>
                        </div>
                    </td>
                    <td><div class='input-group'>

                        <label class='input-group-addon' for='id_idgloss'>{{searchform.lemmaGloss.label}}</label>
                        <input name='lemmaGloss' class='form-control' {% if searchform.lemmaGloss.value %}value='{{searchform.lemmaGloss.value}}'{% endif %}></div>
                    </td>

                    <td><div class='input-group'>
                        <label class='input-group-addon' for='id_keyword_{{ dataset_lang.language_code_2char }}'>{{keyword_field.label}}</label>
                        <input name='keyword_{{ dataset_lang.language_code_2char }}' class='form-control' {% if keyword_field.value %}value='{{keyword_field.value}}'{% endif %}></div>
                    </td>
                </tr>
                    {% endwith %}
                    {% endwith %}
                    {% endfor %}
            </table>
        </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#searchpanels">{% trans "Search by Language and Basic Properties" %}</div>

                <div id='searchpanels' class='collapse'>
                <table class='table'>
                    {% csrf_token %}
                    <tr id='signlanguage_selection'>
                        <td><label>{{searchform.SIGNLANG.label}}</label>
                                {{searchform.SIGNLANG}}
                        </td>
                      </tr>
                    <tr id='dialect_selection'>
                        <td><label>{{searchform.dialects.label}}</label>
                                {{searchform.dialects}}
                        </td>
                    </tr>

                </table>

                <table class='table'>
                    {% for fieldname,field,label in input_names_fields_and_labels.main %}
                    <tr><td><label for='id_{{fieldname}}'>{{label}}</label>{{field}}</td></tr>
                    {% endfor %}
                </table>

                </div>
              </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#morph_search">{% trans "Search by Morphology" %}</div>

              <div id='morph_search' class='collapse'>
                    <table class='table'>
                        <tr id='mrpType_selection'>
                            <td><label>{{searchform.hasMorphemeOfType.label}}</label>
                                {{searchform.hasMorphemeOfType}}
                            </td>
                        </tr>
                    </table>
              </div>
            </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#phon_search">{% trans "Search by Phonology" %}</div>

              <div id='phon_search' class='collapse'>
              <table class='table table-condensed'>
                <tr>

                  <td>
                    <table class='table table-condensed'>
                        {% for fieldname,field,label in input_names_fields_and_labels.phonology %}

                            <tr><td><label for='id_{{fieldname}}'>{{label}}</label></td><td>{{field}}</td></tr>

                        {% endfor %}

                    </table>

                  </td>
                </tr>
              </table>
              </div>
            </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#sem_search">{% trans "Search by Semantics" %}</div>

              <div id='sem_search' class='collapse'>
              <table class='table table-condensed'>
                <tr>

                  <td>
                    <table class='table table-condensed'>
                        {% for fieldname,field,label in input_names_fields_and_labels.semantics %}

                            <tr><td><label for='id_{{fieldname}}'>{{label}}</label>{{field}}</td></tr>

                        {% endfor %}



                    </table>

                  </td>
                </tr>
              </table>
              </div>
            </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#rel_search">{% trans "Search by Relation" %}</div>

              <div id='rel_search' class='collapse'>
              <table class='table'>
                <tr>

                      <tr>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_relation'>{{searchform.relation.label}}</label>
                                {{searchform.relation}}
                            </div>
                        </td>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_hasRelation'>{{searchform.hasRelation.label}}</label>
                                {{searchform.hasRelation}}
                            </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_relationToForeignSign'>{{searchform.relationToForeignSign.label}}</label>
                                {{searchform.relationToForeignSign}}
                            </div>
                        </td>

                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_hasRelationToForeignSign'>{{searchform.hasRelationToForeignSign.label}}</label>
                                {{searchform.hasRelationToForeignSign}}
                            </div>
                        </td>

                      </tr>


                </tr>
              </table>
              </div>
            </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#pub_search">{% trans "Search by Publication Status and Notes" %}</div>

              <div id='pub_search' class='collapse'>
              <table class='table'>
                  <tr>
                    <td>
                        <div class='input-group'>
                            <label class='input-group-addon' for='id_inWeb'>{{searchform.inWeb.label}}</label>
                            {{searchform.inWeb}}
                        </div>
                    </td>
                    <td>
                        <div class='input-group'>
                            <label class='input-group-addon' for='id_isNew'>{{searchform.isNew.label}}</label>
                            {{searchform.isNew}}
                        </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                        <div class='input-group'>
                            <label class='input-group-addon' for='id_definitionRole'>{{searchform.definitionRole.label}}</label>
                            {{searchform.definitionRole}}
                        </div>
                    </td>
                    <td>
                        <div class='input-group'>
                            <label class='input-group-addon' for='id_definitionContains'>{{searchform.definitionContains.label}}</label>
                            {{searchform.definitionContains}}
                        </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                        <div class='input-group'>
                            <label class='input-group-addon' for='id_definitionRole'>{{searchform.createdBefore.label}}</label>
                            {{searchform.createdBefore}}
                        </div>
                    </td>
                    <td>
                        <div class='input-group'>
                            <label class='input-group-addon' for='id_definitionContains'>{{searchform.createdAfter.label}}</label>
                            {{searchform.createdAfter}}
                        </div>
                    </td>
                  </tr>

                  <tr>
                      <td>
                          <div class='input-group'>
                            <label class='input-group-addon' for='id_createdBy'>{{searchform.createdBy.label}}</label>
                            {{searchform.createdBy}}
                          </div>
                      </td>
                  </tr>

                  <tr>
                      <td>
                          <div class='input-group'>
                            <label class='input-group-addon' for='id_language'>{{searchform.tags.label}}</label>
                            {{searchform.tags}}
                          </div>
                      </td>
                  </tr>

              </table>

              </div>
            </div>
    </div>
</div>
        <div class='btn-group'>
            <!-- Make sure no button has the *name* 'submit', otherwise submit() cannot be used -->
            <div class="btn-group">
                <a class='btn btn-primary dropdown-toggle' data-toggle="dropdown" type='submit' name='submit_button'>
                    <span data-bind="label" onclick="do_adminsearch(this);"  name="search_type" value="morpheme">{% trans "Search morpheme" %}</span>&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <!--<li><a href="#" onclick="do_adminsearch(this);" type='submit' name="search_type" value="sign">{% trans "Search sign" %}</a></li>-->
                    <li><a href="#" onclick="do_adminsearch(this);" type='submit' name="search_type" value="morpheme">{% trans "Search morpheme" %}</a></li>
                    <!--<li><a href="#" onclick="do_adminsearch(this);" type='submit' name="search_type" value="sign_or_morpheme">{% trans "Sign or morpheme" %}</a></li>-->
                </ul>
            </div>

            <!-- The element below adds an invisible submit option, so the 'button' above also works when enter is pressed -->
            <input type="submit" style="visibility: hidden;"/>

            {% if perms.dictionary.export_csv %}
            <input class='btn btn-default' type='submit' name='format' value='CSV'>
            {% endif %}
            <!--<input class='btn btn-default' type='submit' name='export_ecv' value='ECV'>-->
            <input class='btn btn-default' type='submit' onclick="return clearForm(document.adminsearch);" value='{% trans "Reset" %}'>
        </div>

        <div class='form-group' id='paginate_by'>
        <label for='paginate_by'>{% trans "Results per page" %}</label>
        <select class='form-control' name="paginate_by">
            <option {% if paginate_by == 3000 %}selected{% endif %}>3000</option>
            <option {% if paginate_by == 2000 %}selected{% endif %}>2000</option>
            <option {% if paginate_by == 1000 %}selected{% endif %}>1000</option>
            <option {% if paginate_by == 500 %}selected{% endif %}>500</option>
            <option {% if paginate_by == 100 %}selected{% endif %}>100</option>
            <option {% if paginate_by == 50 %}selected{% endif %}>50</option>
            <option {% if paginate_by == 25 %}selected{% endif %}>25</option>
            <option {% if paginate_by == 10 %}selected{% endif %}>10</option>
        </select>
        </div>

    </form>

<div></div>

   {% if perms.dictionary.add_morpheme %}
   <div  class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"  data-target='#add_morpheme_form'>{% trans "Add New Morpheme" %}</div>

         <div id='add_morpheme_form' class='collapse'>
             <form action='{% url "dictionary:add_morpheme" %}' method='post'>
                 {% csrf_token %}
                 <table class='table'>
                     <tr>
                         <th><label for='dataset'>Dataset</label></th>
                         <th><label for='id_idgloss'>ID Gloss</label></th>
                         {% for dataset_lang in dataset_languages %}
                         <th id="add_morpheme_dataset_header_{{ dataset_lang.language_code_2char }}"><label for="id_annotation_idgloss_{{ dataset_lang.language_code_2char }}">{% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})</label></th>
                         {% endfor %}
                         <th><label for='id_mrp_type'>Morpheme type</label></th>
                         <th></th>
                     </tr>
                     <tr>
                         {% if SHOW_DATASET_INTERFACE_OPTIONS %}
                         <td><select id="id_dataset" name="dataset" required="">
                             <option value="" {% if add_morpheme_form.last_used_dataset == None %}selected{% endif %}
                                     dataset_languages="{% for dataset_lang in dataset_languages %}{{ dataset_lang.language_code_2char }}{% if not forloop.last %},{% endif %}{% endfor %}">---------</option>
                             {% for s_dataset in selected_datasets %}
                             <option value="{{ s_dataset.id }}"
                                     {% if add_morpheme_form.last_used_dataset == s_dataset.name %}selected{% endif %}
                                     dataset_languages="{% for dataset_lang in dataset.translation_languages.all %}{{ dataset_lang.language_code_2char }}{% if not forloop.last %},{% endif %}{% endfor %}">{{ s_dataset.name }}</option>
                             {% endfor %}
                         </select></td>
                         {% endif %}
                         <td>{{add_morpheme_form.idgloss}}</td>
                         {% for dataset_lang in dataset_languages %}
                         <td id="add_morpheme_dataset_value_{{ dataset_lang.language_code_2char }}">
                             <input id="morphemecreate_{{ dataset_lang.language_code_2char }}" name="morphemecreate_{{ dataset_lang.language_code_2char }}" maxlength="30" type="text"/>
                         </td>
                         {% endfor %}
                         <td class="edit edit_list"><select id='id_mrptype' name='mrpType'></select></td>
                         <td><input class='btn btn-primary' type='submit' value='{% trans "Add New Morpheme" %}'></td>
                     </tr>
                 </table>
                 
             </form>
         </div>
      </div>
   {% else %}
   <p>{% trans "You are not authorized to add a morpheme" %}</p>
   {% endif %}

             
             

  

<p>{% trans "Number of matches:" %} {{page_obj.paginator.count}} {% trans "out of" %} {{glosscount}}.</p>

{% if object_list %}
<table class='table table-condensed'>
    <thead>
      <tr>
          <th></th>
          {% for dataset_lang in dataset_languages %}
          <th>{% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})</th>
          {% endfor %}

           <th>{% trans "Abstract Meaning" %}</th>
           <th>{% trans "Morpheme type" %}</th>
           <th>{% trans "Handedness" %}</th>
           <th>{% trans "Strong hand" %}</th>
           <th>{% trans "Weak hand" %}</th>
           <th>{% trans "Location" %}</th>
           <th style="width:255px;">{% trans "Tags" %}</th>
      </tr>
      <!-- EK: this second header row contains clickable sort-order buttons -->
      <tr>
          <th></th>
          {% for dataset_lang in dataset_languages %}
          {% with "annotationidglosstranslation_order_"|add:dataset_lang.language_code_2char as field %}
          {% with minfield="-"|add:field %}
           <th>
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if searchform.sortOrder and searchform.sortOrder.value == minfield or searchform.sortOrder and searchform.sortOrder.value == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
           </th>
           {% endwith %}
           {% endwith %}
          {% endfor %}

           {% with "translation handedness domhndsh subhndsh locprim" as head_fields %}
           {% for field in head_fields.split  %}
           {% with minfield="-"|add:field %}
           <th>
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if searchform.sortOrder and searchform.sortOrder.value == minfield or searchform.sortOrder and searchform.sortOrder.value == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
           </th>
           {% endwith %}
           {% endfor %}
           {% endwith %}
           <th style="width:255px;"></th>
      </tr>
    </thead>
    <tbody>
    {% for morpheme in object_list %}
            <!-- EK: the color depends on: (1) tag for wrong sign, (2) availability of video, and (3) morpheme database value for 'isNew' -->
            {% tags_for_object morpheme as tag_list %}
            {% if tag_list|wrong_sign %}
                <tr class="danger">
            {% elif not morpheme.has_video %}
                <tr class="warning">
            {% elif morpheme.isNew %}
                <tr class="info">
            {% else %}
                <tr>
            {% endif %}

      <td>{%if morpheme.get_image_path != None %}<div class="thumbnail_container"><img class="thumbnail" src="{{STATIC_URL}}{{morpheme.get_image_path}}"></div>{% endif %}</td>

      {% for dataset_lang in dataset_languages %}
        {% with morpheme.gloss_ptr|get_annotation_idgloss_translation:dataset_lang as annotationidglosstranslation %}
      <td>
          {% ifnotequal annotationidglosstranslation "" %}
            <a href="/dictionary/morpheme/{{morpheme.pk}}/">{{ annotationidglosstranslation }}</a>
          {% endifnotequal %}
      </td>
        {% endwith %}
      {% endfor %}
      <td>
      {% for translation in morpheme.translation_set.all %}
                {% if forloop.last %}
                {{ translation.translation }}
                {% else%}
                {{ translation.translation }},
                {% endif %}

      {% endfor %}
      </td>
    
            <td>{{ morpheme.get_mrpType_display }}</td>
            <td>{{ morpheme.get_handedness_display }}</td>
            <td>{{ morpheme.get_domhndsh_display }}</td>
            <td>{{ morpheme.get_subhndsh_display }}</td>
            <td>{{ morpheme.get_locprim_display }}</td>
            {% load underscore_to_space %}
            <td>{% for tag in morpheme.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
            
        </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">

        <ul class='pagination pagination-sm'>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
        {% endif %}
          
          {% if  page_obj.number > 10 %}
            <li><a>...</a></li>
          {% endif %}

          {% for p in page_obj.paginator.page_range %}
          
             {% if p < page_obj.number|add:"10" and  p > page_obj.number|add:"-10" %}
             <li {% ifequal p page_obj.number %}class='active'{% endifequal %}>
             <a href='?page={{ p }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{% ifequal p 0 %}Start{% else %}{{p}}{% endifequal %}</a>
             </li>
             {% endif %}
         
          {% endfor %}
  
          {% if page_obj.paginator.num_pages > page_obj.number|add:"10" %}
            <li><a>...</a></li>
            <li>
            <a href='?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{{page_obj.paginator.num_pages}}</a>
            </li>
          {% endif %}
      
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>

            
      </ul>


        {% endif %}
    </span>
</div>





{% endif %}

{% endblock content %}
