{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Search Morphemes{% endblocktrans %}
{% endblock %}
{% block extrahead %}
{% endblock %}

{% load guardian_tags %}

{% block extrajs %}
<script type="text/javascript">
    var url = '{{PREFIX_URL}}';
    var language_code = '{{LANGUAGE_CODE}}';
    var lemma_create_field_prefix = "{{lemma_create_field_prefix}}";
    var user_can_add_gloss = {{perms.dictionary.add_gloss|yesno:"true,false" }};
    var lookahead_initial_language = "{{default_dataset_lang}}";
</script>

<style>
.select2-results__option--highlighted {
    color: black !important;
    font-weight: bold;
}
.select2-selection__choice {
    color: black;
}
</style>
<link rel="stylesheet" href="{{STATIC_URL}}css/select2-dark-mode.css">

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/gloss_add.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.js"></script>
<script type='text/javascript'>
var show_dataset_interface_options = {{SHOW_DATASET_INTERFACE_OPTIONS|yesno:"true,false"}};
var user_can_add_morpheme = {{perms.dictionary.add_morpheme|yesno:"true,false"}};
var multiple_select_fields = {{MULTIPLE_SELECT_MORPHEME_FIELDS|safe}};
var field_colors = {{field_colors|safe}};
var populate_fields_keys = {{populate_fields_keys|safe}};
var populate_fields = {{populate_fields|safe}};

var csrf_token = '{{csrf_token}}';

$(document).ready(function(){

    $('[data-toggle="tooltip"]').tooltip();

    if (show_dataset_interface_options && user_can_add_morpheme) {
        set_annotationidglosslanguages();

        $('#id_dataset').change(function() {
            set_annotationidglosslanguages();
        });
        set_initial_language_lemma_lookahead(lookahead_initial_language);
    };

    function selectColors(fieldId) {
        var target_pulldown = document.getElementById(fieldId);
        var pulldown_colors = field_colors[fieldId.substring(3)]; // skip the id_
        var pulldown_colors_str = new String(pulldown_colors);
        var pulldown_lookup = JSON.parse(pulldown_colors_str);
        $('option',target_pulldown).each(function(){
            var this_code = $(this).attr('value');
            var this_color = pulldown_lookup[this_code];
            if (this_color===undefined || this_color=='ffffff') {
               $(this).attr('style','color:inherit;background-color:inherit;');
            } else {
                $(this).attr('style','color:black;background-color:#'+this_color);
            }
        });
    }

    function makeMultipleSelect(fieldId,fieldVar) {
        var target_pulldown = document.getElementById(fieldId);
        if (!target_pulldown) { return; }
        target_pulldown.setAttribute('multiple','multiple');
        target_pulldown.setAttribute('class',"js-example-basic-multiple form-control");
        target_pulldown.setAttribute('name',fieldVar);
        target_pulldown.style.width = '100%';
    }

     for (var i = 0; i < multiple_select_fields.length; i++) {
        var this_id = 'id_' + multiple_select_fields[i];
        selectColors(this_id);
        var this_var = multiple_select_fields[i] + '[]';
        makeMultipleSelect(this_id, this_var);
     }

     function addOptionColor(optionNode) {
        var color_text = optionNode.text;

        // pattern of resultId: "select2-id_handedness-result-58e8-0"

        if (optionNode._resultId) {
            var resultString = optionNode._resultId
            splitPattern = resultString.split('-');
            var fieldId = splitPattern[1];
            var pulldown_colors = field_colors[fieldId.substring(3)]; // skip the id_
            var this_code = splitPattern[4];
            var pulldown_colors_str = new String(pulldown_colors);
            var pulldown_lookup = JSON.parse(pulldown_colors_str);
            var this_color = pulldown_lookup[this_code];
            if (this_color===undefined || this_color=='ffffff') {
               var $color_text_node = $("<span style='display:block;padding:0;line-height:30px;color:inherit;background-color:inherit'>"+color_text+"</span>");
            } else {
                var $color_text_node = $("<span style='display:block;padding:0;line-height:30px;color:black;background-color:#"+this_color+"'>"+color_text+"</span>");
            }
            return $color_text_node
        } else {
            return color_text;
        };
     }

     $('.js-example-basic-multiple').each(function() {
         var thisId = this.id;
         $(this).select2({
            allowClear: true,
            dropdownAutoWidth: true,
            width: 'resolve',
            placeholder: '',
            templateResult: addOptionColor
         });
     });

     $('.js-example-basic-multiple').val(null).trigger('change');

     function identityOption(optionNode) {
        var color_text = optionNode.text;
        var $color_text_node = $("<span style='display:block;padding:0;line-height:30px;color:inherit;background-color:inherit'>"+color_text+"</span>");
        return $color_text_node
     }
     makeMultipleSelect('id_tags', 'tags[]');
     $('#id_tags').select2({
        allowClear: true,
        dropdownAutoWidth: true,
        width: 'resolve',
        placeholder: '',
        templateResult: identityOption
     });
     $('#id_tags').val(null).trigger('change');


     // initialise multiple select fields from the GET parameters
     for (var i = 0; i < multiple_select_fields.length; i++) {
        var this_id = '#id_' + multiple_select_fields[i];
        var this_var = multiple_select_fields[i] + '[]';
        if (populate_fields_keys.includes(this_var)) {
            var query_initial = populate_fields[this_var];
            $(this_id).val(query_initial);
            $(this_id).trigger('change');
        };
     }

     // tags are multi-select but not included in multiple_select_fields because
     // they don't have colours and are created differently
     if (populate_fields_keys.includes('tags[]')) {
         var query_initial = populate_fields['tags[]'];
         var this_id = '#id_tags';
         $(this_id).val(query_initial);
         $(this_id).trigger('change');
     };

     // initialize non-multiple select, not language-based query fields
     for (var i = 0; i < populate_fields_keys.length; i++) {
        var this_var = populate_fields_keys[i];
        if (this_var.endsWith('[]')) { continue; }
        var this_id = '#id_' + populate_fields_keys[i];
        var $language_search = $("input[name='"+this_var+"']");
        var query_initial = populate_fields[this_var];
        if ($language_search.length > 0) {
            $language_search.val(query_initial);
        } else {
            // $select_search = $("select[name='"+this_var+"']");
            $(this_id).val(query_initial);
        }
     }
});

</script>

<script type='text/javascript' src="{{STATIC_URL}}js/lemma_typeahead.js"></script>

<script>
function clearForm() {
      $('input').each(function() {
        var this_field = $(this).attr('name');
        if (this_field == undefined) { return; };
        var this_type = $(this).attr('type');
        if (this_type == 'hidden' || this_type == 'submit' || this_type == 'radio') { return; };
        if (this_type == 'date' || this_type == 'text') {
            $(this).attr('value', "");
        } else {
            $(this).val('');
        };
      });

      $('select').each(function() {
        var this_field = $(this).attr('name');
        if (this_field == undefined) { return; };
        var this_type = $(this).attr('type');
        if (this_type == 'hidden') { return; };
        if (this_field.endsWith('[]')) {
            return;
        } else {
            $(this).find('option').each(function () {
                $(this).removeAttr("selected");
            });;
        };
      });

     $('.js-example-basic-multiple').val(null).trigger('change');
     $("input[name='translation']").val('');
     $("input[name='search']").val('');
     $('#format').val('');
     $('#do_morpheme_search').val('');
}

function do_adminsearch(el) {
    $('#do_morpheme_search').val('OK');
    $('#format').val('');
    $("#adminsearch").attr('action', '{{PREFIX_URL}}/morphemes/search/');
    document.getElementById('adminsearch').submit();
}

function do_export_csv(e1) {
  $('#format').val('CSV');
  $('#do_morpheme_search').val('');
  $("#adminsearch").attr('action', '{{PREFIX_URL}}/morphemes/search/');
  document.getElementById('adminsearch').submit();
}

/**
 * @param {string} field_name - name of the field to sort on
 * @param {string} action     - one of: desc, asc, del
 * @param {string} frmName    - name of the <form ...> that contains the 'sortOrder' <input> field
 * @returns {void}
 */
function do_sort_column(field_name, action, frmName) {
  // Combine @field_name and @action into [sOrder]
  var sOrder = field_name;
  if (action == 'desc') {
    // Descending sort order is signified by a '-' prefix
    sOrder = '-' + sOrder;
  } else if (action == 'del') {
    // "Deleting" (pressing 'x') the sort order of a column means: return to the default 'idgloss' sort order
    sOrder = '';
  }

  // Set the value of the [sortOrder] field defined in dictionary/forms.py::MorphemeSearchForm
  $("#" + frmName + " input[name='sortOrder']").val(sOrder);

  // Submit the form with the indicated name
  $("#" + frmName).submit();
}

/**
 * set the lemma language for the chosen dataset
 */
function do_set_lemma_language(el) {
  if (user_can_add_gloss) {
      var dataset_language_id = $(el).attr('value');
      $("#selected_lemma_language").attr('value',dataset_language_id);
      language_code = dataset_language_id;
      set_lemma_language();
  }
}
</script>

<script type='text/javascript'>
    navbarHeight = Math.round($('#signbank-bar').outerHeight());
    $('#wrap').css({'padding-top': navbarHeight});
</script>

{% endblock %}


{% block content %}
<div id="definitionblock">
{% url 'dictionary:protected_media' '' as protected_media_url %}

{{ form.media.css }}
{{ form.media.js }}

<form name='adminsearch' id='adminsearch' class="search-form search-form-light"
      method='get' action='{{PREFIX_URL}}/morphemes/search'>
{% csrf_token %}
<div class="panel panel-default panel-light">
    <div class="panel-heading panel-light" data-toggle="collapse" data-target="#query-area">{% trans "Form Your Query" %}
            {% if USE_REGULAR_EXPRESSIONS %}
            <span class="hasTooltip">
                <span id="tooltip" class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-html="true"
                  title=""></span>
				{% include "tooltip.html" with include_tags=True %}
            </span>
            {% endif %}
    </div>

    <div id='query-area' class='collapse-light collapse {% if request.GET|length == 0 and not show_all %} in {% endif %}'>
        <div id='searchformwell' class='well well-light search-results-collapsable'>

        <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
            <!-- this is empty as an initial value because the view python code sets it -->
        <div class="hidden">
            <input name='sortOrder' class='form-control' value='' type='hidden'>
            <input name='search_type' class='form-control' value='morpheme' type='hidden'>
        </div>
        <div>
            <table class='table' id='searchfields'>
            {% for dataset_lang in dataset_languages %}
                <tr>
                    {% with searchform|get_morpheme_search_field_for_language:dataset_lang as search_field %}
                    <td class='td td-light'>
                        <div class='input-group input-group-light'>
                        <label class='input-group-addon' for='id_annotation_idgloss_{{dataset_lang.language_code_2char}}'>
                            {{search_field.label}}
                        </label>
                        <input id='id_annotation_idgloss_{{dataset_lang.language_code_2char}}'
                               name='morphemesearch_{{dataset_lang.language_code_2char}}'
                               type='text'
                               class='form-control'>
                        </div>
                    </td>
                    {% endwith %}

                    {% with searchform|get_lemma_form_field_for_language:dataset_lang as lemma_field %}
                    <td class='td td-light'><div class='input-group input-group-light'>

                        <label class='input-group-addon' for='id_lemma_{{dataset_lang.language_code_2char}}'>
                            {{lemma_field.label}}
                        </label>
                        <input name='lemma_{{dataset_lang.language_code_2char}}'
                               id='id_lemma_{{dataset_lang.language_code_2char}}'
                               type='text'
                               class='form-control'></div>
                    </td>
                    {% endwith %}

                    {% with searchform|get_keyword_form_field_for_language:dataset_lang as keyword_field %}
                    <td class='td td-light'><div class='input-group input-group-light'>
                        <label class='input-group-addon' for='id_keyword_{{dataset_lang.language_code_2char}}'>
                            {{keyword_field.label}}
                        </label>
                        <input name='keyword_{{dataset_lang.language_code_2char}}'
                               id='id_keyword_{{dataset_lang.language_code_2char}}'
                               type='text'
                               class='form-control'></div>
                    </td>
                    {% endwith %}
                </tr>
            {% endfor %}
            </table>
        </div>

            <div class="panel panel-default panel-light">
                <div class="panel-heading panel-light" data-toggle="collapse" data-target="#searchpanels">{% trans "Search by Basic Properties" %}</div>

                <div id='searchpanels' class='collapse-light collapse'>

                <table class='table table-condensed table-condensed-light'>
                    {% for fieldname,field,label in input_names_fields_and_labels.main %}
                    <tr><td class='td td-light'><label for='id_{{fieldname}}'>{{label}}</label>{{field}}</td></tr>
                    {% endfor %}
                </table>

                </div>
              </div>

            <div  class="panel panel-default panel-light">
              <div class="panel-heading panel-light" data-toggle="collapse" data-target="#morph_search">{% trans "Search by Morphology" %}</div>

              <div id='morph_search' class='collapse-light collapse'>
                    <table class='table table-condensed table-condensed-light'>
                        <tr id='mrpType_selection'>
                            <td class='td td-light'><label>{{searchform.mrpType.label}}</label>
                                {{searchform.mrpType}}
                            </td>
                        </tr>
                    </table>
              </div>
            </div>

            <div  class="panel panel-default panel-light">
              <div class="panel-heading panel-light" data-toggle="collapse" data-target="#phon_search">{% trans "Search by Phonology" %}</div>

              <div id='phon_search' class='collapse-light collapse'>
              <table class='table table-condensed table-condensed-light'>
                <tr>

                  <td>
                    <table class='table table-condensed table-condensed-light'>
                        {% for fieldname,field,label in input_names_fields_and_labels.phonology %}

                            <tr>
                                <td class='td td-light'>
                                <label for='id_{{fieldname}}'>{{label}}</label>
                                </td>
                                <td class='td td-light'>{{field}}</td>
                            </tr>

                        {% endfor %}

                    </table>

                  </td>
                </tr>
              </table>
              </div>
            </div>

            <div  class="panel panel-default panel-light">
              <div class="panel-heading panel-light" data-toggle="collapse" data-target="#sem_search">{% trans "Search by Semantics" %}</div>

              <div id='sem_search' class='collapse-light collapse'>
              <table class='table table-condensed table-condensed-light'>
                <tr>

                  <td>
                    <table class='table table-condensed table-condensed-light'>
                        {% for fieldname,field,label in input_names_fields_and_labels.semantics %}

                            <tr><td class='td td-light'>
                                <label for='id_{{fieldname}}'>{{label}}</label>{{field}}</td>
                            </tr>

                        {% endfor %}



                    </table>

                  </td>
                </tr>
              </table>
              </div>
            </div>

            <div  class="panel panel-default panel-light">
              <div class="panel-heading panel-light" data-toggle="collapse"
                   data-target="#pub_search">{% trans "Search by Publication Status and Notes" %}</div>

              <div id='pub_search' class='collapse-light collapse'>
              <table class='table table-condensed table-condensed-light'>
              {% for publication_id, publication_label, publication_field in search_by_publication_fields %}
              <tr>
                  <td class='td td-light' style="padding-left:30px;"><label for='id_{{publication_id}}'>{{publication_label}}</label></td>
                  <td class='td td-light'>{{publication_field}}</td>
              </tr>
              {% endfor %}
              </table>
              </div>
            </div>
    </div>
</div>

        <div class='btn-group btn-group-light' style="margin-bottom: 20px">
           <button class='btn btn-primary' type='submit'
                   id='morpheme_search_button'
                   onclick="do_adminsearch(this);"
                   value='morpheme'>{% trans "Search Morpheme" %}</button>
            <input type='hidden' id='do_morpheme_search' name='morpheme_search' value="">

            {% if perms.dictionary.export_csv %}
            <button class='btn btn-default btn-default-light' type='submit'
                    onclick="do_export_csv(this);"
                    id='button_export_csv' value='CSV'>CSV</button>
            <input type='hidden' id='format' name='format' value="">
            <input type='hidden' name='show_all' value="{{show_all}}">
            {% endif %}

           <input class='btn btn-default btn-default-light' type='reset' onclick="clearForm();"
                   value='{% trans "Reset" %}'>
        </div>

</div>
</form>

<div></div>

<form name="show_pages" class='pages-form pages-form-light'>
<div class='form-group form-group-light' id='paginate_by'>
<label for='paginate_by'>{% trans "Results Per Page" %}</label>
<select class='form-control form-control-light' name="paginate_by">
    <option {% if paginate_by == 50 %}selected{% endif %}>50</option>
    <option {% if paginate_by == 25 %}selected{% endif %}>25</option>
    <option {% if paginate_by == 10 %}selected{% endif %}>10</option>
</select>
{% csrf_token %}
<input type="submit" value='{% trans "Refresh" %}'
       class="btn btn-default btn-default-light">
</div>
</form>

   {% if perms.dictionary.add_morpheme %}
   <div  class="panel panel-default panel-light">
      <div class="panel-heading panel-light" data-toggle="collapse"  data-target='#add_morpheme_form'>{% trans "Add New Morpheme" %}</div>

         <div id='add_morpheme_form' class='collapse-light collapse'>
             <form action='{% url "dictionary:add_morpheme" %}' method='post'>
                 {% csrf_token %}
                 <table class='table'>
                     <tr>
                         {% if SHOW_DATASET_INTERFACE_OPTIONS %}<th><label for='dataset'>{% trans "Dataset" %}</label></th>{% endif %}
                         <th><label for='id_idgloss'>{% trans "Lemma ID Gloss" %}</label></th>
                         {% for dataset_lang in dataset_languages %}
                         <th id="add_gloss_dataset_header_{{dataset_lang.language_code_2char}}"><label for="id_annotation_idgloss_{{dataset_lang.language_code_2char}}">{% trans "Annotation ID Gloss" %} ({{dataset_lang.name}})</label></th>
                         {% endfor %}
                     </tr>
                     <tr>
                         <td>
                         <select id="id_dataset" name="dataset" required="">
                         {% if SHOW_DATASET_INTERFACE_OPTIONS %}

                         {% for s_dataset in selected_datasets %}

                         {% get_obj_perms request.user for s_dataset as "dataset_perms" %}
                         {% if "change_permission" in dataset_perms %}
                         {% if last_used_dataset and last_used_dataset == s_dataset.acronym %}
                         <option value="{{s_dataset.id}}" selected="selected"
                                 dataset_languages="{% for dataset_lang in s_dataset.translation_languages.all %}{{dataset_lang.language_code_2char}}{% if not forloop.last %},{% endif %}{% endfor %}">{{s_dataset.acronym}}</option>
                         {% else %}
                         <option value="{{s_dataset.id}}"
                                 dataset_languages="{% for dataset_lang in s_dataset.translation_languages.all %}{{dataset_lang.language_code_2char}}{% if not forloop.last %},{% endif %}{% endfor %}">{{s_dataset.acronym}}</option>
                         {% endif %}
                         {% endif %}

                         {% endfor %}
                         {% else %}
                            <option value="{{selected_datasets.0.id}}"
                                 dataset_languages="{% for dataset_lang in selected_datasets.0.translation_languages.all %}{{dataset_lang.language_code_2char}}{% if not forloop.last %},{% endif %}{% endfor %}">{{selected_datasets.0.acronym}}</option>
                         <script type='text/javascript'>
                         gloss_dataset_id = {{selected_datasets.0.id}};
                         language_code = '{{selected_datasets.0.default_language.language_code_2char}}';
                         </script>
                     {% endif %}
                     </select>
                     </td>
                         <td style="width:600px;">
                             <div id="lemma_select">

                                 <label for="id_lemma_language_select">
                                 <span id="selected_lemma_language" value="{{default_dataset_lang}}"><p>
                                 {% for dataset_lang in dataset_languages %}
                                     <input id="lemma_language_{{dataset_lang.language_code_2char}}"
                                            type="radio" name="lemma_language" onclick="do_set_lemma_language(this)"
                                            value="{{dataset_lang.language_code_2char}}"/>
                                         <label id="lemma_language_label_{{dataset_lang.language_code_2char}}">{{dataset_lang.name}}</label>
                                 {% endfor %}
                                 </p></span>
                                 </label>
                                 <span id="lemma_language_buffer">&nbsp;<br></span>

                                 <!-- Input of the type ahead -->
                                 <input class='form-control lemmatypeahead' placeholder='{% trans "Lemma" %}' />
                                 <!-- Input that holds the lemma id the user chose from the type ahead -->
                                 <input type='hidden' name='idgloss' value='confirmed' required="">
                                 <a href="#" onclick="return toggleAddLemma()">{% trans "Create New" %}</a>
                             </div>
                             <div id="lemma_add">
                                {% for dataset_lang in dataset_languages %}
                                 <p><label id="{{lemma_create_field_prefix}}_header_{{dataset_lang.language_code_2char}}">{{dataset_lang.name}}:</label>
                                <input id="{{lemma_create_field_prefix }}{{dataset_lang.language_code_2char}}"
                                       name="{{lemma_create_field_prefix }}{{dataset_lang.language_code_2char}}"
                                       type="text" maxlength="30"></p>

                                {% endfor %}

                                 <a href="#" onclick="return toggleAddLemma()">{% trans "Select" %}</a>
                             </div>
                             <input type="hidden" id="select_or_new_lemma" name="select_or_new_lemma" value="select"/>
                         </td>
                         {% for dataset_lang in dataset_languages %}
                         <td id="add_gloss_dataset_value_{{dataset_lang.language_code_2char}}">
                             <input id="morphemecreate_{{dataset_lang.language_code_2char}}" name="morphemecreate_{{dataset_lang.language_code_2char}}" maxlength="30" type="text"/>
                         </td>
                         {% endfor %}
                         <td><input class='btn btn-primary' type='submit' value='{% trans "Add New Morpheme" %}'></td>
                     </tr>
                 </table>
                 
             </form>
         </div>
      </div>
   {% else %}
   <p>{% trans "You are not authorized to add a morpheme" %}</p>
   {% endif %}

<p>{% trans "Number of Matches:" %} {{page_obj.paginator.count}} {% trans "out of" %} {{glosscount}}.</p>

{% if object_list %}
<table class='table table-condensed table-condensed-light'>
    <thead class="thead thead-light">
      <tr>
          <th></th>
          {% for dataset_lang in dataset_languages %}
          <th>{% trans "Annotation ID Gloss" %} ({{dataset_lang.name}})</th>
          {% endfor %}
           <th>{% trans "Morpheme Type" %}</th>
           {% for dataset_lang in dataset_languages %}
           <th>{% trans "Abstract Meaning" %}
              {% if SHOW_DATASET_INTERFACE_OPTIONS %}
                ({{dataset_lang.name}})
              {% endif %}
           </th>
          {% endfor %}
           <th>{% trans "Handedness" %}</th>
           <th>{% trans "Location" %}</th>
           <th style="width:255px;">{% trans "Tags" %}</th>
      </tr>
      <!-- EK: this second header row contains clickable sort-order buttons -->
      <tr>
          <th></th>
          {% for dataset_lang in dataset_languages %}
          {% with "annotationidglosstranslation_order_"|add:dataset_lang.language_code_2char as field %}
          {% with minfield="-"|add:field %}
           <th>
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if searchform.sortOrder and searchform.sortOrder.value == minfield or searchform.sortOrder and searchform.sortOrder.value == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
           </th>
           {% endwith %}
           {% endwith %}
          {% endfor %}

            <th></th>

           {% for dataset_lang in dataset_languages %}
           {% with "translation_"|add:dataset_lang.language_code_2char as field %}
           {% with minfield="-"|add:field %}
           <th>
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if searchform.sortOrder and searchform.sortOrder.value == minfield or searchform.sortOrder and searchform.sortOrder.value == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
           </th>
           {% endwith %}
           {% endwith %}
           {% endfor %}

           {% with "handedness locprim" as head_fields %}
           {% for field in head_fields.split  %}
           {% with minfield="-"|add:field %}
           <th>
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if searchform.sortOrder and searchform.sortOrder.value == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if searchform.sortOrder and searchform.sortOrder.value == minfield or searchform.sortOrder and searchform.sortOrder.value == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
           </th>
           {% endwith %}
           {% endfor %}
           {% endwith %}
           <th style="width:255px;"></th>
      </tr>
    </thead>
    <tbody>
    {% for morpheme in object_list %}

    <tr>

      <td>{%if morpheme.get_image_path %}<div class="thumbnail_container"><img class="thumbnail" src="{{protected_media_url}}{{morpheme.get_image_path}}"></div>{% endif %}</td>

      {% for dataset_lang in dataset_languages %}
        {% with morpheme.gloss_ptr|get_annotation_idgloss_translation_no_default:dataset_lang as annotationidglosstranslation %}
      <td>
          {% if annotationidglosstranslation != "" %}
            <a href="{{PREFIX_URL}}/dictionary/morpheme/{{morpheme.pk}}/">{{annotationidglosstranslation}}</a>
          {% endif %}
      </td>
        {% endwith %}
      {% endfor %}
            <td>{{morpheme.get_mrpType_display}}</td>
            {% for lang, translations in morpheme.abstract_meaning %}
            {% if lang in dataset_languages %}
            <td>{% for trn in translations %}{{trn.translation.text|safe}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            {% endif %}
            {% endfor %}

            <td>{% if morpheme.handedness %}{{morpheme.get_handedness_display}}{% else %}-{% endif %}</td>
            <td>{% if morpheme.locprim %}{{morpheme.get_locprim_display}}{% else %}-{% endif %}</td>
            {% load underscore_to_space %}
            <td>{% for tag in morpheme.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
            
        </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">

        <ul class='pagination pagination-sm'>
        {% if page_obj.has_previous %}
            <li><a href="?page={{page_obj.previous_page_number}}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a></li>
        {% endif %}
          
          {% if  page_obj.number > 10 %}
            <li><a>...</a></li>
          {% endif %}

          {% for p in page_obj.paginator.page_range %}
          
             {% if p < page_obj.number|add:"10" and  p > page_obj.number|add:"-10" %}
             <li {% if p == page_obj.number %}class='active'{% endif %}>
             <a href='?page={{p}}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}'>{% if p == 0 %}Start{% else %}{{p}}{% endif %}</a>
             </li>
             {% endif %}
         
          {% endfor %}
  
          {% if page_obj.paginator.num_pages > page_obj.number|add:"10" %}
            <li><a>...</a></li>
            <li>
            <a href='?page={{page_obj.paginator.num_pages}}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}'>{{page_obj.paginator.num_pages}}</a>
            </li>
          {% endif %}
      
        {% if page_obj.has_next %}
            <li><a href="?page={{page_obj.next_page_number}}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">&raquo;</a></li>

            
      </ul>


        {% endif %}
    </span>
</div>


{% endif %}
</div>
{% endblock content %}
