{% extends "baselayout.html" %}
{% load bootstrap3 %}
{% block bootstrap3_title %}Signbank: Search Signs{% endblock %}
{% block extrahead %}
{% endblock %}

{% block extrajs %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type='text/javascript'>
    
    
    $(document).ready(function(){
        
        
        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });
        
        
    });



// http://www.javascript-coder.com/javascript-form/javascript-reset-form.phtml
function clearForm(myFormElement) {

  var elements = myFormElement.elements;

  myFormElement.reset();

  for(i=0; i<elements.length; i++) {

      field_type = elements[i].type.toLowerCase();
    
      switch(field_type) {
    
        case "text":
        case "password":
        case "textarea":
        case "hidden":
    
          elements[i].value = "";
          break;
    
        case "radio":
        case "checkbox":
            if (elements[i].checked) {
              elements[i].checked = false;
          }
          break;
    
        case "select-one":
        case "select-multiple":
                    elements[i].selectedIndex = -1;
          break;
    
        default:
          break;
      }
    }
    return(false);
}
   </script>
{% endblock %}


{% block content %}


<div id='searchformwell' class='well'>
    <form name='adminsearch' id='adminsearch'>
        
        <div>
            <table class='table' id='searchfields'>
                <tr>
                    <td><div class='input-group'>
                        <label class='input-group-addon' for='id_annotation_idgloss'>{{searchform.search.label}}</label>
                        <input name='search' class='form-control' {% if searchform.search.value %}value='{{searchform.search.value}}'{% endif %}></div>
                    </td>
                    <td><div class='input-group'>
                        <label class='input-group-addon' for='id_annotation_idgloss_en'>{{searchform.englishGloss.label}}</label>
                        <input name='englishGloss' class='form-control' {% if searchform.englishGloss.value %}value='{{searchform.englishGloss.value}}'{% endif %}></div>
                    </td>
                    <td><div class='input-group'>
                        <label class='input-group-addon' for='id_keyword'>{{searchform.keyword.label}}</label>
                        <input name='keyword' class='form-control' {% if searchform.keyword.value %}value='{{searchform.keyword.value}}'{% endif %}></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-group">
            <div  class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#searchpanels">Search by Language and Basic Properties</div>

                <div id='searchpanels' class='collapse'>
                <table class='table'>
                      <tr>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_language'>{{searchform.language.label}}</label>
                                {{searchform.language}}
                            </div>
                        </td>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_dialect'>{{searchform.dialect.label}}</label>
                                {{searchform.dialect}}
                            </div>
                        </td>
                      </tr>

                </table>

                <table class='table'>
                    <tr><td><label for='id_useInstr'>{{searchform.useInstr.label}}</label></td><td>{{searchform.useInstr}}</td></tr>
                </table>

                </div>
              </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#morph_search">Search by Morphology</div>

              <div id='morph_search' class='collapse'>
              <table class='table table-condensed'>
                <tr>

                  <td>
                    <table class='table table-condensed'>
                        <tr><td><label for='id_handedness'>{{searchform.morpheme.label}}</label></td><td>{{searchform.morpheme}}</td></tr>
                        <tr><td><label for='id_domhndsh'>{{searchform.hasMorphemeOfType.label}}</label></td><td>{{searchform.hasMorphemeOfType}}</td></tr>
                    </table>

                  </td>
                </tr>
              </table>
              </div>
            </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#phon_search">Search by Phonology</div>

              <div id='phon_search' class='collapse'>
              <table class='table table-condensed'>
                <tr>

                  <td>
                    <table class='table table-condensed'>
                        <tr><td><label for='id_handedness'>{{searchform.handedness.label}}</label></td><td>{{searchform.handedness}}</td></tr>
                        <tr><td><label for='id_domhndsh'>{{searchform.domhndsh.label}}</label></td><td>{{searchform.domhndsh}}</td></tr>
                        <tr><td><label for='id_subhndsh'>{{searchform.subhndsh.label}}</label></td><td>{{searchform.subhndsh}}</td></tr>
                        <tr><td><label for='id_handCh'>{{searchform.handCh.label}}</label></td><td>{{searchform.handCh}}</td></tr>

                        <tr><td><label for='id_relatArtic'>{{searchform.relatArtic.label}}</label></td><td>{{searchform.relatArtic}}</td></tr>
                        <tr><td><label for='id_locprim'>{{searchform.locprim.label}}</label></td><td>{{searchform.locprim}}</td></tr>
                        <tr><td><label for='id_locVirtObj'>{{searchform.locVirtObj.label}}</label></td><td>{{searchform.locVirtObj}}</td></tr>

                        <tr><td><label for='id_absOriPalm'>{{searchform.absOriPalm.label}}</label></td><td>{{searchform.absOriPalm}}</td></tr>
                        <tr><td><label for='id_absOriFing'>{{searchform.absOriFing.label}}</label></td><td>{{searchform.absOriFing}}</td></tr>
                        <tr><td><label for='id_relOriMov'>{{searchform.relOriMov.label}}</label></td><td>{{searchform.relOriMov}}</td></tr>
                        <tr><td><label for='id_relOriLoc'>{{searchform.relOriLoc.label}}</label></td><td>{{searchform.relOriLoc}}</td></tr>
                        <tr><td><label for='id_oriCh'>{{searchform.oriCh.label}}</label></td><td>{{searchform.oriCh}}</td></tr>

                        <tr><td><label for='id_contType'>{{searchform.contType.label}}</label></td><td>{{searchform.contType}}</td></tr>
                        <tr><td><label for='id_movSh'>{{searchform.movSh.label}}</label></td><td>{{searchform.movSh}}</td></tr>
                        <tr><td><label for='id_movDir'>{{searchform.movDir.label}}</label></td><td>{{searchform.movDir}}</td></tr>
                        <tr><td><label for='id_movMan'>{{searchform.movMan.label}}</label></td><td>{{searchform.movMan}}</td></tr>
                        <tr><td><label for='id_repeat'>{{searchform.repeat.label}}</label></td><td>{{searchform.repeat}}</td></tr>
                        <tr><td><label for='id_altern'>{{searchform.altern.label}}</label></td><td>{{searchform.altern}}</td></tr>

                        <tr><td><label for='id_phonOth'>{{searchform.phonOth.label}}</label></td><td>{{searchform.phonOth}}</td></tr>
                        <tr><td><label for='id_mouthG'>{{searchform.mouthG.label}}</label></td><td>{{searchform.mouthG}}</td></tr>
                        <tr><td><label for='id_mouthing'>{{searchform.mouthing.label}}</label></td><td>{{searchform.mouthing}}</td></tr>
                        <tr><td><label for='id_phonetVar'>{{searchform.phonetVar.label}}</label></td><td>{{searchform.phonetVar}}</td></tr>

                    </table>

                  </td>
                </tr>
              </table>
              </div>
            </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#sem_search">Search by Semantics</div>

              <div id='sem_search' class='collapse'>
              <table class='table table-condensed'>
                <tr>

                  <td>
                    <table class='table table-condensed'>
                        <tr><td><label for='id_iconImg'>{{searchform.iconImg.label}}</label></td><td>{{searchform.iconImg}}</td></tr>
                        <tr><td><label for='id_namEnt'>{{searchform.namEnt.label}}</label></td><td>{{searchform.namEnt}}</td></tr>
                        <tr><td><label for='id_semField'>{{searchform.semField.label}}</label></td><td>{{searchform.semField}}</td></tr>

                    </table>

                  </td>
                </tr>
              </table>
              </div>
            </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#rel_search">Search by Relation</div>

              <div id='rel_search' class='collapse'>
              <table class='table'>
                <tr>

                      <tr>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_relation'>{{searchform.relation.label}}</label>
                                {{searchform.relation}}
                            </div>
                        </td>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_hasRelation'>{{searchform.hasRelation.label}}</label>
                                {{searchform.hasRelation}}
                            </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_relationToForeignSign'>{{searchform.relationToForeignSign.label}}</label>
                                {{searchform.relationToForeignSign}}
                            </div>
                        </td>

                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_hasRelationToForeignSign'>{{searchform.hasRelationToForeignSign.label}}</label>
                                {{searchform.hasRelationToForeignSign}}
                            </div>
                        </td>

                      </tr>


                </tr>
              </table>
              </div>
            </div>

            <div  class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-target="#pub_search">Search by Publication Status and Notes</div>

              <div id='pub_search' class='collapse'>
              <table class='table'>
                <tr>

                      <tr>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_inWeb'>{{searchform.inWeb.label}}</label>
                                {{searchform.inWeb}}
                            </div>
                        </td>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_isNew'>{{searchform.isNew.label}}</label>
                                {{searchform.isNew}}
                            </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_definitionRole'>{{searchform.definitionRole.label}}</label>
                                {{searchform.definitionRole}}
                            </div>
                        </td>
                        <td>
                            <div class='input-group'>
                                <label class='input-group-addon' for='id_definitionContains'>{{searchform.definitionContains.label}}</label>
                                {{searchform.definitionContains}}
                            </div>
                        </td>
                      </tr>


                </tr>
              </table>
              </div>
            </div>
        </div>

        <div class='btn-group'>
            <input class='btn btn-primary' type='submit' name='submit' value='Search'>
            {% if perms.dictionary.export_csv %}
            <input class='btn btn-default' type='submit' name='format' value='CSV'>
            {% endif %}
            <input class='btn btn-default' type='submit' onclick="clearForm(document.adminsearch);" value='Reset'>
        </div>

        <div class='form-group' id='paginate_by'>
        <label for='paginate_by'>Results per page</label>
        <select class='form-control' name="paginate_by">
            <option>3000</option>
            <option>2000</option>
            <option>1000</option>
            <option>500</option>
          <option>100</option>
            <option>50</option>
            <option>25</option>
            <option>10</option>
        </select>
        </div>


    </form>

</div>

   {% if perms.dictionary.add_gloss %}
   <div  class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse"  data-target='#add_gloss_form'>Add New Sign</div>

         <div id='add_gloss_form' class='collapse'>
             <form action='{% url "dictionary:add_gloss" %}' method='post'>
                 {% csrf_token %}
                 <table class='table'>
                     <tr>
                         <th><label for='id_idgloss'>ID Gloss</label></th>
                         <th><label for='id_annotation_idgloss'>Annotation ID Gloss</label></th>
                         <th><label for='id_annotation_idgloss_en'>Annotation ID Gloss (English)</label></th>
                         <th></th>
                     </tr>
                     <tr>
                         <td>{{add_gloss_form.idgloss}}</td>
                         <td>{{add_gloss_form.annotation_idgloss}}</td>
                         <td>{{add_gloss_form.annotation_idgloss_en}}</td>
                         <td><input class='btn btn-primary' type='submit' value='Add New Sign'></td>
                     </tr>
                 </table>
                 
             </form>
         </div>
      </div>
      {% endif %}
                
             
             

  

<p>Number of matches: {{page_obj.paginator.count}} out of {{glosscount}}.</p>

{% if object_list %}
<table class='table table-condensed'>
    <thead>
      <tr>
         {% for name, value in object_list.0.admin_fields %}
		 
           {% if forloop.counter == 2 %}		
           <th>{{ name }}</th><th>Keywords</th>		   
		   {% else %}	   
           <th>{{ name }}</th>
		   {% endif %}
		   
         {% endfor %}
           <th>Tags</th>
      </tr>
    </thead>
    <tbody>
    {% for gloss in object_list %}
        <tr>		
            {% for name, value in gloss.admin_fields %}
            {% if forloop.first %}
            <td><a href="/dictionary/gloss/{{gloss.pk}}/">{{value}}</a></td>
            {% elif forloop.counter == 2 %}
            <td><a href="/dictionary/gloss/{{gloss.pk}}/">{{value}}</a></td>

			<td>
			{% for translation in gloss.translation_set.all %}
            {{ translation.translation }} 
			{% endfor %}			
			</td>
		
            {% else %}
            <td>{{ value }}</td>
            {% endif %}  
            {% endfor %} 

    <td>{% for tag in gloss.tags %}<span class='tag'>{{tag}}</span> {% endfor %}</td>
            
        </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">

        <ul class='pagination pagination-sm'>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
        {% endif %}
          
          {% if  page_obj.number > 10 %}
            <li><a>...</a></li>
          {% endif %}

          {% for p in page_obj.paginator.page_range %}
          
             {% if p < page_obj.number|add:"10" and  p > page_obj.number|add:"-10" %}
             <li {% ifequal p page_obj.number %}class='active'{% endifequal %}>
             <a href='?page={{ p }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{% ifequal p 0 %}Start{% else %}{{p}}{% endifequal %}</a>
             </li>
             {% endif %}
         
          {% endfor %}
  
          {% if page_obj.paginator.num_pages > page_obj.number|add:"10" %}
            <li><a>...</a></li>
            <li>
            <a href='?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}'>{{page_obj.paginator.num_pages}}</a>
            </li>
          {% endif %}
      
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>

            
      </ul>


        {% endif %}
    </span>
</div>





{% endif %}

{% endblock content %}
