{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}

    <tr>
        <th></th>
<!--        <th class="field_hasvideo" style="border-bottom: 1px solid grey; white-space:nowrap;"></th>-->
        {% trans "Annotation ID Gloss" as annotation_header %}
        <th class="annotations_multicolumn" colspan="{{width_gloss_columns}}"
            style="border-bottom: 1px solid grey; white-space:nowrap;">{{ annotation_header }}</th>

          {% for fieldname,column in column_headers %}
            <th class="field_{{fieldname}}" style="border-bottom: 1px solid grey; white-space:nowrap;"></th>
          {% endfor %}

      </tr>
      <tr>
          <th>{% trans "Gloss ID" %}</th>

<!--          <th class="field_hasvideo" style="border-bottom: 1px solid grey; white-space:nowrap;"></th>-->

           {% for dataset_lang in dataset_languages %}
          <th class="annotation_{{dataset_lang.language_code_2char}}" id="annotation_{{dataset_lang.language_code_2char}}"
              style="vertical-align:top; border-bottom: 1px solid grey;">{% if SHOW_DATASET_INTERFACE_OPTIONS %}
              <div>{{ dataset_lang.name }}</div>
              {% endif %}
          </th>
          {% endfor %}

          {% for fieldname,column in column_headers %}
            <th class="field_{{fieldname}}" id="field_{{fieldname}}"
                style="vertical-align:top; border-bottom: 1px solid grey; white-space:nowrap;">
                <div>{{column}}</div>
            </th>
          {% endfor %}

      </tr>

      <tr id="row_sort_arrowheads">
          <th></th>
<!--          <th class="field_hasvideo"></th>-->
          {% for dataset_lang in dataset_languages %}
          {% with "annotationidglosstranslation_order_"|add:dataset_lang.language_code_2char as field %}
          {% with minfield="-"|add:field %}
           <th class="annotation_{{dataset_lang.language_code_2char}}" style="white-space:nowrap;">
               <div class="col_sort_arrowheads">
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if sortOrder and sortOrder == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if sortOrder and sortOrder == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if sortOrder and sortOrder == minfield or sortOrder and sortOrder == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
              </div>
           </th>
           {% endwith %}
           {% endwith %}
          {% endfor %}


           {% for fieldname,column in column_headers %}
           <th class="field_{{fieldname}}">

           </th>
           {% endfor %}

      </tr>
