{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}

{% load bootstrap3 %}
{% load tagging_tags %}

<tr id = "glossrow_{{annotated_gloss.id}}" class="gloss_row">


    <td class="field_hasvideo">{%if focus_gloss.get_image_path %}
    {% url 'dictionary:protected_media' '' as protected_media_url %}

      <div class="thumbnail_container">
      <a href="{{PREFIX_URL}}/dictionary/gloss/{{focus_gloss.pk}}{% if user.is_anonymous %}.html{% else %}/{% endif %}">

        <div id='glossvideo_{{focus_gloss.id}}'>
            <img class="thumbnail" src="{{protected_media_url}}{{focus_gloss.get_image_url}}">

            {% if focus_gloss.has_video %}
            <video id="videoplayer" class="thumbnail-video" src="{{protected_media_url}}{{focus_gloss.get_video_url}}"  type="video/mp4" muted="muted"></video>
            {% endif %}
        </div>

      </a>
      </div>
      {% endif %}
    </td>


    {% for dataset_lang in dataset_languages %}
    {% with focus_gloss|get_annotation_idgloss_translation_no_default:dataset_lang as annotationidglosstranslation %}
    <td class="annotation_{{dataset_lang.language_code_2char}}">
      {% if annotationidglosstranslation %}
        <div>
        <div><a href="{{PREFIX_URL}}/dictionary/gloss/{{focus_gloss.pk}}{% if user.is_anonymous %}.html{% else %}/{% endif %}">{{annotationidglosstranslation}}</a></div>
        </div>
      {% endif %}
    </td>
    {% endwith %}
    {% endfor %}


    {% for field,value in column_values %}
    <td class="field_{{field}}">
        <div>{{value}}</div>
    </td>

    {% endfor %}

</tr>
