{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}
{% block bootstrap3_title %}
{% endblock %}

{% block content %}

{% get_obj_perms request.user for gloss.lemma.dataset as "dataset_perms" %}
{% if "change_dataset" in dataset_perms %}
<div class='editform', style="width:1000px">
    <fieldset>
        <legend>{% trans "Edit Annotated Sentence" %}</legend>
        
        {% trans "For the following gloss:" %} {{annotationidgloss}}<br><br>

        {% trans "For the following sentence:" %}<br>
        {% url 'dictionary:protected_media' '' as protected_media_url %}
        <video id="sentence-video" controls width="700px">
            <source src="{{ protected_media_url }}/{{ annotated_sentence.annotatedvideo.videofile }}" type="video/mp4">
        </video> 

        <form action="{{PREFIX_URL}}/dictionary/update/saveeditannotatedsentence/" id="annotatedSentenceForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' name='redirect' value='{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}'>
        <input type='hidden' name='annotatedsentenceid' value='{{annotated_sentence.id}}'>
        <input type='hidden' name='glossid' value='{{gloss.id}}'>
        <input type='hidden' id='check-gloss-label' value='{{annotationidgloss}}'>
        <input type='hidden' id='dataset' value='{{gloss.lemma.dataset.acronym}}'>
        <br><br>
        <input type="checkbox" id="trim-video-checked" name="trim-video-checked" role="button" value="off"> {% trans 'Shorten the video' %}
        <div id="trim_video">
            {% trans "Slide to a point in the video and click 'Set' to define it as the new start and/or end point" %}<br>
            <table class='table' style="width:70%">
                <tr>
                    <td style="width:50%">
                        Start: <input type="text" id="start-point" name="start-ms" value="0" readonly>
                        <button type="button" id="start-button" class="btn btn-primary" data-dismiss="modal">{% trans "Set" %}</button>
                    </td>
                    <td style="width:50%">
                        End: <input type="text" id="end-point" name="end-ms" value="{% if annotated_sentence.has_video %}{{ annotated_sentence.annotatedvideo.get_end_ms }}{% else %}0{% endif %}" readonly>
                        <button type="button" id="end-button" class="btn btn-primary" data-dismiss="modal">{% trans "Set" %}</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    <button type="button" id="reset-trim" class="btn btn-primary" data-dismiss="modal">{% trans "Reset" %}</button>
                    <span id="trim-feedback"></span>
                    </td>
                </tr>
            </table>
            
        </div>

        <style>
            #trim-video-checked:not(:checked)~#trim_video {
                display: none;
            }
            #start-point, #end-point {
                color: #787878;
            }
        </style>

        <script>
            var video = document.getElementById('sentence-video');
            var startButton = document.getElementById('start-button');
            var startPoint = document.getElementById('start-point');
            var endButton = document.getElementById('end-button');
            var endPoint = document.getElementById('end-point');
            var resetTrim = document.getElementById('reset-trim');
            var feedback = document.getElementById('trim-feedback');
            const end = endPoint.value;

            startButton.addEventListener('click', function() {
                var currentTime = (video.currentTime * 1000).toFixed(0);
                var endValue = parseInt(endPoint.value, 10); 
                if (!isNaN(endValue) && currentTime > endValue) {
                    feedback.innerHTML = '<font color="red">Start point must be before end point</font>';
                } else {
                    startPoint.value = currentTime;
                    feedback.innerHTML = "";
                } 
            });

            endButton.addEventListener('click', function() {
                var currentTime = (video.currentTime * 1000).toFixed(0);
                var startValue = parseInt(startPoint.value, 10); 
                if (!isNaN(startValue) && currentTime < startValue) {
                    feedback.innerHTML = '<font color="red">End point must be after start point</font>';
                } else {
                    endPoint.value = currentTime;
                    feedback.innerHTML = "";
                }
            });

            resetTrim.addEventListener('click', function() {
                startPoint.value = 0;
                endPoint.value = end; 
                feedback.innerHTML = "";
            });
        </script>

        <br><br>
        {% trans "Download the current .eaf file here:" %}
        <a href="{{ annotated_sentence.annotatedvideo.eaffile.url }}" download>{{ annotated_sentence.annotatedvideo.get_eaffile_name }}</a>
        <br><br>
        {% trans "Choose the updated annotation file (.eaf) here:" %} 
        <input type="file" id="eaffile" name="eaffile">
        <br>
        <div id="feedback">
            {{ annotations_table_html|safe }}
        </div>

        <br><br>
        {% trans "Edit context for the sentence in the following languages:" %}<br>
        {% for dataset_lang in gloss.lemma.dataset.translation_languages.all %}
            {{dataset_lang.name}}:<input style="width:100%" id="context_{{dataset_lang.language_code_3char}}" name="context_{{dataset_lang.language_code_3char}}" value="{% if dataset_lang.language_code_3char in annotated_contexts %}{{ annotated_contexts|get_item:dataset_lang.language_code_3char }}{% endif %}" maxlength="400" type="text"/>
        {% endfor %}

        <br><br>
        {% trans "Add translations for the sentence in the following languages:" %}<br>
        {% for dataset_lang in gloss.lemma.dataset.translation_languages.all %}
            {{dataset_lang.name}}:<input style="width:100%" id="translation_{{dataset_lang.language_code_3char}}" name="translation_{{dataset_lang.language_code_3char}}" value="{% if dataset_lang.language_code_3char in annotated_translations %}{{ annotated_translations|get_item:dataset_lang.language_code_3char }}{% endif %}" maxlength="400" type="text"/>
        {% endfor %}

        <br><br>
        {% trans "Source:" %}
        <select name="source_id">
            {% if annotated_sentence.annotatedvideo.source %}
            <option value="{{ annotated_sentence.annotatedvideo.source.id }}">{{ annotated_sentence.annotatedvideo.source.name }}</option>
            {% endif %}
            <option value="">{% trans "-" %}</option>
            {% for source in annotated_sentence_sources %}
                <option value="{{ source.id }}">{{ source.name }}</option>
            {% endfor %}
        </select>
        
        <br><br>
        <input class='btn btn-primary' type='submit' value='Save' />

        </form>
  </fieldset>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/process_annotated_eaf_files.js"></script>

{% endif %}
{% endblock %}