{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}
{% block bootstrap3_title %}
{% endblock %}

{% block content %}

{% get_obj_perms request.user for gloss.lemma.dataset as "dataset_perms" %}
{% if "change_dataset" in dataset_perms %}
<div class='editform', style="width:500px">
    <fieldset>
        <legend>{% trans "Edit Annotated Sentence" %}</legend>
        
        {% trans "For the following gloss:" %} {{annotationidgloss}}<br><br>

        {% trans "For the following sentence:" %}<br>
        {% url 'dictionary:protected_media' '' as protected_media_url %}
        <video id="sentenceVideo" controls width="500px">
            <source src="{{ protected_media_url }}/{{ annotated_sentence.annotatedvideo.videofile }}" type="video/mp4">
        </video> 

        <form action="{{PREFIX_URL}}/dictionary/update/saveeditannotatedsentence/" id="annotatedSentenceForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' name='redirect' value='{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}'>
        <input type='hidden' name='annotatedsentenceid' value='{{annotated_sentence.id}}'>
        <input type='hidden' name='glossid' value='{{gloss.id}}'>
        <input type='hidden' id='check_gloss_label' value='{{annotationidgloss}}'>
        <input type='hidden' id='dataset' value='{{gloss.lemma.dataset.acronym}}'>
        <br>

        <br><br>
        {% trans "Download the current .eaf file here:" %}
        <a href="{{ annotated_sentence.annotatedvideo.eaffile.url }}" download>{{ annotated_sentence.annotatedvideo.get_eaffile_name }}</a>
        <br><br>
        {% trans "Choose the updated annotation file (.eaf) here:" %} 
        <input type="file" id="eaffile" name="eaffile" required>
        <br>
        <div id="feedback">
            {{ annotations_table_html|safe }}
        </div>

        <br><br>
        {% trans "Edit context for the sentence in the following languages:" %}<br>
        {% for dataset_lang in gloss.lemma.dataset.translation_languages.all %}
            {{dataset_lang.name}}:<input style="width:100%" id="context_{{dataset_lang.language_code_3char}}" name="context_{{dataset_lang.language_code_3char}}" value="{% if dataset_lang.language_code_3char in annotated_contexts %}{{ annotated_contexts|get_item:dataset_lang.language_code_3char }}{% endif %}" maxlength="400" type="text"/>
        {% endfor %}

        <br><br>
        {% trans "Add translations for the sentence in the following languages:" %}<br>
        {% for dataset_lang in gloss.lemma.dataset.translation_languages.all %}
            {{dataset_lang.name}}:<input style="width:100%" id="translation_{{dataset_lang.language_code_3char}}" name="translation_{{dataset_lang.language_code_3char}}" value="{% if dataset_lang.language_code_3char in annotated_translations %}{{ annotated_translations|get_item:dataset_lang.language_code_3char }}{% endif %}" maxlength="400" type="text"/>
        {% endfor %}

        <br><br>
        {% trans "From corpus:" %}
        <input style="width:100%" id="corpus_name" name="corpus_name" value="{{ corpus }}" maxlength="100" type="text"/>
        
        <br><br>
        <input class='btn btn-primary' type='submit' value='Save' />

        </form>
  </fieldset>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/process_annotated_eaf_files.js"></script>

{% endif %}
{% endblock %}