{% extends "baselayout.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Glosses Without Lemma{% endblocktrans %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
var url = '{{ PREFIX_URL }}';
var csrf_token = '{{csrf_token}}';

function update_gloss_lemma(data) {
    // this function writes the return message in the status column
    if ($.isEmptyObject(data)) {
        return;
    };
    var glossid = data.glossid;
    var datasetname = data.datasetname;
    var span_gloss = $('#feedback_message_'+glossid);
    span_gloss.text(datasetname);
}

$(document).ready(function() {

    // setup required for Ajax POST
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

     $('.assign_lemma').click(function(e)
	 {
         e.preventDefault();
	     var glossid = $(this).attr('value');
         var form_id = '#assign_lemma_to_gloss_' + glossid;
         var lemmaid = $(this).attr('data-lemmaid');
         $.ajax({
            url : url + "/dictionary/update/assign_lemma_dataset_to_gloss/" + glossid,
            type: 'POST',
            data: { 'lemmaid': lemmaid,
                    'csrfmiddlewaretoken': csrf_token},
            datatype: "json",
            success : update_gloss_lemma
         });
     });
});

$('.select_dummy_lemma').on("change", function(){
    var selectedOption = $(this).find(":selected")
    var optionLabel = selectedOption.text();
    var datasetName = selectedOption.attr("data-dataset-name");
    var lemmaid = selectedOption.val();
    var dummy_gloss_label = $(this).attr("id");
    var glossid = dummy_gloss_label.split("_").pop();
    $('#set_lemma_gloss_'+glossid).val(datasetName);
    $('#assign_lemma_'+glossid).attr("data-lemmaid", lemmaid);
});

</script>
{% endblock %}

{% block content %}

<div>
<h3>{% trans "Glosses Without Lemma" %}</h3>
{% if glosses_without_lemma %}
<p>{% trans "The following glosses do not have a lemma or dataset." %}</p>
<table class="table table-condensed">
    <thead>
    <tr><th width="100px;">{% trans "Gloss ID" %}</th><th>{% trans "Dataset: Translation Languages" %}</th>
        <th width="100px;">{% trans "Languages" %}</th><th width="300px;">{% trans "Annotations" %}</th>
        <th>{% trans "Creation Date" %}</th><th>{% trans "Status" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for gloss, annotations, language_names in glosses_without_lemma %}
        <tr>
            <td width="100px;">{{gloss.id}}</td>
            <td width="300px;">
                <form id="assign_lemma_to_gloss_{{gloss.id}}"
                      action='{% url "dictionary:assign_lemma_dataset_to_gloss" gloss.id %}' method='POST'>
                {% csrf_token %}
                <select class="select_dummy_lemma form-select" id="selectdummylemma_{{gloss.id}}" value="">
                    <option value="" selected="selected">{% trans "Please choose a dataset." %}</option>
                {% for dummy, dummy_label in dummy_lemmas %}
                    {% if language_names in dummy_label %}
                     <option value="{{dummy.id}}" name="dummylemma" data-dataset-name="{{dummy.dataset.name}}">{{ dummy_label }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                    <input id="set_lemma_gloss_{{gloss.id}}"
                                       name="set_lemma_gloss_{{gloss.id}}"
                                       maxlength="40" type="text"
                                       size="40" />
                    {% if perms.dictionary.change_gloss %}
                    <button class="assign_lemma" id="assign_lemma_{{gloss.id}}" value='{{gloss.id}}' data-lemmaid=''
                            type="submit">{% trans "Save" %}</button>
                    {% endif %}
                </form>
            </td>
            <td width="400px;" colspan="2">
                <table class="table table-condensed">
                {% for ann in annotations %}
                    <tr>
                        <td width="100px;">{{ann.language}}</td><td width="300px;">{{ann.text}}</td>
                    </tr>
                {% endfor %}
                </table>
            </td>
            <td>{{gloss.creationDate}}</td>
            <td><span id="feedback_message_{{gloss.id}}"></span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{% trans "No glosses without lemmas found." %}
{% endif %}
</div>

{% endblock content %}