{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% block bootstrap3_title %}Signbank: Gloss Frequency{% endblock %}
{% load stylesheet %}

{% block extrahead %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type='text/javascript'>
var happy_colors = [ 'LightBlue', 'Magenta', 'Green', 'OrangeRed', 'Salmon', 'Orange', 'Purple', 'Olive', 'DarkBlue', 'Yellow', 'Red',
                        'HotPink', 'Blue', 'Khaki', 'Chartreuse', 'Coral', 'Brown', 'BlueViolet', 'DarkCyan', 'Aqua', 'DarkRed', 'DarkOrange',
                        'DarkSeaGreen', 'DeepPink', 'Gold', 'Indigo' ];
var dataset_colors = [ '#C0C0C0', '#B8B8B8', '#A9A9A9', '#A0A0A0', '#909090', '#808080', '#707070', '#686868', '#585858', '#484848', '#383838',
                        '#282828', '#181818', '#080808', '#BEBEBE', '#B0B0B0', '#A8A8A8', '#989898', '#888888', '#787878', '#696969', '#606060',
                        '#505050', '#404040', '#303030', '#202020' ];
var signbank_colors = ['hsl(1, 62%, 45%)','hsl(130, 62%, 45%)','hsl(65, 62%, 45%)','hsl(195, 62%, 45%)','hsl(30, 62%, 45%)','hsl(230, 62%, 45%)',];
var signbank_hover_colors = ['hsl(1, 62%, 35%)','hsl(130, 62%, 35%)','hsl(65, 62%, 35%)','hsl(195, 62%, 35%)','hsl(30, 62%, 35%)','hsl(230, 62%, 35%)',];

var variant_index = { 'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'J': 9, 'K': 10,
                        'L': 11, 'M': 12, 'N': 13, 'O': 14, 'P': 15, 'Q': 16, 'R': 17, 'S': 18, 'T': 19, 'U': 20,
                        'V': 21, 'W': 22, 'X': 23, 'Y': 24, 'Z': 25 };

var frequency_regions = {{frequency_regions|safe}};
var data_datasets = {{data_datasets|safe}};
var speaker_age_data = {{speaker_age_data|safe}};
var speaker_data = {{speaker_data|safe}};
var variants_data = {{variants_data|safe}};
var variants_data_quick_access = {{variants_data_quick_access|safe}};
var variants_age_distribution_data = {{variants_age_distribution_data|safe}};
var variants_age_distribution_cat_data = {{variants_age_distribution_cat_data|safe}};
var age_distribution_labels = [ '{{gloss.idgloss}}' ];
var gloss_idgloss = '{{gloss.idgloss}}';
var variant_labels = {{variant_labels|safe}};
var speaker_per_variant_data = {{speaker_per_variant_data|safe}};
var variants_sex_distribution_data = {{variants_sex_distribution_data|safe}};

var variant_0_speaker_data = [ speaker_data['Female'], speaker_data['Male'] ];
var variant_female_data = {{variant_female_data|safe}};
var variant_male_data = {{variant_male_data|safe}};

var charcode_index = gloss_idgloss.length - 1;
var variant_char = gloss_idgloss.charAt(charcode_index).toUpperCase();

var age_distribution_labels = [];

var datasets_age_distribution_list = [];

var total_variants_age = [];

for (k in variant_labels) {
    var variant_idgloss = variant_labels[k];
    var charcode_index = variant_idgloss.length - 1;
    var variant_char = variant_idgloss.charAt(charcode_index).toUpperCase();
    var k_total_age = 0;
    for (i in variants_age_distribution_data[variant_idgloss]) {
        k_total_age += variants_age_distribution_data[variant_idgloss][i];
    };
    total_variants_age[variant_idgloss] = k_total_age;
    datasets_age_distribution_list.push( {
                                            label: variant_idgloss,
                                            data: variants_age_distribution_data[variant_idgloss],
                                            backgroundColor: signbank_colors[variant_index[variant_char]] } );
    age_distribution_labels.push(variant_idgloss);
};


var sex_distribution_labels = [];

var variants_sex_distribution_list = [];

var total_variants_sex = [];

for (k in variant_labels) {
    var variant_idgloss = variant_labels[k];
    var charcode_index = variant_idgloss.length - 1;
    var variant_char = variant_idgloss.charAt(charcode_index).toUpperCase();
    var k_total_sex = 0;
    for (i in variants_sex_distribution_data[variant_idgloss]) {
        k_total_sex += parseInt(variants_sex_distribution_data[variant_idgloss][i]);
    };
    total_variants_sex[variant_idgloss] = k_total_sex;
    variants_sex_distribution_list.push( {
                                            label: variant_idgloss,
                                            data: variants_sex_distribution_data[variant_idgloss],
                                            backgroundColor: signbank_colors[variant_index[variant_char]] } );
    sex_distribution_labels.push(variant_idgloss);
};

var age_distribution_labels_cat = [];

var variants_age_distribution_list_cat = [];

var total_variants_age_cat = [];

for (k in variant_labels) {
    var variant_idgloss = variant_labels[k];
    var charcode_index = variant_idgloss.length - 1;
    var variant_char = variant_idgloss.charAt(charcode_index).toUpperCase();
    var k_total_age_cat = 0;
    for (i in variants_age_distribution_cat_data[variant_idgloss]) {
        k_total_age_cat += parseInt(variants_age_distribution_cat_data[variant_idgloss][i]);
    };
    total_variants_age_cat[variant_idgloss] = k_total_age_cat;
    variants_age_distribution_list_cat.push( {
                                            label: variant_idgloss,
                                            data: variants_age_distribution_cat_data[variant_idgloss],
                                            backgroundColor: signbank_colors[variant_index[variant_char]] } );
    age_distribution_labels_cat.push(variant_idgloss);
};

</script>

<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'horizontalBar',

    data: {
        labels: frequency_regions,
        datasets: data_datasets
    },
});

chart.options.scales.yAxes[0].ticks.fontSize = 16;
chart.options.scales.yAxes[0].ticks.fontColor = 'Black';
chart.options.scales.yAxes[0].ticks.precision = 0;
chart.options.scales.xAxes[0].ticks.fontSize = 16;
chart.options.scales.xAxes[0].ticks.fontColor = 'Black';
chart.options.scales.xAxes[0].ticks.precision = 0;
chart.options.legend.labels.fontSize = 16;
chart.options.legend.labels.fontColor = 'Black';
chart.options.legend.position = 'top';
chart.data.datasets[0].backgroundColor = signbank_colors[0];
chart.data.datasets[1].backgroundColor = signbank_colors[1];
chart.options.tooltips.titleFontSize = 16;
chart.options.tooltips.bodyFontSize = 16;
chart.options.title.display = false;
chart.options.title.position = 'bottom';
chart.options.title.fontSize = 20;
chart.options.title.text = "Title of chart";
chart.update();

var range_line = Array.from(Array(100), (x,i) => i);
var cty = document.getElementById('speakerChart').getContext('2d');
var speakerchart = new Chart(cty, {
    type: 'bar',

    data: {
        labels: range_line,
        datasets: datasets_age_distribution_list
    },

    options: {
        showLines: true,
        scales: {
            xAxes: [{ stacked: true }],
            yAxes: [{ stacked: true }]
        }
    }
});

speakerchart.options.scales.yAxes[0].ticks.precision = 0;
speakerchart.options.scales.yAxes[0].ticks.fontSize = 16;

speakerchart.options.scales.xAxes[0].ticks.precision = 0;
speakerchart.options.scales.xAxes[0].ticks.fontSize = 16;

speakerchart.options.legend.labels.fontSize = 16;
speakerchart.update();


var gender_labels = ['Female', 'Male'];
var flattened_genders = [];
for (idx in gender_labels) {
    flattened_genders.push( {
                            label: gender_labels[idx],
                            data: [ speaker_data[gender_labels[idx]] ],
                            hoverBackgroundColor: signbank_hover_colors[idx],
                            backgroundColor: signbank_colors[idx],
                            });
};

var ctz = document.getElementById('genderChart').getContext('2d');
var genderchart = new Chart(ctz, {
    type: 'horizontalBar',

    data: {
        labels: [ gloss_idgloss ],
        borderColor: "Black",
        datasets: flattened_genders,
    },

    options: {
        tooltips: {
            mode: 'point',
            yAlign: 'center',
            xAlign: 'center',
            caretPadding: 10,
            fontSize: 16,
            titleFontSize: 16
        },
        scales: {
            xAxes: [{ stacked: true,
                        display: false,
                          barThickness: 30,
                           barDatasetSpacing: 1 }],
            yAxes: [{ stacked: true,
                        display: true,
                        ticks: {
                            fontSize: 16,
                            fontStyle: 'bold'
                        },
                        barThickness: 30,
            }]
        },
        showLines: true,
    }
});

genderchart.options.legend.labels.fontSize = 16;
genderchart.options.title.display = true;
genderchart.options.title.fontSize = 16;
genderchart.options.title.text = "Gender";
genderchart.update();

var ages_labels = ['< 25', '25 - 35', '36 - 65', '> 65'];
var flattened_ages = [];
for (idx in ages_labels) {
    flattened_ages.push( {
                            label: ages_labels[idx],
                            data: [ speaker_data[ages_labels[idx]] ],
                            hoverBackgroundColor: signbank_hover_colors[idx],
                            backgroundColor: signbank_colors[idx],
                            });
};

var ctw = document.getElementById('ageChart').getContext('2d');
var agechart = new Chart(ctw, {
    type: 'horizontalBar',

    data: {
        labels: [ gloss_idgloss ],
        borderColor: "Black",
        datasets: flattened_ages,
    },

    options: {
        tooltips: {
            mode: 'point',
            yAlign: 'center',
            xAlign: 'center',
            fontSize: 16,
            titleFontSize: 16
        },
        scales: {
            xAxes: [{ stacked: true,
                        display: false,
                          barThickness: 30,
                           barDatasetSpacing: 1 }],
            yAxes: [{ stacked: true,
                        display: true,
                        ticks: {
                            fontSize: 16,
                            fontStyle: 'bold'
                        },
                        barThickness: 30,
            }]
        },
        showLines: false,
    }
});

agechart.options.title.text = "Age at time of recording";
agechart.options.title.fontSize = 16;
agechart.options.title.display = true;
agechart.options.legend.labels.fontSize = 16;
agechart.update();

var ctgs = document.getElementById('glossvariantsSexChart').getContext('2d');
var glossvariantsSexChart = new Chart(ctgs, {
    type: 'horizontalBar',

    data: {
        datasets: variants_sex_distribution_list,
    },

    options: {
        layout: {
            padding: {
                top: 30,
                bottom: 30,
            }
        },
        tooltips: {
            enabled: true,
            mode: 'point',
            yAlign: 'center',
            xAlign: 'center',
            caretPadding: 10
        },
        scales: {
            xAxes: [{ stacked: true,
                        display: true,
                        gridLines: {
                        },
                        labels: sex_distribution_labels,
                          barThickness: 30,
                          ticks: {
                            display: false
                          },
                           barDatasetSpacing: 1 }],
            yAxes: [{ stacked: true,
                        gridLines: {
                            display: false,
                            zeroLineWidth: 0
                        },
                        display: true,
                        type: 'category',
                        barThickness: 30,
                        barPercentage: 1,
                        categoryPercentage: 1,
                        labels: gender_labels,
                              ticks: { fontSize: 16,
                                        beginAtZero: true,
                                        fontStyle: 'bold' }
            }]
        },
        showLines: false,
    }
});

glossvariantsSexChart.options.legend.labels.fontSize = 16;
glossvariantsSexChart.options.legend.display = true;
glossvariantsSexChart.options.legend.fullWidth = true;
glossvariantsSexChart.options.legend.position = 'right';
glossvariantsSexChart.options.legend.padding = 0;
glossvariantsSexChart.options.title.display = false;
glossvariantsSexChart.options.title.padding = 0;
glossvariantsSexChart.update();

var ctga = document.getElementById('glossvariantsAgeChart').getContext('2d');
var glossvariantsAgeChart = new Chart(ctga, {
    type: 'horizontalBar',

    data: {
        datasets: variants_age_distribution_list_cat,
    },

    options: {
        layout: {
            padding: {
                top: 30,
                bottom: 30
            }
        },
        tooltips: {
            enabled: true,
            mode: 'point',
            yAlign: 'center',
            xAlign: 'center',
        },
        scales: {
            xAxes: [{ stacked: true,
                        display: true,
                        gridLines: {
                        },
                        labels: age_distribution_labels,
                          barThickness: 30,
                          ticks: {
                            display: false
                          },
                           barDatasetSpacing: 1 }],
            yAxes: [{ stacked: true,
                        gridLines: {
                            display: false,
                            zeroLineWidth: 0
                        },
                        display: true,
                        type: 'category',
                        barThickness: 30,
                        barPercentage: 1,
                        categoryPercentage: 1,
                        labels: ages_labels,
                              ticks: { fontSize: 16,
                                        beginAtZero: true,
                                        fontStyle: 'bold' }
            }]
        },
        showLines: false,
    }
});

glossvariantsAgeChart.options.legend.labels.fontSize = 16;
glossvariantsAgeChart.options.legend.display = true;
glossvariantsAgeChart.options.legend.fullWidth = true;
glossvariantsAgeChart.options.legend.fullHeight = true;
glossvariantsAgeChart.options.legend.position = 'right';
glossvariantsAgeChart.options.legend.padding = 0;
glossvariantsAgeChart.options.title.display = false;
glossvariantsAgeChart.options.title.padding = 0;
glossvariantsAgeChart.update();


for (k in variant_labels) {
    var variant_key = variant_labels[k];
    var ctk = document.getElementById('variantsGenderChart_'+variant_key).getContext('2d');

    var flattened_genders_vk = [];
    for (idx in gender_labels) {
        var data_gender_idx = variants_data_quick_access[variant_key][gender_labels[idx]];
        var total_gender_idx = total_variants_sex[ variant_key ];
        var data_gender_idx_percentage = Math.round(total_gender_idx == 0 ? 0 : (data_gender_idx/total_gender_idx));
        flattened_genders_vk.push( {
                                label: gender_labels[idx],
                                data: [ total_gender_idx == 0 ? 0 : (data_gender_idx/total_gender_idx) ],
                                hoverBackgroundColor: signbank_hover_colors[idx],
                                backgroundColor: signbank_colors[idx],
                                });
    };

    var variant_k_chart = new Chart(ctk, {
        type: 'horizontalBar',
        responsive: true,
        data: {
            labels: [ variant_key ],
            borderColor: "Black",
            datasets: flattened_genders_vk,
        },

        options: {
            legend: {
                display: false
            },
            tooltips: {
                mode: 'point',
                yAlign: 'center',
                xAlign: 'center',
                fontSize: 16,
                titleFontSize: 16,
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';
                        if (label) {
                            label += ' : ';
                        }
                        label += Math.round(tooltipItem.xLabel * 100) + ' %';
                        return label;
                    }
                }
            },
            hover: {
                mode: 'index',
                intersect: true
            },
            layout: {
                padding: {
                    bottom: 10
                }
            },
            scales: {
                xAxes: [{ stacked: true,
                            display: false,
                              barThickness: 30,
                              ticks: {
                                display: false
                              },
                               barDatasetSpacing: 1 }],
                yAxes: [{ stacked: true,
                            display: true,
                            barThickness: 30,
                            barPercentage: 1,
                              maxBarThickness: 30,
                                  ticks: { fontSize: 16,
                                            beginAtZero: true,
                                            fontStyle: 'bold',
                                            min: 0,
                                             max: total_variants_sex[ variant_key ] }
                }]
            },
            showLines: true
        }
    });
    variant_k_chart.options.legend.labels.fontSize = 16;
    variant_k_chart.canvas.parentNode.style.height = '50px';
    variant_k_chart.update();
};

for (k in variant_labels) {
    var variant_key = variant_labels[k];
    var ctm = document.getElementById('variantsAgeChart_'+variant_key).getContext('2d');

    var flattened_ages_vk_max = 0;

    var flattened_ages_vk = [];
    for (idx in ages_labels) {
        var data_age_idx = variants_data_quick_access[variant_key][ages_labels[idx]];
        var total_age_idx = total_variants_age[ variant_key ];
        flattened_ages_vk.push( {
                                label: ages_labels[idx],
                                data: [ total_age_idx == 0 ? 0 : (data_age_idx/total_age_idx) ],
                                hoverBackgroundColor: signbank_hover_colors[idx],
                                backgroundColor: signbank_colors[idx],
                                });
    };
    var variant_m_chart = new Chart(ctm, {
        type: 'horizontalBar',
        responsive: true,
        data: {
            labels: [ variant_key ],
            borderColor: "Black",
            datasets: flattened_ages_vk,
        },
        options: {
            legend: {
                display: false
            },
            tooltips: {
                mode: 'point',
                yAlign: 'center',
                xAlign: 'center',
                fontSize: 16,
                titleFontSize: 16,
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';
                        if (label) {
                            label += ' : ';
                        }
                        label += Math.round(tooltipItem.xLabel * 100) + ' %';
                        return label;
                    }
                }
            },
            scales: {
                xAxes: [{ stacked: true,
                            display: false,
                              barThickness: 30,
                              ticks: {
                                display: false
                               },
                               barDatasetSpacing: 1 }],
                yAxes: [{ stacked: true,
                            display: true,
                            ticks: {
                                fontSize: 16,
                                fontStyle: 'bold',
                                min: 0,
                                max: total_variants_age[ variant_key ]
                            },
                            barThickness: 30,
                }]
            },
            showLines: true
        }
    });
    variant_m_chart.options.legend.labels.fontSize = 16;
    variant_m_chart.canvas.parentNode.style.height = '50px';
    variant_m_chart.update();
};

</script>

<script type='text/javascript'>
    // This script gets and inserts the users last searched items on the gloss page
    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';
    var req = $.ajax({
        url: search_results_url,
        dataType: "json",
        context: document.body
    })

    req.done(function(json_data) {
        for (var key in json_data) {
            if (json_data.hasOwnProperty(key)) {
                var a = document.createElement("a");
                a.setAttribute("class", "search_result");
                a.style["float"] = "none";
                a.href = "{{PREFIX_URL}}/dictionary/gloss/" + json_data[key].id + "/";
                a.id = json_data[key].id;
                var linktext = document.createTextNode(json_data[key].gloss);
                a.appendChild(linktext);
                $( "#results-inline" ).append(a);
            }
        }

        /* Determine the active button (if any), center the horizontal list according to the active button */
        // Make sure that we are showing search results
        if ($('#results-inline').length > 0) {
            // Setting a button active according to which glosses page we are on. A.id should equal to gloss.id.
            $('#results-inline #{{ gloss.id }}').addClass('active');
            var scrollPanel = $('#searchresults');
            var activeButton = $('#results-inline a.active');
            // Make sure that activeButton exists
            if (activeButton.length > 0) {
                // Calculating the left offset position so that the button is centered
                var leftOffset = activeButton.offset().left - scrollPanel.offset().left - (scrollPanel.width() / 2) + (activeButton.width() / 2);
                // Scrolling to the active button
                $('#searchresults').scrollLeft(leftOffset);
            }
            var signinfo = $('#signinfo');
            signinfo.offset({top: ($('#signbank-bar').height() + scrollPanel.height() + 10)});
        }
    });

</script>

<script type='text/javascript'>

        $('#searchresults').css({'top': Math.round($('#signbank-bar').height() + 10)});
        $('#definitionblock').css({'padding-top': Math.round($('#searchresults').height() + $('#signinfo').height() + 10)});

    </script>
{% endblock %}

{% block content %}

<div id="searchresults" class='navbar' style="overflow-y:hidden;background-color:white;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;background-color:white;">
    </div>
    {% endif %}
</div>

<div id="signinfo" class='navbar navbar-collapse' style="background-color:white;border:0;">

    <ul class='nav nav-tabs'>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}.html">{% trans "Public View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}">{% trans "Detail View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_relations/{{gloss.id}}">{% trans "Relations View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Revision history" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link active' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Frequency View" %}</a>
        </li>
    </ul>

</div>


<div id="definitionblock" style="z-index:0;padding-top: 100px;">
<hr>
        <div class='panel-group' id="definition" style="z-index: 0;opacity:.99; position: relative; background-color: white;">
        {% if has_frequency_data %}

            <div class='panel-heading'>
                <div class='panel-title'>
                    <a data-toggle='collapse' data-parent='#regionschart' data-target='#regions'>{% trans "Gloss Regions" %}</a>
                </div>
            </div>
            <div id='regions' class='collapse'>
                <div class="chart-container">
                <canvas id="myChart"></canvas>
                </div>
            </div>
            <hr>

             <div class='panel-heading'>
                <div class='panel-title hasTooltip'>
                    <a data-toggle='collapse' data-parent='#ageschart' data-target='#ages'>
                        {% if variants %}
                            {% trans "Age Distribution Variants" %}
                        {% else %}
                            {% trans "Age Distribution" %}
                        {% endif %}
                    </a>{% if variants %}<div class="text-container">
                                            <span class="isTooltip">Age distribution of variants can be toggled by clicking on the gloss identifiers.</span>
                                        </div>
                    {% endif %}
                </div>
            </div>
            <div id='ages' class='collapse'>
                <div class="chart-container">
                <canvas id="speakerChart"></canvas>
                </div>
            </div>
            <hr>

            <div class='panel-heading'>
                <div class='panel-title'>
                    <a data-toggle='collapse' data-parent='#speakerchart' data-target='#speaker'>{% trans "Gloss Speaker Data" %}</a>
                </div>
            </div>
            <div id='speaker' class='collapse'>
                <div class="chart-container" style="float:left; width:50%;">
                <canvas id="genderChart" height="85"></canvas>
                </div>
                <div class="chart-container" style="float:right; width:50%;">
                <canvas id="ageChart" height="85"></canvas>
                </div>
            </div>

            {% if variants %}
            <hr>
            <div class='panel-heading'>
                <div class='panel-title'>
                    <a data-toggle='collapse' data-parent='#glossvariantschart' data-target='#glossvariants'>{% trans "Gloss Variants" %}</a>
                </div>
            </div>

            <div id='glossvariants' class='collapse'>
                <div class="chart-short-container" style="float:left; width:50%;" >
                <canvas id="glossvariantsSexChart" height="100"></canvas>
                </div>
                <div class="chart-short-container" style="float:right; width:50%;" >
                <canvas id="glossvariantsAgeChart" height="100"></canvas>
                </div>
            </div>

            <hr>
            <div class='panel-heading'>
                <div class='panel-title'>
                    <a data-toggle='collapse' data-parent='#variantschart' data-target='#variants'>{% trans "Variants" %}</a>
                </div>
            </div>

            <div id='variants' class='collapse'>
                {% for key, value in variants_data %}
                <div class="chart-horizontal-single-bar-container" style="float:left; width:50%;">
                <canvas id="variantsGenderChart_{{key}}" height="50"></canvas>
                </div>
                <div class="chart-horizontal-single-bar-container" style="float:right; width:50%;">
                <canvas id="variantsAgeChart_{{key}}" height="50"></canvas>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        {% else %}
        <p>{% trans "There is no frequency data available for this gloss in dataset" %} {{gloss.lemma.dataset}}</p>
        {% endif %}
        </div>
    <hr>

</div>
{% endblock content %}
