{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}

    <thead>
    <tr>
        {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets|length > 1 %}
        <th></th>
        {% endif %}

          <th class="field_hasvideo"></th>
        <th colspan="{{dataset_languages|length}}"
            style="border-bottom: 1px solid grey; border-left: 1px solid grey; border-top: 1px solid grey;">{% trans "Annotation ID Gloss" %}</th>

        <th colspan="{{dataset_languages|length}}"
            style="border-bottom: 1px solid grey; border-left: 1px solid grey; border-top: 1px solid grey;">{% trans "Lemma ID Gloss" %}</th>

          <th colspan="{{dataset_languages|length}}"
            style="border-bottom: 1px solid grey; border-left: 1px solid grey; border-top: 1px solid grey; border-right: 1px solid grey;">{% trans "Translations" %}</th>

          {% for fieldname,column in column_headers %}
            <th></th>
          {% endfor %}

           {% if not user.is_anonymous %}
           <th style="width:255px;"></th>
           {% endif %}
      </tr>
      <tr>
          {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets|length > 1 %}
          <th style="vertical-align:top">{% trans "Dataset" %}</th>
          {% endif %}
          <th class="field_hasvideo"></th>

           {% for dataset_lang in dataset_languages %}
          <th  style="vertical-align:top; border-bottom: 1px solid grey; border-left: 1px solid grey; border-right: 1px solid grey">{% if SHOW_DATASET_INTERFACE_OPTIONS %}
              <div class="annotation_{{dataset_lang.language_code_2char}}">{{ dataset_lang.name }}</div>
              {% endif %}
          </th>
          {% endfor %}

          {% for dataset_lang in dataset_languages %}
          <th style="vertical-align:top; border-bottom: 1px solid grey; border-left: 1px solid grey; border-right: 1px solid grey">{% if SHOW_DATASET_INTERFACE_OPTIONS %}
              <div class="lemma_{{dataset_lang.language_code_2char}}">{{ dataset_lang.name }}</div>
              {% endif %}
          </th>
          {% endfor %}

          {% for dataset_lang in dataset_languages %}
          <th style="vertical-align:top; border-bottom: 1px solid grey; border-left: 1px solid grey; border-right: 1px solid grey">{% if SHOW_DATASET_INTERFACE_OPTIONS %}
              <div class="translation_{{dataset_lang.language_code_2char}}">{{ dataset_lang.name }}</div>
              {% endif %}
          </th>
          {% endfor %}

          {% for fieldname,column in column_headers %}
            <th style="vertical-align:top; white-space:nowrap;">
                <div class="field_{{fieldname}}">{{column}}</div>
            </th>
          {% endfor %}

           {% if not user.is_anonymous %}
           <th style="width:255px;vertical-align:top">
               <div class="field_tags">{% trans "Tags" %}</div>
           </th>
           {% endif %}
      </tr>


      <tr>
          {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets|length > 1 %}
            <th></th>
          {% endif %}

          <th class="field_hasvideo"></th>
          {% for dataset_lang in dataset_languages %}
          {% with "annotationidglosstranslation_order_"|add:dataset_lang.language_code_2char as field %}
          {% with minfield="-"|add:field %}
           <th style="white-space:nowrap;">
               <div class="annotation_{{dataset_lang.language_code_2char}}">
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if sortOrder and sortOrder == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if sortOrder and sortOrder == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if sortOrder and sortOrder == minfield or sortOrder and sortOrder == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
              </div>
           </th>
           {% endwith %}
           {% endwith %}
          {% endfor %}

          {% for dataset_lang in dataset_languages %}
          {% with "lemmaidglosstranslation_order_"|add:dataset_lang.language_code_2char as field %}
          {% with minfield="-"|add:field %}
           <th style="white-space:nowrap;">
            <div class="lemma_{{dataset_lang.language_code_2char}}">
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if sortOrder and sortOrder == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if sortOrder and sortOrder == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if sortOrder and sortOrder == minfield or sortOrder and sortOrder == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
            </div>
           </th>
           {% endwith %}
           {% endwith %}
           {% endfor %}


           {% for dataset_lang in dataset_languages %}
           {% with "translation_"|add:dataset_lang.language_code_2char as field %}
           {% with minfield="-"|add:field %}
           <th style="white-space:nowrap;">
             <div class="translation_{{dataset_lang.language_code_2char}}">
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if sortOrder and sortOrder == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if sortOrder and sortOrder == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if sortOrder and sortOrder == minfield or sortOrder and sortOrder == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
             </div>
           </th>
           {% endwith %}
           {% endwith %}
           {% endfor %}

           {% for fieldname,column in column_headers %}
           {% with minfield="-"|add:column %}
           <th>
             <div class="field_{{fieldname}}">
             <a href="#" onclick="do_sort_column('{{fieldname}}','asc', 'adminsearch')">
               {% if sortOrder and sortOrder == column %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{fieldname}}','desc', 'adminsearch')">
               {% if sortOrder and sortOrder == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if sortOrder and sortOrder == minfield or sortOrder and sortOrder == column  %}
               <a href="#" onclick="do_sort_column('{{fieldname}}','del', 'adminsearch')">x</a>
             {% endif %}
             </div>
           </th>
           {% endwith %}
           {% endfor %}

           <th style="width:255px;"></th>
      </tr>

    </thead>

