{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
{% blocktrans %}Videos for {{ gloss }}{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}


{% block extrajs %}
<script type='text/javascript'>
    var url = '{{ PREFIX_URL }}';

    var language_code = '{{ LANGUAGE_CODE }}';

    {% trans "Edit" as edit_mode_str %}
    {% trans "Turn Off Edit Mode" as turn_off_edit_mode_str %}

    var csrf_token = '{{csrf_token}}';
    var this_gloss_id = {{gloss.id}};

    var search_type = '{{search_type}}';
    var model_view = 'gloss';
    var active_id = '{{active_id}}';
    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';

    {% include "dictionary/search_result_bar.html" %}

    function reloadVideo() {
        console.log('reload video');
        var video_player = document.getElementById("videoplayer");
        video_player_src = video_player.src;
        console.log('url is ' + video_player_src);
        video_player_src = "";
        video_player.src = video_player_src;
        video_player.type = "video/mp4";
        video_player.load();
    }
</script>

<script type='text/javascript'>
    $('#searchresults').css({'padding-top': 10});
    $('#definitionblock').css({'padding-top': Math.round($('#searchresults').height() + $('#signinfo').height() + 30)});
</script>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
<style>
    #panel-expand-collapse-btn-group.affix {
        position:fixed;
    }
</style>

{% endblock %}

{% block content %}

<div id="searchresults" class='navbar navbar-light' style="overflow-y:hidden;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
        <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;">

        </div>
    {% endif %}
</div>

{% if request.GET.warning %}
    <div class="alert alert-warning">{{ request.GET.warning }}</div>
{% endif %}


<div id="signinfo" class='navbar navbar-collapse' style="border:0;">
    <div id="view_tabs" style="margin-right:15px;margin-top:10px;z-index:500;" class='view-tabs view-tabs-light'>
    <ul class='nav nav-tabs nav-tabs-light'>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}.html">{% trans "Public View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}">{% trans "Details" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_relations/{{gloss.id}}">{% trans "Relations" %}</a>
        </li>
        {% if gloss.has_frequency_data %}
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_frequency/{{gloss.id}}/">{% trans "Frequencies" %}</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Revision History" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link active' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossvideos">{% trans "Videos" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossanimations">{% trans "Animations" %}</a>
        </li>
    </ul>
    </div>
</div>

<div id="definitionblock" style="z-index:0;background-color:inherit;">
    {% url 'dictionary:protected_media' '' as protected_media_url %}
    <div id="leftblock">
        <h3>{% trans "Video" %}</h3>
        <div id="videocontainer">
            {% if gloss.has_video %}

            <!-- {{ gloss.get_video }} -->

                <div id="player">
                <video id='videoplayer' src="{{protected_media_url}}{{gloss.get_video_url}}" controls autoplay muted></video>
                </div>
                <div id="replay"></div>

            {% else %}
                <div id='player'>
                    <img id='novideo' src='{{ STATIC_URL }}images/no-video-ngt.png'>
                    <!-- {{ gloss.get_video }} -->
                </div>
            {% endif %}
        </div>

        <h3>{% trans "Citation Form Image" %}</h3>
        <div>
            {% if gloss.get_image_path %}
                <img id="imageframe" src="{{protected_media_url}}{{gloss.get_image_url}}" style="height:259px;width:auto;">
            {% else %}
                <p>{% trans "There is no citation form image for this gloss." %}</p>
            {% endif %}
        </div>
    </div>

    <div class='panel panel-group panel-default panel-light' id="definition"
         style="width:auto; z-index: 0;opacity:.99; position: relative;background-color:inherit;">

        {% if gloss.has_sense_with_examplesentence_with_video %}
        <!-- Example Sentences -->
        <div class="panel panel-default panel-default-light">
            <!-- Only show if any example sentence videos exist -->
                {% if senses %}
                <div class="panel-heading"><h3>{% trans "Example Sentences" %}</h3></div>
                <div class="panel-body">
                <table class='table table-condensed table-condensed-light'>
                    {% for sense in senses %}
                        <!-- Only show if the sense has any example sentences with videos -->
                        {% if sense.has_examplesentence_with_video %}
                            <tr>
                                <th style="width:10px">
                                    {{ forloop.counter }}. <br>
                                </th>
                                <td style="width:20%">
                                    {% if sense.get_sense_translations_dict_without%}
                                        {% for key, value in sense.get_sense_translations_dict_without.items %}
                                            {{key}}: {{ value }}
                                            {% if not forloop.last %}<br>{% endif %}
                                        {% endfor %}
                                    {% endif %}<br><br>
                                </td>
                                <td style="width:80%">
                                    <table class='table table-condensed'>
                                        {% for examplesentence in sense.exampleSentences.all %}
                                            {% if examplesentence.has_video %}
                                            <tr>
                                                <td style="width:50%">
                                                    {% if examplesentence.sentenceType %}
                                                    <i>{{ examplesentence.sentenceType.name }}</i>
                                                    {% else %}
                                                    - 
                                                    {% endif %}
                                                    {% if examplesentence.negative %}
                                                    <i>(neg)</i>
                                                    {% endif %}
                                                    <br><br>

                                                    {% for key, value in examplesentence.get_examplestc_translations_dict_without.items %}
                                                        {{ key }}: {{ value }} {% if not forloop.last %}<br>{% endif %}
                                                    {% endfor %}<br><br>

                                                </td>
                                                <td style="width:50%">
                                                    <div id="player">
                                                        <video id='videoplayer' src="{{protected_media_url}}{{examplesentence.get_video_path}}" style="width:100%; min-width:300px; max-width:700px;" controls muted></video>
                                                    </div>
                                                    <div id="replay"></div>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}                              
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                </div>
                {% endif %}
        </div>
        {% endif %}

        <!-- Other media -->
            {% if other_media %}
            <div class="panel panel-default panel-default-light">

            <div class="panel-heading"><h3>{% trans "Other Media" %}</h3></div>
            <div class="panel-body">
            <table class='table table-condensed table-condensed-light'>
                {% for media_okay,pk,path,file_type,type,alternative_gloss,file_name in other_media %}
                    {% if media_okay and file_type == 'video/mp4' %}
                    <tr >
                        <td style="width:auto;" colspan="2">
                            <div id="player_{{pk}}" style="width:auto;">
                                <video id='videoplayer_{{pk}}' width="450" controls autoplay muted>
                                    <source src="{{ PREFIX_URL }}{{ path }}" type="video/mp4">
                                    <source src="{{ PREFIX_URL }}{{ path }}" type="video/quicktime"
                                    codecs="avc1.42E01E mp4a.40.2">
                                    {% trans "Your browser does not support this format." %}
                                </video>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    <!-- ADD TO SHOW IMAGES -->
                    <!-- {% if file_type == 'image/png' %}
                    <tr >
                        <td style="width:auto;" colspan="2">
                            <img src="{{ PREFIX_URL }}{{ path }}" style="height:259px;width:auto;">
                        </td>
                    </tr>
                    {% endif %} -->
                    <tr>
                        <th style='width:6em'>{% trans "Download" %}</th>
                    </tr>
                    <tr>
                        <td>{% if not media_okay %}
                                <a disabled style="color:rgb(150,150,150);" onclick="return false;" style="color:rgb(150,150,150);"
                                        download="{{ file_name }}" href="{{ PREFIX_URL }}{{ path }}">{{file_name}}</a>
                            {% else %}
                            <a download="{{ file_name }}" href="{{ PREFIX_URL }}{{ path }}">{{file_name}}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
            </div>
            {% endif %}

    </div>
</div>


{% endblock %}
