{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    
    
    {% if perms.dictionary.change_gloss %}
    
    <script type='text/javascript'>

    var edit_mode_str = '{% trans "Edit" %}'
    var turn_off_edit_mode_str = '{% trans "Turn off edit mode" %}'
    var delete_this_gloss_str = '{% trans "Delete this gloss" %}'
    var saving_str = '{% trans "Saving..." %}'
    var idgloss_already_exists_str = '{% trans "This idgloss already exists" %}'

    var edit_post_url = '{% url 'dictionary:update_gloss' gloss.id %}';
    var definition_role_choices = {{gloss.definition_role_choices_json|safe}}
    var relation_role_choices = {{gloss.relation_role_choices_json|safe}}
    var languages = {{gloss.language_choices|safe}};
    var dialects = {{gloss.dialect_choices|safe}};
    var mrptype_choices = {};
    var wordclass_choices = {{gloss.wordclass_choices|safe}};

    var choice_lists = {{choice_lists|safe}};
    var csrf_token = '{{csrf_token}}';
    var next_gloss_id = {{nextglossid}};
    var next_morpheme_id;

    // This script gets and inserts the users last searched items on the gloss page
    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';
    var req = $.ajax({
        url: search_results_url,
        dataType: "json",
        context: document.body
    })
    req.done(function(json_data) {
        for (var key in json_data) {
            if (json_data.hasOwnProperty(key)) {
                var a = document.createElement("a");
                a.setAttribute("class", "btn btn-default");
                a.style["float"] = "none";
                a.href = "{% url 'root_page' %}dictionary/gloss/" + json_data[key].id + "/";
                a.id = json_data[key].id;
                var linktext = document.createTextNode(json_data[key].gloss);
                a.appendChild(linktext);
                $( "#results-inline" ).append(a);
            }
        }
        /* Determine the active button (if any), center the horizontal list according to the active button */
        // Make sure that we are showing search results
        if ($('#results-inline').length > 0) {
            // Setting a button active according to which glosses page we are on. A.id should equal to gloss.id.
            $('#results-inline #{{ gloss.id }}').addClass('active');
            var scrollPanel = $('#searchresults');
            var activeButton = $('#results-inline a.active');
            // Make sure that activeButton exists
            if (activeButton.length > 0) {
                // Calculating the left offset position so that the button is centered
                var leftOffset = activeButton.offset().left - scrollPanel.offset().left - (scrollPanel.width() / 2) + (activeButton.width() / 2);
                // Scrolling to the active button
                $('#searchresults').scrollLeft(leftOffset);
            }
        }
    });

    </script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/gloss_edit.js"></script>
    
    
    {% endif %}
{% endblock %}


{% block content %}

<div id="searchresults" style="overflow-y:hidden;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;">
    </div>
    {% endif %}
</div>

{% if request.GET.warning %}
<div class="alert alert-warning">{{ request.GET.warning }}</div>
{% endif %}


<div id="signinfo" class='navbar navbar-default navbar-collapse'>
   
    <div class='btn-group'>
        {% if SIGN_NAVIGATION %}
        
            {% if navigation.prev %}
            <a class='btn navbar-btn btn-default' href="{% url 'dictionary:admin_gloss_view' pk=navigation.prev.id %}">&laquo;{% trans "Previous Sign" %]
            </a>
            {% endif %}
            
            <button class='btn navbar-btn'>{% blocktrans %}"Sign {{glossposn}} of {{glosscount}} in the NGT Dictionary" {% endblocktrans %}</button>
            
            {% if navigation.next %}
            <a class="btn navbar-btn btn-default"
               href="{% url 'dictionary:admin_gloss_view' pk=navigation.next.id %}">{% trans "Next Sign &raquo;" %}</a>
            {% endif %}
         {% else %}
           
         {% endif %}
    </div>

    {% if gloss.idgloss %}
    <a class='btn btn-default navbar-btn' href="{% url 'root_page' %}dictionary/gloss/{{gloss.idgloss}}.html">{% trans "Public View" %}</a>

        {% if perms.dictionary.change_gloss %}
            <button id='delete_gloss_btn' class='btn btn-default navbar-btn' data-toggle='modal' data-target='#delete_gloss_modal'>{% trans "Delete Sign" %}</button>
        {% endif %}
    {% endif %}
    
    {% if perms.dictionary.change_gloss %}
    
    <div class='pull-right'>
         <span id='edit_message'></span>&nbsp;
         <!--<button id='rewind' class='btn btn-default navbar-btn button-to-appear-in-edit-mode' data-toggle='modal' data-target=''>Rewind</button>-->
         <button id='save_and_next_btn' class='btn btn-default navbar-btn button-to-appear-in-edit-mode' data-toggle='modal' data-target=''>{% trans "Edit next gloss" %}</button>
         <button id='enable_edit' class='btn btn-default navbar-btn'>{% trans "Edit" %}</button>
         
         <div class="modal fade" id="delete_gloss_modal" tabindex="-1" role="dialog" aria-labelledby="#modalTitle" aria-hidden="true">
             <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class='modal-header'>
                        <h2 id='modalTitle'>{% trans "Delete This Sign" %}</h2>
                    </div>
                    <div class='modal-body'>
                        <p>{% trans "This action will delete this sign and all associated records. It cannot be undone." %}</p>
                     </div>
                  <form action="{% url 'dictionary:update_gloss' gloss.id %}" method='post'>
                      {% csrf_token %}
                      <input type='hidden' name='id' value='deletegloss'>
                      <input type='hidden' name='value' value='confirmed'>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                      </div>
                  </form>
                      
                </div>
              </div>
        </div>
         
    </div>
    {% endif %}
</div>

<div id="definitionblock">
    {% url 'dictionary:protected_media' '' as protected_media_url %}
    <div id="leftblock">
    <div id="videocontainer">
    {% if gloss.get_video %}

     <!-- {{ gloss.get_video }} -->

        <div id="player">
          <iframe id='videoiframe' scrolling="no" frameborder='0'
		   src="{{protected_media_url}}{{gloss.get_video}}">

          </iframe>
        </div>
        <div id="replay"></div>

    {% else %}
    <div id='player'>
     <img id='novideo' src='{{ STATIC_URL }}images/no-video-ngt.png'>
     <!-- {{ gloss.get_video }} -->
    </div>
    {% endif %}
    
    </div>

    <div>
        {% if gloss.get_image_path %}
            <img class="citation_form_image" src="{{protected_media_url}}{{gloss.get_image_path}}">
        {% endif %}
    </div>

    <div id="feedback">
        <ul>
            {% ifequal viewname "words" %}
            <li><a href="{% url 'root_page' %}feedback/sign/{{translation.translation}}-{{n}}.html?return=/dictionary/words/{{translation.translation}}-{{n}}.html">{% trans "Provide feedback about this sign" %}</a></li>
            {% else %}
            <li><a href="{% url 'root_page' %}feedback/gloss/{{gloss.idgloss}}.html?return=/dictionary/gloss/{{gloss.idgloss}}.html&lastmatch={{lastmatch}}">{% trans "Provide feedback about this sign" %}</a></li>
            {% endifequal %}

        </ul>
    </div>
    
    
    
    {% if perms.dictionary.change_gloss and perms.dictionary.update_video %}
    <div class='editform'>
        <fieldset>
            <legend>{% trans "Upload New Video" %}</legend>
            <p>{% blocktrans %} We have {{gloss.count_videos}} videos for this sign. {% endblocktrans %}</p>
            <form action="{{URL}}/video/upload/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type='hidden' name='redirect' value='{{request.path}}?edit'>
            <table id="staffops">
              <tr>
                  <td>{{videoform.videofile}}</td>
              </tr>
              <tr>
                  <td><input type='hidden' name='gloss_id' value='{{gloss.pk}}'>
                      <input class='btn btn-primary' type='submit' value='Upload Video'/></td>
              </tr>
            </table>
            </form>
        </fieldset>

    </div>
    {% endif %}

    {% if perms.dictionary.change_gloss %}
    <div class='editform'>
        <fieldset>
            <legend>{% trans "Upload New Citation Form Image" %}</legend>
            <form action="{{URL}}/image/upload/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type='hidden' name='redirect' value='{{request.path}}?edit'>
            <table id="staffops">
              <tr>
                  <td>{{imageform.imagefile}}</td>
              </tr>
              <tr>
                  <td><input type='hidden' name='gloss_id' value='{{gloss.pk}}'>
                      <input class='btn btn-primary' type='submit' value='Upload Citation Form Image'/></td>
              </tr>
            </table>
            </form>
        </fieldset>
    </div>

    {% endif %}

    {% if perms.dictionary.update_video %}
    <div class="editform">
        <fieldset>
         <legend>{% trans "Delete Media" %}</legend>
            <table>
                <tr><td>
                <form class="formbutton" action="{{URL}}/video/delete/{{gloss.pk}}" method='post'>
                        {% csrf_token %}<input class='btn btn-danger' id='delete_video' type='submit' value='Delete video'>
                </form>
                <form class="formbutton" action="{{URL}}/image/delete/{{gloss.pk}}" method='post'>
                        {% csrf_token %}<input class='btn btn-danger' id='delete_image' type='submit' value='Delete image'>
                </form>
                </td></tr>
            </table>
         </fieldset>
    </div>
    {% endif %}


  {% include "dictionary/glosstags.html" %}

</div>

    <div class='panel-group' id="definition">

        <table class='table table-condensed'>
            <tr><th>{% trans "Lemma ID Gloss" %}</th><td class='edit edit_text' id='idgloss'>{% value gloss.idgloss %}</td></tr>
            <tr><th>{% trans "Annotation ID Gloss (Dutch)" %}</th>
                <td class='edit edit_text'  id='annotation_idgloss'>{% value gloss.annotation_idgloss %}</td>
                <td>
                    {% if gloss.morphemePart.all.count > 0 %}

                        {% if gloss.morphemePart.all.count > 2 %}
                        <span class="gloss_detail_morpheme">({{gloss.morphemePart.all.count}} morphemes)</span>
                        {% else %}
                        <!-- Number of morphemes is [1-2] -->

                            {% for morphdef in gloss.morphemePart.all %}
                            <span class="gloss_detail_morpheme"><a href='{% url "dictionary:admin_morpheme_view" pk=morphdef.pk %}'>
                                {% value morphdef.annotation_idgloss %}</a>{% if not forloop.last %}, {% endif %}
                            </span>
                            {% endfor %}

                        {% endif %}

                    {% endif %}

                    {% if gloss.parent_glosses.all.count > 0 %}
                    {% for component in gloss.parent_glosses.all %}
                    <span class="gloss_detail_component"><a href='{% url "dictionary:admin_gloss_view" pk=component.morpheme.pk %}'>
                        {% value component.morpheme.annotation_idgloss %}</a>{% if not forloop.last %} + {% endif %}
                    </span>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>

            {% if SEPARATE_ENGLISH_IDGLOSS_FIELD %}
            <tr><th>{% trans "Annotation ID Gloss (English)" %}</th>
                <td class='edit edit_text'  id='annotation_idgloss_en'>{% value gloss.annotation_idgloss_en %}</td>
                <td>
                    {% if gloss.morphemePart.all.count > 0 %}

                        {% if gloss.morphemePart.all.count > 2 %}
                        <span class="gloss_detail_morpheme">({{gloss.morphemePart.all.count}} morphemes)</span>
                        {% else %}
                            <!-- Number of morphemes is [1-2] -->
                            {% for morphdef in gloss.morphemePart.all %}
                            <span class="gloss_detail_morpheme"><a href='{% url "dictionary:admin_morpheme_view" pk=morphdef.pk %}'>
                                {% value morphdef.annotation_idgloss_en %}</a>{% if not forloop.last %}, {% endif %}
                            </span>
                            {% endfor %}
                        {% endif %}

                    {% endif %}

                    {% if gloss.parent_glosses.all.count > 0 %}
                    {% for component in gloss.parent_glosses.all %}
                    <span class="gloss_detail_component"><a href='{% url "dictionary:admin_gloss_view" pk=component.morpheme.pk %}'>
                        {% value component.morpheme.annotation_idgloss_en %}</a>{% if not forloop.last %} + {% endif %}
                    </span>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endif %}

            <tr><th>{% trans "Translation equivalents in Dutch" %}</th><td class='edit edit_text' id='keywords' colspan="2">{% for trn in gloss.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>

            {% for value,name,label,kind in main_fields %}
                <tr><th>{{label}}</th><td class="edit edit_{{kind}}" id='{{name}}'>{% if kind == "check" and value %}{% trans "Yes" %}{% elif kind == "check" %}{% trans "No" %}{% else %}{% value value %}{% endif %}</td></tr>
            {% endfor %}

        </table>
			 
   {% if perms.dictionary.view_advanced_properties %}

   <!-- Morphology -->
   <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' data-parent='#morphologydefinition' href='#morphology'>{% trans "Morphology" %}</a>
            </div>
        </div>
        <div id='morphology' class='collapse'>

            <!-- List the glosses that serve as compound parts of 'me', and allow Adding/Deleting these parts -->

               <table class='table table-condensed'>
                   <tr>
                       <th style='...'>{% trans "Sequential Morphology" %}</th>
                   </tr>
                   {% if gloss.parent_glosses.count > 0 %}
                  <tr>
                      <th style='width:2em'></th>
                      <th style='width:12em'>{% trans "Compound part" %}</th>
                      <th style='width:12em'>{% trans "Component sign" %}</th>
                  </tr>

                   {% for morphdef, translated_role in morphdefs %}

                   <tr>
                         <td>
                            <span class='glyphicon glyphicon-trash morphology-definition-delete' data-toggle='modal' data-target='#delete_morphology-definition_modal_{{morphdef.id}}'></span>

                             <div class="modal fade" id="delete_morphology-definition_modal_{{morphdef.id}}" role="dialog" aria-labelledby="#modalTitle2" aria-hidden="true">
                                 <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class='modal-header'>
                                            <h2 id='modalTitle2'>{% trans "Delete This Compound part" %}</h2>
                                        </div>
                                        <div class='modal-body'>

                                            <p>{% trans "Are you sure you want to delete this? This cannot be undone." %}</p>
                                         </div>
                                      <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                          {% csrf_token %}
                                          <input type='hidden' name='id' value='morphology-definition-delete_{{morphdef.id}}'>
                                          <input type='hidden' name='value' value='confirmed'>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                                          </div>
                                      </form>

                                    </div>
                                  </div>
                             </div>

                        </td>

                        <td class='edit edit_morphology_role' id='morphology-definition-role_{{morphdef.id}}'>{{translated_role}}</td>
                        <td class='edit edit_compoundpart' id='morphology-definition-morpheme_{{morphdef.id}}'><a href='{% url "dictionary:admin_gloss_view" pk=morphdef.morpheme.pk %}'>{{morphdef.morpheme}}</a></td>
                   {% endfor %}

            {% else %}
            <tr><td><i>({% trans "If this is a compound, use [Edit] to define its components" %})</i></td></tr>
            {% endif %}
           </table>

           {% if perms.dictionary.change_gloss %}
           <form id='add_morphologydefinition_form' method='post' action="{% url 'dictionary:add_morphologydefinition' %}">
               {% csrf_token %}
               <input type='hidden' name='parent_gloss_id' value='{{gloss.pk}}'>
               <table class='table table-condensed'>
                   <tr>
                       <td style="width:2em;"></td>
                       <td style="width:12em;">{{morphologyform.role}}</td>
                       <td><input class='form-control glosstypeahead' placeholder='{% trans "ID Gloss of Morpheme" %}' name='morpheme_id'></td>
                       <td><input id="add_component" class='btn btn-primary' value='{% trans "Add Component" %}' type='submit'></td>
                   </tr>
               </table>
           </form>
            {% endif %}

            <!-- Editable list of morphemes (see model "Morpheme") used in this Gloss (ERK, issue #177) -->

            <table class='table table-condensed'>
                <tr>
                    <th style='...'>{% trans "Simultaneous Morphology" %}</th>
                </tr>
              {% if gloss.morphemePart.all.count > 0 %}
                <tr>
                    <th style='width:2em'></th>
                    <th style='width:12em'>{% trans "Morpheme" %}</th>
                </tr>
                {% for morpheme in gloss.morphemePart.all %}
                <tr>
                    <!-- Facility to delete this morpheme -->
                     <td>
                        <span class='glyphicon glyphicon-trash morpheme-definition-delete' data-toggle='modal' data-target='#delete_morpheme-definition_modal_{{morpheme.id}}'></span>

                         <div class="modal fade" id="delete_morpheme-definition_modal_{{morpheme.id}}" role="dialog" aria-labelledby="#modalTitleMrp" aria-hidden="true">
                             <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class='modal-header'>
                                        <h2 id='modalTitleMrp'>{% trans "Delete This Morpheme" %}</h2>
                                    </div>
                                    <div class='modal-body'>

                                        <p>{% trans "Are you sure you want to delete this? This cannot be undone." %}</p>
                                     </div>
                                  <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                      {% csrf_token %}
                                      <input type='hidden' name='id' value='morpheme-definition-delete_{{morpheme.id}}'>
                                      <input type='hidden' name='value' value='confirmed'>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                        <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                                      </div>
                                  </form>

                                </div>
                              </div>
                         </div>

                    </td>
                    <td class='edit edit_morpheme' id='morpheme-definition_{{morpheme.id}}'><a href='{% url "dictionary:admin_morpheme_view" pk=morpheme.pk %}'>{{morpheme}}</a></td>
                </tr>
                {% endfor %}

            {% else %}
                <tr><td><i>({% trans "Use [Edit] to define any morphemes used in this sign" %})</i></td></tr>
            {% endif %}
            </table>

            <!-- Facilitate adding and deleting morphemes that are used in this sign -->
           {% if perms.dictionary.change_gloss %}
           <form id='add_morphemedefinition_form' method='post' action="{% url 'dictionary:add_morphemedefinition' glossid=gloss.id %}">
               {% csrf_token %}
               <input type='hidden' name='host_gloss_id' value='{{gloss.pk}}'>
               <table class='table table-condensed'>
                   <tr>
                       <td style="width:2em;"></td>
                       <td><input class='form-control morphtypeahead' placeholder='{% trans "ID Morpheme/Annotation ID Morpheme" %}' name='morph_id'></td>
                       <td><input class='btn btn-primary' value='{% trans "Add Morpheme" %}' type='submit'></td>
                   </tr>
               </table>
           </form>
            {% endif %}

           {# spacing div to allow room for typeahead dropdown #}
           <div style='height: 10em'></div>

        </div>

    </div>

    <!-- Phonology -->
	<div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' href='#phonology'>{% trans "Phonology" %}</a>
            </div>
        </div>
        <div id='phonology' class='panel-collapse collapse'>
            <table class='table table-condensed'>
		{% for value,name,label,kind in phonology_fields %}
                {% if value == '-' or value == ' ' or value == '' or value == None or value == False %}
                <tr value="{{value}}" class="empty_row">
                <th>{{label}}</th>
                <td class="edit edit_{{kind}}" id='{{name}}'>{% if kind == "check" and value %}{% trans "Yes" %}{% elif kind == "check" %}{% trans "No" %}{% else %}{% value value %}{% endif %}</td></tr>
                {% else %}
                <tr value="{{value}}">
                <th>{{label}}</th>
                <td class="edit edit_{{kind}}" id='{{name}}'>{% if kind == "check" and value %}{% trans "Yes" %}{% elif kind == "check" %}{% trans "No" %}{% else %}{% value value %}{% endif %}</td></tr>
                {% endif %}
		{% endfor %}

            </table>
        </div>
    </div>

    <!-- Minimal Pairs -->
 {% with gloss.minimal_pairs_dict as mpd %}
{% if mpd.1 %}
  <div class="panel panel-default">

        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' style="color:red" href='#identicalphonology'>{% trans "Identical phonology but not marked as homonym" %}</a>
            </div>
        </div>
        <div id='identicalphonology' class='panel-collapse collapse'>
            {% with gloss.homonyms as hnyms %}
            <table class='table table-condensed' style="padding-left: 20px;">
               <tr>
                   <th style="width:auto; padding-left: 25px;">{% trans "ID Gloss" %}</th>
               </tr>
                {% for gl in mpd.1 %}
                {% if not gl in hnyms %}
                <tr><td style="color:red;"><a style="color:red; padding-left: 20px;" href='{% url "dictionary:admin_gloss_view" pk=gl.id %}'>{{ gl.idgloss }}</a></td></tr>
                {% endif %}
                {% endfor %}
            </table>
            {% endwith %}
        </div>
  </div>
{% endif %}
<div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' href='#minimalpairs'>{% trans "Minimal Pairs" %}</a>
            </div>
        </div>
        <div id='minimalpairs' class='panel-collapse collapse'>
            {% if mpd.0 %}
            <table class='table table-condensed'>


               <tr>
                   <th style="width:auto; padding:0px 0px;">{% trans "ID Gloss" %}</th>
                   <th style="width:auto; padding:0px 0px;">{% trans "Field name" %}</th>
                   <th style="width:auto; padding:0px 0px;">{% trans "Value" %}</th>
                </tr>


                {% for gl, dict in mpd.0.items %}
                <tr>
                {% for k, d in dict.items %}
                    <td><a href='{% url "dictionary:admin_gloss_view" pk=gl.id %}'>{{ gl.idgloss }}</a></td><td>{{ d.0 }}</td><td>{{ d.1 }}</td>
                {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
</div>
{% endwith %}


    <!-- Semantics -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' href='#semantics'>{% trans "Semantics" %}</a>
            </div>
        </div>
        <div id='semantics' class='panel-collapse collapse'>
            <table class='table table-condensed'>
		{% for value,name,label,kind in semantics_fields %}
		    <tr><th>{{label}}</th><td class="edit edit_{{kind}}" id='{{name}}'>{% value value %}</td></tr>
		{% endfor %}
            
            </table>
        </div>
    </div>

    <!-- Language & dialect -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' href='#languagedialect'>{% trans "Language & Dialect" %}</a>
            </div>
        </div>
        <div id='languagedialect' class='panel-collapse collapse'>
            <table class="table table-condensed">
            <tr><th>{% trans "Language" %}</th><td class='edit edit_language' id='language' colspan="2">{% for lang in gloss.language.all %}{{lang.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
            <tr><th>{% trans "Dialect" %}</th><td class='edit edit_dialect' id='dialect' colspan="2">{% for dia in gloss.dialect.all %}{{dia.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>

            </table>
        </div>
    </div>



    <!-- Relations to other signs -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' href='#relations'>{% trans "Relations to Other Signs" %}</a>
            </div>
        </div>
        <div id='relations' class='collapse'>
               <table class='table table-condensed'>
                   {% for rel in gloss.relation_sources.all %}
                    <tr>
                         <td>
                            <span class='glyphicon glyphicon-trash relation_delete' data-toggle='modal' data-target='#delete_relation-other_modal_{{rel.id}}'></span>
                            
                             <div class="modal fade" id="delete_relation-other_modal_{{rel.id}}" role="dialog" aria-labelledby="#modalTitleOth" aria-hidden="true">
                                 <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class='modal-header'>
                                            <h2 id='modalTitleOth'>{% trans "Delete This Relation" %}</h2>
                                        </div>
                                        <div class='modal-body'>
                                            
                                            <p>{% blocktrans %} This action will delete the {{rel.get_role_display}} relation between {{rel.source}} and {{rel.target}}. It cannot be undone. {% endblocktrans %}</p>
                                         </div>
                                      <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                          {% csrf_token %}
                                          <input type='hidden' name='id' value='relationdelete_{{rel.id}}'>
                                          <input type='hidden' name='value' value='confirmed'>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                                          </div>
                                      </form>
                                          
                                    </div>
                                  </div>
                             </div>
                            
                        </td>
                        
                        
                        <td class='edit edit_relation_role' id='relationrole_{{rel.id}}'>{{rel.get_role_display}}</td>
                        <td class='edit edit_relation_target' id='relationtarget_{{rel.id}}'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{rel.target}}</a></td>
                   {% endfor %}
               </table>               
               
               {% if perms.dictionary.change_gloss %}
               <form id='add_relation_form' method='post' action='{% url "dictionary:add_relation" %}'>
                   {% csrf_token %}
                   <input type='hidden' name='sourceid' value='{{gloss.pk}}'>
                   <table class='table table-condensed'>
                       <tr>
                           <td>{{relationform.role}}</td>
                           <td><input class='form-control glosstypeahead' placeholder='{% trans "ID Gloss" %}' name='targetid'></td>
                           <td><input class='btn btn-primary' value='Add Relation' type='submit'></td>
                       </tr>
                   </table>
                </form>
                {% endif %}
                
           {# spacing div to allow room for typeahead dropdown #}
           <div style='height: 10em'></div>
           
        </div>
    </div>


    <!-- Relations to foreign signs -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' href='#relationsforeign'>{% trans "Relations to Foreign Signs" %}</a>
            </div>
        </div>
        <div id='relationsforeign' class='collapse'>
               <table class='table table-condensed'>
	      <tr>
		  <th style='width:3em'>{% trans "Loan" %}</th>
		  <th style='width:6em'>{% trans "Related Language" %}</th>
		  <th style='width:10em'>{% trans "Gloss in related language" %}</th>
		</tr>

                   {% for rel in gloss.relationtoforeignsign_set.all %}
                    <tr>                                               
                         <td>
                            <span class='glyphicon glyphicon-trash relation_delete' data-toggle='modal' data-target='#delete_relation-foreign_modal_{{rel.id}}'></span>
                            
                             <div class="modal fade" id="delete_relation-foreign_modal_{{rel.id}}" role="dialog" aria-labelledby="#modalTitleFor" aria-hidden="true">
                                 <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class='modal-header'>
                                            <h2 id='modalTitleFor'>{% trans "Delete This Relation" %}</h2>
                                        </div>
                                        <div class='modal-body'>
                                            
                                            <p>{% trans "Are you sure you want to delete this? This cannot be undone." %}</p>
                                         </div>
                                      <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                          {% csrf_token %}
                                          <input type='hidden' name='id' value='relationforeigndelete_{{rel.id}}'>
                                          <input type='hidden' name='value' value='{% trans "confirmed" %}'>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                                          </div>
                                      </form>
                                          
                                    </div>
                                  </div>
                             </div>
                            
                        </td>

                        <td class='edit edit_check' id='relationforeign-loan_{{rel.id}}'>{{rel.loan}}</td>
                        <td class='edit edit_text' id='relationforeign-other-lang_{{rel.id}}'>{{rel.other_lang}}</td>
                        <td class='edit edit_text' id='relationforeign-other-lang-gloss_{{rel.id}}'>{{rel.other_lang_gloss}}</td>
                   {% endfor %}
               </table>

               {% if perms.dictionary.change_gloss %}
               <form id='add_relationtoforeignsign_form' method='post' action='{% url "dictionary:add_relationtoforeignsign" %}'>
                   {% csrf_token %}
                   <input type='hidden' name='sourceid' value='{{gloss.pk}}'>
                   <table class='table table-condensed'>
                       <tr>
                           <td><input class='checkbox' name='loan' type='checkbox'></td>
                           <td><input class='form-control' placeholder='{% trans "Related language" %}' name='other_lang' type='text'></td>
                           <td><input class='form-control' placeholder='{% trans "Gloss in related language" %}' name='other_lang_gloss' type='text'></td>
                           <td><input class='btn btn-primary' value='{% trans "Add Relation to Foreign Sign" %}' type='submit'></td>
                       </tr>
                   </table>
                </form>
                {% endif %}
                               
           {# spacing div to allow room for typeahead dropdown #}
           <div style='height: 10em'></div>
           
        </div>
    </div>
    {% endif %}


        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='panel-title'>
                    <a data-toggle='collapse' href='#frequency'>{% trans "Frequency" %}</a>
                </div>
            </div>
            <div id='frequency' class='panel-collapse collapse'>
                <table class='table table-condensed'>
                    {% for value,name,label,kind in frequency_fields %}
                    <tr><th>{{label}}</th><td class="edit edit_text" id='{{name}}'>{% value value %}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>


    <!-- Publication status -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' href='#pubStatus'>{% trans "Publication Status" %}</a>
            </div>
        </div>
        
            
        <div id="pubStatus" class="panel-collapse collapse">
        
            <table class='table table-condensed'>
                <tr><th>{% trans "Creation Date" %}</th><td>{{gloss.creationDate}}</td></tr>
                <tr><th>{% trans "Creator" %}</th>
                    <td>
                        {% for creator in gloss.creator.all %}
                            {% if forloop.last %}
                                {{creator.first_name}} {{creator.last_name}}
                            {% else %}
                                {{creator.first_name}} {{creator.last_name}},
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>

                <tr><th>{% trans "In Web Dictionary" %}</th>
                    <td {% if perms.dictionary.can_publish %}class='edit edit_check'{% endif %} id='inWeb'>
                        {% if gloss.inWeb %}
                            {% trans "Yes" %}
                        {% else %}
                            {% trans "No" %}
                        {% endif %}
                    </td></tr>
                <tr><th>{% trans "Proposed New Sign" %}</th>
                    <td class='edit edit_check' id='isNew'>
                        {% if gloss.isNew %}
                            {% trans "Yes" %}
                        {% else %}
                            {% trans "No" %}
                        {% endif %}
                    </td></tr>
            </table>
        </div>
    </div>
    
   
    <!-- Notes -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' href='#definitions'>{% trans "Notes" %}</a>
            </div>
        </div>
        <div id='definitions' class='collapse'>
            
            {% regroup gloss.definition_set.all by role as roles %}

            <table class='table'>
              <tr>
                  <th style='width:1em'></th>
                  <th style='width:3em'>{% trans "Published" %}</th>
                  <th style='width:3em'>{% trans "Index" %}</th>
                  <th style='width:10em'>{% trans "Type" %}</th>
                  <th>{% trans "Text" %}</th>
              </tr>
            {% for role in roles %}

              {% for def in role.list %}
              <tr>
                <td>

                    {% if perms.dictionary.change_gloss %}
                    {% if not def.published and perms.dictionary.can_delete_unpublished or def.published and perms.dictionary.can_delete_published %}
                    <span class='glyphicon glyphicon-trash definition_delete' data-toggle='modal' data-target='#delete_definition_modal_{{def.id}}'></span>

                     <div class="modal fade" id="delete_definition_modal_{{def.id}}" role="dialog" aria-labelledby="#modalTitle" aria-hidden="true">
                         <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class='modal-header'>
                                    <h2 id='modalTitle'>{% trans "Delete This Note" %}</h2>
                                </div>
                                <div class='modal-body'>
                                    <p><strong>{{def.get_role_display}}</strong> {{def.text}}</p>
                                    <p>{% trans "This action will delete this note. It cannot be undone." %}</p>
                                 </div>
                              <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                  {% csrf_token %}
                                  <input type='hidden' name='id' value='definitiondelete_{{def.id}}'>
                                  <input type='hidden' name='value' value='{% trans "confirmed" %}'>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                    <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                                  </div>
                              </form>

                            </div>
                          </div>
                     </div>
                    {% endif %}
                    {% endif %}
                </td>
                <td {% if perms.dictionary.can_publish %}class='edit edit_check'{% endif %} id='definitionpub_{{def.id}}'>
                    {% if def.published %}
                        {% trans "Yes" %}
                    {% else %}
                        {% trans "No" %}
                    {% endif %}
                </td>
                <td class='edit edit_int' id='definitioncount_{{def.id}}'>{{def.count}}</td>
                <td class='edit edit_role' id='definitionrole_{{def.id}}'>{{def.get_role_display}}</td>
                <td class='edit edit_area' id='definition_{{def.id}}'>{{def.text}}</td>
              </tr>
              {% endfor %}


            {% endfor %}
            </table>


            {% if perms.dictionary.change_gloss %}
            <form id='add_definition' action='{% url "dictionary:add_definition" gloss.id %}' method="POST">
                <fieldset>
                {% csrf_token %}
                 <table class='table'>
                    <tr>
                        <td style="width:2em"></td>
                        <td style="width:7em"><input class='checkbox' name='published' type='checkbox'></td>
                        <td style='width:5em'><input class='form-control' name='count' type='number'></td>
                        <td style='width:10em'>{{definitionform.role}}</td>
                        <td><input class='form-control' name='text' placeholder='{% trans "Enter new note" %}'></td>
                    </tr>
                     <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class='btn btn-primary' type='submit' value='{% trans "Save new note" %}'></td>
                    </tr>
                 </table>
            </fieldset>

            </form>
            {% endif %}


        </div>
    
    </div>

     <!-- Other media -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' href='#othermedia'>{% trans "Other media" %}</a>
            </div>
        </div>
        <div id='othermedia' class='collapse'>

           <table class='table table-condensed'>
              <tr>
                  <th style='width:2em'></th>
                  <th style='width:12em'>{% trans "Image/Video" %}</th>
                  <th style='width:12em'>{% trans "Type" %}</th>
                  <th style='width:12em'>{% trans "Alternative gloss" %}</th>
              </tr>

               {% for pk,path,type,alternative_gloss in other_media %}
               <tr>
                     <td>
                        <span class='glyphicon glyphicon-trash other-video-delete' data-toggle='modal' data-target='#delete_other_media_{{pk}}'></span>

                         <div class="modal fade" id="delete_other_media_{{pk}}" role="dialog" aria-labelledby="#modalTitle" aria-hidden="true">
                             <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class='modal-header'>
                                        <h2 id='modalTitle'>{% trans "Delete This Media" %}</h2>
                                    </div>
                                    <div class='modal-body'>

                                        <p>{% trans "Are you sure you want to delete this? This cannot be undone." %}</p>
                                     </div>
                                  <form action='{% url "dictionary:update_gloss" gloss.id %}' method='post'>
                                      {% csrf_token %}
                                      <input type='hidden' name='id' value='other-media-delete_{{pk}}'>
                                      <input type='hidden' name='value' value='confirmed'>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                        <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                                      </div>
                                  </form>

                                </div>
                              </div>
                         </div>

                    </td>

                    <td><a href="{{ path }}">Download</a></td>
                    <td class='edit edit_list' id='other-media-type_{{ pk }}'>{{ type }}</td>
                    <td class='edit edit_text' id='other-media-alternative-gloss_{{ pk }}'>{{ alternative_gloss }}</td>
                </tr>
               {% endfor %}

           </table>

            {% if perms.dictionary.change_gloss %}
            <form id='add_other_media' action='{% url "dictionary:add_othermedia" %}' method="POST" enctype="multipart/form-data">

               <input type='hidden' name='gloss' value='{{gloss.pk}}'>

                <fieldset>
                {% csrf_token %}
                 <table class='table'>
                    <tr>
                        <td><input class='form-control' placeholder='{% trans "Upload media" %}' name='file' type='file'></td>
                        <td>{{othermediaform.type}}</td>
                        <td><input class='form-control' placeholder='{% trans "Alternative gloss" %}' name='alternative_gloss' type='text'></td>
                    </tr>
                     <tr>
                        <td></td>
                        <td></td>
                        <td><input class='btn btn-primary' type='submit' value='{% trans "Save" %}'></td>
                    </tr>
                 </table>
            </fieldset>

            </form>
            {% endif %}

        </div>
    </div>

    </div>
</div>


{% endblock %}
