{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
{% blocktrans %}Revision History for {{ gloss }}{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block extrajs %}
    <script type='text/javascript'>
    var search_type = '{{search_type}}';
    var model_view = 'gloss';
    var active_id = '{{active_id}}';
    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';

    {% include "dictionary/search_result_bar.html" %}	
    </script>
{% endblock %}

{% block content %}

<div id="searchresults" class='navbar navbar-light' style="overflow-y:hidden;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;">
    </div>
    {% endif %}
</div>

<div id="signinfo" class='navbar navbar-collapse' style="background-color:inherit;border:0;">
    <div id="view_tabs" style="margin-right:15px;margin-top:10px;z-index:100;" class='view-tabs view-tabs-light'>
    <ul class='nav nav-tabs nav-tabs-light'>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}.html">{% trans "Public View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}">{% trans "Details" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_relations/{{gloss.id}}">{% trans "Relations" %}</a>
        </li>
        {% if gloss.has_frequency_data %}
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_frequency/{{gloss.id}}/">{% trans "Frequencies" %}</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class='nav-link active' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Revision History" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossvideos">{% trans "Videos" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossanimations">{% trans "Animations" %}</a>
        </li>
    </ul>
    </div>
</div>
<br><br>
<div id="definitionblock" style="z-index:0;padding-top: 100px;">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Field" %}</th>
                <th>{% trans "Old value" %}</th>
                <th>{% trans "New value" %}</th>
            </tr>
        </thead>

        {% for revision in revisions %}
            <tr>
                <td>{{revision.user}}</td>
                <td>{{revision.time}}</td>
                <td>{{revision.field_name}}{{revision.field_name_qualification}}</td>
                <td>{% if revision.is_tag and revision.old_value %}
                    {% load underscore_to_space %}
                    <div class='tag' style="margin:0;">
                        <span class='tagname'>{{revision.old_value|underscore_to_space}}</span>
                    </div>
                    {% else %}{{revision.old_value}}{% endif %}</td>
                <td>{% if revision.is_tag and revision.new_value %}
                    {% load underscore_to_space %}
                    <div class='tag' style="margin:0;">
                        <span class='tagname'>{{revision.new_value|underscore_to_space}}</span>
                    </div>
                    {% else %}{{revision.new_value}}{% endif %}</td>
            </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
