{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}

{% load bootstrap3 %}
{% load tagging_tags %}

<tr id = "glossrow_{{focus_gloss.id}}" class="gloss_row">

    {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets|length > 1 %}
        <td class="field_dataset" style="width:12em;">{{focus_gloss.lemma.dataset.acronym}}</td>
    {% endif %}


    <td class="field_hasvideo">{%if focus_gloss.get_image_path %}
    {% url 'dictionary:protected_media' '' as protected_media_url %}

      <div class="thumbnail_container">
      <a href="{{PREFIX_URL}}/dictionary/gloss/{{focus_gloss.pk}}{% if user.is_anonymous %}.html{% else %}/{% endif %}">

        <div id='glossvideo_{{focus_gloss.id}}'>
            <img class="thumbnail" src="{{protected_media_url}}{{focus_gloss.get_image_url}}">

            {% if focus_gloss.has_video %}
            <video id="videoplayer" class="thumbnail-video" src="{{protected_media_url}}{{focus_gloss.get_video_url}}"  type="video/mp4" muted="muted"></video>
            {% endif %}
        </div>

      </a>
      </div>
      {% endif %}
    </td>


    {% for dataset_lang in dataset_languages %}
    {% with focus_gloss|get_annotation_idgloss_translation_no_default:dataset_lang as annotationidglosstranslation %}
    <td class="annotation_{{dataset_lang.language_code_2char}}">
      {% if annotationidglosstranslation != "" %}
        <div>
        {% if focus_gloss.is_morpheme %}
        <div><a href="{{PREFIX_URL}}/dictionary/morpheme/{{focus_gloss.pk}}{% if user.is_anonymous %}.html{% else %}/{% endif %}">{{annotationidglosstranslation}}</a></div>
        {% else %}
        <div><a href="{{PREFIX_URL}}/dictionary/gloss/{{focus_gloss.pk}}{% if user.is_anonymous %}.html{% else %}/{% endif %}">{{annotationidglosstranslation}}</a></div>
        {% endif %}
        </div>
      {% endif %}
    </td>
    {% endwith %}
    {% endfor %}

    {% for dataset_lang in dataset_languages %}
    {% with focus_gloss.lemma|get_lemma_idgloss_translation:dataset_lang as lemmaidglosstranslation %}
      <td class="lemma_{{dataset_lang.language_code_2char}}">
          <div>{{ lemmaidglosstranslation }}</div>
      </td>
    {% endwith %}
    {% endfor %}

    {% for lang, sensetranslations in sensetranslations_per_language %}
    <td class="translation_{{lang.language_code_2char}}">
        <div>
        {% for key, value in sensetranslations.items %}
            {% if value != "" %}{{key}}. {% endif %}{{ value|safe }}{% if not forloop.last %}<br> {% endif %}
        {% endfor %}
        </div>
    </td>
    {% endfor %}

    {% for field,value in column_values %}
    <td class="field_{{field}}">
        <div>{{value}}</div>
    </td>

    {% endfor %}

    {% if not user.is_anonymous %}
    {% load underscore_to_space %}
    {% if focus_gloss.is_morpheme %}
    {% with focus_gloss.morpheme as focus_morpheme %}
    {% tags_for_object focus_morpheme as tag_list %}
        <td class="field_tags" style="width:255px;">
            <div class="tags-cell">{% for tag in tag_list %}
                <span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}
            </div>
        </td>
    {% endwith %}
    {% else %}
    {% tags_for_object focus_gloss as tag_list %}
        <td class="field_tags" style="width:255px;">
            <div class="tags-cell">{% for tag in tag_list %}
                <span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}
            </div>
        </td>
    {% endif %}
    {% endif %}
</tr>
