{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block bootstrap3_title %}
{% blocktrans %}Sign for {{gloss}}{% endblocktrans %}
{% endblock %}


{% block jqueryready %}


{% endblock %}

{% block script %}
    function replay() {
        $f('player').play();
    }
{% endblock %}

{% block extrahead %}
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="{{public_title}} (in {{gloss.dataset.acronym}})" />
<meta property="og:url" content="{{ request.build_absolute_uri  }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="From the {{gloss.dataset.acronym}} dataset in Global Signbank." />
<meta property="og:image" content="{{request.scheme}}://{{ request.get_host }}/media/{{protected_media_url}}{{gloss.get_image_url}}" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
<style>
.video_button:hover {
    color: red;
}
.video_button.active {
    color: red;
}
</style>
{% endblock %}

{% block extrajs %}
<script type='text/javascript'>
var dark_mode = '{{request.session.dark_mode}}';
var dark_mode_django = '{{dark_mode}}';
var url = '{{PREFIX_URL}}';
var show_dataset_interface_options = {{ SHOW_DATASET_INTERFACE_OPTIONS|yesno:"true,false" }};

$('#searchresults').css({'top': Math.round($('#signbank-bar').height())});
$('#definitionblock').css({'padding-top': Math.round($('#searchresults').height() + $('#signinfo').height())});

var search_type = '{{search_type}}';
var model_view = 'gloss';
var active_id = '{{active_id}}';
var search_results_url = '{% url 'dictionary:ajax_search_results' %}';
var this_gloss_id = {{gloss.id}};

{% include "dictionary/search_result_bar.html" %}

function reloadVideo() {
    var video_player = document.getElementById("videoplayer");
    video_player_src = video_player.src;
    video_player_src = "";
    video_player.src = video_player_src;
    video_player.type = "video/mp4";
    video_player.load();
}

function play_perspective() {
    $('#videoplayer_middle').trigger('play');
    $('#videoplayer_left').trigger('play');
    $('#videoplayer_right').trigger('play');
}

function pause_perspective() {
    $('#videoplayer_middle').trigger('pause');
    $('#videoplayer_left').trigger('pause');
    $('#videoplayer_right').trigger('pause');
}

function restart_video(vid) {
    if (!vid) { return; }
    vid.trigger('pause');
    vid.currentTime = 0;
    vid.trigger('play');
}

function restart_perspective() {
    var middle = $('#videoplayer_middle');
    restart_video(middle);
    var left = $('#videoplayer_left');
    restart_video(left);
    var right = $('#videoplayer_right');
    restart_video(right);
}

function openFullscreen() {
    // Get the videos with IDs videoplayer_[direction]
    const videoIds = ['videoplayer_left', 'videoplayer_middle', 'videoplayer_right'];
    let activeVideo = null;

    // Loop through the video IDs and check which one is active
    videoIds.forEach(id => {
        const video = document.getElementById(id);
        if (video && window.getComputedStyle(video).display !== 'none') {
            activeVideo = video;
        }
    });

    if (activeVideo) {

        // turn on controls in fullscreen
        activeVideo.controls = true;
        // activate fullscreen mode
        if (activeVideo.requestFullscreen) {
            activeVideo.requestFullscreen();
        } else if (activeVideo.mozRequestFullScreen) { // Firefox
            activeVideo.mozRequestFullScreen();
        } else if (activeVideo.webkitRequestFullscreen) { // Chrome, Safari, and Opera
            activeVideo.webkitRequestFullscreen();
        } else if (activeVideo.msRequestFullscreen) { // IE/Edge
            activeVideo.msRequestFullscreen();
        }
    }
    // on exit fullscreen mode, reset each video
    document.addEventListener('fullscreenchange', resetVideos);
    document.addEventListener('webkitfullscreenchange', resetVideos); // For Safari
    document.addEventListener('mozfullscreenchange', resetVideos); // For Firefox
    document.addEventListener('MSFullscreenChange', resetVideos); // For IE/Edge
}

function resetVideos() {
    if (!document.fullscreenElement && !document.webkitFullscreenElement &&
        !document.mozFullScreenElement && !document.msFullscreenElement) {

        // Get the videos with IDs videoplayer_[direction]
        const videoIds = ['videoplayer_middle', 'videoplayer_left', 'videoplayer_right'];
        videoIds.forEach(id => {
            const video = document.getElementById(id);
            if (video) {
                video.controls = false;
                video.currentTime = 0;
            }
        });

        // Remove fullscreen event listeners when exiting fullscreen
        document.removeEventListener('fullscreenchange', resetVideos);
        document.removeEventListener('webkitfullscreenchange', resetVideos);
        document.removeEventListener('mozfullscreenchange', resetVideos);
        document.removeEventListener('MSFullscreenChange', resetVideos);
    }
}

$(document).ready(function() {
    $('#videoplayer_middle').show();
    $('#videoplayer_left').hide();
    $('#videoplayer_right').hide();
});
$('#view_tabs').css({'padding-top': 10, 'margin-top': 10});

$('#show_left').click(function()
{
    $('.video_button').removeClass("active");
    $(this).addClass("active");
    $('#videoplayer_middle').hide();
    $('#videoplayer_left').show();
    $('#videoplayer_right').hide();
});
$('#show_right').click(function()
{
    $('.video_button').removeClass("active");
    $(this).addClass("active");
    $('#videoplayer_middle').hide();
    $('#videoplayer_left').hide();
    $('#videoplayer_right').show();
});
$('#show_middle').click(function()
{
    $('.video_button').removeClass("active");
    $(this).addClass("active");
    $('#videoplayer_middle').show();
    $('#videoplayer_left').hide();
    $('#videoplayer_right').hide();
});
</script>
{% endblock %}


{% block content %}
{% url 'dictionary:protected_media' '' as protected_media_url %}

<div id="searchresults" class='navbar navbar-light' style="overflow-y:hidden;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results"
         style="white-space:nowrap;">
    </div>
    {% endif %}
</div>

    <div id="signinfo" class='navbar navbar-collapse'>

        {% if perms.dictionary.search_gloss %}
        <div id="view_tabs" style="margin-right:15px;margin-top:10px;z-index:100;" class='view-tabs view-tabs-light'>
        <ul class='nav nav-tabs nav-tabs-light'>
            <li class="nav-item">
                <a class='nav-link active' href="{{PREFIX_URL}}/dictionary/{{gloss_or_morpheme}}/{{gloss.id}}.html">{% trans "Public View" %}</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/{{gloss_or_morpheme}}/{{gloss.id}}">{% trans "Details" %}</a>
            </li>
            {% if gloss_or_morpheme == 'gloss' %}
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_relations/{{gloss.id}}">{% trans "Relations" %}</a>
            </li>
            {% if gloss.has_frequency_data %}
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_frequency/{{gloss.id}}/">{% trans "Frequencies" %}</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Revision History" %}</a>
            </li>
            <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossvideos">{% trans "Videos" %}</a>
            </li>
            {% endif %}
        </ul>
        </div>
        <br>
        {% endif %}
    
    </div>

<div id="definitionblock">

<div id="leftblock" style="width:65%;">
    <div id='annotation_idgloss_summary'>
    <table class='table table-condensed table-condensed-light'>
        <tr class="empty_row"></tr>
        {% for lang, annotation_idgloss_translations in annotation_idgloss.items %}
        <tr>
            <th>
                {% trans "Annotation ID Gloss" %} ({{ lang }})
            </th>
            <td id='annotation_idgloss_{{ lang.language_code_2char }}'>{{ annotation_idgloss_translations.0.text|safe }}</td>
        </tr>
        {% endfor %}

        {% if gloss.dialect.all %}
            <tr>
               <th>{% trans "Dialects" %}</th>
               <td>
                    {% for dialect in gloss.dialect.all %}
                      <span>{{ dialect.name}}</span>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if gloss_or_morpheme == 'gloss' %}
        {% if sensetranslations_per_language %}
        {% for lang, sensetranslations in sensetranslations_per_language.items %}
        {% if sensetranslations %}
        <tr id="senses_{{lang.language_code_2char}}">
            <th>{% trans "Senses" %} ({{lang.name}})</th>
            <td class="translation_{{lang.language_code_2char}}">
                <div>
                {% for key, value in sensetranslations.items %}
                    {% if value != "" %}
                        {{key}}. {{ value|safe }}
                    {% if not forloop.last %}<br> {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% else %}
        {% if translations_per_language %}
        {% for lang, translations in translations_per_language.items %}
        <tr>
            <th>
                {% trans "Abstract Meaning" %} ({{ lang }})
            </th>
            <td class='edit edit_text'
                id='keyword_{{ lang.language_code_2char }}'>{% for trn in translations %}{{ trn.translation.text|safe }}
                                                            {% if not forloop.last %}, {% endif %}{% endfor %}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% if notes_groupedby_role %}
        <tr id="notes">
            <th>{% blocktrans %}Note(s){% endblocktrans %}</th>
            <td>
                <table>
                {% for role_id, note_list in notes_groupedby_role.items %}
                    {% for def in note_list %}
                        {% if def.published %}
                            <tr><th id='definitionrole_{{def.id}}'>{{role_id.1}}</th></tr>
                            <tr><td id='definition_{{def.id}}'>{{def.text}}</td></tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
    </table>
    </div>
</div>
<div class='clearfix' style="width:50%;">
    <div id="videos"
         style="z-index: 0;opacity:.99; position: relative;">

        <div class='col-md-4'>
            <div id="videocontainer">
            {% if gloss.has_perspective_videos %}
            <div id="buttonbar-top" style="background-color:transparent;height:auto;">
            {% for perspvideo in gloss.get_perspective_videos %}
                {% if perspvideo.perspective == 'left' %}
                <button class="btn video_button" id="show_left" style="font-size:18px;background-color:transparent;">
                    <span class="glyphicon glyphicon-facetime-video" style="transform:rotateZ(-30deg);rotateY(0deg);height:auto;"></span>
                </button>
                {% endif %}
            {% endfor %}
            <button class="btn video_button active" id="show_middle" style="font-size:18px;background-color:transparent;">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            {% for perspvideo in gloss.get_perspective_videos %}
                {% if perspvideo.perspective == 'right' %}
                <button class="btn video_button" id="show_right" style="font-size:18px;background-color:transparent;">
                    <span class="glyphicon glyphicon-facetime-video" style="transform:rotateZ(210deg);height:auto;"></span></button>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}
            {% if gloss.has_video %}
                <div id="player" style="width:600px;">
                    <video id='videoplayer_middle' src="{{protected_media_url}}{{gloss.get_video_url}}?v={% now 'YmdHis' %}"
                           playsinline autoplay muted style="height:auto;width:600px;"></video>

                {% for perspvideo in gloss.get_perspective_videos %}
                    <video id='videoplayer_{{perspvideo.perspective}}' src="{{protected_media_url}}{{perspvideo.get_video_path}}?v={% now 'YmdHis' %}"
                           playsinline autoplay muted style="height:auto;width:600px;"></video>
                {% endfor %}
                </div>
                <div id="buttonbar" style="background-color:transparent;">
                <button class="btn" id="play_perspective" onclick="play_perspective();"
                        style="font-size:16px;background-color:transparent;"><span class="glyphicon glyphicon-play"></span></button>
                <button class="btn" id="pause_perspective" onclick="pause_perspective();"
                        style="font-size:16px;background-color:transparent;"><span class="glyphicon glyphicon-pause"></span></button>
                <button class="btn" id="fullscreen_perspective" onclick="openFullscreen();"
                        style="font-size:16px;background-color:transparent;"><span class="glyphicon glyphicon-fullscreen"></span></button>
                </div>
            {% else %}
            <div id='player' style="width:600px;">
             <img id='novideo' src='{{STATIC_URL}}images/no-video-ngt.png' style="height:auto;width:600px;">
            </div>
            <br>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% if gloss.has_nme_videos %}
<div class="panel panel-default panel-light" style="width:50%;">
    <div class='panel-heading panel-light' id='nme_videos_heading'
         data-toggle='collapse' data-target='#nme_videos'>{% trans "NME Videos" %}
    </div>
    <div id='nme_videos' class='collapse'>
       <table class='table table-condensed' style="text-align: left;width:auto;">
        <tr style="overflow-y:auto;">
            <td class="td td-light" style="display:inline-block;">
            {% for videonme in gloss.get_nme_videos %}
                <div style="display:inline-block;">
                       <table class="table table-condensed">
                           <tr>
                               <td class="td td-light" colspan="2">
                                   <div id="nmeplayer" style="width:600px;">
                                    <video id='videonmeplayer' src="{{protected_media_url}}{{videonme.get_video_path}}?v={% now 'YmdHis' %}"
                                           style="height:auto;width:600px;" controls muted></video>
                                   </div>
                                </td>
                           </tr>
                           {% with nme_video_descriptions|get_item:videonme as nme_descriptions %}
                           {% for lang, description in nme_descriptions.items %}
                            <tr style="text-align: left;">
                                <td class="td td-light">
                                    {% if SHOW_DATASET_INTERFACE_OPTIONS %}{{lang.name}}:{% endif %}
                                </td>
                                <td class="td td-light" style="height:80;">{{description}}</td>
                            </tr>
                           {% endfor %}
                           {% endwith %}
                       </table>
                </div>
            {% endfor %}
            </td>
        </tr>
       </table>
    </div>
</div>
{% endif %}
<!-- Phonology -->
<div class="panel panel-default panel-light" style="width:50%;">
    <div class='panel-heading panel-light' id='phonology_heading'
         data-toggle='collapse' data-target='#phonology'>{% trans "Phonology" %}
    </div>
    <div id='phonology' class='collapse'>
        <table class='table table-condensed'>
        {% for value,name,label,kind in phonology_fields %}
            {% if value == '-' or value == ' ' or value == '' or value == None %}
            {% else %}
             <tr>
                <th>{{label}}</th>
                {% if kind == "check" %}
                <td id='{{name}}'>{% if value %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                {% else %}
                <td id='{{name}}'>{% value value %}</td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
</div>
<!-- Relations to other signs -->
<div class="panel panel-default panel-light" style="width:50%;">
    <div class='panel-heading panel-light' data-toggle='collapse'
         data-target='#relations'>{% trans "Relations to Other Signs" %}
    </div>
    <div id='relations' class='collapse'>
       <table class='table table-condensed' style="z-index:1000;">
           {% for rel, target_display in otherrelations %}
           <tr id='row_{{rel.id}}'>
                <td></td>
                <td class="td td-light" id='relationrole_{{rel.id}}'>{{rel.get_role_display}}</td>
                <td class="td td-light" id='relationtarget_{{rel.id}}'>
                    <a id='relation_target_hyperlink_{{rel.id}}'
                       href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a>
                </td>
            </tr>
           {% endfor %}
       </table>
    </div>
</div>
<!-- Example sentences -->
<div class="panel panel-default panel-light" style="width:50%;">
    <div class='panel-heading panel-light' data-toggle='collapse'
         data-target='#exSentence'>{% trans "Example Sentences" %}
    </div>

    <div id="exSentence" class="collapse">

        <table class='table table-condensed' style="width:100%;">
            <tr style="display:flex; flex-wrap:wrap;">
                {% for annotated_sentence in annotated_sentences %}
                    {% if annotated_sentence.get_video_path %}
                        <td class="td td-light" style="flex: 0 0 30%;">

                            <style>.highlight {background-color: rgb(255, 149, 63);}</style>

                            <video id="myVideo_{{forloop.counter}}" controls style="width:600px;">
                                <source src="{{protected_media_url}}/{{annotated_sentence.annotatedvideo.videofile}}?v={% now 'YmdHis' %}" type="video/mp4">
                            </video>

                            <br><br><i>{% trans "Glosses" %}</i><br>
                            <div id="glossContainer_{{ forloop.counter }}">
                                {% for annotated_gloss in annotated_sentence.annotated_glosses.all %}
                                    <span data-start="{{ annotated_gloss.get_start }}" data-end="{{ annotated_gloss.get_end }}">
                                        <a href="{{PREFIX_URL}}/dictionary/gloss/{{annotated_gloss.gloss.id}}">{{ annotated_gloss.show_annotationidglosstranslation }}</a>
                                    </span>
                                {% endfor %}
                            </div><br>
                            <script>
                                const video_{{ forloop.counter }} = document.getElementById('myVideo_{{ forloop.counter }}');
                                const glosses_{{ forloop.counter }} = document.querySelectorAll('#glossContainer_{{ forloop.counter }} span');
                                video_{{ forloop.counter }}.addEventListener('timeupdate', () => {
                                    const currentTime = Math.floor(video_{{ forloop.counter }}.currentTime);
                                    for (const gloss_{{ forloop.counter }} of glosses_{{ forloop.counter }}) {
                                        const start = parseInt(gloss_{{ forloop.counter }}.getAttribute('data-start'));
                                        const end = parseInt(gloss_{{ forloop.counter }}.getAttribute('data-end'));
                                        if (currentTime >= start && currentTime <= end) {
                                            gloss_{{ forloop.counter }}.classList.add('highlight');
                                        } else {
                                            gloss_{{ forloop.counter }}.classList.remove('highlight');
                                        }
                                    }
                                });
                            </script>
                            <p>
                                {% if annotated_sentence.has_contexts %}
                                <i>{% trans "Sentence context" %}</i><br>
                                {% for annotated_sentence_context in annotated_sentence.annotated_sentence_contexts.all %}
                                    {{ annotated_sentence_context.language }}: {{ annotated_sentence_context.text }}{% if not forloop.last %}<br>{% endif %}
                                {% endfor %}
                                {% endif %}
                            </p>
                            <p>
                                {% if annotated_sentence.has_translations %}
                                <i>{% trans "Sentence translation" %}</i><br>
                                {% for annotated_sentence_translation in annotated_sentence.annotated_sentence_translations.all %}
                                    {{ annotated_sentence_translation.language }}: {{ annotated_sentence_translation.text }}{% if not forloop.last %}<br>{% endif %}
                                {% endfor %}
                                {% endif %}
                            </p>
                            <p>
                                {% if annotated_sentence.annotatedvideo.source %}
                                    <i>{% trans "Source" %}</i><br>
                                    {{ annotated_sentence.annotatedvideo.source.source }}
                                    {% if annotated_sentence.annotatedvideo.source.url %}
                                        , <a href="{{protected_media_url}}/{{annotated_sentence.annotatedvideo.source.get_absolute_url}}?v={% now 'YmdHis' %}">{{ annotated_sentence.annotatedvideo.source.url }}</a>
                                    {% endif %}
                                {% endif %}
                            </p>
                            <p>
                                {% if annotated_sentence.annotatedvideo.url %}
                                <i>{% trans "Original video" %}</i><br>
                                <a href="{{ annotated_sentence.annotatedvideo.get_absolute_url }}">{{ annotated_sentence.annotatedvideo.url }}</a>
                                {% endif %}
                            </p>
                        </td>
                    {% else %}
                        <td class="td td-light" style="flex: 0 0 30%;"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
<br>
</div>
</div>

<div class="social" id="lowerblock">
  <a target="_blank" href="mailto:?subject={{public_title}} (in {{gloss.dataset.acronym}})&amp;body={{ request.build_absolute_uri  }}" id="share-em" class="sharer button"><i class="fa fa-3x fa-envelope-square"></i></a>
  <a target="_blank" href="http://www.twitter.com/share?url={{ request.build_absolute_uri  }}" id="share-tw" class="sharer button"><i class="fa fa-3x fa-twitter-square"></i></a>
  <a target="_blank" href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri  }}" id="share-wa" class="sharer button"><i class="fa fa-3x fa-whatsapp"></i></a>
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=#url" id="share-fb" class="sharer button"><i class="fa fa-3x fa-facebook-square"></i></a>
</div>

<br><br>
{% endblock %}