{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
{% blocktrans %}Videos for {{ gloss }}{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block extrajs %}
<script type='text/javascript'>
var url = '{{ PREFIX_URL }}';
var language_code = '{{ LANGUAGE_CODE }}';

{% trans "Edit" as edit_mode_str %}
{% trans "Turn Off Edit Mode" as turn_off_edit_mode_str %}

var csrf_token = '{{csrf_token}}';
var this_gloss_id = {{gloss.id}};

var search_type = '{{search_type}}';
var model_view = 'gloss';
var active_id = '{{active_id}}';
var search_results_url = '{% url 'dictionary:ajax_search_results' %}';

{% include "dictionary/search_result_bar.html" %}
</script>

<script type='text/javascript'>
    $('#searchresults').css({'padding-top': 10});
    $('#definitionblock').css({'padding-top': Math.round($('#searchresults').height() + $('#signinfo').height() + 30)});
</script>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
<style>
#panel-expand-collapse-btn-group.affix {
    position:fixed;
}
.copy-button {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
}
</style>
{% endblock %}

{% block content %}

<div id="searchresults" class='navbar navbar-light' style="overflow-y:hidden;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
        <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;">

        </div>
    {% endif %}
</div>

{% if request.GET.warning %}
    <div class="alert alert-warning">{{ request.GET.warning }}</div>
{% endif %}


<div id="signinfo" class='navbar navbar-collapse' style="border:0;">
    <div id="view_tabs" style="margin-right:15px;margin-top:10px;z-index:500;" class='view-tabs view-tabs-light'>
    <ul class='nav nav-tabs nav-tabs-light'>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}.html">{% trans "Public View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}">{% trans "Details" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_relations/{{gloss.id}}">{% trans "Relations" %}</a>
        </li>
        {% if gloss.has_frequency_data %}
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_frequency/{{gloss.id}}/">{% trans "Frequencies" %}</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Revision History" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link active' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossvideos">{% trans "Videos" %}</a>
        </li>
    </ul>
    </div>
</div>

<div id="definitionblock" style="z-index:0;background-color:inherit;">
    {% url 'dictionary:protected_media' '' as protected_media_url %}
    <div id="leftblock">
        <h3>{% trans "Video" %}</h3>
        <div id="videocontainer">
            {% if gloss.has_video %}

                <div id="player">
                <video id='videoplayer' src="{{protected_media_url}}{{gloss.get_video_url}}" controls autoplay muted></video>
                </div>
                <div id="replay"></div>

            {% else %}
                <div id='player'>
                    <img id='novideo' src='{{ STATIC_URL }}images/no-video-ngt.png'>
                </div>
            {% endif %}
        </div>

        <h3>{% trans "Citation Form Image" %}</h3>
        <div>
            {% if gloss.get_image_path %}
                <img id="imageframe" src="{{protected_media_url}}{{gloss.get_image_url}}" style="height:259px;width:auto;">
            {% else %}
                <p>{% trans "There is no citation form image for this gloss." %}</p>
            {% endif %}
        </div>
    </div>
</div>
    <div class='panel panel-group panel-default panel-light' id="definition"
         style="width:auto; z-index: 0;opacity:.99; position: relative;background-color:inherit;">

        {% if gloss.has_sense_with_examplesentence_with_video %}
        <!-- Example Sentences -->
        <div class="panel panel-default panel-default-light">
            <!-- Only show if any example sentence videos exist -->
                {% if senses %}
                <div class="panel-heading" data-toggle="collapse" data-target="#sentences">{% trans "Example Sentences" %}</div>
                <div class="panel-body collapse" id="sentences">
                <table class='table table-condensed table-condensed-light'>
                    {% for sense in senses %}
                        <!-- Only show if the sense has any example sentences with videos -->
                        {% if sense.has_examplesentence_with_video %}
                            <tr>
                                <th style="width:10px">
                                    {{ forloop.counter }}. <br>
                                </th>
                                <td style="width:20%">
                                    {% if sense.get_sense_translations_dict_without %}
                                        {% for key, value in sense.get_sense_translations_dict_without.items %}
                                            {{key}}: {{ value }}
                                            {% if not forloop.last %}<br>{% endif %}
                                        {% endfor %}
                                    {% endif %}<br><br>
                                </td>
                                <td style="width:80%">
                                    <table class='table table-condensed'>
                                        {% for examplesentence in sense.exampleSentences.all %}
                                            {% if examplesentence.has_video %}
                                            <tr>
                                                <td style="width:50%">
                                                    {% if examplesentence.sentenceType %}
                                                    <i>{{ examplesentence.sentenceType.name }}</i>
                                                    {% else %}
                                                    - 
                                                    {% endif %}
                                                    {% if examplesentence.negative %}
                                                    <i>(neg)</i>
                                                    {% endif %}
                                                    <br><br>

                                                    {% for key, value in examplesentence.get_examplestc_translations_dict_without.items %}
                                                        {{ key }}: {{ value }} {% if not forloop.last %}<br>{% endif %}
                                                    {% endfor %}<br><br>

                                                </td>
                                                <td style="width:50%">
                                                    <div id="player">
                                                        <video id='videoplayer' src="{{protected_media_url}}{{examplesentence.get_video_path}}" style="width:100%; min-width:300px; max-width:700px;" controls muted></video>
                                                    </div>
                                                    <div id="replay"></div>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}                              
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                </div>
                {% endif %}
        </div>
        {% endif %}
        <!-- Other media -->
            {% if other_media %}
            <div class="panel panel-default panel-default-light">

            <div class="panel-heading" data-toggle="collapse" data-target="#other_media">{% trans "Other Media" %}</div>
            <div class="panel-body collapse" id="other_media">
            <table class='table table-condensed table-condensed-light'>
                {% for media_okay,pk,path,file_type,type,alternative_gloss,file_name in other_media %}
                    {% if media_okay %}
                    <tr>
                    <td><a download="{{ file_name }}"
                           href="{{ PREFIX_URL }}{{protected_media_url}}{{ path }}">{{path}}</a>
                    </td>
                    {% if file_type == 'video/mp4' %}
                    <td style="width:auto;" colspan="2">
                        <div id="player_{{pk}}" style="width:auto;">
                            <video id='videoplayer_{{pk}}' width="450" controls autoplay muted>
                                <source src="{{ PREFIX_URL }}{{protected_media_url}}{{ path }}" type="video/mp4">
                            </video>
                        </div>
                    </td>
                    {% elif file_type == 'image/png' or file_type == 'image/jpeg' %}
                        <td style="width:auto;" colspan="2">
                            <img src="{{ PREFIX_URL }}{{protected_media_url}}{{ path }}" style="height:259px;width:auto;">
                        </td>
                    {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{path}}</td><td>{% trans "NOT FOUND" %}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
            </div>
            </div>
            {% endif %}

    {% if perms.dictionary.change_gloss %}
    <div id="video_storage" class='panel-group'>
    <div class="panel panel-default panel-light panel-toggles">
    <div class='panel-heading panel-light' data-toggle='collapse' data-parent="#video_storage"
         data-target='#toggle_video_storage'>{% trans "VIDEO STORAGE" %}
    </div>
    <div id='toggle_video_storage' class="panel-collapse collapse" style="margin-top:10px;">

    {% if perspective_videos and perms.dictionary.change_gloss %}
    <div class="panel panel-default panel-default-light">

    <div class="panel-heading" data-toggle="collapse" data-target="#perspective_videos">{% trans "Perspective Videos" %} ({{perspective_videos|length}})</div>
    <div class="panel-body collapse" id="perspective_videos">
    <table class='table table-condensed table-condensed-light' style="width:100%;">
    <tr><td>{% trans "Object Id" %}</td><td>{% trans "Version" %}</td><td>{% trans "Relative Path" %}</td><td>{% trans "Checksum" %}</td></tr>
    {% for object_id, version, relative_path, checksum in perspective_videos %}
    <tr><td>{{object_id}}</td><td>{{version}}</td><td>{{relative_path}}</td><td>{{checksum}}</td></tr>
    {% endfor %}
    </table>
    </div>
    </div>
    {% endif %}

    {% if nme_videos and perms.dictionary.change_gloss %}
    <div class="panel panel-default panel-default-light">

    <div class="panel-heading" data-toggle="collapse" data-target="#nme_videos">{% trans "Videos with Non-manual Elements" %} ({{nme_videos|length}})</div>
    <div class="panel-body collapse" id="nme_videos">
    <table class='table table-condensed table-condensed-light' style="width:100%;">
    <tr><td>{% translate "Object Id" %}</td><td>{% translate "Version" %}</td><td>{% translate "Relative Path" %}</td><td>{% trans "Checksum" %}</td></tr>
    {% for object_id, version, relative_path, checksum in nme_videos %}
    <tr><td>{{object_id}}</td><td>{{version}}</td><td>{{relative_path}}</td><td>{{checksum}}</td></tr>
    {% endfor %}
    </table>
    </div>
    </div>
    {% endif %}

    {% if dangling_video_files and perms.dictionary.change_gloss %}
    <div class="panel panel-default panel-default-light">

    <div class="panel-heading" data-toggle="collapse" data-target="#dangling_video_files">{% trans "Video Files Without Objects" %} ({{dangling_video_files|length}})</div>
    <div class="panel-body collapse" id="dangling_video_files">
    <table class='table table-condensed table-condensed-light' style="width:100%;">
    <tr><td>{% translate "Object Id" %}</td><td>{% translate "Relative Path" %}</td></tr>
    {% for relative_path in dangling_video_files %}
    <tr><td>NONE</td><td>{{relative_path}}</td></tr>
    {% endfor %}
    </table>
    </div>
    </div>
    {% endif %}

    {% if primary_videos and perms.dictionary.change_gloss %}
    <div class="panel panel-default panel-default-light">

    <div class="panel-heading" data-toggle="collapse" data-target="#primary_videos">{% trans "Primary Video Files" %} ({{primary_videos|length}})</div>
    <div class="panel-body collapse" id="primary_videos">
    <table class='table table-condensed table-condensed-light' style="width:100%;">
    <tr><td>{% trans "Object Id" %}</td><td>{% trans "Version" %}</td><td>{% trans "Relative Path" %}</td><td>{% trans "Checksum" %}</td></tr>
    {% for object_id, version, relative_path, checksum in primary_videos %}
    <tr><td>{{object_id}}</td><td>{{version}}</td><td>{{relative_path}}</td><td>{{checksum}}</td></tr>
    {% endfor %}
    </table>
    </div>
    </div>
    {% endif %}

    {% if backup_videos and perms.dictionary.change_gloss %}
    <div class="panel panel-default panel-default-light">

    <div class="panel-heading" data-toggle="collapse" data-target="#backup_videos">{% trans "Backup Video Files" %} ({{backup_videos|length}})</div>
    <div class="panel-body collapse" id="backup_videos">
         {% if perms.dictionary.add_gloss %}
         <p>{% blocktrans %}
            Here you find backup video objects. It is possible that the version numbers are not sequential.
            These can be renumbered.
            {% endblocktrans %}
         </p>
         <button id='renumber_btn' class='btn btn-primary copy-button' data-toggle='modal' data-target='#renumber_modal'>{% trans "Renumber Backups" %}</button>

          <div class="modal fade" id="renumber_modal" role="dialog" aria-labelledby="#modalRenumber" aria-hidden="true">
             <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class='modal-header'>
                        <h2 id='modalRenumber'>{% trans "Renumber Backup Videos" %}</h2>
                    </div>
                    <div class='modal-body'>
                        <p>{% trans "Renumber the version numbers of the backup videos." %}</p>
                     </div>
                  <form id="renumber" method='get'>
                      {% csrf_token %}
                      <input type='hidden' name='operation' value='Renumber'>
                      <input type='hidden' name='value' value='confirmed'>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-default-light" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <input type="submit" class="btn btn-primary" value='{% trans "Confirm Renumber" %}'>
                      </div>
                  </form>

                </div>
              </div>
         </div>

        {% endif %}
    <table class='table table-condensed table-condensed-light' style="width:100%;">
    <tr><td>{% translate "Object Id" %}</td><td>{% translate "Version" %}</td><td>{% translate "Relative Path" %}</td><td>{% trans "Checksum" %}</td></tr>
    {% for object_id, version, relative_path, checksum in backup_videos %}
    <tr><td>{{object_id}}</td><td>{{version}}</td><td>{{relative_path}}</td><td>{{checksum}}</td></tr>
    {% endfor %}
    </table>
    </div>
    </div>
    {% endif %}

    {% if wrongly_named_videos and perms.dictionary.change_gloss %}
    <div class="panel panel-default panel-default-light">

    <div class="panel-heading" data-toggle="collapse" data-target="#wrongly_named">{% trans "Incorrect Filenames" %} ({{wrongly_named_videos|length}})</div>
    <div class="panel-body collapse" id="wrongly_named">
         {% if perms.dictionary.add_gloss %}
         <p>{% blocktrans %}
            Here you find video objects that link to a file with an incorrect filename.
            These can be deleted.
            {% endblocktrans %}
         </p>
         <button id='remove_btn' class='btn btn-primary copy-button' data-toggle='modal' data-target='#remove_modal'>{% trans "Remove Obsolete Files" %}</button>

          <div class="modal fade" id="remove_modal" role="dialog" aria-labelledby="#modalRenumber" aria-hidden="true">
             <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class='modal-header'>
                        <h2 id='modalRemove'>{% trans "Remove Obsolete Files" %}</h2>
                    </div>
                    <div class='modal-body'>
                        <p>{% trans "Remove the archived objects with an obsolete filename." %}</p>
                     </div>
                  <form id="remove" method='get'>
                      {% csrf_token %}
                      <input type='hidden' name='operation' value='Remove'>
                      <input type='hidden' name='value' value='confirmed'>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-default-light" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <input type="submit" class="btn btn-primary" value='{% trans "Confirm Remove" %}'>
                      </div>
                  </form>

                </div>
              </div>
         </div>
        {% endif %}

    <table class='table table-condensed table-condensed-light' style="width:100%;">
    <tr><td>{% translate "Object Id" %}</td><td>{% translate "Version" %}</td><td>{% trans "Perspective" %}</td><td>{% trans "NME" %}</td><td>{% translate "Relative Path" %}</td><td>{% trans "Checksum" %}</td></tr>
    {% for object_id, version, perspective, nme, relative_path, checksum in wrongly_named_videos %}
    <tr><td>{{object_id}}</td><td>{{version}}</td><td>{{perspective}}</td><td>{{nme}}</td><td>{{relative_path}}</td><td>{{checksum}}</td></tr>
    {% endfor %}
    </table>
    </div>
    </div>
    {% endif %}
    </div>
    </div>
    </div>
    {% endif %}
</div>
{% endblock %}
