{% extends "baselayout.html" %}
{% load i18n %}

{% block extrajs %}
    <script type='text/javascript'>
    // This script gets and inserts the users last searched items on the gloss page
    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';
    var req = $.ajax({
        url: search_results_url,
        dataType: "json",
        context: document.body
    })

    req.done(function(json_data) {
        for (var key in json_data) {
            if (json_data.hasOwnProperty(key)) {
                var a = document.createElement("a");
                a.setAttribute("class", "search_result");
                a.style["float"] = "none";
                a.href = "{{PREFIX_URL}}/dictionary/gloss/" + json_data[key].id + "/";
                a.id = json_data[key].id;
                var linktext = document.createTextNode(json_data[key].gloss);
                a.appendChild(linktext);
                $( "#results-inline" ).append(a);
            }
        }

        /* Determine the active button (if any), center the horizontal list according to the active button */
        // Make sure that we are showing search results
        if ($('#results-inline').length > 0) {
            // Setting a button active according to which glosses page we are on. A.id should equal to gloss.id.
            $('#results-inline #{{ gloss.id }}').addClass('active');
            var scrollPanel = $('#searchresults');
            var activeButton = $('#results-inline a.active');
            // Make sure that activeButton exists
            if (activeButton.length > 0) {
                // Calculating the left offset position so that the button is centered
                var leftOffset = activeButton.offset().left - scrollPanel.offset().left - (scrollPanel.width() / 2) + (activeButton.width() / 2);
                // Scrolling to the active button
                $('#searchresults').scrollLeft(leftOffset);
            }
            var signinfo = $('#signinfo');
            signinfo.offset({top: ($('#signbank-bar').height() + scrollPanel.height() + 10)});
        }
    });

    </script>
{% endblock %}

{% block content %}

<div id="searchresults" class='navbar' style="overflow-y:hidden;background-color:white;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;background-color:white;">
    </div>
    {% endif %}
</div>

<div id="signinfo" class='navbar navbar-collapse' style="background-color:white;border:0;">

    <ul class='nav nav-tabs'>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}.html">{% trans "Public View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}">{% trans "Detail View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_relations/{{gloss.id}}">{% trans "Relations View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/frequency">{% trans "Frequency View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link active' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Revision history" %}</a>
        </li>
    </ul>

</div>

<div id="definitionblock" style="z-index:0;padding-top: 100px;">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Field" %}</th>
                <th>{% trans "Old value" %}</th>
                <th>{% trans "New value" %}</th>
            </tr>
        </thead>

        {% for revision in revisions %}
            <tr>
                <td>{{revision.user}}</td>
                <td>{{revision.time}}</td>
                <td>{{revision.field_name}}</td>
                <td>{{revision.old_value}}</td>
                <td>{{revision.new_value}}</td>
            </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
