{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}

    <thead>
      <tr>
          {% if SHOW_DATASET_INTERFACE_OPTIONS %}<th>{% trans "Dataset" %}</th>{% endif %}

          <th></th>

           {% for dataset_lang in dataset_languages %}
          <th>{% trans "Annotation ID Gloss" %}
              {% if SHOW_DATASET_INTERFACE_OPTIONS %}
                ({{ dataset_lang.name }})
              {% endif %}
          </th>
          {% endfor %}

          {% for dataset_lang in dataset_languages %}
          <th>{% trans "Lemma ID gloss" %}
              {% if SHOW_DATASET_INTERFACE_OPTIONS %}
                ({{ dataset_lang.name }})
              {% endif %}
          </th>
          {% endfor %}

          {% for dataset_lang in dataset_languages %}
          <th>{% trans "Translations" %}
              {% if SHOW_DATASET_INTERFACE_OPTIONS %}
                ({{ dataset_lang.name }})
              {% endif %}
          </th>
          {% endfor %}

          {% for column in column_headers %}
            <th>{{column}}</th>
          {% endfor %}

           {% if not user.is_anonymous %}
           <th style="width:255px;">{% trans "Tags" %}</th>
           {% endif %}
      </tr>


      <tr>
          {% if SHOW_DATASET_INTERFACE_OPTIONS %}<th></th>{% endif %}

          <th></th>
          {% for dataset_lang in dataset_languages %}
          {% with "annotationidglosstranslation_order_"|add:dataset_lang.language_code_2char as field %}
          {% with minfield="-"|add:field %}
           <th>
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if sortOrder and sortOrder == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if sortOrder and sortOrder == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if sortOrder and sortOrder == minfield or sortOrder and sortOrder == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
           </th>
           {% endwith %}
           {% endwith %}
          {% endfor %}

          {% for dataset_lang in dataset_languages %}
          {% with "lemmaidglosstranslation_order_"|add:dataset_lang.language_code_2char as field %}
          {% with minfield="-"|add:field %}
           <th>
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if sortOrder and sortOrder == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if sortOrder and sortOrder == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if sortOrder and sortOrder == minfield or sortOrder and sortOrder == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
           </th>
           {% endwith %}
           {% endwith %}
           {% endfor %}


           {% for dataset_lang in dataset_languages %}
           {% with "translation_"|add:dataset_lang.language_code_2char as field %}
           {% with minfield="-"|add:field %}
           <th>
             <a href="#" onclick="do_sort_column('{{field}}','asc', 'adminsearch')">
               {% if sortOrder and sortOrder == field %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{field}}','desc', 'adminsearch')">
               {% if sortOrder and sortOrder == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if sortOrder and sortOrder == minfield or sortOrder and sortOrder == field  %}
               <a href="#" onclick="do_sort_column('{{field}}','del', 'adminsearch')">x</a>
             {% endif %}
           </th>
           {% endwith %}
           {% endwith %}
           {% endfor %}

           {% for column in GLOSS_LIST_DISPLAY_FIELDS %}
           {% with minfield="-"|add:column %}
           <th>
             <a href="#" onclick="do_sort_column('{{column}}','asc', 'adminsearch')">
               {% if sortOrder and sortOrder == column %}<font color="red">&#x25B2;</font>{% else %}&#x25B2; {% endif %}
             </a>
             <a href="#" onclick="do_sort_column('{{column}}','desc', 'adminsearch')">
               {% if sortOrder and sortOrder == minfield %}<font color="red">&#x25BC;</font>{% else %}&#x25BC;{% endif %}
             </a>
             {% if sortOrder and sortOrder == minfield or sortOrder and sortOrder == column  %}
               <a href="#" onclick="do_sort_column('{{column}}','del', 'adminsearch')">x</a>
             {% endif %}
           </th>
           {% endwith %}
           {% endfor %}

           <th style="width:255px;"></th>
      </tr>

    </thead>

