{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}

{% load bootstrap3 %}
{% load tagging_tags %}

<tr id = "glossrow_{{focus_gloss.id}}"

    {% if not user.is_anonymous %}
    {% tags_for_object focus_gloss as tag_list %}
    {% load wrong_sign %}
    {% if tag_list|wrong_sign %}
        class="danger"
    {% elif not focus_gloss.has_video %}
        class="warning"
    {% elif focus_gloss.isNew %}
        class="info"
    {% else %}
    {% endif %}
    {% endif %}>

    {% if SHOW_DATASET_INTERFACE_OPTIONS %}<td style="width:12em;">{{focus_gloss.lemma.dataset.acronym}}</td>{% endif %}


    <td>{%if focus_gloss.get_image_path %}
    {% url 'dictionary:protected_media' '' as protected_media_url %}

      <div class="thumbnail_container">
      {% if not user.is_anonymous %}
      <a href="{{PREFIX_URL}}/dictionary/gloss_preview/{{focus_gloss.pk}}">
      {% endif %}
        <div id='glossvideo_{{focus_gloss.id}}'>
            <img class="thumbnail" src="{{protected_media_url}}{{focus_gloss.get_image_path}}">

            <video id="videoplayer" class="thumbnail-video" src="{{protected_media_url}}{{focus_gloss.get_video_path}}"  type="video/mp4" muted="muted"></video>

        </div>

      </a>
      </div>
      {% endif %}
    </td>


    {% for dataset_lang in dataset_languages %}
    {% with focus_gloss|get_annotation_idgloss_translation_no_default:dataset_lang as annotationidglosstranslation %}
    <td>
      {% if annotationidglosstranslation != "" %}
        <div class="annotation_{{dataset_lang.language_code_2char}}">
        {% if focus_gloss.is_morpheme %}
        <div><a href="{{PREFIX_URL}}/dictionary/morpheme/{{focus_gloss.pk}}{% if user.is_anonymous %}.html{% else %}/{% endif %}">{{annotationidglosstranslation}}</a></div>
        {% else %}
        <div><a href="{{PREFIX_URL}}/dictionary/gloss_preview/{{focus_gloss.pk}}{% if user.is_anonymous %}.html{% else %}/{% endif %}">{{annotationidglosstranslation}}</a></div>
        {% endif %}
        </div>
      {% endif %}
    </td>
    {% endwith %}
    {% endfor %}

    {% for dataset_lang in dataset_languages %}
    {% with focus_gloss.lemma|get_lemma_idgloss_translation:dataset_lang as lemmaidglosstranslation %}
      <td>
          <div class="lemma_{{dataset_lang.language_code_2char}}">{{ lemmaidglosstranslation }}</div>
      </td>
    {% endwith %}
    {% endfor %}

    {% for lang, sensetranslations in sensetranslations_per_language %}
    <td class="sense_{{lang.language_code_2char}}">
      <div>
      {% for key, value in sensetranslations.items %}
          {% if value != "" %}{{key}}. {% endif %}{{ value|safe }}{% if not forloop.last %}<br> {% endif %}
      {% endfor %}
      </div>
    </td>
    {% endfor %}

    {% for value in column_values %}
    <td>{{value}}</td>
    {% endfor %}

    {% if not user.is_anonymous %}
    {% load underscore_to_space %}
    {% tags_for_object focus_gloss as tag_list %}
    <td>{% for tag in tag_list %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
    {% endif %}
</tr>
