{% load i18n %}

{% load guardian_tags %}

        <div id='tags'>
        <fieldset>
      {% load tagging_tags %}
      {% tags_for_object gloss as tag_list %}
      {% if tag_list %}
          <ul class='taglist'>
          {% for tag in tag_list %}
            <li class='tagli'>
               <div class='tag'>
                   {% load underscore_to_space %}
                 <span class='tagname'>{{tag.name|underscore_to_space}}</span>
                {% get_obj_perms request.user for gloss.dataset as "dataset_perms" %}
                {% if "change_dataset" in dataset_perms %}
                 <span class='tagcount'>
                     <a class='tagdelete editform'
                        id='{{tag.name}}'
                        href='{% url 'root_page' %}dictionary/update/tag/{{gloss.id}}' 
                        title='{% trans "delete this tag" %}'>x</a>
                 </span>
                 {% endif %}
                </div>
            </li>
          {% endfor %}
          </ul>
      {% endif %}
    {% get_obj_perms request.user for gloss.dataset as "dataset_perms" %}
    {% if "change_dataset" in dataset_perms %}
      <div id="tagcontainer"></div>
      <div class='editform'>
          <form id='tagaddform' 
                action="{% url 'root_page' %}dictionary/update/tag/{{gloss.id}}" 
                method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <table>
           <tr><td>{{tagform.tag}}</td><td><input class='btn btn-primary' type='submit' value='{% trans "Add Tag" %}'></td></tr>
           </table>
          </form>
      </div>
      {% endif %}
      </fieldset>
    </div>