{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Handshape Details{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>

    <script type='text/javascript'>
    var url = '{{ PREFIX_URL }}'

    var edit_mode_str = '{% trans "Edit" %}'
    var turn_off_edit_mode_str = '{% trans "Turn off edit mode" %}'
    var saving_str = '{% trans "Saving..." %}'

    var edit_post_url = '{% url 'dictionary:update_handshape' handshape.machine_value %}';

    var choice_lists = {{choice_lists|safe}};
    var csrf_token = '{{csrf_token}}';

    // This script gets and inserts the users last searched items on the handshape page
    var search_results_url = '{% url 'dictionary:handshape_ajax_search_results' %}';

    {% include "dictionary/search_result_bar.html" %}

    </script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/handshape_edit.js"></script>

    <!-- Expand and collapse all panels -->
    <script type='text/javascript'>
        $('#searchresults').css({'top': 10+Math.round($('#signbank-bar').height())});
        $('#definitionblock').css({'padding-top': 10+Math.round($('#searchresults').height() + $('#signinfo').height())});
    </script>

{% endblock %}

{% block content %}

<div id="searchresults" class='navbar' style="overflow-y:hidden;background-color:white;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;background-color:white;margin-top:3px;">
    </div>
    {% endif %}
</div>

{% if request.GET.warning %}
<div class="alert alert-warning">{{ request.GET.warning }}</div>
{% endif %}

<div id="signinfo" class='navbar navbar-collapse' style="background-color:white;border:0;">

    <ul class='nav nav-tabs'>
        <li class="nav-item">
        {% if user.is_anonymous %}
            <a class='nav-link' href="{{PREFIX_URL}}/handshapes/show_all/">{% trans "Handshapes List" %}</a>
        {% else %}
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/handshapes/">{% trans "Handshapes List" %}</a>
        {% endif %}
        </li>
    </ul>

    {% if perms.dictionary.change_gloss %}
    <ul class='nav navbar-nav navbar-right' style="margin-right:15px;">
        <li>
         <span id='edit_message' style="padding-right: 1.8em;margin-bottom:-1px;"></span>
         <button id='enable_edit' class='btn btn-default navbar-btn'>{% trans "Edit" %}</button>
        </li>
    </ul>
    {% endif %}

</div>

<div id="definitionblock">
    {% url 'dictionary:protected_media' '' as protected_media_url %}
    <!-- Image -->
    <div id="leftblock" style="margin-right:10px">
        <div id="imagecontainer">
        {% if handshape.get_image_path %}
        <img class="citation_form_image" src="{{protected_media_url}}{{handshape.get_image_path}}">
        {% else %}
        <img id='novideo' src='{{ STATIC_URL }}images/no-video-ngt.png'>
        {% endif %}
        </div>

        {% if perms.dictionary.change_gloss %}
        <div class='editform'>
            <fieldset>
                <legend>{% trans "Upload New Handshape Image" %}</legend>
                <form action="{{PREFIX_URL}}/handshapeimage/upload/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type='hidden' name='redirect' value='{{request.path}}?edit'>
                <table id="staffops">
                  <tr>
                      <td>{{imageform.imagefile}}</td>
                  </tr>
                  <tr>
                      <td><input type='hidden' name='handshape_id' value='{{handshape.machine_value}}'>
                          <input class='btn btn-primary' type='submit' value='Upload Handshape Image'/></td>
                  </tr>
                </table>
                </form>
            </fieldset>
        </div>
        {% endif %}
    </div>

    <!-- Fields -->
    <div class='panel-group' id="definition" style="z-index: 0;opacity:.99; position: relative; background-color: white;margin-top:15px;">
        <form method="POST">
            {% csrf_token %}
        <fieldset>
            <table class='table table-condensed'>
                <tr><th style="width:18em;">{% trans "Handshape " %}</th><td id='idhandshape'>{% value handshape.name %}</td></tr>
                <tr><th style="width:18em;">Finger selection pattern</th>
                    <td id="#fingerSelection1">{{ handshape.get_fingerSelection_display }}</td></tr>
                <tr class="empty_row">
                    <th/><th>T</th><th>I</th><th>M</th><th>R</th><th>P</th>
                </tr>
                <tr class="empty_row">
                    <td/>
		        {% for value,name,label,kind in handshape_fields_FS1 %}
                    {% if kind == "check" and value %}
                    <td class="edit edit_{{kind}}" id='{{name}}' checked="checked" value="{{value}}">{% trans "True" %}</td>
                    {% else %}
                    <td class="edit edit_{{kind}}" id='{{name}}' checked="" value="{{value}}">{% trans "False" %}</td>
                    {% endif %}
		        {% endfor %}
                </tr>

		{% for value,name,label,kind in handshape_fields %}
                {% if value == '-' or value == 'N/A' %}
                    <tr value="{{value}}" class="empty_row">
                    <th style="width:18em;">{{label}}</th>
                    <td class="edit edit_{{kind}}" id='{{name}}' colspan="5">{% value value %}</td>
                    </tr>
                {% else %}
                    <tr value="{{value}}">
                    <th style="width:18em;">{{label}}</th>
                    <td class="edit edit_{{kind}}" id='{{name}}' colspan="5">{% value value %}</td>
                    </tr>
                {% endif %}
		{% endfor %}

                <tr><th style="width:18em;">{% trans "Unselected fingers extended" %}</th>
                    <td id="#unselectedFingers">{{ handshape.get_unselectedFingers_display }}</td></tr>
                <tr class="empty_row">
                    <th/><th>T</th><th>I</th><th>M</th><th>R</th><th>P</th>
                </tr>
                <tr class="empty_row">
                    <td/>
		        {% for value,name,label,kind in handshape_fields_UF %}
                    {% if kind == "check" and value %}
                    <td class="edit edit_{{kind}}" id='{{name}}' checked="checked" value="{{value}}">{% trans "True" %}</td>
                    {% else %}
                    <td class="edit edit_{{kind}}" id='{{name}}' checked="" value="{{value}}">{% trans "False" %}</td>
                    {% endif %}
		        {% endfor %}
                </tr>

                <tr><th style="width:18em;">Finger selection 2</th>
                    <td id="#otherFingerSection" name="#otherFingerSection">{{ handshape.get_fingerSelection2_display }}</td></tr>
                <tr class="empty_row">
                    <th/><th>T</th><th>I</th><th>M</th><th>R</th><th>P</th>
                </tr>
                <tr class="empty_row">
                    <td/>
		        {% for value,name,label,kind in handshape_fields_FS2 %}
                    {% if kind == "check" and value %}
                    <td class="edit edit_{{kind}}" id='{{name}}' checked="checked" value="{{value}}">{% trans "True" %}</td>
                    {% else %}
                    <td class="edit edit_{{kind}}" id='{{name}}' checked="" value="{{value}}">{% trans "False" %}</td>
                    {% endif %}
		        {% endfor %}
                </tr>

                <!--Finger configuration 2 is a singleton list-->
		        {% for value,name,label,kind in handshape_fields_FC2 %}
                    {% if value == '-' or value == ' ' or value == '' or value == None or value == False %}
                        <tr value="{{value}}" class="empty_row">
                        <th style="width:18em;">{{label}}</th>
                        <td class="edit edit_{{kind}}" id='{{name}}' colspan="5">{% value value %}</td>
                        </tr>
                    {% else %}
                        <tr value="{{value}}">
                        <th style="width:18em;">{{label}}</th>
                        <td class="edit edit_{{kind}}" id='{{name}}' colspan="5">{% value value %}</td>
                        </tr>
                    {% endif %}
		        {% endfor %}

            </table>
        </fieldset>
        </form>
    </div>
</div>

{% endblock %}
