{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Import CSV Update{% endblocktrans %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{PREFIX_URL}}/static/js/bootstrap-filestyle.min.js"> </script>
    <script type='text/javascript'>

     $(document).ready(function(){


        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

    });
   </script>
{% endblock %}


{% block content %}
<h3>{% trans "Import CSV Update" %}</h3>

{% if stage == 0 %}

    <div>{% blocktrans %}Upload your changed CSV here{% endblocktrans %}
            <span id="tooltip" class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom"
                  data-html="true"
                  title="CSV files should have min. two columns,
                  the first being the ID number of the sign (obtained through CSV export),
                  the second column the value that needs to be put in the field. Make sure the header row is cf. the CSV export,
                  indicating the fields you want to make changes to.
                  In case of adding new values to comma-separated fields like Translation Equivalents,
                  make sure that the old values that should stay are also in the second column."></span>
        </div>

    <form action="" method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h4>{% trans "Input File" %}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-sm-7">
                    <input type="file" required="" name="file" class="filestyle" data-icon="false"
                           accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv, application/vnd.ms-excel"
                           data-buttonText='{% trans "Browse&hellip;"%}' data-buttonBefore="true">
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-primary" type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-7">
                    <input type="radio" name="delimiter" id="delimiter_comma" value="comma" checked>
                    <label for="delimiter_comma">{% trans "Comma" %}</label>
                    <input type="radio" name="delimiter" id="delimiter_tab" value="tab">
                    <label for="delimiter_tab">{% trans "Tab" %}</label>
                    <input type="radio" name="delimiter" id="delimiter_semicolon" value="semicolon">
                    <label for="delimiter_semicolon">{% trans "Semicolon" %}</label>
                </div>
            </div>
            <br>
            <div class="row" id="senses_settings">
                <div class="panel panel-default col-xs-offset-2 col-xs-8">
                    <div class='panel-heading'>
                        <div class='panel-title'>
                            <a data-toggle='collapse' data-parent='#senses_settings'
                               href="#senses_column_settings">{% trans "Senses Column" %}</a>
                        </div>
                    </div>
            <div id='senses_column_settings' class='collapse'>
            <div class="col-xs-offset-1 col-xs-9">
                {% blocktrans trimmed %}
                <p>Senses can be created for a dataset language via CSV import.
                    At the moment, existing senses cannot be edited this way.</p>
                <p>For splitting existing senses into separate senses, use
                    <a class='nav-link' href="{{PREFIX_URL}}/dictionary/keywords/">Map Keywords to Senses</a> instead.</p>
                <br>
                <p>The senses cell for each language should have this format:<br/>
                <pre>
<code>
1.&nbsp;keywords for sense, separated by commas&nbsp;|&nbsp;2.&nbsp;more, keywords
</code>
                </pre>
                Parsing errors will be reported in the first phase of import.
                If parsing is successful, the proposed new senses will be shown with a button to confirm.
                If the changes found do not look as intended, edit your Spreadsheet/CSV file again.
                </p>
                {% endblocktrans %}
            </div>
            </div>
            </div>
            </div>
            <br>
            <div class="row" id="notes_settings">
                <div class="panel panel-default col-xs-offset-2 col-xs-8">
                    <div class='panel-heading'>
                        <div class='panel-title'>
                            <a data-toggle='collapse' data-parent='#notes_settings'
                               href="#notes_column_settings">{% trans "Notes Column" %}</a>
                        </div>
                    </div>
                <div id='notes_column_settings' class='collapse'>
            <div class="col-xs-offset-1 col-xs-9">
                <h5>{% trans "Select the semantics of an empty cell" %}</h5>
            </div>
            <div class="col-xs-offset-1 col-xs-9">
                <input type="radio" name="toggle_notes" id="toggle_notes_keep" value="keep" checked>
                <label for="toggle_notes_keep">{% trans "Keep" %}</label>
                <p>{% trans "An empty cell does nothing. This is used for import that adds new notes and keeps the existing notes." %}</p>
                <input type="radio" name="toggle_notes" id="toggle_notes_erase" value="erase">
                <label for="toggle_notes_erase">{% trans "Erase" %}</label>
                <p>{% trans "An empty cell will erase the existing notes." %}</p>
            </div>
            <div class="col-xs-offset-1 col-xs-9">
                <h5>{% trans "Select the semantics of a non-empty cell" %}</h5>
            </div>
            <div class="col-xs-offset-1 col-xs-9">
                <input type="radio" name="toggle_notes_assign" id="notes_assign_replace" value="replace" checked>
                <label for="notes_assign_replace">{% trans "Overwrite" %}</label>
                <p>{% trans "Notes column values will replace the existing notes." %}</p>
                <input type="radio" name="toggle_notes_assign" id="notes_assign_update" value="update">
                <label for="notes_assign_update">{% trans "Plus Equal" %}</label>
                <p>{% trans "A notes column value will be added to existing notes." %}</p>
            </div>
            </div>
            </div>
            </div>
            <br>
            <div class="row" id="tags_settings">
                <div class="panel panel-default col-xs-offset-2 col-xs-8">
                    <div class='panel-heading'>
                        <div class='panel-title'>
                            <a data-toggle='collapse' data-parent='#tags_settings'
                               href="#tags_column_settings">{% trans "Tags Column" %}</a>
                        </div>
                    </div>
                <div id='tags_column_settings' class='collapse'>
            <div class="col-xs-offset-1 col-xs-9">
                <h5>{% trans "Select the semantics of an empty cell" %}</h5>
            </div>

            <div class="col-xs-offset-1 col-xs-9">
                <input type="radio" name="toggle_tags" id="toggle_tags_keep" value="keep" checked>
                <label for="toggle_tags_keep">{% trans "Keep" %}</label>
                <p>{% trans "An empty cell does nothing. This is used for import that adds new tags and keeps the existing tags." %}</p>
                <input type="radio" name="toggle_tags" id="toggle_tags_erase" value="erase">
                <label for="toggle_tags_erase">{% trans "Erase" %}</label>
                <p>{% trans "An empty cell will erase the existing tags." %}</p>
            </div>
            </div>
        </div>
        </div>
        </div>
    </form>

{% elif stage == 1 %}

    <form action="" method="post">
        {% csrf_token %}

        {% if error %}

            <ul>
            {% for e in error %}
                <li>{{ e | linebreaks }}</li>
            {% endfor %}
            </ul>

        {% else %}

            {% if changes %}
            <div>{% blocktrans %}The following changes were detected:{% endblocktrans %}</div>
        <br>
        <table class="table table-striped">
            <tr>
                <th style="width:10em; text-align:left;">{% trans "Dataset" %}</th>
                <th style="width:25em; text-align:left;">{% trans "Annotation ID Gloss" %} ({% trans "Signbank ID" %})</th>
                <th style="width:20em; text-align:left;">{% trans "Field" %}</th>
                <th style="width:30em; text-align:left;">{% trans "Old Value" %}</th>
                <th style="width:40em; text-align:left;">{% trans "New Value" %}</th>
            </tr>
            {% for change in changes %}
            <!--The following check is necessary to account for None and False values, which are not empty -->
                {% if change.original_human_value == change.original_machine_value and change.new_human_value == change.new_machine_value %}
                    {% if change.original_human_value %}
                    {% blocktrans with dataset=change.dataset pk=change.pk annotationidglosstranslation=change.annotationidglosstranslation human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}
            <tr><td>{{ dataset }}</td><td>{{ annotationidglosstranslation }} ({{pk}})</td><td><em>{{ human_key }}</em></td>
                <td>{{ original_human_value }}</td><td>{{new_human_value}}</td></tr>
                    {% endblocktrans %}
                    {% else %}
                    {% blocktrans with dataset=change.dataset pk=change.pk annotationidglosstranslation=change.annotationidglosstranslation human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}

            <tr><td>{{ dataset }}</td><td>{{ annotationidglosstranslation }} ({{pk}})</td><td><em>{{ human_key }}</em></td><td>&nbsp;</td><td>{{new_human_value}}</td></tr>
                    {% endblocktrans %}
                    {% endif %}
                {% else %}
                    {% blocktrans with dataset=change.dataset pk=change.pk annotationidglosstranslation=change.annotationidglosstranslation human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}

            <tr><td>{{ dataset }}</td><td>{{ annotationidglosstranslation }} ({{pk}})</td><td><em>{{ human_key }}</em></td><td>{{ original_human_value }}</td>
                                <td>{{new_human_value}}</td></tr>
                    {% endblocktrans %}
                {% endif %}
            <input type="hidden" name="{{change.pk}}.{{ change.machine_key }}"  value="{{ change.new_machine_value }}">
            <input type="hidden" name="update_or_create" value="update">
            {% endfor %}
        </table>

            <input type="submit" value="{% blocktrans %}Make changes{% endblocktrans %}" />

            {% else %}
            <div>{% blocktrans %}No changes were found.{% endblocktrans %}</div>
            {% endif %}
        {% endif %}

    </form>

{% elif stage == 2 %}

    {% if error %}

        <ul>
        {% for e in error %}
            <li>{{ e | linebreaks }}</li>
        {% endfor %}
        </ul>

    {% else %}

    <p>{% blocktrans %}Changes are live.{% endblocktrans %}</p>

    {% endif %}

{% endif %}

{% endblock %}