{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Import CSV Update Lemmas{% endblocktrans %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{PREFIX_URL}}/static/js/bootstrap-filestyle.min.js"> </script>
    <script type='text/javascript'>

     $(document).ready(function(){


        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

    });
   </script>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{STATIC_URL}}css/bordered-table-dark-mode.css">
{% endblock %}

{% block content %}
<h3>{% trans "Import CSV Update Existing Lemmas" %}</h3>

{% if stage == 0 %}
    <br>
    <div>{% trans "Upload your CSV here:" %}</div>
    <br>
    <div>
    <form action="" method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div class="form-group form-group-light">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-7">
                    <input type="file" required="" name="file"
                           class="form-control form-control-light" data-icon="true"
                           accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv, application/vnd.ms-excel"
                           data-buttonText='{% trans "Browse&hellip;"%}' data-buttonBefore="true">
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-primary" type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" />
                </div>
            </div>
        </div>
    </form>
    </div>
    <br>
    <div style="overflow-x:auto;">
        <p>{% trans "To update existing lemmas, the CSV file must include either a Signbank ID or a Lemma ID:" %}</p>
        <br>
        {% for dataset in selected_datasets %}
        {% trans "For Dataset " %}{{dataset.acronym}}:
        <table class="table table-bordered table-frequency table-frequency-light center" style="width:80%;margin-left:50px;">
            <thead>
            <tr>
                <th style="width:150px;">Signbank ID</th>
                <th style="width:150px;">Lemma ID</th>
                <th style="width:150px;">Dataset</th>
                {% for dataset_language in dataset.translation_languages.all %}
                <th style="white-space:nowrap;width:200px;">Lemma ID Gloss ({{dataset_language.name}})</th>
                {% endfor %}
                {% for dataset_language in dataset.translation_languages.all %}
                <th style="white-space:nowrap;width:200;">Annotation ID Gloss ({{dataset_language.name}})</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="white-space:nowrap;">(static &mdash; required if no Lemma ID)</td>
                <td style="white-space:nowrap;">(static &mdash; required if no Signbank ID)</td>
                <td style="white-space:nowrap;">(required &mdash; static)</td>
                {% for dataset_language in dataset.translation_languages.all %}
                <td>(required &mdash; can update)</td>
                {% endfor %}
                {% for dataset_language in dataset.translation_languages.all %}
                <td style="white-space:nowrap;">(optional &mdash; ignored)</td>
                {% endfor %}
            </tr>
            <tr>
                <td></td><td></td>
                <td style="white-space:nowrap;">{{dataset.acronym}}</td>
                {% for dataset_language in dataset.translation_languages.all %}
                <td></td>
                {% endfor %}
                {% for dataset_language in dataset.translation_languages.all %}
                <td></td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        <br><br>
        <form id="generate_template" action='{{PREFIX_URL}}/dictionary/export_csv_template/'
              method="get">
        <button class='btn btn-primary' type='submit'
                id='button_export_template'>{% trans "Export" %} {{dataset.acronym}} {% trans "Template" %}</button>
        <input type='hidden' name='dataset' value={{dataset.id}}>
        <input type='hidden' name='create_or_update' value='update_lemma'>
        </form>
        {% endfor %}
    </div>
    <br>
    <div>
    <p>{% trans "The Lemma ID can be obtained from CSV export on the Search Lemmas or Show All Lemmas pages." %}</p>
    <p>{% trans "Changes can be made to the Lemma ID Gloss fields." %}</p>
    </div>
{% elif stage == 1 %}

    <form action="" method="post">
        {% csrf_token %}

        {% if error %}

            <ul>
            {% for e in error %}
                <li>{{ e | linebreaks }}</li>
            {% endfor %}
            </ul>

        {% else %}

            {% if changes %}
            <div>{% blocktrans %}The following changes were detected:{% endblocktrans %}</div>
        <br>
        <table class="table table-bordered">
            <tr>
                <th style="width:10em; text-align:left;">{% trans "Dataset" %}</th>
                <th style="width:25em; text-align:left;">{% trans "Lemma ID" %}</th>
                <th style="width:20em; text-align:left;">{% trans "Field" %}</th>
                <th style="width:30em; text-align:left;">{% trans "Old value" %}</th>
                <th style="width:40em; text-align:left;">{% trans "New value" %}</th>
            </tr>
            {% for change in changes %}
            <!--The following check is necessary to account for None and False values, which are not empty -->
                {% if change.original_human_value == change.original_machine_value and change.new_human_value == change.new_machine_value %}
                    {% if change.original_human_value %}
                    {% blocktrans with dataset=change.dataset pk=change.pk human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}
            <tr><td>{{ dataset }}</td><td>{{pk}}</td><td><em>{{ human_key }}</em></td>
                <td>{{ original_human_value }}</td><td>{{new_human_value}}</td></tr>
                    {% endblocktrans %}
                    {% else %}
                    {% blocktrans with dataset=change.dataset pk=change.pk human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}

            <tr><td>{{ dataset }}</td><td>{{pk}}</td><td><em>{{ human_key }}</em></td><td>&nbsp;</td><td>{{new_human_value}}</td></tr>
                    {% endblocktrans %}
                    {% endif %}
                {% else %}
                    {% blocktrans with dataset=change.dataset pk=change.pk human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}

            <tr><td>{{ dataset }}</td><td>{{pk}}</td><td><em>{{ human_key }}</em></td><td>{{ original_human_value }}</td>
                                <td>{{new_human_value}}</td></tr>
                    {% endblocktrans %}
                {% endif %}
            <input type="hidden" name="{{change.pk}}.{{ change.machine_key }}"  value="{{ change.new_machine_value }}">
            <input type="hidden" name="update_or_create" value="update">
            {% endfor %}
        </table>

            <input type="submit" value="{% blocktrans %}Make changes{% endblocktrans %}" />

            {% else %}
            <div>{% blocktrans %}No changes were found.{% endblocktrans %}</div>
            {% endif %}
        {% endif %}

    </form>

{% elif stage == 2 %}

    {% if error %}

        <ul>
        {% for e in error %}
            <li>{{ e | linebreaks }}</li>
        {% endfor %}
        </ul>

    {% else %}

    <p>{% blocktrans %}Changes are live.{% endblocktrans %}</p>

    {% endif %}

{% endif %}

{% endblock %}