{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}

{% block bootstrap3_title %}Signbank: Import Media{% endblock %}

{% block content %}

<h3>{% trans "Imported Media" %}</h3>
<br/>

{% if not files_per_dataset_per_language %}
<div>
<p>{% trans "No media found to import." %}</p>
</div>
{% else %}


{% for files_per_language in files_per_dataset_per_language %}


{% if not files_per_language.mediapaths %}

<h4>{{files_per_language.dataset}} : {{files_per_language.lang3chr}}</h4>

<p>{% trans "Empty Folder" %}</p>

{% else %}

<h4>{{files_per_language.dataset}} : {{files_per_language.lang3chr}}</h4>

<table style="font-size: 11px; border-collapse:collapse; border-spacing: 2px;" border="1">
<thead>
<tr>
<th style="width:40em; text-align:left;">Filename</th>
<th style="width:40em; text-align:left;">Status</th>
</tr>
</thead>
<tbody>
{% for mediapath, status in files_per_language.mediapaths %}
<tr><td>{{mediapath}}</td><td>{{status}}</td></tr>
{% endfor %}
{% endif %}

</tbody>
</table>
<br/>

{% endfor %}


{% if errors %}
<div>
<h3>Errors</h3>
<ul>
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
{% endif %}
{% endblock %}
