{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block extrajs %}
    <script type="text/javascript" src="{{URL}}/static/js/bootstrap-filestyle.min.js"> </script>
    <script type='text/javascript'>

     $(document).ready(function(){


        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

    });
   </script>
{% endblock %}


{% block content %}

{% if stage == 0 %}

    <div>{% blocktrans %}Upload your changed CSV here::{% endblocktrans %}</div>

    <form action="" method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <span id="tooltip" class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-html="true"
                          title="CSV files should have min. two columns, the first being the ID number of the sign (obtained through CSV export), the second column the value that needs to be put in the field. Make sure the header row is cf. the CSV export, indicating the fields you want to make changes to. In case of adding new values to comma-separated fields like Translation Equivalents, make sure that the old values that should stay are also in the second column."></span>
                </div>
                <div class="col-sm-10">
                    <input type="file" required="" name="file" class="filestyle" data-icon="false" data-buttonText='{% trans "Browse&hellip;"%}' data-buttonBefore="true">
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-primary" type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" />
                </div>
            </div>
        </div>
    </form>

{% elif stage == 1 %}

    <form action="" method="post">
        {% csrf_token %}

        {% if error %}

            <ul>
            {% for e in error %}
                <li>{{ e }}</li>
            {% endfor %}
            </ul>

        {% else %}

            <div>{% blocktrans %}The following changes were detected:{% endblocktrans %}</div>
            <ul>
            {% for change in changes %}

                {% blocktrans with pk=change.pk idgloss=change.idgloss human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}
                    <li>For {{ idgloss }} ({{pk}}), <em>{{ human_key }}</em> changes from {{ original_human_value }} ({{ original_machine_value }}) to {{new_human_value}} ({{ new_machine_value }}).</li>
                {% endblocktrans %}

                <input type="hidden" name="{{change.pk}}.{{ change.machine_key }}"  value="{{ change.new_machine_value }}">
            {% endfor %}

            </ul>
            <input type="submit" value="{% blocktrans %}Make changes{% endblocktrans %}" />

        {% endif %}

    </form>

{% elif stage == 2 %}
    <p>{% blocktrans %}Changes are live.{% endblocktrans %} {{ info }}</p>

{% endif %}

{% endblock %}