{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Import CSV{% endblocktrans %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{PREFIX_URL}}/static/js/bootstrap-filestyle.min.js"
        xmlns="http://www.w3.org/1999/html"> </script>
    <script type='text/javascript'>

     $(document).ready(function(){


        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

    });
   </script>
{% endblock %}


{% block content %}
<h3>{% trans "Import CSV Create New Glosses" %}</h3>

{% if stage == 0 %}

    <div>{% trans "Upload your CSV here:" %}</div>
    <div>
    <form action="" method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">
                    <input type="file" required="" name="file" class="filestyle" data-icon="false"
                           accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv, application/vnd.ms-excel"
                           data-buttonText='{% trans "Browse&hellip;"%}' data-buttonBefore="true">
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-primary" type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" />
                </div>
            </div>
        </div>
    </form>
    </div>
    <br>
    <div>
        <p>{% trans "To create new glosses, the CSV file must include the columns:" %}</p>
        <br>
        {% for dataset in selected_datasets %}
        {% trans "For Dataset " %}{{dataset.acronym}}:
        <table class="table table-striped center" style="width:80%;margin-left:50px;">
            <thead>
            <tr>
                <th style="width:150px;">Dataset</th>
                {% for dataset_language in dataset.translation_languages.all %}
                <th style="width:200px;">Lemma ID Gloss ({{dataset_language.name}})</th>
                {% endfor %}
                {% for dataset_language in dataset.translation_languages.all %}
                <th style="width:300px;">Annotation ID Gloss ({{dataset_language.name}})</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{dataset.acronym}}</td>
            </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
<div>
<p>{% trans "Only one dataset can be modified in the file." %}</p>
</div>
{% elif stage == 1 %}

    <form action="" method="post">
        {% csrf_token %}

        {% if error %}
            <h4>{% trans "Errors" %}</h4>
            <ul>
            {% for e in error %}
                <li>{{ e | linebreaks }}</li>
            {% endfor %}
            </ul>

        {% else %}

            {% if creation or gloss_already_exists %}
                {% if gloss_already_exists %}
                <h4>{% trans "Already Existing Annotation ID Glosses:" %}</h4>
                <table class="table table-striped">
                    <tr>
                        <th>{% trans "Dataset" %}</th>
                         {% with seen_datasets.0 as seen_dataset %}
                         {% with translation_languages_dict|keyvalue:seen_dataset as translation_tuples_list %}
                         {% for dataset_trans_lang in translation_tuples_list %}
                         <th >{% trans "Lemma ID Gloss" %} ({% trans dataset_trans_lang.0 %})</th>
                         {% endfor %}
                         {% for dataset_trans_lang in translation_tuples_list %}
                         <th >{% trans "Annotation ID Gloss" %} ({% trans dataset_trans_lang.0 %})</th>
                         {% endfor %}
                         {% endwith %}
                         {% endwith %}
                    </tr>
                {% for gloss in gloss_already_exists %}
                    <tr>
                    <td>{{ gloss.dataset }}</td>

                    {% with seen_datasets.0 as seen_dataset %}
                    {% with translation_languages_dict|keyvalue:seen_dataset as translation_tuples_list %}
                    {% for dataset_trans_lang in translation_tuples_list %}
                    <!--{% with dataset_trans_lang.language_code_2char as lang_code %}-->
                     <td style="padding-left: 20px;">{{ gloss.lemmaidglosstranslations|keyvalue:dataset_trans_lang.1 }}</td>
                    <!--{% endwith %}-->
                    {% endfor %}
                    {% for dataset_trans_lang in translation_tuples_list %}
                    <!--{% with dataset_trans_lang.language_code_2char as lang_code %}-->
                     <td><a style="color:red; padding-left: 20px;" href='{% url "dictionary:admin_gloss_view" pk=gloss.gloss_pk %}'>
                        {{ gloss.annotationidglosstranslations|keyvalue:dataset_trans_lang.1 }}</a></td>
                    <!--{% endwith %}-->
                    {% endfor %}
                    {% endwith %}
                    {% endwith %}
                    </tr>
                {% endfor %}
                </table>
                {% endif %}
                {% if creation %}
                <h4>{% trans "Glosses to Create:" %}</h4>
                <table class="table table-striped">
                    <tr>
                        <th>{% trans "Dataset" %}</th>
                         {% with seen_datasets.0 as seen_dataset %}
                         {% with translation_languages_dict|keyvalue:seen_dataset as translation_tuples_list %}
                         {% for dataset_trans_lang in translation_tuples_list %}
                         <th >{% trans "Lemma ID Gloss" %} ({% trans dataset_trans_lang.0 %})</th>
                         {% endfor %}
                         {% for dataset_trans_lang in translation_tuples_list %}
                         <th >{% trans "Annotation ID Gloss" %} ({% trans dataset_trans_lang.0 %})</th>
                         {% endfor %}
                         {% endwith %}
                         {% endwith %}
                    </tr>
                {% for newgloss in creation %}
                    <tr>
                        <td>{{ newgloss.dataset }}</td>
                        {% with seen_datasets.0 as seen_dataset %}
                        {% with translation_languages_dict|keyvalue:seen_dataset as translation_tuples_list %}
                         {% for dataset_trans_lang in translation_tuples_list %}
                            {% with newgloss.lemmaidglosstranslations as newglossdict %}
                            <!--{% with dataset_lang.language_code_2char as lang_code %}-->
                            <td class="bla" style="padding-left: 20px;">{{ newglossdict|keyvalue:dataset_trans_lang.1 }}</td>
                            <!--{% endwith %}-->
                            {% endwith %}
                         {% endfor %}
                         {% for dataset_trans_lang in translation_tuples_list %}
                            {% with newgloss.annotationidglosstranslations as newglossdict %}
                            <!--{% with dataset_lang.language_code_2char as lang_code %}-->
                            <td class="bla" style="padding-left: 20px;">{{ newglossdict|keyvalue:dataset_trans_lang.1 }}</td>
                            <!--{% endwith %}-->
                            {% endwith %}
                         {% endfor %}
                         {% endwith %}
                         {% endwith %}
                    </tr>
                <input type="hidden" name="{{newgloss.gloss_pk}}.dataset"  value="{{ newgloss.dataset }}">
                {% for dataset_lang in dataset_languages %}
                 <input type="hidden" name="{{newgloss.gloss_pk}}.lemma_id_gloss_{{ dataset_lang.language_code_2char }}"
                        value="{{ newgloss.lemmaidglosstranslations|keyvalue:dataset_lang.language_code_2char }}">
                 {% endfor %}
                {% for dataset_lang in dataset_languages %}
                 <input type="hidden" name="{{newgloss.gloss_pk}}.annotation_id_gloss_{{ dataset_lang.language_code_2char }}"
                        value="{{ newgloss.annotationidglosstranslations|keyvalue:dataset_lang.language_code_2char }}">
                 {% endfor %}

                <input type="hidden" name="update_or_create" value="create">
                {% endfor %}
                </table>
                <input type="submit" value="{% blocktrans %}Create glosses{% endblocktrans %}" />
                {% endif %}
            {% else %}
            <div>{% blocktrans %}No changes were found.{% endblocktrans %}</div>
            {% endif %}
        {% endif %}

    </form>

{% elif stage == 2 %}

    {% if error %}

        <ul>
        {% for e in error %}
            <li>{{ e | linebreaks }}</li>
        {% endfor %}
        </ul>

    {% else %}

    <p>{% blocktrans %}Changes are live.{% endblocktrans %} {{ info }}</p>

    {% endif %}

{% endif %}

{% endblock %}