{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Import CSV Update{% endblocktrans %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{PREFIX_URL}}/static/js/bootstrap-filestyle.min.js"> </script>
    <script type='text/javascript'>

     $(document).ready(function(){


        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

    });
   </script>
{% endblock %}


{% block content %}
<h3>{% trans "Import CSV Update Existing Glosses" %}</h3>

{% if stage == 0 %}

    <div>{% trans "Upload your CSV here:" %}
        </div>
    <div>
    <form action="" method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10">
                    <h4>{% trans "Input File" %}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-sm-7">
                    <input type="file" required="" name="file" class="filestyle" data-icon="false"
                           accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv, application/vnd.ms-excel"
                           data-buttonText='{% trans "Browse&hellip;"%}' data-buttonBefore="true">
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-primary" type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" />
                </div>
            </div>
            <br>
            <div class="row" id="senses_settings">
                <div class="panel panel-default col-xs-offset-2 col-xs-8">
                    <div class='panel-heading'>
                        <div class='panel-title'>
                            <a data-toggle='collapse' data-parent='#senses_settings'
                               href="#senses_column_settings">{% trans "Senses Column" %}</a>
                        </div>
                    </div>
            <div id='senses_column_settings' class='collapse'>
            <div class="col-xs-offset-1 col-xs-9">
                {% blocktrans trimmed %}
                <p>Senses can be created for a dataset language via CSV import.
                    At the moment, existing senses cannot be edited this way.</p>
                <p>For splitting existing senses into separate senses, use
                    <a class='nav-link' href="{{PREFIX_URL}}/dictionary/keywords/">Map Keywords to Senses</a> instead.</p>
                <br>
                <p>The senses cell for each language should have this format:<br/>
                <pre>
<code>
1.&nbsp;keywords for sense, separated by commas&nbsp;|&nbsp;2.&nbsp;more, keywords
</code>
                </pre>
                Parsing errors will be reported in the first phase of import.
                If parsing is successful, the proposed new senses will be shown with a button to confirm.
                If the changes found do not look as intended, edit your Spreadsheet/CSV file again.
                </p>
                <br>
                <p>Only the text of existing example sentences can be updated.</p>
                <p>To create new sentences use the
                <a class='nav-link' href="{{PREFIX_URL}}signs/import_csv_create_sentences/">Import CSV Create Sentences</a> command.</p>
                {% endblocktrans %}
            </div>
            </div>
            </div>
            </div>
            <br>
            <div class="row" id="notes_settings">
                <div class="panel panel-default col-xs-offset-2 col-xs-8">
                    <div class='panel-heading'>
                        <div class='panel-title'>
                            <a data-toggle='collapse' data-parent='#notes_settings'
                               href="#notes_column_settings">{% trans "Notes Column" %}</a>
                        </div>
                    </div>
                <div id='notes_column_settings' class='collapse'>
            <div class="col-xs-offset-1 col-xs-9">
                <h5>{% trans "Select the semantics of an empty cell" %}</h5>
            </div>
            <div class="col-xs-offset-1 col-xs-9">
                <input type="radio" name="toggle_notes" id="toggle_notes_keep" value="keep" checked>
                <label for="toggle_notes_keep">{% trans "Keep" %}</label>
                <p>{% trans "An empty cell does nothing. This is used for import that adds new notes and keeps the existing notes." %}</p>
                <input type="radio" name="toggle_notes" id="toggle_notes_erase" value="erase">
                <label for="toggle_notes_erase">{% trans "Erase" %}</label>
                <p>{% trans "An empty cell will erase the existing notes." %}</p>
            </div>
            <div class="col-xs-offset-1 col-xs-9">
                <h5>{% trans "Select the semantics of a non-empty cell" %}</h5>
            </div>
            <div class="col-xs-offset-1 col-xs-9">
                <input type="radio" name="toggle_notes_assign" id="notes_assign_replace" value="replace" checked>
                <label for="notes_assign_replace">{% trans "Overwrite" %}</label>
                <p>{% trans "Notes column values will replace the existing notes." %}</p>
                <input type="radio" name="toggle_notes_assign" id="notes_assign_update" value="update">
                <label for="notes_assign_update">{% trans "Plus Equal" %}</label>
                <p>{% trans "A notes column value will be added to existing notes." %}</p>
            </div>
            </div>
            </div>
            </div>
            <br>
            <div class="row" id="tags_settings">
                <div class="panel panel-default col-xs-offset-2 col-xs-8">
                    <div class='panel-heading'>
                        <div class='panel-title'>
                            <a data-toggle='collapse' data-parent='#tags_settings'
                               href="#tags_column_settings">{% trans "Tags Column" %}</a>
                        </div>
                    </div>
                <div id='tags_column_settings' class='collapse'>
            <div class="col-xs-offset-1 col-xs-9">
                <h5>{% trans "Select the semantics of an empty cell" %}</h5>
            </div>

            <div class="col-xs-offset-1 col-xs-9">
                <input type="radio" name="toggle_tags" id="toggle_tags_keep" value="keep" checked>
                <label for="toggle_tags_keep">{% trans "Keep" %}</label>
                <p>{% trans "An empty cell does nothing. This is used for import that adds new tags and keeps the existing tags." %}</p>
                <input type="radio" name="toggle_tags" id="toggle_tags_erase" value="erase">
                <label for="toggle_tags_erase">{% trans "Erase" %}</label>
                <p>{% trans "An empty cell will erase the existing tags." %}</p>
            </div>
            </div>
        </div>
        </div>
        </div>
    </form>
    </div>
    <br>
    <div>
        <p>{% trans "To update existing glosses, the CSV file must include the first two columns:" %}</p>
        <br>
        {% for dataset in selected_datasets %}
        {% trans "For Dataset " %}{{dataset.acronym}}:
        <div style="overflow-x:auto;">
        <table class="table table-striped center" style="width:80%;margin-left:50px;">
            <thead>
            <tr>
                <th style="width:150px;">Signbank ID</th>
                <th style="width:150px;">Dataset</th>
                {% for dataset_language in dataset.translation_languages.all %}
                <th style="white-space:nowrap;">Lemma ID Gloss ({{dataset_language.name}})</th>
                {% endfor %}
                {% for dataset_language in dataset.translation_languages.all %}
                <th style="white-space:nowrap;">Annotation ID Gloss ({{dataset_language.name}})</th>
                {% endfor %}
                {% for dataset_language in dataset.translation_languages.all %}
                <th style="white-space:nowrap;">Senses ({{dataset_language.name}})</th>
                {% endfor %}
                {% for col in optional_columns %}
                <th style="white-space:nowrap;">{{col}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="white-space:nowrap;">(required &mdash; static)</td>
                <td style="white-space:nowrap;">(required &mdash; static)</td>
                {% for dataset_language in dataset.translation_languages.all %}
                <td>(optional &mdash; static)</td>
                {% endfor %}
                {% for dataset_language in dataset.translation_languages.all %}
                <td style="white-space:nowrap;">(optional &mdash; can update)</td>
                {% endfor %}
                {% for dataset_language in dataset.translation_languages.all %}
                <td style="white-space:nowrap;">(optional &mdash; see note)</td>
                {% endfor %}
                {% for col in optional_columns %}
                {% if col == "Tags" or col == "Notes" %}
                <td style="white-space:nowrap;">(optional &mdash; see note)</td>
                {% else %}
                <td style="white-space:nowrap;">(optional &mdash; can update)</td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td></td>
                <td>{{dataset.acronym}}</td>
            </tr>
            </tbody>
        </table>
        </div>
        {% endfor %}
    </div>
    <div>
    <p>{% trans "The Signbank ID can be obtained from CSV export on the Search or Show All Signs pages." %}</p>
    <p>{% trans "Changes cannot be made to the Lemma ID Gloss fields." %}</p>
    <p>{% trans "Only one dataset can be modified in the file." %}</p>
    </div>
{% elif stage == 1 %}

    <form action="" method="post">
        {% csrf_token %}

        {% if error %}

            <ul>
            {% for e in error %}
                <li>{{ e | linebreaks }}</li>
            {% endfor %}
            </ul>

        {% else %}

            {% if changes %}
            <div>{% blocktrans %}The following changes were detected:{% endblocktrans %}</div>
        <br>
        <table class="table table-striped">
            <tr>
                <th style="width:10em; text-align:left;">{% trans "Dataset" %}</th>
                <th style="width:25em; text-align:left;">{% trans "Annotation ID Gloss" %} ({% trans "Signbank ID" %})</th>
                <th style="width:20em; text-align:left;">{% trans "Field" %}</th>
                <th style="width:30em; text-align:left;">{% trans "Old Value" %}</th>
                <th style="width:40em; text-align:left;">{% trans "New Value" %}</th>
            </tr>
            {% for change in changes %}
            <!--The following check is necessary to account for None and False values, which are not empty -->
                {% if change.original_human_value == change.original_machine_value and change.new_human_value == change.new_machine_value %}
                    {% if change.original_human_value %}
                    {% blocktrans with dataset=change.dataset pk=change.pk annotationidglosstranslation=change.annotationidglosstranslation human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}
            <tr><td>{{ dataset }}</td><td>{{ annotationidglosstranslation }} ({{pk}})</td><td><em>{{ human_key }}</em></td>
                <td>{{ original_human_value }}</td><td>{{new_human_value}}</td></tr>
                    {% endblocktrans %}
                    {% else %}
                    {% blocktrans with dataset=change.dataset pk=change.pk annotationidglosstranslation=change.annotationidglosstranslation human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}

            <tr><td>{{ dataset }}</td><td>{{ annotationidglosstranslation }} ({{pk}})</td><td><em>{{ human_key }}</em></td><td>&nbsp;</td><td>{{new_human_value}}</td></tr>
                    {% endblocktrans %}
                    {% endif %}
                {% else %}
                    {% blocktrans with dataset=change.dataset pk=change.pk annotationidglosstranslation=change.annotationidglosstranslation human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}

            <tr><td>{{ dataset }}</td><td>{{ annotationidglosstranslation }} ({{pk}})</td><td><em>{{ human_key }}</em></td><td>{{ original_human_value }}</td>
                                <td>{{new_human_value}}</td></tr>
                    {% endblocktrans %}
                {% endif %}
            <input type="hidden" name="{{change.pk}}.{{ change.machine_key }}"  value="{{ change.new_machine_value }}">
            <input type="hidden" name="update_or_create" value="update">
            {% endfor %}
        </table>

            <input type="submit" value="{% blocktrans %}Make changes{% endblocktrans %}" />

            {% else %}
            <div>{% blocktrans %}No changes were found.{% endblocktrans %}</div>
            {% endif %}
        {% endif %}

    </form>

{% elif stage == 2 %}

    {% if error %}

        <ul>
        {% for e in error %}
            <li>{{ e | linebreaks }}</li>
        {% endfor %}
        </ul>

    {% else %}

    <p>{% blocktrans %}Changes are live.{% endblocktrans %}</p>

    {% endif %}

{% endif %}

{% endblock %}