{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}

{% if stage == 0 %}
    <div>{% blocktrans %}Upload your changed CSV here:{% endblocktrans %}</div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" />
    </form>

{% elif stage == 1 %}

    <form action="" method="post">
        {% csrf_token %}
        <div>{% blocktrans %}The following changes were detected:{% endblocktrans %}</div>
        <ul>
        {% for change in changes %}

            {% blocktrans with idgloss=change.idgloss human_key=change.human_key original_human_value=change.original_human_value original_machine_value=change.original_machine_value new_human_value=change.new_human_value new_machine_value=change.new_machine_value %}
                <li>For {{ idgloss }}, <em>{{ human_key }}</em> changes from {{ original_human_value }} ({{ original_machine_value }}) to {{new_human_value}} ({{ new_machine_value }}).</li>
            {% endblocktrans %}

            <input type="hidden" name="{{change.pk}}.{{ change.machine_key }}"  value="{{ change.new_machine_value }}">
        {% endfor %}

        </ul>
        <input type="submit" value="{% blocktrans %}Make changes{% endblocktrans %}" />
    </form>

{% elif stage == 2 %}
    <p>{% blocktrans %}Changes are live.{% endblocktrans %} {{ info }}</p>

{% endif %}

{% endblock %}