{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load guardian_tags %}
{% load annotation_idgloss_translation %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Import CSV Create Sentences{% endblocktrans %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{PREFIX_URL}}/static/js/bootstrap-filestyle.min.js"> </script>
    <script type='text/javascript'>

     $(document).ready(function(){


        $('.collapsetoggle').click(function() {
            if ($(this).text() == 'Show') {
                $(this).text('Hide');
            } else {
                $(this).text('Show');
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

    });
   </script>
{% endblock %}


{% block content %}
<h3>{% trans "Import CSV Create Sentences" %}</h3>

{% if stage == 0 %}
    <br>
    <div>{% trans "Upload your CSV here:" %}</div>
    <br>
    <div>
    <form action="" method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">
                    <input type="file" required="" name="file" class="filestyle" data-icon="false"
                           accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv, application/vnd.ms-excel"
                           data-buttonText='{% trans "Browse&hellip;"%}' data-buttonBefore="true">
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-primary" type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" />
                </div>
            </div>
        </div>
    </form>
    </div>
    <br>
    <div>
        <p>{% trans "To create new sentences, the CSV file must include the columns:" %}</p>
        <br>
        {% for dataset in selected_datasets %}
        {% trans "For Dataset " %}{{dataset.acronym}}:
        <table class="table table-bordered center" style="width:80%;margin-left:50px;">
            <thead>
            <tr>
                <th style="width:150px;">Signbank ID</th>
                <th style="width:150px;">Dataset</th>
                <th style="width:150px;">Sense Number</th>
                <th style="width:150px;">Sentence Type</th>
                <th style="width:150px;">Negative</th>
                {% for dataset_language in dataset.translation_languages.all %}
                <th style="width:200px;">Example Sentences ({{dataset_language.name}})</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td>{{dataset.acronym}}</td>
                <td></td>
                <td>
                    <select>
                    {% for st in sentence_types %}
                        <option>{{st}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select>
                        <option>-</option>
                        <option>False</option>
                        <option>True</option>
                    </select>
                </td>
                {% for dataset_language in dataset.translation_languages.all %}
                <th style="width:200px;"></th>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        <form id="generate_template" action='{{PREFIX_URL}}/dictionary/export_csv_template/'
              method="get">
        <button class='btn btn-primary' type='submit'
                id='button_export_template'>{% trans "Export" %} {{dataset.acronym}} {% trans "Template" %}</button>
        <input type='hidden' name='dataset' value={{dataset.id}}>
        <input type='hidden' name='create_or_update' value='create_sentences'>
        </form>
        {% endfor %}
    </div>
    <br>
    <div>
    <p>{% trans "Only one dataset can be modified in the file." %}</p>
    </div>
{% elif stage == 1 %}

    <form action="" method="post">
        {% csrf_token %}

        {% if error %}
            <h4>{% trans "Errors" %}</h4>
            <ul>
            {% for e in error %}
                <li>{{ e | linebreaks }}</li>
            {% endfor %}
            </ul>

        {% elif creation %}
            <h4>{% trans "Sentences to Create:" %}</h4>
            <table class="table table-bordered">
                <tr>
                    <th>{% trans "Signbank ID" %}</th>
                    <th>{% trans "Dataset" %}</th>
                    <th>{% trans "Sense Number" %}</th>
                    <th>{% trans "Sentence Type" %}</th>
                    <th>{% trans "Negative" %}</th>
                     {% for dataset_trans_lang in dataset_languages %}
                     <th >{% trans "Example Sentences" %} ({{dataset_trans_lang.name}})</th>
                     {% endfor %}
                </tr>
            {% for newgloss in creation %}
                <tr>
                    <td>{{ newgloss.gloss_pk }}</td>
                    <td>{{ newgloss.dataset }}</td>
                    <td>{{ newgloss.order }}</td>
                    <td>{{ newgloss.sentence_type }}</td>
                    <td>{{ newgloss.negative }}</td>
                     {% for dataset_trans_lang in dataset_languages %}
                        {% with newgloss.translations as newglossdict %}
                        <td>{{ newglossdict|keyvalue:dataset_trans_lang }}</td>
                        {% endwith %}
                     {% endfor %}
                </tr>
            <input type="hidden" name="{{newgloss.row_nr}}.gloss_pk"  value="{{ newgloss.gloss_pk }}">
            <input type="hidden" name="{{newgloss.row_nr}}.dataset"  value="{{ newgloss.dataset }}">
            <input type="hidden" name="{{newgloss.row_nr}}.order"  value="{{ newgloss.order }}">
            <input type="hidden" name="{{newgloss.row_nr}}.sentence_type"  value="{{ newgloss.sentence_type }}">
            <input type="hidden" name="{{newgloss.row_nr}}.negative"  value="{{ newgloss.negative }}">
            {% for dataset_lang in dataset_languages %}
             <input type="hidden" name="{{newgloss.row_nr}}.sentence_text_{{ dataset_lang.language_code_2char }}"
                    value="{{newgloss.translations|keyvalue:dataset_lang}}">
             {% endfor %}

            <input type="hidden" name="update_or_create" value="create">
            {% endfor %}
            </table>
            <input type="submit" value="{% blocktrans %}Create Sentences{% endblocktrans %}" />
        {% else %}
        <div>{% blocktrans %}No changes were found.{% endblocktrans %}</div>
        {% endif %}

    </form>

{% elif stage == 2 %}

    {% if error %}

        <ul>
        {% for e in error %}
            <li>{{ e | linebreaks }}</li>
        {% endfor %}
        </ul>

    {% else %}

    <p>{% blocktrans %}Changes are live.{% endblocktrans %} {{ info }}</p>

    {% endif %}

{% endif %}

{% endblock %}