{% extends "baselayout.html" %}
{% load i18n %}

{% block content %}

    {# Translators: Welcome message #}
    <p>{% blocktrans trimmed %}Welcome to the Sign Search section of the {{language}} SignBank. Here
    you can search for a sign using a translation in the search box
    above, or browse words starting with any letter below.{% endblocktrans %}
   </p>
    
    <p>
    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
      <a href="{% url 'root_page' %}dictionary/search?query={{letter}}">{{letter}}</a> | 
   {% endfor %}
   </p>
   




{% endblock %}
