{% load i18n %}
{% load annotation_idgloss_translation %}

{% load bootstrap3 %}
{% load tagging_tags %}

<tr id = "lemmagloss_{{focus_gloss.id}}" >
    <td style="width:12em;"></td>
    {% if SHOW_DATASET_INTERFACE_OPTIONS %}<td style="width:12em;">{{focus_gloss.lemma.dataset.acronym}}</td>{% endif %}

    {% for dataset_lang in dataset_languages %}
    {% with focus_gloss|get_annotation_idgloss_translation_no_default:dataset_lang as annotationidglosstranslation %}
    <td>
      {% if annotationidglosstranslation != "" %}

        <div><a href="{{PREFIX_URL}}/dictionary/gloss/{{focus_gloss.pk}}{% if user.is_anonymous %}.html{% else %}/{% endif %}">{{annotationidglosstranslation}}</a></div>

      {% endif %}
    </td>
    {% endwith %}
    {% endfor %}

    {% for lang, translations in translations_per_language.items %}
    <td>{% for trn in translations %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    {% endfor %}

    {% for field,value in column_values %}
    <td>{{value}}</td>
    {% endfor %}

    {% if not user.is_anonymous %}
    {% load underscore_to_space %}
    {% tags_for_object focus_gloss as tag_list %}
    <td>{% for tag in tag_list %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
    {% endif %}
</tr>
