{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Lemma Frequency{% endblocktrans %}
{% endblock %}
{% load stylesheet %}

{% block extrahead %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>

<script type='text/javascript'>
var shades_of_grey = [ 'hsl(0, 0%, 60%)', 'hsl(0, 0%, 35%)', 'hsl(0, 0%, 70%)', 'hsl(0, 0%,10%)', 'hsl(0, 0%, 80%)' ];
var total_grey_idx = 5;

var frequency_regions = {{frequency_regions|safe}};
var data_lemmas = {{data_lemmas|safe}};

var gloss_idgloss = '{{gloss_idgloss|safe}}';
var number_of_regions = frequency_regions.length;
var num_occurrences = {{num_occurrences|safe}};
</script>

<script type="text/javascript">
Chart.defaults.global.elements.arc.borderWidth = 0;

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'horizontalBar',
    skipNull: true,
    data: {
        labels: frequency_regions,
        datasets: data_lemmas,
        minBarLength: 0
    },
    options: {
        scales: {
            x: {
                beginAtZero: true
            },
            y: {
                type: 'category'
            }
        }
    }
});

chart.options.scales.yAxes[0].ticks.fontSize = 10;
chart.options.scales.yAxes[0].ticks.fontColor = 'Black';
chart.options.scales.xAxes[0].ticks.fontSize = 10;
chart.options.scales.xAxes[0].ticks.fontColor = 'Black';
chart.options.scales.xAxes[0].ticks.precision = 0;
chart.options.scales.xAxes[0].ticks.max = num_occurrences;
chart.options.legend.labels.fontSize = 10;
chart.options.legend.labels.fontColor = 'Black';
chart.options.tooltips.titleFontSize = 10;
chart.options.tooltips.bodyFontSize = 10;
for(i=0;i<chart.data.datasets.length;i++)
{
    grey_idx = (i >= total_grey_idx) ? 0 : i;
    chart.data.datasets[i].backgroundColor = shades_of_grey[grey_idx];
};
chart.update();

</script>

{% endblock %}

{% block content %}

<div id="definitionblock">
    {% url 'dictionary:protected_media' '' as protected_media_url %}

<table class='table table-condensed'>
        {% if lemma_group %}
        <thead></thead>
        <tbody>
            <tr style="outline: thin solid; color: #ddd;"><th style="width:8em; color:darkred">{% trans "Lemma Group" %}</th>
                <td id='lemma_group'>
                    {% if lemma_group %}
                        <a href='{{ lemma_group_url }}'>{% value gloss.idgloss %}</a>
                    {% else %}
                        {% value gloss.idgloss %}
                    {% endif %}
                </td>
            </tr>
            <tr style="outline: thin solid; color: #ddd;">
                <th style="width:8em; color:darkred">{% trans "Glosses" %}</th>
                <td id='lemma_group_glosses' style="color:black;" colspan="8">
                    {% for gl, gl_display in glosses_in_lemma_group %}
                    <a href='{% url "dictionary:admin_gloss_view" pk=gl.id %}'>{{ gl_display }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
        {% else %}
        <thead></thead>
        <tbody>
        <tr><td>{% trans "No lemma group for this gloss." %}</td></tr>
        </tbody>
        {% endif %}
</table>
</div>
<div id='regions' class='collapse in' style="width:80%;">
    <div class="chart-container">
        <canvas id="myChart" width="600"></canvas>
    </div>
</div>
{% endblock content %}
