{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
{% blocktrans %}Morpheme for {{ morpheme }}{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
    <style>
        #panel-expand-collapse-btn-group.affix {
            position:fixed;
        }
    </style>
<style>
.preview {
    background-color: white !important;
    height: 40;
    width: auto;
    position: relative;
    padding: 0 0 0 0 !important;
}

select option {
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    color: blue !important;
    background-color: white !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.dropdown-menu {
    display: visible !important;
    z-index: 5;
    box-shadow: 0 10px 10px #333;
}

.dropdown-item:active{
    color: blue;
    background-color: darkviolet;
}

.bootstrap-select {
    color: black !important;
    background-color: white !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}
</style>
<style>
.form-group {
    background-color: white;
    color: black;
}
option:not(:checked) {
    background-color: white !important;
    color: #000;
}
.panel-heading {
    padding: 0;
}
</style>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini_colors.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type='text/javascript'>
    var url = '{{ PREFIX_URL }}';
    var phonology_list_kinds = {{phonology_list_kinds|safe}};

    var morpheme_phonology = {{MORPHEME_DISPLAY_FIELDS|safe}};

// TODO: see what the order of the fields is, this needs to be non-dynamic to help
// manage user interface events during editing, to go to the next displayed field
// At the moment, the morpheme_phonology setting is used
//    var phonology_fields = {{phonology_fields|safe}};
//    console.log('phonology_fields '+phonology_fields);

    var edit_mode_str = '{% trans "Edit" %}';
    var turn_off_edit_mode_str = '{% trans "Turn Off Edit Mode" %}';
    var delete_this_gloss_str = '{% trans "Delete This Morpheme" %}';
    var saving_str = '{% trans "Saving..." %}';
    var yes_str = '{% trans "Yes" %}'
    var no_str = '{% trans "No" %}'
    var idgloss_already_exists_str = '{% trans "This idgloss already exists" %}';
    var original_lemma_group_url = '{{lemma_group_url}}'
    var lemma_group = '{{lemma_group}}'

    var edit_post_url = '{% url 'dictionary:update_morpheme' morpheme.id %}';
    var definition_role_choices = {{morpheme.definition_role_choices_json|safe}};
    var relation_role_choices = {{morpheme.relation_role_choices_json|safe}};
    var relation_delete_choices = '{ "delete" : "Delete" }';
    var relation_delete_choices_colors = '{ "delete" : "ffffff" }';
    var dialects = {{morpheme.dialect_choices|safe}};
    var semanticfield_choices = {{morpheme.semanticfield_choices|safe}};
    var derivationhistory_choices = {{morpheme.derivationhistory_choices|safe}};
    {% if SHOW_DATASET_INTERFACE_OPTIONS %}
    var dataset_choices = {{dataset_choices|safe}};
    {% else %}
    var dataset_choices = {};
    {% endif %}
    var gloss_dataset_id = {{ morpheme.lemma.dataset.id}};
    var gloss_default_language_code = '{{morpheme.lemma.dataset.default_language.language_code_2char}}';
    var mrptype_choices = {{morpheme.mrptype_choices|safe}};
    var wordclass_choices = {{morpheme.wordclass_choices|safe}};

    var morph_type = {{morph_type|safe}};
    var morph_type_colors = {{morph_type_colors|safe}};

    var choice_lists = [];
    var static_choice_lists = {{static_choice_lists|safe}};
    var static_choice_list_colors = {{static_choice_list_colors|safe}};

    var csrf_token = '{{csrf_token}}';

    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';

    {% include "dictionary/search_result_bar.html" %}

    function validateForm(formId,targetObjectId,thisGlossID,mustChooseAlert,mustBeDifferentAlert) {
        var target_object = document.forms[formId][targetObjectId].value;
        var this_gloss = document.forms[formId][thisGlossID].value;
        if (target_object == "") {
            alert(mustChooseAlert);
            return false;
        }
        if (target_object == this_gloss) {
            alert(mustBeDifferentAlert);
            return false;
        }
    }

    $('[data-toggle="tooltip"]').tooltip({
        placement : 'bottom'
    });

    //Fill choice_lists without frequencies now
    $.ajax("{{PREFIX_URL}}/dictionary/ajax/choice_lists/?dataset={{morpheme.lemma.dataset}}").done( function (data)
    {
        choice_lists = $.extend(data,{{other_media_field_choices | safe}});
    });

    //Fill choice_lists with frequencies later
    $(document).ready(function() {
        $.ajax("{{PREFIX_URL}}/dictionary/ajax/choice_lists/?include_frequencies=true&dataset={{morpheme.lemma.dataset}}").done( function (data)
        {
            choice_lists = $.extend(data,{{other_media_field_choices | safe}});

            // Reload the data in the lists
            $('.edit_list').unbind('click');
            configure_edit();
        });
    });
    </script>

<script type='text/javascript'>

//Keyboard shortcuts
document.onkeydown = checkKey;

function checkKey(e)
{
    // No shortcut if your typing
    if (document.activeElement.tagName == 'INPUT') {return;}

    e = e || window.event;

    switch(e.key)
    {
      case 'p':
        element_id = 'phonology';
        break;
      case 'm':
        element_id = 'morphology'
        break;
      case 's':
        element_id = 'semantics'
        break;
      default:
        element_id = null
    }

    if (element_id != null)
    {
        toggle_edit();
        $('#'+element_id).collapse('show');
        $('#'+element_id)[0].scrollIntoView();
    }

};

</script>

    <script type='text/javascript' src="{{ STATIC_URL }}js/morpheme_edit_color.js"></script>

    <script type='text/javascript'>
        $('#searchresults').css({'padding-top': 10});
        $('#definitionblock').css({'padding-top': Math.round($('#searchresults').height() + $('#signinfo').height() + 10)});
        $('#expand-panels').on('click', function() {
            $('#definition .collapse').collapse('show');
        });
        $('#collapse-panels').on('click', function() {
            $('#definition .collapse').collapse('hide');
        });
        $('#panel-expand-collapse-btn-group').affix({
            offset: {
                top: $('#panel-expand-collapse-btn-group').offset().top - $('#signbank-bar').height() - $('#signinfo').height()
                 + parseInt($('#signbank-bar').css('margin-bottom'))
                 + parseInt($('#panel-expand-collapse-btn-group').css('height')),
            }
        });
        $('#panel-expand-collapse-btn-group').on('affixed.bs.affix', function() {
            $('#panel-expand-collapse-btn-group').css({
                'margin-left': '-' + $('#panel-expand-collapse-btn-group').width() + 'px',
                'top': ($('#signbank-bar').height() - $('#navbar').height() + parseInt($('#definitionblock').css('padding-top')) + 3) + 'px',
            });
         });
        $('#panel-expand-collapse-btn-group').on('affixed-top.bs.affix', function() {
            $('#panel-expand-collapse-btn-group').css({
                'margin-left': '-' + $('#panel-expand-collapse-btn-group').width() + 'px',
                'top': '0px',
            });
         });
         $('#panel-expand-collapse-btn-toolbar').css({
            'height': $('#panel-expand-collapse-btn-group').css('height'),
         });
    </script>

{% endblock %}


{% block content %}

<div id="searchresults" class='navbar' style="overflow-y:hidden;background-color:white;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;background:white;">
    </div>
    {% endif %}
</div>

{% if request.GET.warning %}
<div class="alert alert-warning">{{ request.GET.warning }}</div>
{% endif %}


<div id="signinfo" class='navbar navbar-collapse' style="background-color:white;border:0;">

    <ul class='nav nav-tabs'>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/morpheme/{{morpheme.id}}.html">{% trans "Public View" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link active' href="{{PREFIX_URL}}/dictionary/morpheme/{{morpheme.id}}">{% trans "Details" %}</a>
        </li>
    </ul>

    {% get_obj_perms request.user for morpheme.lemma.dataset as "dataset_perms" %}
    {% if "change_dataset" in dataset_perms %}
    {% if perms.dictionary.change_morpheme %}
    <div class='pull-right' style="margin-right:15px;margin-top:10px;z-index:100;">

         <span id='edit_message' style="padding-right: 1.8em;"></span>
         <button id='enable_edit' class='btn btn-default navbar-btn'>{% trans "Edit" %}</button>
         
    </div>
    {% endif %}
    {% endif %}
</div>

<div id="definitionblock" style="z-index:0;">
    {% url 'dictionary:protected_media' '' as protected_media_url %}
    <div id="leftblock">
    <div id="videocontainer">
    {% if morpheme.get_video %}

     <!-- {{ gloss.get_video }} -->

        <div id="player">
          <video id='videoplayer' src="{{protected_media_url}}{{morpheme.get_video}}" controls type="video/mp4" autoplay muted></video>
        </div>
        <div id="replay"></div>

    {% else %}
    <div id='player'>
     <img id='novideo' src='{{ STATIC_URL }}images/no-video-ngt.png'>
     <!-- {{ morpheme.get_video }} -->
    </div>
    {% endif %}
    
    </div>

    <div style="overflow:hidden;">
        {% if morpheme.get_image_path %}
            <img id="imageframe" src="{{protected_media_url}}{{morpheme.get_image_path}}" style="height:259px;width:auto;">
        {% endif %}
    </div>

    {% if perms.dictionary.change_morpheme and perms.dictionary.update_video %}
    <div class='editform'>
        <fieldset>
            <legend>{% trans "Upload New Video" %}</legend>
            {% with morpheme.count_videos as morpheme_video_count %}
            <p>{% blocktrans %} We have {{morpheme_video_count}} videos for this morpheme. {% endblocktrans %}</p>
            {% endwith %}
            <form action="{{PREFIX_URL}}/video/upload/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type='hidden' name='redirect' value='{{request.path}}?edit'>
            <table id="staffops">
              <tr>
                  <td>{{videoform.videofile}}</td>
              </tr>
              <tr>
                  <td><input type='hidden' name='gloss_id' value='{{morpheme.pk}}'>
                      <input class='btn btn-primary' type='submit' value='Upload Video'/></td>
              </tr>
            </table>
            </form>
        </fieldset>
    
        {% if perms.dictionary.update_video and morpheme.count_videos > 0 %}
        <fieldset>
         <legend>{% trans "Delete/Revert Video" %}</legend>
            <table>
            <form action="{{PREFIX_URL}}/video/delete/{{morpheme.pk}}" method='post'>
            <tr><td><em>{% trans "This will delete the most recent upload and restore the most recent earlier version." %} </em></td></tr>
            <tr><td>{% csrf_token %}<input class='btn btn-danger' id='delete_video' type='submit' value='Delete/Revert this video'></td></tr>
            </form>
           </table>
        </fieldset>
        {% endif %}
    </div>
    {% endif %}

    {% if perms.dictionary.change_morpheme %}
    <div class='editform'>
        <fieldset>
            <legend>{% trans "Upload New Citation Form Image" %}</legend>
            <form action="{{PREFIX_URL}}/image/upload/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type='hidden' name='redirect' value='{{request.path}}?edit'>
            <table id="staffops">
              <tr>
                  <td>{{imageform.imagefile}}</td>
              </tr>
              <tr>
                  <td><input type='hidden' name='gloss_id' value='{{morpheme.pk}}'>
                      <input class='btn btn-primary' type='submit' value='Upload Citation Form Image'/></td>
              </tr>
            </table>
            </form>
        </fieldset>
    </div>
    {% endif %}

    {% if "change_dataset" in dataset_perms %}
    {% if perms.dictionary.change_morpheme %}
    <div class="editform">
        <fieldset>
         <legend>{% trans "Delete Morpheme" %}</legend>
         <button id='delete_morpheme_btn' class='btn btn-danger' data-toggle='modal' data-target='#delete_morpheme_modal'>{% trans "Delete Morpheme" %}</button>
        </fieldset>
    </div>
    {% endif %}
    {% endif %}

</div>

    <div class='panel-group' id="definition" style="z-index: 0;opacity:.99; position: relative; background-color: white;">

        {% include "dictionary/morphemetags.html" %}

        <table class='table table-condensed'>
            <tr><th>{% trans "Lemma ID Gloss" %}</th>
                <td style="width:600px;"><span id="lemma">{{ morpheme.lemma }}
                        {% if lemma_group %}
                            <a href='{{lemma_group_url}}' title='{% trans "Show Lemma Group" %}'><span class="glyphicon glyphicon-th-list"></span></a>
                        {% endif %}
                    </span>
                    <form name='set_lemma_form' id='set_lemma_form'
                     onsubmit='return validateForm("set_lemma_form","value","morpheme_lemma_id",
                                                    "Please choose a lemma.",
                                                    "Target lemma must be different from the current lemma of this morpheme.")'
                     method='post' action='{% url "dictionary:update_morpheme" morpheme.id %}'>
                        {% csrf_token %}
                        <!-- Input that holds the current lemma id; used by validateForm -->
                        <input type='hidden' name='morpheme_lemma_id' value='{{morpheme.lemma_id}}'>

                        <!-- Input of the type ahead -->
                        <input class='form-control lemmatypeahead' placeholder='{% trans "Lemma" %}' />

                        <!-- Input for morpheme_update (2) / Input that holds the lemma id the user chose from the type ahead -->
                        <input type='hidden' name='value' value='confirmed'>
                        <!-- Input for morpheme_update (1) -->
                        <input type='hidden' name='id' value='lemmaidgloss'>

                        <!-- Submit -->
                        <input class='btn btn-primary' value='{% trans "Set Lemma" %}' type='submit'>
                        <button type="button" class="btn btn-default lemma-form-dismiss">{% trans "Cancel" %}</button>
                        <a href="#" onclick="return showAddLemma()">{% trans "Create New" %}</a>
                    </form>
                    <form name="add_lemma_form" id="add_lemma_form" method="post" action="{% url 'dictionary:create_lemma_gloss' morpheme.id %}" >
                        {% csrf_token %}
                        <input type="hidden" name="dataset" value="{{ morpheme.lemma.dataset.id }}"/>
                        {% for dataset_lang in morpheme.lemma.dataset.translation_languages.all %}
                        {{ dataset_lang.name }}:
                        <input id="{{ lemma_create_field_prefix }}{{ dataset_lang.language_code_2char }}"
                               name="{{ lemma_create_field_prefix }}{{ dataset_lang.language_code_2char }}"
                               required="" maxlength="30" type="text"/>

                        {% endfor %}
                        <!-- Submit -->
                        <input class='btn btn-primary' value='{% trans "Add Lemma" %}' type='submit'>
                        <button type="button" class="btn btn-default lemma-form-dismiss">{% trans "Cancel" %}</button>
                    </form>
                </td><td style="width:200px;"></td>
            </tr>

            {% for lang, annotation_idgloss_translations in annotation_idgloss.items %}
            <tr>
                <th>
                    {% trans "Annotation ID Gloss" %} ({{ lang }})
                </th>
                <td class='edit edit_text' id='annotation_idgloss_{{ lang.language_code_2char }}'>{{ annotation_idgloss_translations.0.text|safe }}</td>

            </tr>
            {% endfor %}

            {% for lang, translations in translations_per_language.items %}
            <tr>
                <th>
                    {% trans "Abstract Meaning" %} ({{ lang }})
                </th>
                <td class='edit edit_text'
                    id='keyword_{{ lang.language_code_2char }}'>{% for trn in translations %}{{ trn.translation.text|safe }}
                                                                {% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            {% endfor %}

            <tr {%if morpheme_type == '-' %} class="empty_row"{% endif %}>
                <th>{% trans "Morpheme Type" %}</th>
                <td class='edit edit_mrptype' id='mrpType' value='{{morpheme_type}}'>{{morpheme_type}}</td>
            </tr>
            {% if SHOW_DATASET_INTERFACE_OPTIONS %}
            <tr {%if morpheme_dialects|length == 0 %} class="empty_row"{% endif %}>
                <th>{% trans "Dialect" %}</th>
                <td class='edit edit_dialect' id='dialect'>{% for dia in morpheme_dialects %}{{dia}}{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
            {% endif %}
        </table>

        {% if perms.dictionary.change_morpheme %}
         <div class="modal fade" id="delete_morpheme_modal" tabindex="-1" role="dialog" aria-labelledby="#modalTitleDel" aria-hidden="true">
             <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class='modal-header'>
                        <h2 id='modalTitleDel'>{% trans "Delete This Morpheme" %}</h2>
                    </div>
                    <div class='modal-body'>
                        <p>{% trans "This action will delete this morpheme and all associated records. It cannot be undone." %}</p>
                     </div>
                  <form action='{% url "dictionary:update_morpheme" morpheme.id %}' method='post'>
                      {% csrf_token %}
                      <input type='hidden' name='id' value='deletemorpheme'>
                      <input type='hidden' name='value' value='confirmed'>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                      </div>
                  </form>

                </div>
              </div>
        </div>
        {% endif %}

   {% if perms.dictionary.view_advanced_properties %}

    <!-- Expand and collapse all panels -->
    <div class="btn-toolbar" role="toolbar" id="panel-expand-collapse-btn-toolbar">
        <div class="pull-right">
            <div class="btn-group" id="panel-expand-collapse-btn-group">
                <button id="expand-panels" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button>
                <button id="collapse-panels" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

   <!-- Morphology -->
   <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' data-parent='#morphologydefinition' href='#morphology'>{% trans "Appears in" %}</a>
            </div>
        </div>
        <div id='morphology' class='collapse'>
            <!-- Show a read-only list of glosses in which this gloss occurs as compound part(ERK, issue #177) -->
            <table class='table table-condensed'>
            {% if appears_in %}
                <tr>
                    <th style='width:2em'></th>
                    <th style='width:12em'>{% trans "Word Class" %}</th>
                    <th style='width:12em'>{% trans "Gloss" %}</th>
                </tr>
                {% for morphgloss,wordclass in appears_in %}
                <tr>
                    <th style='width:2em'></th>
                    <td style='width:12em' id='morphology-definition-wordclass_{{morphgloss.id}}'>{{wordclass}}</td>
                    <td id='morphology-definition-morpheme_{{morphgloss.id}}'><a href='{% url "dictionary:admin_gloss_view" pk=morphgloss.pk %}'>{{morphgloss}}</a></td>
                </tr>
                {% endfor %}
           {% else %}
            <tr><td colspan="3">{% trans "This morpheme does not occur in any sign" %}</td></tr>
           {% endif %}
            </table>
        </div>
    </div>

    <!-- Phonology -->
	<div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title' id='phonology_heading'>
                <a data-toggle='collapse' data-parent='#definition' href='#phonology'>{% trans "Phonology" %}</a>
            </div>
        </div>
        <div id='phonology' class='panel-collapse collapse'>
            <table class='table table-condensed'>
		{% for value,name,label,kind in phonology_fields %}
                {% if value == '-' or value == ' ' or value == '' or value == None or value == False or value == '------' %}
                <tr class="empty_row">
                {% else %}
                <tr>
                {% endif %}
                    <th>{{label}}</th>
                    {% if kind == "check" %}
                    <td class="edit edit_check"
                        id='{{name}}' value='{{value}}' >{% if value %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                    {% else %}
                    <td class="edit edit_{{kind}}" data-value=""
                        id='{{name}}' value='{{value}}' >{% value value %}</td>
                    {% endif %}
                <td></td>
                </tr>

		{% endfor %}

            </table>
        </div>
    </div>

    <!-- Semantics -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' data-parent='#definition' href='#semantics'>{% trans "Semantics" %}</a>
            </div>
        </div>
        <div id='semantics' class='panel-collapse collapse'>
            <table class='table table-condensed'>
                <tr {%if not gloss_semanticfields %} class="empty_row"{% endif %}>
                    <th>{% trans "Semantic Field" %}</th>
                    <td class='edit edit_semanticfield'
                        id='semanticfield'>{% for sf in gloss_semanticfields %}{{sf}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <td/>
                </tr>
                {% if USE_DERIVATIONHISTORY %}
                <tr {%if not gloss_derivationhistory %} class="empty_row"{% endif %}>
                    <th>{% trans "Derivation History" %}</th>
                    <td class='edit edit_derivationhistory'
                        id='derivationhistory'>{% for sf in gloss_derivationhistory %}{{sf}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <td/>
                </tr>
                {% endif %}
		{% for value,name,label,kind in semantics_fields %}
		    <tr {%if value == '-' or value == ' ' or value == '' or value == None or value == False %} class="empty_row"{% endif %}>
                <th>{{label}}</th>
                <td class="edit edit_{{kind}}" id='{{name}}' value='{{value}}' >{% value value %}</td>
            </tr>
		{% endfor %}
            
            </table>
        </div>
    </div>

{% endif %}


    <!-- Publication status -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' data-parent='#definition' href='#pubStatus'>{% trans "Publication Status" %}</a>
            </div>
        </div>
        
            
        <div id="pubStatus" class="panel-collapse collapse">
        
            <table class='table table-condensed'>
                <tr><th>{% trans "Creation Date" %}</th><td>{{morpheme.creationDate}}</td></tr>
                <tr><th>{% trans "Creator" %}</th>
                    <td>
                        {% for creator in morpheme.creator.all %}
                            {% if forloop.last %}
                                {{creator.first_name}} {{creator.last_name}}
                            {% else %}
                                {{creator.first_name}} {{creator.last_name}},
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>

            {%if SHOW_DATASET_INTERFACE_OPTIONS %}
                <tr><th>{% trans "Dataset" %}</th><td id='dataset' colspan="2" >{{ morpheme.lemma.dataset }}</td></tr>
            {% endif %}

                <tr><th>{% trans "In Web Dictionary" %}</th>
                    <td {% if perms.dictionary.can_publish %}class='edit edit_check'{% endif %} id='inWeb'
                        value='{{morpheme.inWeb}}'>{% if morpheme.inWeb %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                </tr>
                <tr><th>{% trans "Proposed New Morpheme" %}</th>
                    <td class='edit edit_check' id='isNew'
                        value='{{morpheme.isNew}}'>{% if morpheme.isNew %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                </tr>
            </table>
        </div>
    </div>
    
   
    <!-- Notes -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' data-parent='#definition' href='#definitions'>{% trans "Notes" %}</a>
            </div>
        </div>
        <div id='definitions' class='collapse'>
            
            {% regroup morpheme.definition_set.all by role as roles %}

            <table class='table'>
              <tr>
                  <th style='width:1em'></th>
                  <th style='width:3em'>{% trans "Published" %}</th>
                  <th style='width:3em'>{% trans "Index" %}</th>
                  <th style='width:10em'>{% trans "Type" %}</th>
                  <th>{% trans "Text" %}</th>
              </tr>
              {% for role_id, note_list in notes_groupedby_role.items %}

              {% for def in note_list %}
              <tr>
                <td>

                    {% if perms.dictionary.change_morpheme %}
                    {% if not def.published and perms.dictionary.can_delete_unpublished or def.published and perms.dictionary.can_delete_published %}
                    <span class='glyphicon glyphicon-trash definition_delete' data-toggle='modal' data-target='#delete_definition_modal_{{def.id}}'></span>

                     <div class="modal fade" id="delete_definition_modal_{{def.id}}" role="dialog" aria-labelledby="#modalTitle" aria-hidden="true">
                         <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class='modal-header'>
                                    <h2 id='modalTitle'>{% trans "Delete This Note" %}</h2>
                                </div>
                                <div class='modal-body'>
                                    <p><strong>{{def.get_role_display}}</strong> {{def.text}}</p>
                                    <p>{% trans "This action will delete this note. It cannot be undone." %}</p>
                                 </div>
                              <form action='{% url "dictionary:update_morpheme" morpheme.id %}' method='post'>
                                  {% csrf_token %}
                                  <input type='hidden' name='id' value='definitiondelete_{{def.id}}'>
                                  <input type='hidden' name='value' value='confirmed'>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                    <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                                  </div>
                              </form>

                            </div>
                          </div>
                     </div>
                    {% endif %}
                    {% endif %}
                </td>
                <td {% if perms.dictionary.can_publish %}class='edit edit_check'{% endif %} id='definitionpub_{{def.id}}'
                    value='{{def.published}}'>{% if def.published %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                <td class='edit edit_int' id='definitioncount_{{def.id}}'>{{def.count}}</td>
                <td class='edit edit_role' id='definitionrole_{{def.id}}' value='{{def.role}}'>{{def.get_role_display}}</td>
                <td class='edit edit_area' id='definition_{{def.id}}'>{{def.text}}</td>
              </tr>
              {% endfor %}


            {% endfor %}
            </table>


            {% if perms.dictionary.change_morpheme %}
            <form id='add_definition' action='{% url "dictionary:add_definition" morpheme.id %}' method="POST">
                <fieldset>
                {% csrf_token %}
                 <table class='table'>
                    <tr>
                        <td style="width:2em"></td>
                        <td style="width:7em"><input class='checkbox' name='published' id='id_published' type='checkbox'></td>
                        <td style='width:5em'><input class='form-control' name='count' id='id_count' type='number'></td>
                        <td style='width:10em'>{{definitionform.note}}</td>
                        <td><input class='form-control' name='text' id='id_text' placeholder='{% trans "Enter New Note" %}'></td>
                    </tr>
                     <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class='btn' type='submit' value='{% trans "Save New Note" %}'></td>
                    </tr>
                 </table>
            </fieldset>

            </form>
            {% endif %}


        </div>
    
    </div>

     <!-- Other media -->
    <div class="panel panel-default">
        <div class='panel-heading'>
            <div class='panel-title'>
                <a data-toggle='collapse' data-parent='#othermedia' href='#othermedia'>{% trans "Other Media" %}</a>
            </div>
        </div>
        <div id='othermedia' class='collapse'>

           <table class='table table-condensed'>
              <tr>
                  <th style='width:2em'></th>
                  <th style='width:6em'>{% trans "Image/Video" %}</th>
                  <th style='width:6em'>{% trans "File Type" %}</th>
                  <th style='width:20em'>{% trans "Type" %}</th>
                  <th style='width:12em'>{% trans "Alternative Gloss" %}</th>
              </tr>

               {% for media_okay,pk,path,file_type,type,alternative_gloss,file_name in other_media %}
               <tr>
                   {% get_obj_perms request.user for morpheme.lemma.dataset as "dataset_perms" %}
                   {% if "change_dataset" in dataset_perms %}
                     <td>
                        <span class='glyphicon glyphicon-trash other-video-delete' data-toggle='modal' data-target='#delete_other_media_{{pk}}'></span>

                         <div class="modal fade" id="delete_other_media_{{pk}}" role="dialog" aria-labelledby="#modalTitleOth" aria-hidden="true">
                             <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class='modal-header'>
                                        <h2 id='modalTitleOth'>{% trans "Delete This Media" %}</h2>
                                    </div>
                                    <div class='modal-body'>

                                        <p>{% trans "Are you sure you want to delete this? This cannot be undone." %}</p>
                                     </div>
                                  <form action='{% url "dictionary:update_morpheme" morpheme.id %}' method='post'>
                                      {% csrf_token %}
                                      <input type='hidden' name='id' value='other-media-delete_{{pk}}'>
                                      <input type='hidden' name='value' value='confirmed'>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                        <input type="submit" class="btn btn-primary" value='{% trans "Confirm Delete" %}'>
                                      </div>
                                  </form>

                                </div>
                              </div>
                         </div>

                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td><a {% if not media_okay %}
				            disabled onclick="return false;" style="color:rgb(150,150,150);"
			                {% endif %}
				            download="{{ file_name }}" href="{{ PREFIX_URL }}{{ path }}">Download</a>
                    </td>
                    <td id='other-media-file-type_{{ pk }}'>{{ file_type }}</td>
                    <td class='edit edit_list' id='other-media-type_{{ pk }}' value='{{type}}' >{{ type }}</td>
                    <td class='edit edit_text' id='other-media-alternative-gloss_{{ pk }}'>{{ alternative_gloss }}</td>
                </tr>
               {% endfor %}

           </table>

            {% if perms.dictionary.change_morpheme %}
            <form id='add_other_media' action='{% url "dictionary:add_othermedia" %}' method="POST" enctype="multipart/form-data">

               <input type='hidden' name='gloss' value='{{morpheme.pk}}'>

                <fieldset>
                {% csrf_token %}
                 <table class='table'>
                    <tr>
                        <td>{{othermediaform.file}}</td>
                        <td>{{othermediaform.type}}</td>
                        <td><input class='form-control' placeholder='{% trans "Alternative Gloss" %}' name='alternative_gloss' type='text'></td>
                    </tr>
                     <tr>
                        <td></td>
                        <td></td>
                        <td><input class='btn' type='submit' value='{% trans "Save" %}'></td>
                    </tr>
                 </table>
            </fieldset>

            </form>
            {% endif %}

        </div>
    </div>

    </div>
</div>

<footer class="footer">
<div class="container">
    <div class='pull-right'>
        <div id="feedback">
            <ul>
                <li><a href="{{PREFIX_URL}}/feedback/morpheme/{{morpheme.id}}/">{% trans "Provide Feedback About This Morpheme" %}</a></li>
            </ul>
        </div>
    </div>
</div>
</footer>

{% endblock %}
