{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <table class="table table-condensed">
        <tr><th style="width:180px;">{% trans "Annotation ID Gloss (Dutch)" %}</th><th style="width:180px;">{% trans "Annotation ID Gloss (English)" %}</th><th style="width:180px;">{% trans "Creator" %}</th><th>{% trans "Creation date" %}</th></tr>

        {% for gloss in glosses %}
        <!-- <tr {% if gloss.has_video %}class="success"{% endif %}> -->
        <tr {% if not gloss.has_video %}class="danger"{% endif %}>
            <td><a href="{{ URL }}/dictionary/gloss/{{gloss.pk}}">{{gloss.annotation_idgloss}}</a></td>
            <td><a href="{{ URL }}/dictionary/gloss/{{gloss.pk}}">{{gloss.annotation_idgloss_en}}</a></td>
            <td>
                {% for creator in gloss.creator.all %}
                    {% if forloop.last %}
                        {{creator.first_name}} {{creator.last_name}}
                    {% else %}
                        {{creator.first_name}} {{creator.last_name}},
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ gloss.creationDate }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>

{% endblock %}