{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load tagging_tags %}
{% load wrong_sign %}

{% block content %}

    <table class="table table-condensed">
        <tr>
            {%if SHOW_DATASET_INTERFACE_OPTIONS %}<th>{% trans "Dataset" %}</th>{% endif %}
            <th style="width:300px;">{% trans "Lemma ID Gloss" %}</th>
            <th>{% trans "Annotation ID Gloss" %}</th>
            <th style="width:180px;">{% trans "Creator" %}</th>
            <th style="width:180px">{% trans "Creation date" %}</th></tr>

        {% for gloss in glosses %}
        <!-- Apply three-way coloring: (1) tag for wrong sign, (2) availability of video, and (3) gloss database value for 'isNew' -->
        {% tags_for_object gloss as tag_list %}
        {% if tag_list|wrong_sign %}
            <tr class="danger">
        {% elif not gloss.has_video %}
            <tr class="warning">
        {% elif gloss.isNew %}
            <tr class="info">
        {% else %}
            <tr>
        {% endif %}
        {%if SHOW_DATASET_INTERFACE_OPTIONS %}<td>{% value gloss.dataset %}</td>{% endif %}
         <td id='idgloss'>
             {% value gloss.idgloss %}
         </td>
            {% with gloss|get_annotation_idgloss_translation:1 as annotationidglosstranslation %}
          <td>
              {% ifnotequal annotationidglosstranslation "" %}
                {% if gloss.is_morpheme %}
                <div class="morpheme_gloss"><a href="{{PREFIX_URL}}/dictionary/morpheme/{{gloss.pk}}/">{{annotationidglosstranslation}}</a></div>
                {% else %}
                <div><a href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.pk}}/">{{annotationidglosstranslation}}</a></div>
                {% endif %}
              {% endifnotequal %}
          </td>
            {% endwith %}
            <td>
                {% for creator in gloss.creator.all %}
                    {% if forloop.last %}
                        {{creator.first_name}} {{creator.last_name}}
                    {% else %}
                        {{creator.first_name}} {{creator.last_name}},
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ gloss.creationDate }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}