{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}

{% load bootstrap3 %}

{% block bootstrap3_title %}
{% blocktrans %}Relations for {{ gloss }}{% endblocktrans %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
{% endblock %}

{% block extrajs %}

    <script type='text/javascript'>

    var url = '{{ PREFIX_URL }}';
    var this_gloss_id = {{gloss.id}};
	var search_type = '{{search_type}}';
    var model_view = 'gloss';
    var active_id = '{{active_id}}';
    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';

    {% include "dictionary/search_result_bar.html" %}	

    </script>

    <script type='text/javascript'>
        // This script gets minimal pairs data and displays it as table rows
        $(document).ready(function() {
            lookup = "#header_mp_rows";
			$.ajax({
				url : url + "/ajax/minimalpairs/" + this_gloss_id + "/",
				datatype: "json",
				async: true,
				data: { 'gloss_detail': true },
				success : function(result) {
					var elem = $(result);
					$(lookup).last().after(result);
				}
			});
        });
    </script>
{% endblock %}

{% block content %}
{% url 'dictionary:protected_media' '' as protected_media_url %}
{% load field_choice %}

<div id="searchresults" class='navbar navbar-light' style="overflow-y:hidden;border:0;box-sizing:content-box;z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;">
    </div>
    {% endif %}
</div>

<div id="signinfo" class='navbar navbar-collapse' style="background-color:inherit;border:0;">
    <div id="view_tabs" style="margin-right:15px;margin-top:10px;z-index:100;" class='view-tabs view-tabs-light'>
	<ul class='nav nav-tabs nav-tabs-light'>
		<li class="nav-item">
			<a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}.html">{% trans "Public View" %}</a>
		</li>
		<li class="nav-item">
			<a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}">{% trans "Details" %}</a>
		</li>
		<li class="nav-item">
			<a class='nav-link active' href="{{PREFIX_URL}}/dictionary/gloss_relations/{{gloss.id}}">{% trans "Relations" %}</a>
		</li>
		{% if gloss.has_frequency_data %}
		<li class="nav-item">
			<a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_frequency/{{gloss.id}}/">{% trans "Frequencies" %}</a>
		</li>
		{% endif %}
		<li class="nav-item">
			<a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Revision History" %}</a>
		</li>
		<li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossvideos">{% trans "Videos" %}</a>
        </li>
        <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossanimations">{% trans "Animations" %}</a>
        </li>
	</ul>
	</div>
</div>
<br><br>
<div id="definitionblock">

	<div >

	<table class='table table-condensed table-condensed-light'>
		<thead>
		  <tr>
			  <th style="width:9em; color:darkred">{% trans "Source Sign" %}</th>

			  {% for lang, annotation_idgloss_translation in annotation_idgloss.items %}
					<th style='width:12em'>
						{% trans "Annotation ID Gloss" %} ({{ lang }})
					</th>
			  {% endfor %}

			  {% for lang in dataset_languages %}
				   <th style='width:12em'>{% trans "Senses" %} ({{ lang }})</th>
			  {% endfor %}
			   <th style="width:8em">{% trans "Handedness" %}</th>
			   <th style="width:6em">{% trans "Strong Hand" %}</th>
			   <th style="width:6em">{% trans "Weak Hand" %}</th>
			   <th style="width:8em">{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			  <td>{%if gloss.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{gloss.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
				</td>

			  {% for lang, annotation_idgloss_translation in annotation_idgloss.items %}
					<td id='annotation_idgloss_{{ lang.language_code_2char }}'>
						<a href='{% url "dictionary:admin_gloss_view" pk=gloss.id %}'>{{ annotation_idgloss_translation }}</a></td>
			  {% endfor %}

			  {% for lang in dataset_languages %}
			  {% with sensetranslations_per_language_dict|get_item:lang as sensetranslations %}
			  <td class="src_keywords_{{lang.language_code_2char}}">
                <div>
				{% with sensetranslations|to_all_keys as sensetranslations %}
					{% for key, value in sensetranslations.items %}
						{% if value %}
							{{ key }}. {{ value|safe }}
						{% endif %}
						{% if not forloop.last %}<br> {% endif %}
					{% endfor %}
				{% endwith %}
                </div>
			  </td>
			  {% endwith %}
			  {% endfor %}

				<td id='src_handedness'>{{ gloss.display_handedness }}</td>
				<td id='src_domhndsh'>{{ gloss.display_domhndsh }}</td>
				<td id='src_subhndsh'>{{ gloss.display_subhndsh }}</td>
				<td id='src_locprim'>{{ gloss.display_locprim }}</td>

			  {% load underscore_to_space %}
			  <td>{% for tag in gloss.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		</tbody>

			{% if lemma_group %}
			<thead></thead>
			<tbody>
				<tr style="outline: thin solid; color: #ddd;"><th style="width:auto; color:darkred">{% trans "Lemma Group" %}</th>
					<td id='lemma_group'>
						{% if lemma_group %}
							<a href='{{ lemma_group_url }}'>{% value gloss.idgloss %}</a>
						{% else %}
							{% value gloss.idgloss %}
						{% endif %}
					</td>
				</tr>
				<tr style="outline: thin solid; color: #ddd;">
					<th style="width:auto; color:darkred">{% trans "Glosses" %}</th>
					<td id='lemma_group_glosses' style="color:black;" colspan="8">
						{% for gl, gl_display in glosses_in_lemma_group %}
						<a href='{% url "dictionary:admin_gloss_view" pk=gl.id %}'>{{ gl_display }}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
			</tbody>
			{% endif %}

			<tbody></tbody>
		   <thead>
		   {% if gloss.homonyms_count %}
		   <tr>
			   <th style="width:auto; color:darkred">{% trans "Homonyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Senses" %} ({{gloss.lemma.dataset.default_language.name}})</th>
			   <th style="width:8em">{% trans "Handedness" %}</th>
			   <th style="width:8em">{% trans "Strong Hand" %}</th>
			   <th style="width:8em">{% trans "Weak Hand" %}</th>
			   <th style="width:8em">{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		   </thead>
		<tbody>
		 {% for rel, sensetranslations_per_language, target_display in otherrelations %}
		 {% if rel.role == "homonym" %}
		  <tr>
				<td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
				</td>
			  <td id='homo_idgloss'><a
                       href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='homo_dataset'>{{rel.target.dataset}}</td>
			  {% with rel.target.dataset.default_language as target_default_language %}
			  {% with sensetranslations_per_language|get_senses_for_language:target_default_language as sensetranslations %}
			  <td id='homo_keywords'>
				  {% for sense in sensetranslations %}
				  {{ sense|safe }}
				  {% if not forloop.last %}<br>{% endif %}
				  {% endfor %}
			  </td>
			  {% endwith %}
			  {% endwith %}
					<td id='homo_handedness'>{{ rel.target.display_handedness }}</td>
					<td id='homo_domhndsh'>{{ rel.target.display_domhndsh }}</td>
					<td id='homo_subhndsh'>{{ rel.target.display_subhndsh }}</td>
					<td id='homo_locprim'>{{ rel.target.display_locprim }}</td>
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		 {% endif %}
		 {% endfor %}
		</tbody>

		   <thead>
		   {% if gloss.synonyms_count %}
		   <tr>
			   <th style="width:auto; color:darkred">{% trans "Synonyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Senses" %} ({{gloss.lemma.dataset.default_language.name}})</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong Hand" %}</th>
			   <th>{% trans "Weak Hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		 </thead>
		<tbody>
		 {% for rel, sensetranslations_per_language, target_display in otherrelations %}
		  {% if rel.role == "synonym" %}
		  <tr>
				 <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
				</td>
			  <td id='syno_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='syno_dataset'>{{rel.target.dataset}}</td>
			  {% with rel.target.dataset.default_language as target_default_language %}
			  {% with sensetranslations_per_language|get_senses_for_language:target_default_language as sensetranslations %}
			  <td id='syno_keywords'>
				  {% for sense in sensetranslations %}
				  {{ sense|safe }}
				  {% if not forloop.last %}<br>{% endif %}
				  {% endfor %}
			  </td>
			  {% endwith %}
			  {% endwith %}
					<td id='syno_handedness'>{{ rel.target.display_handedness }}</td>
					<td id='syno_domhndsh'>{{ rel.target.display_domhndsh }}</td>
					<td id='syno_subhndsh'>{{ rel.target.display_subhndsh }}</td>
					<td id='syno_locprim'>{{ rel.target.display_locprim }}</td>
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		<thead>
		   {% if gloss.antonyms_count %}
		   <tr>
			   <th style="width:auto; color:darkred">{% trans "Antonyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Senses" %}  ({{gloss.lemma.dataset.default_language.name}})</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong Hand" %}</th>
			   <th>{% trans "Weak Hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		</thead>
		<tbody>
		 {% for rel, sensetranslations_per_language, target_display in otherrelations %}
		  {% if rel.role == "antonym" %}
		  <tr>
			  <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='anto_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='anto_dataset'>{{rel.target.dataset}}</td>
			  {% with rel.target.dataset.default_language as target_default_language %}
			  {% with sensetranslations_per_language|get_senses_for_language:target_default_language as sensetranslations %}
			  <td id='anto_keywords'>
				  {% for sense in sensetranslations %}
				  {{ sense|safe }}
				  {% if not forloop.last %}<br>{% endif %}
				  {% endfor %}
			  </td>
			  {% endwith %}
			  {% endwith %}
					<td id='anto_handedness'>{{ rel.target.display_handedness }}</td>
					<td id='anto_domhndsh'>{{ rel.target.display_domhndsh }}</td>
					<td id='anto_subhndsh'>{{ rel.target.display_subhndsh }}</td>
					<td id='anto_locprim'>{{ rel.target.display_locprim }}</td>
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		<thead>
		   {% if gloss.hyponyms_count %}
			<tr>
				<th style="width:auto; color:darkred">{% trans "Hyponyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Senses" %}  ({{gloss.lemma.dataset.default_language.name}})</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong Hand" %}</th>
			   <th>{% trans "Weak Hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		</thead>
		<tbody>
		 {% for rel, sensetranslations_per_language, target_display in otherrelations %}
		  {% if rel.role == "hyponym" %}
		  <tr>
			  <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='hypo_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='hypo_dataset'>{{rel.target.dataset}}</td>
			  {% with rel.target.dataset.default_language as target_default_language %}
			  {% with sensetranslations_per_language|get_senses_for_language:target_default_language as sensetranslations %}
			  <td id='hypo_keywords'>
				  {% for sense in sensetranslations %}
				  {{ sense|safe }}
				  {% if not forloop.last %}<br>{% endif %}
				  {% endfor %}
			  </td>
			  {% endwith %}
			  {% endwith %}
					<td id='hypo_handedness'>{{ rel.target.display_handedness }}</td>
					<td id='hypo_domhndsh'>{{ rel.target.display_domhndsh }}</td>
					<td id='hypo_subhndsh'>{{ rel.target.display_subhndsh }}</td>
					<td id='hypo_locprim'>{{ rel.target.display_locprim }}</td>
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		<thead>
		   {% if gloss.hypernyms_count %}
			<tr>
			   <th style="width:auto; color:darkred">{% trans "Hypernyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Senses" %} ({{gloss.lemma.dataset.default_language.name}})</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong Hand" %}</th>
			   <th>{% trans "Weak Hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		</thead>
		<tbody>
		 {% for rel, sensetranslations_per_language, target_display in otherrelations %}
		  {% if rel.role == "hypernym" %}
		  <tr>
			  <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='hyper_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='hyper_dataset'>{{rel.target.dataset}}</td>
			  {% with rel.target.dataset.default_language as target_default_language %}
			  {% with sensetranslations_per_language|get_senses_for_language:target_default_language as sensetranslations %}
			  <td id='hyper_keywords'>
				  {% for sense in sensetranslations %}
				  {{ sense|safe }}
				  {% if not forloop.last %}<br>{% endif %}
				  {% endfor %}
			  </td>
			  {% endwith %}
			  {% endwith %}
					<td id='hyper_handedness'>{{ rel.target.display_handedness }}</td>
					<td id='hyper_domhndsh'>{{ rel.target.display_domhndsh }}</td>
					<td id='hyper_subhndsh'>{{ rel.target.display_subhndsh }}</td>
					<td id='hyper_locprim'>{{ rel.target.display_locprim }}</td>
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>


		<thead>
		   {% if gloss.paradigm_count %}
			<tr>
			   <th style="width:auto; color:darkred">{% trans "Handshape Paradigm" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Senses" %} ({{gloss.lemma.dataset.default_language.name}})</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong Hand" %}</th>
			   <th>{% trans "Weak Hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		</thead>
		<tbody>
		 {% for rel, sensetranslations_per_language, target_display in otherrelations %}
		  {% if rel.role == "paradigm" %}
		  <tr>
			  <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='paradigm_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='paradigm_dataset'>{{rel.target.dataset}}</td>
			  {% with rel.target.dataset.default_language as target_default_language %}
			  {% with sensetranslations_per_language|get_senses_for_language:target_default_language as sensetranslations %}
			  <td id='paradigm_keywords'>
				  {% for sense in sensetranslations %}
				  {{ sense|safe }}
				  {% if not forloop.last %}<br>{% endif %}
				  {% endfor %}
			  </td>
			  {% endwith %}
			  {% endwith %}
					<td id='paradigm_handedness'>{{ rel.target.display_handedness }}</td>
					<td id='paradigm_domhndsh'>{{ rel.target.display_domhndsh }}</td>
					<td id='paradigm_subhndsh'>{{ rel.target.display_subhndsh }}</td>
					<td id='paradigm_locprim'>{{ rel.target.display_locprim }}</td>
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>


		<thead>
		   {% if gloss.seealso_count %}
			<tr>
			   <th style="width:auto; color:darkred">{% trans "See Also" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Senses" %} ({{gloss.lemma.dataset.default_language.name}})</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong Hand" %}</th>
			   <th>{% trans "Weak Hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		</thead>
		<tbody>
		 {% for rel, sensetranslations_per_language, target_display in otherrelations %}
		  {% if rel.role == "seealso" %}
		  <tr>
			  <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='seealso_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='seealso_dataset'>{{rel.target.dataset}}</td>
			  {% with rel.target.dataset.default_language as target_default_language %}
			  {% with sensetranslations_per_language|get_senses_for_language:target_default_language as sensetranslations %}
			  <td id='seealso_keywords'>
				  {% for sense in sensetranslations %}
				  {{ sense|safe }}
				  {% if not forloop.last %}<br>{% endif %}
				  {% endfor %}
			  </td>
			  {% endwith %}
			  {% endwith %}
					<td id='seealso_handedness'>{{ rel.target.display_handedness }}</td>
					<td id='seealso_domhndsh'>{{ rel.target.display_domhndsh }}</td>
					<td id='seealso_subhndsh'>{{ rel.target.display_subhndsh }}</td>
					<td id='seealso_locprim'>{{ rel.target.display_locprim }}</td>
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		<thead>
		   {% if variants %}
		   <tr>
			   <th style="width:auto; color:darkred">{% trans "Variants" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Senses" %} ({{gloss.lemma.dataset.default_language.name}})</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong Hand" %}</th>
			   <th>{% trans "Weak Hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		   </thead>
		<tbody>
		 {% for gl, sensetranslations_per_language, gl_display in variants %}
		  <tr>
			  <td>{%if gl.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{gl.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{gl.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='var_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=gl.id %}'>{{gl_display}}</a></td>
			  <td id='var_dataset'>{{gl.dataset}}</td>
			  {% with gl.lemma.dataset.default_language as target_default_language %}
			  {% with sensetranslations_per_language|get_senses_for_language:target_default_language as sensetranslations %}
			  <td id='var_keywords'>
				  {% for sense in sensetranslations %}
				  {{ sense|safe }}
				  {% if not forloop.last %}<br>{% endif %}
				  {% endfor %}
			  </td>
			  {% endwith %}
			  {% endwith %}
					<td id='var_handedness'>{{ gl.display_handedness }}</td>
					<td id='var_domhndsh'>{{ gl.display_domhndsh }}</td>
					<td id='var_subhndsh'>{{ gl.display_subhndsh }}</td>
					<td id='var_locprim'>{{ gl.display_locprim }}</td>
			  {% load underscore_to_space %}
			  <td>{% for tag in gl.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endfor %}
		</tbody>


            {% if minimalpairs %}
               <tr>
				   <th style="width:auto; color:darkred" >{% trans "Minimal Pairs" %}</th>
				   <td style='width:12em' colspan="8">
					   <table id="header_mp_rows"></table>
				   </td>
			   </tr>
            {% endif %}

		{% if compounds %}
		<thead>
		   <tr>
			   <th style="width:auto; color:darkred">{% trans "Compounds" %}</th>

			   <th colspan="2" style="width:600px;;">{% trans "Sequential Morphology" %}</th>

		   </tr>
		</thead>
		<tbody>
		{% for c, component_list in compounds %}
		<tr>
			  <td>{%if c.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{c.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{c.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td>
			  {% for component_id, component_display in component_list %}
                <span class="relation_view_component"><a href='{% url "dictionary:admin_gloss_view" pk=component_id %}'>
                    {{component_display}}</a>{% if not forloop.last %} + {% endif %}
                </span>
              {% endfor %}
			  </td>
		</tr>
		{% endfor %}
		</tbody>
		{% endif %}

		{% if appearsin %}
		<thead>
		   <tr>
			   <th style="width:auto; color:darkred">{% trans "Appears in Compounds" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th colspan="2" style='width:12em'>{% trans "Sequential Morphology" %}</th>

		   </tr>
		</thead>
		<tbody>
		{% for c, c_display in appearsin %}
		<tr>
			  <td>{%if c.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{c.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{c.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='appearin_idgloss'>
				  <a href='{% url "dictionary:admin_gloss_view" pk=c.pk %}'>{{c|get_default_annotation_idgloss_translation}}</a></td>
			  <td colspan="2" id='appearsin_display'>{{c_display}}</td>
		</tr>
		{% endfor %}
		</tbody>
		{% endif %}

		{% if blends %}
		<thead>
		   <tr>
			   <th style="width:auto; color:darkred">{% trans "Blend" %}</th>

			   <th style='width:auto'>{% trans "Component Glosses" %}</th>
			   <th colspan="2" style='width:auto'>{% trans "Blend Morphology" %}</th>

		   </tr>
		</thead>
		<tbody>
		{% for c, c_display in blends %}
		<tr>
			  <td>{%if c.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{c.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{c.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='blend_idgloss'>
				  <a href='{% url "dictionary:admin_gloss_view" pk=c.pk %}'>{{c|get_default_annotation_idgloss_translation}}</a></td>
			  <td colspan="2" id='blend_display'>{{c_display}}</td>
		</tr>
		{% endfor %}

		</tbody>
		{% endif %}

		{% if appearsinblend %}
		<thead>
		   <tr>
			   <th style="width:auto; color:darkred">{% trans "Part of Blend" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th colspan="2" style='width:12em'>{% trans "Blend Morphology" %}</th>

		   </tr>
		</thead>
		<tbody>
		{% for c, c_display in appearsinblend %}
		<tr>
			  <td>{%if c.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{c.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{c.get_image_url}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='appearsinblend_idgloss'>
				  <a href='{% url "dictionary:admin_gloss_view" pk=c.pk %}'>{{c|get_default_annotation_idgloss_translation}}</a></td>
			  <td colspan="2" id='appearsinblend_display'>{{c_display}}</td>
		</tr>
		{% endfor %}

		</tbody>
		{% endif %}

		{% if simultaneous_morphology %}
		<thead>
		   <tr>
			   <th style="width:auto; color:darkred">{% trans "Simultaneous Morphology" %}</th>

			   <th style='width:auto'>{% trans "Morpheme Gloss" %}</th>
			   <th style='width:auto'>{% trans "Morpheme Type" %}</th>
			   <th colspan="2" style='width:auto'>{% trans "Meaning in This Sign" %}</th>

		   </tr>
		</thead>
		<tbody>
		{% for sim_morph, sim_morph_display in simultaneous_morphology %}
		{% with sim_morph.morpheme.get_mrpType_display as mrpType_display %}
		<tr>
			<td></td>
			<td><a href='{% url "dictionary:admin_morpheme_view" pk=sim_morph.morpheme.pk %}'>{{sim_morph_display}}</a></td>
			<td>{{mrpType_display}}</td>
			<td>{{sim_morph.role}}</td>
		</tr>
		{% endwith %}
		{% endfor %}
		</tbody>
		{% endif %}

		{% if gloss.relationtoforeignsign_set.all %}
		<thead>
		   <tr>
			   <th style="width:8em; color:darkred">{% trans "Relations to Foreign Signs" %}</th>
			   <th style="width:12em;">{% trans "Loan" %}</th>
			   <th style='width:12em'>{% trans "Related Language" %}</th>
			   <th style='width:12em'>{% trans "Gloss in Related Language" %}</th>
			   <th colspan="2" style='width:12em'>{% trans "Foreign Translation Equivalents" %}</th>
			   <th colspan="2" style="width:12em;">{% trans "Link" %}</th>
		   </tr>
		</thead>
		<tbody>
			{% for rel in gloss.relationtoforeignsign_set.all %}
			<tr id='foreign_{{rel.id}}'>
				<td></td>
				<td id='relationforeign-loan_{{rel.id}}'>{% if rel.loan %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
				<td id='relationforeign-other-lang_{{rel.id}}'>{{rel.other_lang}}</td>
				<td id='relationforeign-other-lang-gloss_{{rel.id}}'>{{rel.other_lang_gloss}}</td>
				<td></td>
				<td></td>
			</tr>
		   {% endfor %}
		</tbody>
		{% endif %}
	</table>

	</div>
</div>


{% endblock %}
