{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
{% blocktrans %}Relations for {{ gloss }}{% endblocktrans %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagmanager.css">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type='text/javascript'>

    var search_results_url = '{% url 'dictionary:ajax_search_results' %}';

    {% include "dictionary/search_result_bar.html" %}	

    var choice_lists = {{ choice_lists | safe }};
	
    </script>
{% endblock %}

{% block content %}
{% url 'dictionary:protected_media' '' as protected_media_url %}
{% load field_choice %}

<div id="searchresults" class='navbar' style="overflow-y:hidden;background-color:white;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;background-color:white;">
    </div>
    {% endif %}
</div>

<div id="signinfo" class='navbar navbar-collapse' style="background-color:white;border:0;">

    <div class='btn-group'>
        {% if SIGN_NAVIGATION %}

            {% if navigation.prev %}
            <a class='btn navbar-btn btn-default' href="{% url 'dictionary:admin_gloss_view' pk=navigation.prev.id %}">&laquo;{% trans "Previous Sign" %]
            </a>
            {% endif %}

            <button class='btn navbar-btn'>{% blocktrans %}"Sign {{glossposn}} of {{glosscount}} in the dictionary" {% endblocktrans %}</button>

            {% if navigation.next %}
            <a class="btn navbar-btn btn-default"
               href="{% url 'dictionary:admin_gloss_view' pk=navigation.next.id %}">{% trans "Next Sign &raquo;" %}</a>
            {% endif %}
         {% endif %}
    </div>

	<ul class='nav nav-tabs'>
		<li class="nav-item">
			<a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}.html">{% trans "Public View" %}</a>
		</li>
		<li class="nav-item">
			<a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}">{% trans "Detail View" %}</a>
		</li>
		<li class="nav-item">
			<a class='nav-link active' href="{{PREFIX_URL}}/dictionary/gloss_relations/{{gloss.id}}">{% trans "Relations View" %}</a>
		</li>
		{% if gloss.has_frequency_data %}
		<li class="nav-item">
			<a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/frequency">{% trans "Frequency View" %}</a>
		</li>
		{% endif %}
		<li class="nav-item">
			<a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Revision history" %}</a>
		</li>
	</ul>

</div>

<div id="definitionblock">

	{% if gloss.annotation_idgloss %}
	<a class='btn btn-default navbar-btn' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}.html">{% trans "Public View" %}</a>
	{% endif %}

	<div  class="panel panel-default">

	<table class='table table-condensed'>
		<thead>
		  <tr>
			  <th style="width:9em; color:darkred">{% trans "Source Sign" %}</th>

			  {% for lang, annotation_idgloss_translations in annotation_idgloss.items %}
					<th style='width:12em'>
						{% trans "Annotation ID Gloss" %} ({{ lang }})
					</th>
			  {% endfor %}

			   <th style='width:12em'>{% trans "Translation equivalents" %}</th>
			   <th style="width:8em">{% trans "Handedness" %}</th>
			   <th style="width:6em">{% trans "Strong hand" %}</th>
			   <th style="width:6em">{% trans "Weak hand" %}</th>
			   <th style="width:8em">{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			  <td>{%if gloss.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{gloss.get_image_path}}">
				  </a>
				  </div>
				  {% endif %}
				</td>

			  {% for lang, annotation_idgloss_translations in annotation_idgloss.items %}
					<td id='annotation_idgloss_{{ lang.language_code_2char }}'>
						<a href='{% url "dictionary:admin_gloss_view" pk=gloss.id %}'>{{ annotation_idgloss_translations.0.text|safe }}</a></td>
			  {% endfor %}

			  <td id='src_keywords'>{% for trn in gloss.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				{% if request.LANGUAGE_CODE == 'nl' %}
					<td id='src_handedness_nl'>{{ gloss.handedness|translate_to_dutch:"Handedness" }}</td>
					<td id='src_domhndsh_nl'>{{ gloss.domhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='src_subhndsh_nl'>{{ gloss.subhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='src_locprim_nl'>{{ gloss.locprim|translate_to_dutch:"Location" }}</td>
				{% elif request.LANGUAGE_CODE == 'zh-hans' %}
					<td id='src_handedness_cn'>{{ gloss.handedness|translate_to_chinese:"Handedness" }}</td>
					<td id='src_domhndsh_cn'>{{ gloss.domhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='src_subhndsh_cn'>{{ gloss.subhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='src_locprim_cn'>{{ gloss.locprim|translate_to_chinese:"Location" }}</td>
				{% else %}
					<td id='src_handedness'>{{ gloss.get_handedness_display }}</td>
					<td id='src_domhndsh'>{{ gloss.get_domhndsh_display }}</td>
					<td id='src_subhndsh'>{{ gloss.get_subhndsh_display }}</td>
					<td id='src_locprim'>{{ gloss.get_locprim_display }}</td>
				{% endif %}

			  {% load underscore_to_space %}
			  <td>{% for tag in gloss.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		</tbody>

			{% if lemma_group %}
			<thead></thead>
			<tbody>
				<tr style="outline: thin solid; color: #ddd;"><th style="width:8em; color:darkred">{% trans "Lemma Group" %}</th>
					<td id='lemma_group'>
						{% if lemma_group %}
							<a href='{{ lemma_group_url }}'>{% value gloss.idgloss %}</a>
						{% else %}
							{% value gloss.idgloss %}
						{% endif %}
					</td>
				</tr>
				<tr style="outline: thin solid; color: #ddd;">
					<th style="width:8em; color:darkred">{% trans "Glosses" %}</th>
					<td id='lemma_group_glosses' style="color:black;" colspan="8">
						{% for gl, gl_display in glosses_in_lemma_group %}
						<a href='{% url "dictionary:admin_gloss_view" pk=gl.id %}'>{{ gl_display }}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
			</tbody>
			{% endif %}

			<tbody></tbody>
		   <thead>
		   {% if gloss.homonyms_count %}
		   <tr>
			   <th style="width:8em; color:darkred">{% trans "Homonyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Translation equivalents" %}</th>
			   <th style="width:8em">{% trans "Handedness" %}</th>
			   <th style="width:8em">{% trans "Strong hand" %}</th>
			   <th style="width:8em">{% trans "Weak hand" %}</th>
			   <th style="width:8em">{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		   </thead>
		<tbody>
		 {% for rel, target_display in otherrelations %}
		  {% if rel.role == "homonym" %}
		  <tr>
				<td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_path}}">
				  </a>
				  </div>
				  {% endif %}
				</td>
			  <td id='homo_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='homo_dataset'>{{rel.target.dataset}}</td>
			  <td id='homo_keywords'>{% for trn in rel.target.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				{% if request.LANGUAGE_CODE == 'nl' %}
					<td id='homo_handedness_nl'>{{ rel.target.handedness|translate_to_dutch:"Handedness" }}</td>
					<td id='homo_domhndsh_nl'>{{ rel.target.domhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='homo_subhndsh_nl'>{{ rel.target.subhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='homo_locprim_nl'>{{ rel.target.locprim|translate_to_dutch:"Location" }}</td>
				{% elif request.LANGUAGE_CODE == 'zh-hans' %}
					<td id='homo_handedness_cn'>{{ rel.target.handedness|translate_to_chinese:"Handedness" }}</td>
					<td id='homo_domhndsh_cn'>{{ rel.target.domhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='homo_subhndsh_cn'>{{ rel.target.subhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='homo_locprim_cn'>{{ rel.target.locprim|translate_to_chinese:"Location" }}</td>
				{% else %}
					<td id='homo_handedness'>{{ rel.target.get_handedness_display }}</td>
					<td id='homo_domhndsh'>{{ rel.target.get_domhndsh_display }}</td>
					<td id='homo_subhndsh'>{{ rel.target.get_subhndsh_display }}</td>
					<td id='homo_locprim'>{{ rel.target.get_locprim_display }}</td>
				{% endif %}
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		   <thead>
		   {% if gloss.synonyms_count %}
		   <tr>
			   <th style="width:8em; color:darkred">{% trans "Synonyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Translation equivalents" %}</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong hand" %}</th>
			   <th>{% trans "Weak hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		 </thead>
		<tbody>
		 {% for rel, target_display in otherrelations %}
		  {% if rel.role == "synonym" %}
		  <tr>
				 <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_path}}">
				  </a>
				  </div>
				  {% endif %}
				</td>
			  <td id='syno_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='syno_dataset'>{{rel.target.dataset}}</td>
			  <td id='syno_keywords'>{% for trn in rel.target.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				{% if request.LANGUAGE_CODE == 'nl' %}
					<td id='syno_handedness_nl'>{{ rel.target.handedness|translate_to_dutch:"Handedness" }}</td>
					<td id='syno_domhndsh_nl'>{{ rel.target.domhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='syno_subhndsh_nl'>{{ rel.target.subhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='syno_locprim_nl'>{{ rel.target.locprim|translate_to_dutch:"Location" }}</td>
				{% elif request.LANGUAGE_CODE == 'zh-hans' %}
					<td id='syno_handedness_cn'>{{ rel.target.handedness|translate_to_chinese:"Handedness" }}</td>
					<td id='syno_domhndsh_cn'>{{ rel.target.domhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='syno_subhndsh_cn'>{{ rel.target.subhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='syno_locprim_cn'>{{ rel.target.locprim|translate_to_chinese:"Location" }}</td>
				{% else %}
					<td id='syno_handedness'>{{ rel.target.get_handedness_display }}</td>
					<td id='syno_domhndsh'>{{ rel.target.get_domhndsh_display }}</td>
					<td id='syno_subhndsh'>{{ rel.target.get_subhndsh_display }}</td>
					<td id='syno_locprim'>{{ rel.target.get_locprim_display }}</td>
				{% endif %}
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		<thead>
		   {% if gloss.antonyms_count %}
		   <tr>
			   <th style="width:8em; color:darkred">{% trans "Antonyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Translation equivalents" %}</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong hand" %}</th>
			   <th>{% trans "Weak hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		</thead>
		<tbody>
		 {% for rel, target_display in otherrelations %}
		  {% if rel.role == "antonym" %}
		  <tr>
			  <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_path}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='anto_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='anto_dataset'>{{rel.target.dataset}}</td>
			  <td id='anto_keywords'>{% for trn in rel.target.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				{% if request.LANGUAGE_CODE == 'nl' %}
					<td id='anto_handedness_nl'>{{ rel.target.handedness|translate_to_dutch:"Handedness" }}</td>
					<td id='anto_domhndsh_nl'>{{ rel.target.domhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='anto_subhndsh_nl'>{{ rel.target.subhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='anto_locprim_nl'>{{ rel.target.locprim|translate_to_dutch:"Location" }}</td>
				{% elif request.LANGUAGE_CODE == 'zh-hans' %}
					<td id='anto_handedness_cn'>{{ rel.target.handedness|translate_to_chinese:"Handedness" }}</td>
					<td id='anto_domhndsh_cn'>{{ rel.target.domhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='anto_subhndsh_cn'>{{ rel.target.subhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='anto_locprim_cn'>{{ rel.target.locprim|translate_to_chinese:"Location" }}</td>
				{% else %}
					<td id='anto_handedness'>{{ rel.target.get_handedness_display }}</td>
					<td id='anto_domhndsh'>{{ rel.target.get_domhndsh_display }}</td>
					<td id='anto_subhndsh'>{{ rel.target.get_subhndsh_display }}</td>
					<td id='anto_locprim'>{{ rel.target.get_locprim_display }}</td>
				{% endif %}
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		<thead>
		   {% if gloss.hyponyms_count %}
			<tr>
				<th style="width:8em; color:darkred">{% trans "Hyponyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Translation equivalents" %}</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong hand" %}</th>
			   <th>{% trans "Weak hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		</thead>
		<tbody>
		 {% for rel, target_display in otherrelations %}
		  {% if rel.role == "hyponym" %}
		  <tr>
			  <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_path}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='hypo_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='hypo_dataset'>{{rel.target.dataset}}</td>
			  <td id='hypo_keywords'>{% for trn in rel.target.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				{% if request.LANGUAGE_CODE == 'nl' %}
					<td id='hypo_handedness_nl'>{{ rel.target.handedness|translate_to_dutch:"Handedness" }}</td>
					<td id='hypo_domhndsh_nl'>{{ rel.target.domhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='hypo_subhndsh_nl'>{{ rel.target.subhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='hypo_locprim_nl'>{{ rel.target.locprim|translate_to_dutch:"Location" }}</td>
				{% elif request.LANGUAGE_CODE == 'zh-hans' %}
					<td id='hypo_handedness_cn'>{{ rel.target.handedness|translate_to_chinese:"Handedness" }}</td>
					<td id='hypo_domhndsh_cn'>{{ rel.target.domhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='hypo_subhndsh_cn'>{{ rel.target.subhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='hypo_locprim_cn'>{{ rel.target.locprim|translate_to_chinese:"Location" }}</td>
				{% else %}
					<td id='hypo_handedness'>{{ rel.target.get_handedness_display }}</td>
					<td id='hypo_domhndsh'>{{ rel.target.get_domhndsh_display }}</td>
					<td id='hypo_subhndsh'>{{ rel.target.get_subhndsh_display }}</td>
					<td id='hypo_locprim'>{{ rel.target.get_locprim_display }}</td>
				{% endif %}
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		<thead>
		   {% if gloss.hypernyms_count %}
			<tr>
			   <th style="width:8em; color:darkred">{% trans "Hypernyms" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Translation equivalents" %}</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong hand" %}</th>
			   <th>{% trans "Weak hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		</thead>
		<tbody>
		 {% for rel, target_display in otherrelations %}
		  {% if rel.role == "hypernym" %}
		  <tr>
			  <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_path}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='hyper_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='hyper_dataset'>{{rel.target.dataset}}</td>
			  <td id='hyper_keywords'>{% for trn in rel.target.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				{% if request.LANGUAGE_CODE == 'nl' %}
					<td id='hyper_handedness_nl'>{{ rel.target.handedness|translate_to_dutch:"Handedness" }}</td>
					<td id='hyper_domhndsh_nl'>{{ rel.target.domhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='hyper_subhndsh_nl'>{{ rel.target.subhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='hyper_locprim_nl'>{{ rel.target.locprim|translate_to_dutch:"Location" }}</td>
				{% elif request.LANGUAGE_CODE == 'zh-hans' %}
					<td id='hyper_handedness_cn'>{{ rel.target.handedness|translate_to_chinese:"Handedness" }}</td>
					<td id='hyper_domhndsh_cn'>{{ rel.target.domhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='hyper_subhndsh_cn'>{{ rel.target.subhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='hyper_locprim_cn'>{{ rel.target.locprim|translate_to_chinese:"Location" }}</td>
				{% else %}
					<td id='hyper_handedness'>{{ rel.target.get_handedness_display }}</td>
					<td id='hyper_domhndsh'>{{ rel.target.get_domhndsh_display }}</td>
					<td id='hyper_subhndsh'>{{ rel.target.get_subhndsh_display }}</td>
					<td id='hyper_locprim'>{{ rel.target.get_locprim_display }}</td>
				{% endif %}
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		<thead>
		   {% if gloss.seealso_count %}
			<tr>
			   <th style="width:8em; color:darkred">{% trans "See Also" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Translation equivalents" %}</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong hand" %}</th>
			   <th>{% trans "Weak hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		</thead>
		<tbody>
		 {% for rel, target_display in otherrelations %}
		  {% if rel.role == "seealso" %}
		  <tr>
			  <td>{%if rel.target.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{rel.target.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{rel.target.get_image_path}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='seealso_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=rel.target.pk %}'>{{target_display}}</a></td>
			  <td id='seealso_dataset'>{{rel.target.dataset}}</td>
			  <td id='seealso_keywords'>{% for trn in rel.target.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				{% if request.LANGUAGE_CODE == 'nl' %}
					<td id='seealso_handedness_nl'>{{ rel.target.handedness|translate_to_dutch:"Handedness" }}</td>
					<td id='seealso_domhndsh_nl'>{{ rel.target.domhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='seealso_subhndsh_nl'>{{ rel.target.subhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='seealso_locprim_nl'>{{ rel.target.locprim|translate_to_dutch:"Location" }}</td>
				{% elif request.LANGUAGE_CODE == 'zh-hans' %}
					<td id='seealso_handedness_cn'>{{ rel.target.handedness|translate_to_chinese:"Handedness" }}</td>
					<td id='seealso_domhndsh_cn'>{{ rel.target.domhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='seealso_subhndsh_cn'>{{ rel.target.subhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='seealso_locprim_cn'>{{ rel.target.locprim|translate_to_chinese:"Location" }}</td>
				{% else %}
					<td id='seealso_handedness'>{{ rel.target.get_handedness_display }}</td>
					<td id='seealso_domhndsh'>{{ rel.target.get_domhndsh_display }}</td>
					<td id='seealso_subhndsh'>{{ rel.target.get_subhndsh_display }}</td>
					<td id='seealso_locprim'>{{ rel.target.get_locprim_display }}</td>
				{% endif %}
			  {% load underscore_to_space %}
			  <td>{% for tag in rel.target.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		</tbody>

		<thead>
		   {% if gloss.variant_count %}
		   <tr>
			   <th style="width:8em; color:darkred">{% trans "Variants" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style='width:12em'>{% trans "Translation equivalents" %}</th>
			   <th>{% trans "Handedness" %}</th>
			   <th>{% trans "Strong hand" %}</th>
			   <th>{% trans "Weak hand" %}</th>
			   <th>{% trans "Location" %}</th>
			   <th style='width:12em'>{% trans "Tags" %}</th>
		  </tr>
		 {% endif %}
		   </thead>
		<tbody>
		 {% for gl, gl_display in variants %}
		  <tr>
			  <td>{%if gl.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{gl.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{gl.get_image_path}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='var_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=gl.id %}'>{{gl_display}}</a></td>
			  <td id='var_dataset'>{{gl.dataset}}</td>
			  <td id='var_keywords'>{% for trn in gl.translation_set.all %}{{ trn.translation.text|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				{% if request.LANGUAGE_CODE == 'nl' %}
					<td id='var_handedness_nl'>{{ gl.handedness|translate_to_dutch:"Handedness" }}</td>
					<td id='var_domhndsh_nl'>{{ gl.domhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='var_subhndsh_nl'>{{ gl.subhndsh|translate_to_dutch:"Handshape" }}</td>
					<td id='var_locprim_nl'>{{ gl.locprim|translate_to_dutch:"Location" }}</td>
				{% elif request.LANGUAGE_CODE == 'zh-hans' %}
					<td id='var_handedness_cn'>{{ gl.handedness|translate_to_chinese:"Handedness" }}</td>
					<td id='var_domhndsh_cn'>{{ gl.domhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='var_subhndsh_cn'>{{ gl.subhndsh|translate_to_chinese:"Handshape" }}</td>
					<td id='var_locprim_cn'>{{ gl.locprim|translate_to_chinese:"Location" }}</td>
				{% else %}
					<td id='var_handedness'>{{ gl.get_handedness_display }}</td>
					<td id='var_domhndsh'>{{ gl.get_domhndsh_display }}</td>
					<td id='var_subhndsh'>{{ gl.get_subhndsh_display }}</td>
					<td id='var_locprim'>{{ gl.get_locprim_display }}</td>
				{% endif %}
			  {% load underscore_to_space %}
			  <td>{% for tag in gl.tags %}<span class='tag'>{{tag.name|underscore_to_space}}</span> {% endfor %}</td>
		  </tr>
		  {% endfor %}
		</tbody>
		{% if minimalpairs %}
		<thead>
		   <tr>
			   <th style="width:8em; color:darkred">{% trans "Minimal Pairs" %}</th>

			   <th style='width:12em'>{% trans "Annotation ID Gloss" %}</th>
			   <th style='width:12em'>{% trans "Dataset" %}</th>

			   <th style="width:20em" colspan="2">{% trans "Field name" %}</th>
			   <th style="width:20em" colspan="2">{% trans "Source Sign Value" %}</th>
			   <th style="width:20em" colspan="2">{% trans "Contrasting Sign Value" %}</th>

		   </tr>
		</thead>
		<tbody>
		 {% load field_choice %}
		 {% for gl, dict, minpar_display in minimalpairs %}
			<tr>
			  <td>{%if gl.get_image_path %}
				  <div class="thumbnail_container">
				  <a href="{{PREFIX_URL}}/dictionary/gloss/{{gl.pk}}/">
					  <img class="thumbnail" src="{{protected_media_url}}{{gl.get_image_path}}">
				  </a>
				  </div>
				  {% endif %}
			  </td>
			  <td id='mp_idgloss'><a href='{% url "dictionary:admin_gloss_view" pk=gl.id %}'>{{minpar_display}}</a></td>
			  <td id='mp_dataset'>{{gl.dataset}}</td>

				{% for k,d in dict.items %}
					{% with d.0 as field_name %}
					{% with d.1|add:" " as field_category %}
					{% with d.2|stringformat:"s" as field_value %}
					{% with d.3|stringformat:"s" as other_field_value %}
					{% with request.LANGUAGE_CODE as language %}
					{% with field_category|add:language as args %}
					<td colspan="2">{% trans d.0 %}</td>
					<td colspan="2">{% if d.4 == "check" and d.2 %}{% trans "Yes" %}{% elif d.4 == "check" %}{% trans "No" %}
							{% else %}{{ field_value|machine_field_translate:args }}{% endif %}</td>
					<td colspan="2">{% if d.4 == "check" and d.3 %}{% trans "Yes" %}{% elif d.4 == "check" %}{% trans "No" %}
							{% else %}{{ other_field_value|machine_field_translate:args }}{% endif %}</td>
					{% endwith %}
					{% endwith %}
					{% endwith %}
					{% endwith %}
					{% endwith %}
					{% endwith %}
				{% endfor %}
			</tr>
		 {% endfor %}
		</tbody>

		 {% endif %}
		 
	</table>

	</div>
</div>


{% endblock %}
