{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}

{% load bootstrap3 %}
{% load tagging_tags %}

<tr id = "glossrow_{{focus_sense.id}}" class="gloss_row">

    {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets|length > 1 %}
        <td class="field_dataset" style="width:12em;">{{focus_gloss.lemma.dataset.acronym}}</td>
    {% endif %}

      {% if SHOW_DATASET_INTERFACE_OPTIONS and dataset_languages|length > 1 %}
      {% for dataset_lang in dataset_languages %}
      {% with focus_gloss|get_annotation_idgloss_translation_no_default:dataset_lang as annotationidglosstranslation %}
      <td class="annotation_{{dataset_lang.language_code_2char}}">
        {% if annotationidglosstranslation %}
          <div><a href="{{PREFIX_URL}}/dictionary/gloss/{{focus_gloss.pk}}">{{annotationidglosstranslation}}</a></div>
        {% endif %}
      </td>
      {% endwith %}
      {% endfor %}
      {% endif %}

    <td class="senseorder_{{focus_gloss.id}}_{{focus_sense.id}}">{{sense_order}}.</td>

    {% for lang in dataset_languages %}
    <td class="translation_{{lang.language_code_2char}}" style="width:160px;">
    {% if lang in sensetranslations_per_language.keys %}
    {% with sensetranslations_per_language|get_item:lang as sensetranslations %}
        {% for key, value in sensetranslations.items %}
            {{value|safe}}
        {% endfor %}
    {% endwith %}
    {% endif %}
    </td>
    {% endfor %}

    <td colspan="{{width_sentences_columns}}">
        <table class='table table-condensed' id="sentences_rows_{{focus_gloss.id}}_{{focus_sense.id}}"
               style="table-layout:fixed;">
        {% for sentence in sentences_per_language %}
        <tr>
            {% with sentence|get_item:'order' as sentence_order %}
            {% with sentence|get_item:'sentencetype' as sentencetype %}
            {% with sentence|get_item:'negative' as negative %}
            {% with sentence|get_item:'translations' as translations_per_language %}
            <td class="sentenceType_{{focus_gloss.id}}_{{focus_sense.id}}">
            {% if sentencetype %}{{sentencetype.name}}{% endif %}
            </td>
            <td class="sentenceNegative_{{focus_gloss.id}}_{{focus_sense.id}}">
            {{negative}}
            </td>

            {% for lang in dataset_languages %}
            <td class="sentence_{{lang.language_code_2char}}">
                {% if lang in translations_per_language.keys %}
                {% with translations_per_language|get_item:lang as sentencetranslation %}
                <span>
                {% for sentence in sentencetranslation %}
                    {{sense_order}}.{{sentence_order}}. {{sentence|safe}}
                    {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
                </span>
                {% endwith %}
                {% endif %}
            </td>
            {% endfor %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </tr>
        {% endfor %}
        </table>
    </td>
</tr>
