{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}

{% load bootstrap3 %}
{% load tagging_tags %}

<tr id = "glossrow_{{focus_sense.id}}" class="gloss_row">

    {% if SHOW_DATASET_INTERFACE_OPTIONS and selected_datasets|length > 1 %}
        <td class="field_dataset" style="width:12em;">{{focus_gloss.lemma.dataset.acronym}}</td>
    {% endif %}

    {% for dataset_lang in dataset_languages %}
    {% with focus_gloss|get_annotation_idgloss_translation_no_default:dataset_lang as annotationidglosstranslation %}
    <td class="annotation_{{dataset_lang.language_code_2char}}">
      {% if annotationidglosstranslation %}
        <div><a href="{{PREFIX_URL}}/dictionary/gloss/{{focus_gloss.pk}}">{{annotationidglosstranslation}}</a></div>
      {% endif %}
    </td>
    {% endwith %}
    {% endfor %}



    <td class="senseorder_{{focus_gloss.id}}_{{focus_sense.id}}">{{sense_order}}.</td>

    {% for lang, sensetranslations in sensetranslations_per_language %}
    <td class="translation_{{lang.language_code_2char}}" style="width:360px;wrap;">
        {% for key, value in sensetranslations.items %}
            {{value|safe}}
        {% endfor %}
    </td>
    {% endfor %}

    {% for lang, sentencetranslation in sentences_per_language %}
    <td class="sentence_{{lang.language_code_2char}}">
        <div>
        {% for key, values in sentencetranslation.items %}
            {% for value in values %}
            {{forloop.counter}}. {{value|safe}}{% if not forloop.last %}<br> {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </td>
    {% endfor %}


</tr>
