<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src='/static/js/jquery-1.11.0.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/main.css">

    <style>
    .hover-shows-video
    {
        width: 115px;
    }

    .thumbnail-video
    {
        object-fit: cover;
        max-width: 115px;
        height: 115px;
    }
    </style>
</head>

<body>

    <script>
        $(document).ready(function()
        {
            $('.hover-shows-video').find('video').hide();

            $('.hover-shows-video').mouseenter(function ()
            {
                $(this).find('img').hide();
                $(this).find('video').show();
                $(this).find('video').get(0).play();
            });

            $('.hover-shows-video').mouseleave(function ()
            {
                $(this).find('img').show();
                $(this).find('video').hide();

                $(this).find('video').get(0).pause();
                $(this).find('video').get(0).currentTime = 0;
            });
        });

    </script>
    <div class="hover-shows-video">
        <img class="thumbnail" src="/dictionary/protected_media/glossimage/WE/WESP-680.png">
        <video id="videoplayer" class="thumbnail-video" src="/dictionary/protected_media/glossvideo/WE/WESP-680.mp4"  type="video/mp4" muted="muted"></video>
    </div>
</body>
</html>