{% extends "baselayout.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block bootstrap3_title %}
{% blocktrans %}Signbank: Unassigned Glosses{% endblocktrans %}
{% endblock %}


{% block content %}
<div style="backgroun-color:var(--ultron);color:var(--beam);"></div>
{% if signlanguages %}
<form name="assignglosses" id="assignglosses" method="post" action="{{PREFIX_URL}}/datasets/unassigned_glosses">
{% csrf_token %}
<table class='table table-condensed table-condensed-light'>
    <thead>
        <tr>
            <th>
                {% trans "Sign Language" %}
            </th>
            <th>
                {% trans "Number of Unassigned Glosses" %}
            </th>
            <th>
                {% trans "Possible Datasets" %}
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <i>{% trans "No sign language" %}</i>
            </td>
            <td>
                {{ number_of_unassigned_glosses_without_signlanguage }}
            </td>
            <td class="td td-light">
                {% if all_datasets and number_of_unassigned_glosses_without_signlanguage %}
                <select class="form-control form-control-light" name="sign-language__">
                <option value="">-</option>
                {% for dataset in all_datasets %}
                <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                {% endfor %}
                </select>
                {% else %}
                {% trans "No datasets for this sign language" %}
                {% endif %}
            </td>
            <td>

            </td>
        </tr>
    {% for signlanguage in signlanguages %}
        <tr>
            <td>
                {{ signlanguage.name }} - {{ signlanguage.description }}
            </td>
            <td>
                {% if signlanguage.num_unassigned_glosses %}
                    {{ signlanguage.num_unassigned_glosses }}
                {% else %}
                    0
                {% endif %}
            </td>
            <td class="td td-light">
                {% if signlanguage.datasets and signlanguage.num_unassigned_glosses %}
                <select class="form-control form-control-light" name="sign-language__{{ signlanguage.id }}">
                <option value="">-</option>
                {% for dataset in signlanguage.datasets %}
                <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                {% endfor %}
                </select>
                {% else %}
                {% trans "No datasets for this sign language" %}
                {% endif %}
            </td>
            <td>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <button class="btn btn-default btn-default-light pull-right" type="submit">{% trans 'Assign glosses' %}</button>
</form>

{% else %}
{% trans "No unassigned glosses found." %}
{% endif %}
</div>
{% endblock content %}