{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}

   {% if perms.dictionary.change_lemmaidgloss %}
   <p>{% trans "Update lemma" %}</p>

     <form action='{% url "dictionary:change_lemma" object.pk %}' method='post'>
         {% csrf_token %}
         <table class='table' style='width: 400px;'>
         {{ change_lemma_form.as_table }}
         </table>

     <input class='btn btn-primary' type='submit' value='{% trans "Update" %}'>
     </form>
    {% else %}
        <p>(% trans "You are not allowed to update lemma's. %}</p>
    {% endif %}

{% endblock %}