{% extends 'baselayout.html' %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load i18n %}
{% load guardian_tags %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Update Lemma{% endblocktrans %}
{% endblock %}

{% load annotation_idgloss_translation %}

{% block extrajs %}
    <script type='text/javascript'>

    var csrf_token = '{{csrf_token}}';

    var url = '{{ PREFIX_URL }}';

    var url = '{{PREFIX_URL}}';
    var language_2chars = {{language_2chars|safe}};

    function toggle_restore(data) {
        if ($.isEmptyObject(data)) {
            return;
        };
        var glossid = data.glossid;
        var signbankCell = $("#signbank_id_"+glossid);
        $(signbankCell).html(glossid);

        for (var i=0; i < language_2chars.length; i++) {
            var lang2char = language_2chars[i];
            var cellID = '#gloss_annotation_' + glossid + '_' + lang2char;
            var annotationElt = $(cellID);
            var annotation_text = annotationElt.html();
            var annotationCell = '<a href="'+url+'/dictionary/gloss/'+glossid+'/">'+annotation_text+'</a>';
            annotationElt.html(annotationCell);
        }

        var button_lookup = '#restore_gloss_' + glossid;
        var buttonCell = $(button_lookup);
        buttonCell.empty();
    }

    $(document).ready(function() {
        // setup required for Ajax POST
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

         $('.quick_restore').click(function(e)
         {
             e.preventDefault();
             var glossid = $(this).attr('value');
             $.ajax({
                url : url + "/dictionary/restore_gloss/" + glossid + "/",
                type: 'POST',
                data: { 'csrfmiddlewaretoken': csrf_token },
                datatype: "json",
                success : toggle_restore
             });
         });
    });

    var search_results_url = '{% url 'dictionary:lemma_ajax_search_results' %}';

    {% include "dictionary/search_result_bar.html" %}

    </script>
{% endblock %}


{% block content %}

<div id="searchresults" class='navbar' style="overflow-y:hidden;background-color:white;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}{# See if search_results in sessions is empty #}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results" style="white-space:nowrap;background-color:white;">
    </div>
    {% endif %}
</div>

    <br><br>
   {% if perms.dictionary.change_lemmaidgloss %}

   <h3>{% trans "Update Lemma" %}</h3>

    {% if caller == 'lemma_list' %}
        {% if page_in_lemma_list %}
        <a class="btn btn-default" href='{% url "dictionary:admin_lemma_list" %}?page={{page_in_lemma_list}}'>{% trans "Return to Lemma List" %}</a>
        {% elif request_path %}
        <a class="btn btn-default" href='{{request_path}}'>{% trans "Return to Lemma List" %}</a>
        {% else %}
        <a class="btn btn-default" href='{% url "dictionary:admin_lemma_list" %}'>{% trans "Return to Lemma List" %}</a>
        {% endif %}
    {% elif caller == 'gloss_detail_view' and gloss_id %}
        <a class="btn btn-default" href='{% url "dictionary:admin_gloss_view" pk=gloss_id %}'>{% trans "Return to Gloss Details" %}</a>
    {% endif %}
     <form action='{% url "dictionary:change_lemma" object.pk %}' method='post'>
         {% csrf_token %}
         <table class='table' style='width: 400px;'>
         {{ change_lemma_form.as_table }}
         </table>

     <input type='hidden' id="page" name="page" value="{{page_in_lemma_list}}">
     <input type='hidden' id="gloss_found" name="gloss_found" value="{{gloss_found}}">
     <input type='hidden' id="gloss_id" name="gloss_id" value="{{gloss_id}}">
     <input class='btn btn-primary' type='submit' value='{% trans "Update" %}'>
     </form>
        <div>
        {% if SHOW_DATASET_INTERFACE_OPTIONS %}
            {% csrf_token %}
            <table class='table' style='width: 800px;'>
                <tr>
                    <th>{% trans "Dataset" %}</th>
                    <td><a href="{{PREFIX_URL}}/datasets/{{object.dataset.acronym}}" >{{ object.dataset.acronym }}</a></td>
                </tr>
                <tr>
                    <th>{% trans "Glosses" %}</th>
                    <th>{% trans "Signbank ID" %}</th>
                           {% for dataset_lang in dataset_languages %}
                                <th>{% trans "Annotation ID Gloss" %} ({{dataset_lang.name}})</th>
                            {% endfor %}
                    <th></th>
                </tr>
                {% for gloss, annotation_idgloss_translations in lemma_group_list %}
                <tr><td></td>

                    <td id="signbank_id_{{gloss.id}}">{{gloss.id}} {% if gloss.archived %}({% trans "Archived" %}){% endif %}</td>
                    {% for dataset_lang in dataset_languages %}
                    {% with gloss|get_annotation_idgloss_translation:dataset_lang as annotation_translation %}
                        <td id="gloss_annotation_{{gloss.id}}_{{dataset_lang.language_code_2char}}">
                            {% if not gloss.archived %}
                            <a href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/">
                                {{annotation_translation}}
                            </a>
                            {% else %}
                                {{annotation_translation}}
                            {% endif %}
                        </td>
                    {% endwith %}
                    {% endfor %}
                    <td id="restore_gloss_{{gloss.id}}">
                    {% if gloss.archived and perms.dictionary.change_gloss %}
                    <button id='quick_restore_btn_{{gloss.id}}' class="quick_restore btn btn-danger"
                            name='quick_restore_{{gloss.id}}'
                            value='{{gloss.id}}' style="height:36px;"
                            type="submit" >{% trans "Restore Gloss" %}</button>

                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        </div>
    {% else %}
        <p>(% trans "You are not allowed to update lemma's. %}</p>
    {% endif %}

{% endblock %}