{% extends "simple.html" %}
{% load i18n %}

{% block pagetitle %}Update Video for Gloss{% endblock %}

{% block jqueryready %}

  flowplayer("player1", "{{ STATIC_URL }}flowplayer/flowplayer-3.1.5.swf", '{{ STATIC_URL }}{{ gloss.get_video_url }}');
  flowplayer("player2", "{{ STATIC_URL }}flowplayer/flowplayer-3.1.5.swf", '{{ STATIC_URL }}{{ videofile }}');
  
{% endblock %}

{% block extrahead %}

<style type="text/css">

td .player {
   width: 320px;
}
.player {
   margin: auto;
   width:320px;
   height:240px;
   border-left: 6px solid black;
   border-right: 6px solid black;
}

#container {
  text-align: center;
  padding: 2em;
}
#videos {
  width: 100%;
  margin: auto;
}
</style>

{% endblock %}


{% block content %}
<div id="container">
<h2>{% trans "Update Video for Gloss <em>{{gloss.idgloss}}</em>" %}</h2>

{% if status == "cancelled" %}
<p>{% trans "Replacement of video cancelled." %}</p>

<p><a href="javascript:window.close()">{% trans "Close Window" %}</a></p>

{% else %}
    {% if status == "completed" %}
    <p>{% trans "Replacement of video completed." %}</p>
    
    <p><a href="javascript:window.close()">{% trans "Close Window" %}</a></p>
    {% endif %}
{% endif %}

{% if status == "form" %}
{% if videofile %}

<table id="videos">
<thead>
  <tr><th>{% trans "Existing Video" %}</th><th>{% trans "New Video" %}</th></tr>
</thead>
<tbody>
  <tr>
    <td><div class='player' id="player1"></div></td>
    <td><div class='player' id="player2"></div></td>        
  </tr>
  
  <tr>
    <td colspan="2">
    <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="confirmvideofile" value="{{videofile}}"/> 
    {% trans "Confirm update of this video:" %}
    <input type="submit" value="Confirm"/> 
    <button name="Cancel" value="cancel">{% trans "Cancel" %}</button>
    </form>
    </td>
  </tr>
    
  </tbody>
</table>

{% else %}

<form method="POST" enctype="multipart/form-data">
 {% csrf_token %}
 <ul>
  {{form.as_ul}}
 </ul>
 <p><input type='submit' value='{% trans "Upload Video" %}'/></p>
</form>

<p>{% trans "When you upload a video it will first be converted to
the video format used on the site. you will get a 
chance to preview the video before any permanent change
is made to the site." %}</p>

<p>{% trans "For optimum results, please save your video in
a Web format (technically, h264 encoded mp4 files)." %}</p>

{% endif %}
{% endif %}

</div>
{% endblock %}
