{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}

{% load bootstrap3 %}
{% load tagging_tags %}

{% block extrajs %}
<style>
input[type="radio"] {
    display: hidden;
}
label {
    position: relative;
}
label input {
    position: absolute;
    opacity: 0;
}
label:focus-within {
    outline: 2px solid red;
}
</style>
<script type='text/javascript'>
    var url = '{{PREFIX_URL}}';
</script>
{% endblock %}

<div id="glossstills_{{focus_gloss.id}}">
{% url 'dictionary:protected_media' '' as protected_media_url %}
{% csrf_token %}
{% if not stills %}
    <p>{% trans "No stills found. Generate them first." %}</p>
{% else %}
{% for imagepath in stills %}
<label>
    <img src="{{PREFIX_URL}}{{protected_media_url}}{{imagepath}}" width="200">
    <input type="radio" name="stillimage" value="{{imagepath}}">
</label>
{% endfor %}
{% endif %}
</div>
