{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank API: Create Gloss{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block extrajs %}
<script type="text/javascript">
    var url = '{{ PREFIX_URL }}';
    var language_code = '{{LANGUAGE_CODE}}';
    var datasetid = '{{dataset.id}}';
    var csrf_token = '{{csrf_token}}';
    var language_2chars = {{language_2chars|safe}};
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/gloss_add.js"></script>

<script type="text/javascript">
function show_creation_results(data) {
    if ($.isEmptyObject(data)) {
        return;
    };
    var errorsElt = $('#errors');
    var glossidElt = $('#glossid');
    var statusElt = $('#status');
    var errors = data.errors;
    var createstatus = data.createstatus;
    var glossid = data.glossid;
    if (errors.length) {
        var glossCell = "ERRORS <ul>";
        for (var inx in errors) {
            glossCell = glossCell + "<li>"+errors[inx]+"</li>";
        }
        glossCell = glossCell + "</ul>";
        errorsElt.html(glossCell);
    }
    if (createstatus) {
        statusCell = "<span>STATUS "+createstatus+"</span>";
        statusElt.html(statusCell);
    }
    if (glossid) {
        glossCell = "<span>GLOSS ID "+glossid+"</span>";
        glossidElt.html(glossCell);
    }
}
function create_gloss() {
     var dataset = $('#dataset').val();
     var creation = { 'Dataset': dataset }
     for (var i=0; i < language_2chars.length; i++) {
        var lang2char = language_2chars[i];
        var lemma_field = 'lemma_id_gloss_' + lang2char;
        var lemma_field_lookup = '#'+lemma_field;
        var lemma_field_key = $(lemma_field_lookup).attr("name");
        var lemma_field_value = $(lemma_field_lookup).val();
        creation[lemma_field_key] = lemma_field_value;
        var annotation_field = 'annotation_id_gloss_' + lang2char;
        var annotation_field_lookup = '#'+annotation_field;
        var annotation_field_key = $(annotation_field_lookup).attr("name");
        var annotation_field_value = $(annotation_field_lookup).val();
        creation[annotation_field_key] = annotation_field_value;
        var sense_field = 'sense_id_gloss_' + lang2char;
        var sense_field_lookup = '#'+sense_field;
        var sense_field_key = $(sense_field_lookup).attr("name");
        var sense_field_value = $(sense_field_lookup).val();
        creation[sense_field_key] = sense_field_value;
     }
     $.ajax({
        url : url + "/dictionary/api_create_gloss/" + datasetid + '/',
        type: 'POST',
        headers: { 'Accept-Language': language_code },
        data: JSON.stringify(creation),
        datatype: "json",
        async: false,
        success : show_creation_results
     });
}

</script>

{% endblock %}

{% block content %}
<div>
    <div>
    <h3>{% trans "Gloss Fields" %}</h3>
     <div>
         <table class='table'>
             <tbody>
             <tr>
                 <th id="add_gloss_dataset_header" style="width:300px;">
                     {% trans "Dataset" %}
                 </th>
                 <td id="add_gloss_dataset_value">
                     <input id="dataset"
                            name="Dataset"
                            maxlength="30" type="text"
                            size="50" >
                 </td>
             </tr>
             {% for dataset_lang in dataset_languages %}
             <tr>
                 <th id="add_gloss_lemma_header_{{dataset_lang.language_code_2char}}" style="width:200px;">
                     {% trans "Lemma ID Gloss" %} ({{ dataset_lang.name }})
                 </th>
                 <td id="add_gloss_lemma_value_{{dataset_lang.language_code_2char}}">
                     <input id="lemma_id_gloss_{{dataset_lang.language_code_2char}}"
                            name='{% trans "Lemma ID Gloss" %} ({{ dataset_lang.name }})'
                            maxlength="30" type="text"
                            size="50" >
                 </td>
             </tr>
             {% endfor %}
             {% for dataset_lang in dataset_languages %}
             <tr>
                 <th id="add_gloss_annotation_header_{{dataset_lang.language_code_2char}}" style="width:300px;">
                     {% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})
                 </th>
                 <td id="add_gloss_annotation_value_{{dataset_lang.language_code_2char}}">
                     <input id="annotation_id_gloss_{{dataset_lang.language_code_2char}}"
                            name='{% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})'
                            maxlength="30" type="text"
                            size="50" >
                 </td>
             </tr>
             {% endfor %}
             {% for dataset_lang in dataset_languages %}
             <tr>
                 <th id="add_gloss_sense_header_{{dataset_lang.language_code_2char}}" style="width:300px;">
                     {% trans "Senses" %} ({{ dataset_lang.name }})
                 </th>
                 <td id="add_gloss_sense_value_{{dataset_lang.language_code_2char}}">
                     <input id="sense_id_gloss_{{dataset_lang.language_code_2char}}"
                            name='{% trans "Senses" %} ({{ dataset_lang.name }})'
                            maxlength="130" type="text"
                            size="130" >
                 </td>
             </tr>
             {% endfor %}
             </tbody>
         </table>

     <input class='btn btn-primary' type='submit'
            onclick="create_gloss();"
            value='{% trans "Create Gloss" %}'>

     <br><br>
     </div>
    </div>
<div>
<h3>{% trans "Created Gloss" %}</h3>
 <p id="glossid"></p>
 <p id="errors"></p>
 <p id="status"></p>
</div>
</div>
{% endblock %}
