{% extends 'baselayout.html' %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank API: Update Gloss{% endblocktrans %}
{% endblock %}

{% load guardian_tags %}

{% block extrajs %}
<script type="text/javascript">
    var url = '{{ PREFIX_URL }}';
    var language_code = '{{LANGUAGE_CODE}}';
    var datasetid = '{{dataset.id}}';
    var glossid = '{{gloss.id}}';
    var csrf_token = '{{csrf_token}}';
    var gloss_fields = {{gloss_fields|safe}};
    var language_2chars = {{language_2chars|safe}};
</script>

<script type="text/javascript">
function show_update_results(data) {
    if ($.isEmptyObject(data)) {
        return;
    };
    var errorsElt = $('#errors');
    var glossidElt = $('#glossid');
    var statusElt = $('#status');
    var errors = data.errors;
    var updatestatus = data.updatestatus;
    var glossid = data.glossid;
    var glossCell = "ERRORS <ul>";
    for (var err in errors) {
        glossCell = glossCell + "<li>"+err+": "+errors[err]+"</li>";
    }
    glossCell = glossCell + "</ul>";
    errorsElt.html(glossCell);
    if (updatestatus) {
        statusCell = "<span>STATUS "+updatestatus+"</span>";
        statusElt.html(statusCell);
    }
    if (glossid) {
        glossCell = "<span>GLOSS ID "+glossid+"</span>";
        glossidElt.html(glossCell);
    }
}
function update_gloss() {
     var update = { };
     for (var i=0; i < language_2chars.length; i++) {
        var lang2char = language_2chars[i];
        var lemma_field = 'lemma_id_gloss_' + lang2char;
        var lemma_field_lookup = '#'+lemma_field;
        var lemma_field_key = $(lemma_field_lookup).attr("name");
        var lemma_field_value = $(lemma_field_lookup).val();
        if (lemma_field_value != '') {
            update[lemma_field_key] = lemma_field_value;
        }
        var annotation_field = 'annotation_id_gloss_' + lang2char;
        var annotation_field_lookup = '#'+annotation_field;
        var annotation_field_key = $(annotation_field_lookup).attr("name");
        var annotation_field_value = $(annotation_field_lookup).val();
        if (annotation_field_value != '') {
            update[annotation_field_key] = annotation_field_value;
        }
     }
     for (var field in gloss_fields) {
        var field_lookup = '#field_input_'+field;
        var field_key = $(field_lookup).attr("name");
        var field_value = $(field_lookup).val();
        if (field_value == '') {
            continue;
        }
        update[field_key] = field_value;
     }
     var update_json = JSON.stringify(update);
     console.log(update_json);
     $.ajax({
        url : url + "/dictionary/api_update_gloss/" + datasetid + '/' + glossid + '/',
        type: 'POST',
        headers: { 'Accept-Language': language_code },
        data: update_json,
        datatype: "json",
        async: false,
        success : show_update_results
     });
}

 $(document).ready(function() {
    // setup requried for Ajax POST
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
});

</script>

{% endblock %}

{% block content %}
<div>
    <div>
    <h3>{% trans "Gloss Fields" %}</h3>
        <p>{% trans "This template is for testing the gloss update API while logged in using the same url as the API." %}</p>
        <p>{% trans "It is intended for checking the multilingual translations of field choices and values." %}</p>
        <p>{% trans "It makes use of the csrf token in the javascript AJAX setup." %}</p>
     <div>
         <table class='table' style='width: 1200px;'>
             {% for dataset_lang in dataset_languages %}
             <tr>
                 <th id="add_gloss_lemma_header_{{dataset_lang.language_code_2char}}" style="width:200px;">
                     {% trans "Lemma ID Gloss" %} ({{ dataset_lang.name }})
                 </th>
                 <td id="add_gloss_lemma_value_{{dataset_lang.language_code_2char}}">
                     <input id="lemma_id_gloss_{{dataset_lang.language_code_2char}}"
                            name='{% trans "Lemma ID Gloss" %} ({{ dataset_lang.name }})'
                            maxlength="30" type="text"
                            size="50" >
                 </td>
             </tr>
             {% endfor %}
             {% for dataset_lang in dataset_languages %}
             <tr>
                 <th id="add_gloss_annotation_header_{{dataset_lang.language_code_2char}}" style="width:300px;">
                     {% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})
                 </th>
                 <td id="add_gloss_annotation_value_{{dataset_lang.language_code_2char}}">
                     <input id="annotation_id_gloss_{{dataset_lang.language_code_2char}}"
                            name='{% trans "Annotation ID Gloss" %} ({{ dataset_lang.name }})'
                            maxlength="30" type="text"
                            size="50" >
                 </td>
             </tr>
             {% endfor %}
             {% for field, field_verbose in gloss_fields.items %}
             <tr>
                 <th id="field_label_{{field}}">
                     {{field_verbose}}
                 </th>
                 <td id="field_value_{{field}}">
                     <input name='{{field_verbose}}' id="field_input_{{field}}"
                            maxlength="200" type="text"
                            size="50" >
                 </td>
             </tr>
             {% endfor %}

         </table>

     <input class='btn btn-primary' type='submit'
            onclick="update_gloss();"
            value='{% trans "Update Gloss" %}'>

     <br><br>
     </div>
    </div>
<div>
<h3>{% trans "Updated Gloss" %}</h3>
 <p id="glossid"></p>
 <p id="errors"></p>
 <p id="status"></p>
</div>
</div>
{% endblock %}
