{% extends "baselayout.html" %}
{% load i18n %}

{# Translators: Page title #}
{% block pagetitle %}{% blocktrans %}NGT: sign for {{ translation }}{% endblocktrans %} {% endblock %}


{% block jqueryready %}


{% endblock %}

{% block script %}
    function replay() {
        $f('player').play();
    }
{% endblock %}




{% block content %}
<div id='publicsign'>
    {% if feedbackmessage %}
    <div id="feedbackmessage">
        <p class='alert alert-info'>
            {{ feedbackmessage }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></p>
    </div>
    {% endif %}

    <div id="signinfo" class='navbar navbar-default navbar-collapse'>
    
        <div class='btn-group'>
            {% if SIGN_NAVIGATION %}
        
                {% if navigation.prev %}
                {# Translators: Navigation  #}
                <a class='btn navbar-btn btn-default' href="{% url 'root_page' %}dictionary/gloss/{{navigation.prev.idgloss}}.html?lastmatch={{lastmatch}}">&laquo; <span class='hidden-xs'>{% blocktrans %}Previous Sign{% endblocktrans %}</span></a>
           
                {% endif %}
                {# Translators: Sign x of n(signs) #}
                <button class='btn navbar-btn'>{% blocktrans %}Sign {{glossposn}} of {{glosscount}} <span class='hidden-xs'>in the NGT Dictionary{% endblocktrans %}</span></button>
            
                {% if navigation.next %}
                {# Translators: Navigation #}
                <a class="btn navbar-btn btn-default"
                   href="{% url 'root_page' %}dictionary/gloss/{{navigation.next.idgloss}}.html?lastmatch={{lastmatch}}"><span class='hidden-xs'>{% blocktrans %}Next Sign{% endblocktrans %}</span> &raquo;</a>
                {% endif %}
             {% else %}
           
             {% endif %}
        </div>
   
   
        <div class='pull-right'>
            {% ifequal viewname "words" %}
            {# Translators: Navbar text #}
            <span class='navbar-text'>{% blocktrans %}Matches for the word <em>{{ translation|safe }}{% endblocktrans %}</em></span>
            <div class='btn-group'>
            {% for i in matches %}
                {% ifequal i n %}
                <button type='button' class='btn btn-primary navbar-btn'>{{i}}</button>
                {% else %}
                <a type='button' class='btn btn-default navbar-btn' href="{{translation|safe}}-{{i}}.html">{{i}}</a>
                {% endifequal %}
            {% endfor %}
            </div>
            {% else %}
                {% if lastmatch %}
                {# Translators: Navigation  #}
                <a class='btn btn-default navbar-btn' href="{% url 'root_page' %}dictionary/words/{{lastmatch}}.html">{% blocktrans %}Return to Matches{% endblocktrans %}</a>
                {% endif %}
            {% endifequal %}
        </div>
    
    
        {% if perms.dictionary.search_gloss %}
        <div class='btn-group'>
            {# Translators: Navigation detailed view  #}
           <a id='editbutton' class='btn btn-default navbar-btn' href="{% url 'dictionary:admin_gloss_view' pk=gloss.id %}">{% blocktrans %}Detail View{% endblocktrans %}</a>
        </div>
        {% endif %}
    
    </div>

    <div id="definitionblock">
        <div class='col-md-4'>
            <div id="videocontainer" style="width: 700px; height: 366px;">
               <div id="player" style="width: 700px;">
                {% if gloss.has_video %}
                  <iframe id='videoiframe' class="larger_iframe" scrolling="no" frameborder='0' style="width: 635px; height: 358px;"
                          src="/static/{{gloss.get_video}}">
                  </iframe>
                {% else %}
                  <img id="novideo" src='{{ STATIC_URL }}images/no-video-ngt.png'>
                {% endif %}
               </div>
               <div id="replay"></div>
            </div>
        
        
            <div id="keywords">
                {# Translators: Keywords #}
                 <p><strong>{% blocktrans %}Translation equivalents:{% endblocktrans %}</strong>
                 {% for kwd in allkwds %}
                   {% ifequal translation kwd.translation.text %}<strong>{{ kwd.translation.text|safe }}</strong>{% else %}{{ kwd.translation.text|safe }}{% endifequal %}{% if not forloop.last %},{% endif %}
                 {% endfor %}
                 </p>
            </div>
            
            {% if gloss.dialect.all %}
            <div>
                {# Translators: Header4 #}
                <h4>{% blocktrans %}Sign Distribution{% endblocktrans %}</h4>
                <ul>
                    {% for dialect in gloss.dialect.all %}
                      <li>{{ dialect.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        {% if DEFINITION_FIELDS and gloss.published_definitions %}
        <div  class='col-md-8'>
            {# Translators: Header2 #}
            <h2>{% blocktrans %}Sign Definition{% endblocktrans %}</h2>

            {% for deftype in DEFINITION_FIELDS %}
        
                 {% regroup gloss.published_definitions by role as roles %}
        
                 {% for role in roles %}
              
                      {% ifequal deftype role.grouper %}  
                  
                          <h3>{{role.list.0.get_role_display}}</h3>
                  
                          <ol>
                          {% for def in role.list %}     
                            <li>{{def.text}}</li>
                          {% endfor %}
                          </ol>
                  
                      {% endifequal %}
                 {% endfor %}
            {% endfor %}
        
        </div>
        {% endif %}
    
    </div>

</div>

{% endblock %}