{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load guardian_tags %}

{# Translators: Page title #}
{% block bootstrap3_title %}
{% if public_title %}
{% if gloss_or_morpheme == 'morpheme' %}
{% blocktrans %}Morpheme for {{ public_title }}{% endblocktrans %}
{% else %}
{% blocktrans %}Sign for {{ public_title }}{% endblocktrans %}
{% endif %}
{% else %}{{ gloss.idgloss }}{% endif %}
{% endblock %}


{% block jqueryready %}


{% endblock %}

{% block script %}
    function replay() {
        $f('player').play();
    }
{% endblock %}

{% block extrahead %}
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="{{public_title}} (in {{gloss.dataset.acronym}})" />
<meta property="og:url" content="{{ request.build_absolute_uri  }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="From the {{gloss.dataset.acronym}} dataset in Global Signbank." />
<meta property="og:image" content="{{request.scheme}}://{{ request.get_host }}/media/{{protected_media_url}}{{gloss.get_image_url}}" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>

{% endblock %}

{% block extrajs %}
<script type='text/javascript'>
    var url = '{{PREFIX_URL}}';
    var show_dataset_interface_options = {{ SHOW_DATASET_INTERFACE_OPTIONS|yesno:"true,false" }};

    $('#searchresults').css({'top': Math.round($('#signbank-bar').height())});
    $('#definitionblock').css({'padding-top': Math.round($('#searchresults').height() + $('#signinfo').height())});

    var search_type = '{{search_type}}';
    var model_view = 'gloss';
    var active_id = '{{active_id}}';
	var search_results_url = '{% url 'dictionary:ajax_search_results' %}';
    {% include "dictionary/search_result_bar.html" %}
	
</script>
{% endblock %}


{% block content %}
{% url 'dictionary:protected_media' '' as protected_media_url %}

<div id="searchresults" class='navbar navbar-light' style="overflow-y:hidden;border:0;box-sizing:content-box; z-index: 50;">
    {% if request.session.search_results %}
    <div id="results-inline" class="btn-group" role="group" aria-label="search results"
         style="white-space:nowrap;">
    </div>
    {% endif %}
</div>

    <div id="signinfo" class='navbar navbar-collapse'>

        {% if perms.dictionary.search_gloss %}
        <div id="view_tabs" style="margin-right:15px;margin-top:10px;z-index:100;" class='view-tabs view-tabs-light'>
        <ul class='nav nav-tabs nav-tabs-light'>
            <li class="nav-item">
                <a class='nav-link active' href="{{PREFIX_URL}}/dictionary/{{gloss_or_morpheme}}/{{gloss.id}}.html">{% trans "Public View" %}</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/{{gloss_or_morpheme}}/{{gloss.id}}">{% trans "Details" %}</a>
            </li>
            {% if gloss_or_morpheme == 'gloss' %}
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_relations/{{gloss.id}}">{% trans "Relations" %}</a>
            </li>
            {% if gloss.has_frequency_data %}
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss_frequency/{{gloss.id}}/">{% trans "Frequencies" %}</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/history">{% trans "Revision History" %}</a>
            </li>
            <li class="nav-item">
            <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossvideos">{% trans "Videos" %}</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="{{PREFIX_URL}}/dictionary/gloss/{{gloss.id}}/glossanimations">{% trans "Animations" %}</a>
            </li>
            {% endif %}
        </ul>
        </div>
        <br>
        {% endif %}
    
    </div>

    <div id="definitionblock">

    <div id='annotation_idgloss_summary' class="col-md-6 col-md-6-pull">
    <table class='table table-condensed table-condensed-light'>
        <tr class="empty_row"></tr>
        {% for lang, annotation_idgloss_translations in annotation_idgloss.items %}
        <tr>
            <th>
                {% trans "Annotation ID Gloss" %} ({{ lang }})
            </th>
            <td id='annotation_idgloss_{{ lang.language_code_2char }}'>{{ annotation_idgloss_translations.0.text|safe }}</td>
        </tr>
        {% endfor %}

        {% if gloss.dialect.all %}
            <tr>
               <th>{% trans "Dialects" %}</th>
               <td>
                    {% for dialect in gloss.dialect.all %}
                      <span>{{ dialect.name}}</span>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if gloss_or_morpheme == 'gloss' %}
        {% if sensetranslations_per_language %}
        {% for lang, sensetranslations in sensetranslations_per_language.items %}
        {% if sensetranslations %}
        <tr id="senses_{{lang.language_code_2char}}">
            <th>{% trans "Senses" %} ({{lang.name}})</th>
            <td class="translation_{{lang.language_code_2char}}">
                <div>
                {% for key, value in sensetranslations.items %}
                    {% if value != "" %}
                        {{key}}. {{ value|safe }}
                    {% if not forloop.last %}<br> {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% else %}
        {% if translations_per_language %}
        {% for lang, translations in translations_per_language.items %}
        <tr>
            <th>
                {% trans "Abstract Meaning" %} ({{ lang }})
            </th>
            <td class='edit edit_text'
                id='keyword_{{ lang.language_code_2char }}'>{% for trn in translations %}{{ trn.translation.text|safe }}
                                                            {% if not forloop.last %}, {% endif %}{% endfor %}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% if notes_groupedby_role %}
        <tr id="notes">
            <th>{% blocktrans %}Note(s){% endblocktrans %}</th>
            <td>
                <table>
                {% for role_id, note_list in notes_groupedby_role.items %}
                    {% for def in note_list %}
                        {% if def.published %}
                            <tr><th id='definitionrole_{{def.id}}'>{{role_id.1}}</th></tr>
                            <tr><td id='definition_{{def.id}}'>{{def.text}}</td></tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
        </table>
        </div>
        <div class='col-md-6'>
            <div id="videocontainer">
                {% if gloss.get_video %}
               <div id="player">
                  <video id='videoplayer' src="{{protected_media_url}}{{gloss.get_video}}" controls type="video/mp4"></video>
               </div>
               <div id="replay"></div>

                {% else %}
                   <div id='player'>
                     <img id='novideo' src='{{ STATIC_URL }}images/no-video-ngt.png'>
                    </div>
                {% endif %}
            </div>

        </div>

    </div>

<div class="social">
  <a target="_blank" href="mailto:?subject={{public_title}} (in {{gloss.dataset.acronym}})&amp;body={{ request.build_absolute_uri  }}" id="share-em" class="sharer button"><i class="fa fa-3x fa-envelope-square"></i></a>
  <a target="_blank" href="http://www.twitter.com/share?url={{ request.build_absolute_uri  }}" id="share-tw" class="sharer button"><i class="fa fa-3x fa-twitter-square"></i></a>
  <a target="_blank" href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri  }}" id="share-wa" class="sharer button"><i class="fa fa-3x fa-whatsapp"></i></a>
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=#url" id="share-fb" class="sharer button"><i class="fa fa-3x fa-facebook-square"></i></a>
</div>
  
</div>
	
{% endblock %}