<!DOCTYPE html>
{% load bootstrap3 %}
{% load stylesheet %}
{% load i18n %}

<html>
  <head>
      <title>{% block bootstrap3_title %}NGT{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{% primary_css %}">

    <link rel="stylesheet" href="{{STATIC_URL}}css/minimalistic_language_picker.css">

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
      <style>
          #affix-bar.affix {
            top:0px;
            position:fixed;
            z-index: 9999999;
          }
      </style>
    {% block extrahead %}{% endblock %}
  </head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112012037-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112012037-1');
  </script>

  <body>

    <div id='wrap'>
        <div class="container">
            
            <div id="leftcontentborder"></div>
            <div id="rightcontentborder"></div>
            <div id='header'><h1>Global <br/><span id="second-title-part">signbank</span></h1>
                <div id='logoholder' class='visible-lg visible-md visible-sm'></div>
            </div>

            <div id='bslstripe'></div>
        {% include 'menu.html' %}  
    
        {% bootstrap_messages %}

        <div role='main' id="maincontent">
        {% block content %}(no content){% endblock %}
        </div>
        
        </div>
    </div>

    <div id="footer"> 
       <div class='container'>
              <a href="{% url 'general_feedback' %}">{% trans "Provide feedback on the site" %}</a>
       </div>
    </div>
    
    <script src='{{ STATIC_URL}}js/jquery-1.11.0.min.js'></script>
    <script src='{{ STATIC_URL}}bootstrap/js/bootstrap.min.js'></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/minimalistic_language_picker.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>

    {% block extrajs %}{% endblock %}

    <script type="text/javascript">
    $(window).ready(function()
    {

    	{% get_current_language as WEBSITE_LANGUAGE %}

        //Use the form below to update the language when logging in (if needed)
        {% if user.is_authenticated and user.user_profile_user.last_used_language != WEBSITE_LANGUAGE %}

            $('#change_language_form').submit();

        {% endif %}

    	$('#minimalistic_language_picker').minimalistic_language_picker(['en','nl','zh-hans'],'{{WEBSITE_LANGUAGE}}','{{ STATIC_URL }}images/languages/',function(chosen_language)
    	{
            {% if user.is_authenticated and user.user_profile_user.last_used_language != chosen_language %}

                //When the user is logged in, we don't want to submit the form, but instead save
                //the user preference and reload

                $.ajax('{{ URL }}/dictionary/switch_to_language/'+chosen_language,'html');

                //The reload is on a timeout, because it happened to fast on Firefox
                setTimeout(function()
                {
                    $("#change_language_input_field").val(chosen_language);
                    $("#change_language_form").submit();

                },500);

            {% else %}

                $("#change_language_input_field").val(chosen_language);
                $("#change_language_form").submit();

            {% endif %}

    	});
    })

    </script>

    <!-- The following script should be in the menu template,
         but since Django is not able to use an extrajs block
         from an include template, it is put here. -->
    <script type='text/javascript'>
        $('#affix-bar').affix({
            offset: {
                top: 110,
            }
        });
        $('#affix-bar').on('affixed.bs.affix', function() {
            $('#affix-bar').css({
                'width': ($('#header').width()) + 'px',
            });
            $('#maincontent').css({
                'padding-top': ($('#navbar').height() + parseInt($('#navbar').css('margin-bottom'))) + 'px',
            });
         });
         $('#affix-bar').on('affixed-top.bs.affix', function() {
            $('#maincontent').css({
                'padding-top': '0px',
            });
         });
    </script>

    <form id="change_language_form" method="post" action="{{ URL }}/i18n/setlang/">
        {% csrf_token %}
        <input id="change_language_input_field" type="hidden" name="language" value="{{ user.user_profile_user.last_used_language }}">

    </form>

  </body>
</html>
    

  
