{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block form_top %}{% endblock %}

{% block object-tools-items %}
{# link to the next sign in dictionary order #}
{% if original.admin_prev_gloss %}
<li><a href="../{{original.admin_prev_gloss.id}}">Previous Sign by Number</a></li>
{% endif %}
{% if original.admin_next_gloss %}
<li><a href="../{{original.admin_next_gloss.id}}">Next Sign by Number</a></li>
{% endif %}
<li><a href="history/" class="historylink">{% trans "History" %}</a></li>
{% if has_absolute_url %}
  <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" 
         class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}