{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Signbank.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://aslsignbank.haskins.yale.edu{% url 'registration:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Signbank team{% endblocktrans %}

{% endautoescape %}
