<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block pagetitle %}NGT - Signbank{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}superfish/css/superfish.css">        
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}superfish/css/superfish-navbar.css" />
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/textstyles.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fonts.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/navigation.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colour.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tags.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/{% primary_css %}.css" type="text/css">
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.confirm-1.3.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}superfish/js/superfish.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}superfish/js/hoverIntent.js"></script> 
	
{% block extrahead %}

{% endblock %}

    
    <script type="text/javascript">
      <!--
      
      
$(document).ready(function(){
  
  /* initialise navigation menus */
  $('.sf-menu').superfish({
        pathLevels: 1,
        dropShadows: false,
        pathClass: 'current',
        delay: 1000
        });
  

  
  {% block jqueryready %}
  
  {% endblock %}
  
});
      {% block script %}
      // more scripts go here
      {% endblock %}
      
      // -->    
      
    </script>
    <!-- google analytics code --> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3928964-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>
 
  <body {% block bodyid %}{% endblock %}>
  
    <div id="leftcontentborder"></div>
    <div id="rightcontentborder"></div>
    <div id="header">
       <h1>NGT - Signbank</h1>
       <form id="frmSearch" name="frmSearch" method="get" action="{% url 'root_page' %}dictionary/search/">
          <input type="Text" name="query" value="{{ query }}" maxlength="50">
          <a href="javascript:document.forms['frmSearch'].submit();">Sign Search</a>      
       </form> 
    </div>

    <div id="navigation"> 
     {% include "menu.html" %}
    </div>
    
    

    <div id="content"> 
    {% block content %}
    <p>PAGE CONTENT</p>
    {% endblock %} 
    </div>    

    
    
    <div id="footer"> 
     
          <div id="copyright">
              &copy; 2014, Onno Crasborn, Radboud University. All rights reserved.<br>
              <a href="{% url 'signbank.feedback.views.generalfeedback' %}">Provide feedback on the site</a><br>
              View the <a href="?flavour=mobile">Mobile Version</a> of this site.
    	  </div>
    </div>

  
  
  
  </body>
</html>
