{# Simple Layout #}
{# no decoration, meant for popups and jquery frames #}

{% load prefixes %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.
dtd">
<html>
  <head>
    <title>NGT - Signbank</title
 
    ><link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/fonts.css'>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>  
    <script type="text/javascript" src="{{ STATIC_URL }}flowplayer/jquery.tools.min.js"></script>
    <script type="text/javascript">
    
$(document).ready(function(){
  
  {% block jqueryready %}
  
  {% endblock %}
  
});
      <!--
      {% block script %}
      // more scripts go here
      {% endblock %}
      // -->    
    </script>
    
    {% block extrahead %}
    
    {% endblock %}
    
  </head>
  <body>
    {% block content %}
    <p>PAGE CONTENT</p>
    {% endblock %}
  </body>
</html>