<html>
 <head>
  <title>Video Test</title>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>

  <!--  projekktor -->
  <script type="text/javascript" src="{{ STATIC_URL }}projekktor/projekktor-1.0.29r105.min.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}projekktor/theme/style.css" type="text/css" media="screen" />

  <!--  flowplayer -->
  <script src="http://releases.flowplayer.org/5.3.2/flowplayer.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.3.2/skin/minimalist.css" />
  <style>
   .flowplayer {
     width: 320px;
     height: 240px;
   }
   </style>




   <script type="text/javascript">
         $(document).ready(function() {

               projekktor('.projekktor', {
                autoplay: true,
                iframe: false,
                addplugins: ['controlbar'],
                playerFlashMP4: "{{ STATIC_URL }}projekktor/jarisplayer.swf",
                plugin_controlbar: {
                 controlsTemplate: '<ul class="left"><li><div %{play}></div><div %{pause}></div></li><li><div %{title}></div></li></ul><ul class="bottom"><li><div %{scrubber}><div %{loaded}></div><div %{playhead}></div><div %{scrubberdrag}></div></div></li></ul>'
                },
                playlist: [{
                 0: {src: "http://stevecassidy.net/100135.mp4", type: "video/mp4"},
                 config: {
                  controls: true,
                  poster: "http://stevecassidy.net/100135.jpg",
                  fixedVolume: true,
                  volume: 0,
                  autoplay: true
                 }
                }]
               });
         });
    </script>

 </head>
 <body>

<h1>Video Test page for Auslan Signbank</h1>

<p>This page shows the same video using different video player tools
to help us work out what the best tool to use on the website is.</p>

<h2>HTML5 video tag</h2>

     <video width=320 height=240 src='http://stevecassidy.net/100135.mp4' type='video/mp4'  preload controls>
     </video>

<h2>Projekktor</h2>

     <video class='projekktor' width=320 height=240 src='http://stevecassidy.net/100135.mp4'></video>

<h2>Flowplayer</h2>

   <div class="flowplayer">
      <video type="video/mp4" src='http://stevecassidy.net/100135.mp4'/></video>
   </div>





</html>
