{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}
{% load tagging_tags %}
{% load wrong_sign %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: General Feedback{% endblocktrans %}
{% endblock %}

{% block extrajs %}
    <script type='text/javascript'>
    var csrf_token = '{{csrf_token}}';
    </script>
{% endblock %}

{% block content %}
    <div class="col-md-5 col-md-offset-1">
     <h2>{% trans "General Feedback" %}</h2>

   <p>{% blocktrans trimmed %}
       Please enter any comments you may have about this site and click
   "submit" to send your feedback to us. We value your contributions and comments.
   {% endblocktrans %}</p>
   
  <form method="post" name="general" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="{{form.comment.name}}Div" class="formcomponent">
      <label for='comment'>{% trans "General comments, suggestions, or anything you feel like telling us." %}</label>
      {%if form.comment.errors %}{{form.comment.errors}}{% endif %}
      {% bootstrap_field form.comment show_label=False %}
    </div>

    <div id="{{form.video.name}}Div" class="formcomponent">
      <label for='video'>{% trans " Upload your feedback as a video." %}</label>
      {%if form.video.errors %}{{form.video.errors}}{% endif %}
      {% bootstrap_field form.video show_label=False %}
      <p>{% blocktrans trimmed %}
          NOTE: Video files can be quite large, and may take a long time to send.
           Please be patient when submitting this feedback.
      {% endblocktrans %}</p>
    </div>

    <hr>
    <div class="formbuttons">
      <input class='btn btn-primary' type="submit" value='{% trans "Submit" %}' class="submit" />
    </div>
    <hr>
  </form>
  </div>
{% endblock %}