
{% extends "baselayout.html" %}

{% block content %}

            <p>{{language}} is always evolving, but thanks to the feedback
            we receive from the {{language}}-using community through Signbank, you will be able 
            to help shape the language. We invite you to pass on any comments you 
            may have, or to suggest corrections and additions to Signbank.</p>
            
            <p>All comments are welcome and any information you give us about 
            {{language}} will be taken into consideration and properly evaluated. 
            However, due to the large number of registered users, we do not 
            acknowledge receipt of comments, nor are we able to provide 
            answers to specific questions about {{language}}.</p>

            <p>Please consult the <a href="/about/help/">help page</a> for system 
            requirements for 
            viewing this site. However, because access to {{language}} Signbank 
            is free, we do not have the resources to offer you individual 
            technical support regarding your computer or its operating system, 
            your internet connection, or your browser.</p>

            <p>We thank you in advance for your contribution and cooperation.</p>
            
            
            <H2><A href="generalfeedback.html">General Feedback</A></H2>
            
            <P>Want to tell us what you think of the {{language}} Signbank website or any 
                other signed language related issues? The <a href="generalfeedback.html">General Feedback</a>
                 form is just the place to do it.</P>
                
            <H2><A href="missingsign.html">Report a Missing Sign</A></H2>
            
            <P>If you know of a sign that isn't in Signbank, you can use the 
                <a href="missingsign.html">Report a Missing Sign</a>
                form to describe it to us. We will attempt to add as many of your new or 
                missing signs as possible to Signbank. If an addition you suggest is accepted,
                 other visitors to Signbank will then also be able to provide feedback on your sign.</P></p>

{% endblock %}