{% extends "baselayout.html" %}

{% block content %}
    <h1>Interpreter Feedback Summary</h1>
    
    {% if perms.feedback.view_interpreterfeedback %}
    
    <p>A list of signs that have at least one Interpreter Note</p>
    
    <table>
      {% regroup notes by gloss as glosses %}
      
      {% for gloss in glosses %}
      <tr>
        <td><a href="{% url 'dictionary:admin_gloss_view' pk=gloss.grouper.id %}">{{gloss.grouper.idgloss}}</a></td>
      </tr>

      {% endfor %}      
    </table>
    
    

    <h3>General Feedback</h3>
  
    {% for fb in general %}
      <div class="panel-group" id="general{fb.id}">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                {{fb.date|date:"d M Y"}}: {{fb.user.first_name}} {{fb.user.last_name}} |
              <a data-toggle="collapse" data-parent="#signfb{{fb.id}}" href="#gencollapse{{fb.id}}">
                 View
              </a>
            </h4> 
          </div>
          <div id="gencollapse{{fb.id}}" class="panel-collapse collapse">
  
          {% if fb.video %}  
          <div class="videocontainer">
             <video width=400 controls="controls" src='{{ MEDIA_URL }}{{ fb.video }}'></video>
          </div>
          {% endif %}
      
  	    <p>{{fb.comment}}</p>
     
         <p><form action="/feedback/general/delete/{{fb.id}}" method="post">
             {% csrf_token %}
             <input class='delete btn btn-default' type='submit' value='Delete Comment'>
             </form>
           </p>
         </div> 
        </div>
       </div>
    {% empty %}
    <p>No general feedback posted</p>
    {% endfor %} 
  
    <h3>Sign Feedback</h3> 
  
    {% for fb in signfb %} 
      <div class="panel-group" id="sign{fb.id}">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                {{fb.date|date:"d M Y"}}: {{fb.user.first_name}} {{fb.user.last_name}} |
              <a data-toggle="collapse" data-parent="#signfb{{fb.id}}" href="#signcollapse{{fb.id}}">
                 View
              </a>
            </h4> 
          </div>
          <div id="signcollapse{{fb.id}}" class="panel-collapse collapse">
    
          <p><strong>Sign:</strong> <a href="{% url 'root_page' %}dictionary/gloss/{{fb.translation.gloss.idgloss}}.html">{{fb.translation.gloss.idgloss}}</a></p>
    
          <p><strong>Comment:</strong> {{fb.comment}}</p>
          <p><strong>Don't Belong:</strong> {{fb.kwnotbelong}}</p>
          <!--
          <ul>  
      	<li>Auslan Sign: {{fb.get_isAuslan_display}}</li>
      	<li>Where Used: {{fb.get_whereused_display}}</li>
      	<li>Liked: {{fb.get_like_display}}</li>
      	<li>Used: {{fb.get_use_display}}</li>
      	<li>Use Suggested: {{fb.get_suggested_display}}</li>
      	<li>Correct: {{fb.get_correct_display}}</li>
        
          </ul>
          -->      
          <p><form action="/feedback/sign/delete/{{fb.id}}" method="post">
             {% csrf_token %}
             <input class='delete btn btn-default' type='submit' value='Delete Comment'>
             </form>
           </p>     
     
          </div> 
         </div>
       </div>
    {% empty %}
    <p>No feedback posted</p>
    {% endfor %}
   
    <h3>Missing Sign Feedback</h3> 
    {% for fb in missing %} 
    
      <div class="panel-group" id="missing{fb.id}">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                {{fb.date|date:"d M Y"}}: {{fb.user.first_name}} {{fb.user.last_name}} |
              <a data-toggle="collapse" data-parent="#missing{{fb.id}}" href="#missingcollapse{{fb.id}}">
                 View
              </a>
            </h4> 
          </div>
          <div id="missingcollapse{{fb.id}}" class="panel-collapse collapse">
    
          <p>Email: <a href="mailto:{{fb.user.email}}">{{fb.user.email}}</a></p>
          {% if fb.video %}  
           <div class="videocontainer">
              <video width=400 controls="controls" src='{{ MEDIA_URL }}{{ fb.video }}'>
              </video>
              <p><a href='{{ MEDIA_URL }}{{ fb.video }}'>Download video</a><br>
                  (if video does not play here you may be able to play by downloading)</p>
           </div>
          {% endif %}
    
           <dl class='dl-horizontal'>
            <dt>Handform</dt><dd>{{fb.get_handform_display}}</dd>
            <dt>Handshape</dt><dd>{{fb.get_handshape_display}}</dd>
            <dt>Alternate Handshape</dt><dd>{{fb.get_althandshape_display}}</dd>
            <dt>Location</dt><dd>{{fb.get_location_display}}</dd>
            <dt>Relative Location</dt><dd>{{fb.get_relativelocation_display}}</dd>
            <dt>Hand Body Contact</dt><dd>{{fb.get_handbodycontact_display}}</dd>
            <dt>Hand Interaction</dt><dd>{{fb.get_handinteraction_display}}</dd>
            <dt>Direction</dt><dd>{{fb.get_direction_display}}</dd>
            <dt>Movement Type</dt><dd>{{fb.movementtype}}</dd>
            <dt>Small Movement</dt><dd>{{fb.smallmovement}}</dd>
            <dt>Repetition</dt><dd>{{fb.repetition}}</dd>
            <dt>Meaning</dt><dd>{{fb.meaning}}</dd>
            <dt>Comments</dt><dd>{{fb.comments}}</dd>
           </dl>
     
           <p><form action="/feedback/missingsign/delete/{{fb.id}}" method="post">
             {% csrf_token %}
             <input class='delete btn btn-default' type='submit' value='Delete Comment'>
             </form>
           </p>
 
        </div>
       </div>
      </div>

    {% empty %}
     <p>No feedback posted</p>
    {% endfor %} 
    
    
    
    
    {% else %}
    
    <p>You do not have permission to view this page</p>
    
    {% endif %}


{% endblock %}