{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load stylesheet %}
{% load bootstrap3 %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Missing Sign Feedback{% endblocktrans %}
{% endblock %}

{% block extrajs %}
<script type='text/javascript'>
$(document).ready(function(){

    /* the togglevideobutton switches between input for
       video upload and input for manual entry of sign
       details. Manual entry is the default */
   $("#togglevideobutton").click(function() {
       $("#videoupload").toggle();
       $("#signdescriptioninput").toggle();
       return false;
    });

    $("#togglesignlanguagebutton").click(function() {
       $("#signlanguage").toggle();
       return false;
    });

});
</script>
{% endblock %}

{% block content %}
  <div class="col-md-5 col-md-offset-1">
      
      <h2>{% trans "Missing Sign Feedback" %}</h2>
      
  {% if posted %}
<div id="feedbackmessage">
    <h4 class='alert alert-info'>
        {% trans "Thank you for your feedback." %}
    </h4>
</div>    
  {% else %}
      <br>
      <legend>{% trans "What sign do you think is missing?" %}</legend>

<form method="post" enctype="multipart/form-data" name="missingsign">
   {% csrf_token %}

     <fieldset id="videoupload">
      <legend>{% trans "Sign" %}</legend>
      <div id="{{form.video.name}}div">
        {% bootstrap_label form.video.label %}
        {% if form.video.errors %}{{form.video.errors}}{% endif %}
        {% bootstrap_field form.video show_label=False %}
      </div>
    </fieldset>

     <fieldset id="signlanguage">
      <legend>{% trans "Sign Language" %}</legend>
      <div id="{{form.signlanguage.name}}div">
        <p>{% trans "From which sign language is this sign?" %}</p>
        {% if form.signlanguage.errors %}{{form.signlanguage.errors}}{% endif %}
        {% bootstrap_field form.signlanguage show_label=False %}

      </div>
      <div id="datasets_for_signlanguage" class="col-md-10 col-md-offset-1">
          <table class='table table-condensed'>
              <tr><th style="width:300px;">{% trans "Sign Language" %}</th><th style="width:800px;">{% trans "Selected Datasets" %}</th></tr>
          {% for signlang, datasets in signlanguage_to_dataset.items %}
            <tr><td>{{signlang}}</td>
                <td>{% for dsname,dsacronym in datasets %}{{dsname}} ({{dsacronym}}){% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
          {% endfor %}
          </table>
      </div>
    </fieldset>


<fieldset id="meaninginput">
  <legend>{% trans "Details" %}</legend>
    <div id="{{form.meaning.name}}div">
        <p>{% trans "What does this sign mean?" %}
            {% trans "Please provide an explanation, translation and/or example sentence" %}
        </p>
        {% if form.meaning.errors %}{{form.meaning.errors}}{% endif %}
        {% bootstrap_field form.meaning show_label=False %}
    </div>

    <div id="{{form.comments.name}}div">
        <p>{% trans "Other remarks / information about the sign" %}</p>
        {% if form.comments.errors %}{{form.comments.errors}}{% endif %}
        {% bootstrap_field form.comments show_label=False %}
    </div>
</fieldset>
 
<div class="formbuttons">
  <input class='btn btn-primary' type="submit" value='{% trans "Submit Feedback" %}' class="submit" />
</div>
</form>
<br>
</div>
  {% endif %}
{% endblock %}
