{% extends "baselayout.html" %}
{% load i18n %}
{% load annotation_idgloss_translation %}
{% load stylesheet %}
{% load bootstrap3 %}
{% block bootstrap3_title %}
{% blocktrans %}Signbank: Missing Sign Feedback{% endblocktrans %}
{% endblock %}

{% block extrajs %}
<script type='text/javascript'>
$(document).ready(function(){

    /* the togglevideobutton switches between input for
       video upload and input for manual entry of sign
       details. Manual entry is the default */
   $("#togglevideobutton").click(function() {
       $("#videoupload").toggle();
       $("#signdescriptioninput").toggle();
       return false;
    });
    $("#videoupload").hide();

    $("#togglesignlanguagebutton").click(function() {
       $("#signlanguage").toggle();
       return false;
    });
    $("#signlanguage").hide();

});
</script>
{% endblock %}

{% block content %}
  <div class="col-md-5 col-md-offset-1">
      
      <h2>{% trans "Missing Sign Feedback" %}</h2>
      
  {% if posted %}
<div id="feedbackmessage">
    <p class='alert alert-info'>
        {% trans "Thank you for your feedback." %}
    </p>
</div>    
  {% else %}
      <p>{% trans "Please submit a video comment showing the sign you think is missing." %}</p>
      <p>{% trans "Please produce the sign in isolation and then in an example sentence." %}</p>
      <p>{% blocktrans trimmed %}
          Please also type in the English translation equivalent below as well as
          your contact information (name and email address) so we can contact you for a follow up if need be.
      {% endblocktrans %}</p>
      <p>{% trans "Thank you for taking the time to contact us and help SignBank grow." %}</p>

<form method="post" enctype="multipart/form-data" name="missingsign">
   {% csrf_token %}
    <p>{% blocktrans trimmed %}
        You may either upload a video that shows the missing sign or
    fill in details below. In either case, you should
    enter a meaning and any comments you might have in the text 
    boxes at the bottom of the form.
    {% endblocktrans %}</p>

        <button class='btn btn-default' id="togglesignlanguagebutton">{% trans "Sign Language" %}</button>
        <button class='btn btn-default' id="togglevideobutton">{% trans "Video Comment" %}</button>


     <fieldset id="signlanguage">
      <legend>{% trans "Sign Language" %}</legend>
      <div id="{{form.signlanguage.name}}div">
        <p>{% trans "What is the sign language of the missing sign?" %}</p>
        {% if form.signlanguage.errors %}{{form.signlanguage.errors}}{% endif %}
        {% bootstrap_field form.signlanguage show_label=False %}

      </div>
      <div id="datasets_for_signlanguage" class="col-md-10 col-md-offset-1">
          <table class='table table-condensed'>
              <tr><th style="width:300px;">{% trans "Sign Language" %}</th><th style="width:800px;">{% trans "Selected Datasets" %}</th></tr>
          {% for signlang, datasets in signlanguage_to_dataset.items %}
            <tr><td>{{signlang}}</td>
                <td>{% for dsname,dsacronym in datasets %}{{dsname}} ({{dsacronym}}){% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
          {% endfor %}
          </table>
      </div>
    </fieldset>


 <fieldset id="videoupload">
  <legend>{% trans "Video Upload" %}</legend>
  <div id="{{form.video.name}}div">
    {% bootstrap_label form.video.label %}
    <p>{% trans "Upload a video of the sign." %}</p>
    {% if form.video.errors %}{{form.video.errors}}{% endif %}
    {% bootstrap_field form.video show_label=False %}

    <p>{% blocktrans trimmed %}
        NOTE: Video files can be quite large, and may take a long time to send.
    Please be patient when submitting this feedback.
    {% endblocktrans %}</p>
  </div>
</fieldset>


<fieldset id="meaninginput">
  <legend>{% trans "Details" %}</legend>
    <div id="{{form.meaning.name}}div">
        <p>{% blocktrans trimmed %}
            Please explain the meaning of the new or missing sign, or enter individual
            English words that have the same meaning as this sign (i.e. keywords).
        {% endblocktrans %}</p>
        {% if form.meaning.errors %}{{form.meaning.errors}}{% endif %}
        {% bootstrap_field form.meaning show_label=False %}
    </div>

    <div id="{{form.comments.name}}div">
        <p>{% blocktrans trimmed %}
            Are there any other comments you would like to give about this sign? For example,
            do you think there are other or extra keyword/s that belong with this sign?
            If so, please include your comments below.
        {% endblocktrans %}</p>
        {% if form.comments.errors %}{{form.comments.errors}}{% endif %}
        {% bootstrap_field form.comments show_label=False %}
    </div>
</fieldset>
 
<div class="formbuttons">
  <input class='btn btn-primary' type="submit" value='{% trans "Submit Feedback" %}' class="submit" />
</div>
</form>
<br>
</div>
  {% endif %}
{% endblock %}
