{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load annotation_idgloss_translation %}
{% load bootstrap3 %}

{% block content %}

<div class="col-md-5 col-md-offset-1">
    <h2>{% trans "Sign Feedback" %}</h2>

  <form id="signfeedback" method="post">
  {% csrf_token %}

  <input type='hidden' name='sourcepage' value='{{sourcepage}}'>
  <p><span class="feedbackQuestion"> Please give us your comments about this sign. For example:
  do you think other keywords are needed?</span> <br/>
  </p>

    {% bootstrap_field feedback_form.comment show_label=False %}

  <p><input class='btn btn-primary' type="submit" value="Submit"/></p>

  
</form>

</div>

{% endblock %}
