{% extends "admin/change_form.html" %} 

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/jquery.wymeditor.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/plugins/hovertools/jquery.wymeditor.hovertools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/plugins/resizable/jquery.wymeditor.resizable.js"></script>

<script type="text/javascript">

$(document).ready(function() { 
    $("#id_content").wymeditor({
        updateSelector: "input:submit",
        updateEvent:    "click", 
        skin: 'silver',
        stylesheet: '{{ STATIC_URL }}css/textstyles.css', 
    });
});

</script> 
{% endblock %}

